<table class="white-table">
  <thead>
    <tr>
      <th>
        Image
      </th>
      <th>
        Name
      </th>
      <th>
        Sku
      </th>
      <th>
        Shop
      </th>
      <th>
        Quantity
      </th>
      <th>
        Unit Price (Raw)
      </th>
      <th>
        Total Price
      </th>
    </tr>
  </thead>
  <tbody>
    <% order_items.each do |order_item| %>
      <tr>
        <td>
          <%= image_tag order_item.sku.decorate.highlighted_image, :class => 'icon-img' %>
        </td>
        <td>
          <%= order_item.product.name %>
        </td>
        <td>
          <%= order_item.sku.display_option_names %>
        </td>
        <td>
          <%= order_item.product.shop.name %>
        </td>
        <td>
          <%= order_item.quantity %>
        </td>
        <td>
          <%= editable_field(order_item, admin_order_item_path(order_item), :price_per_unit, :text_field) %>
        </td>
        <td>
          <%= order_item.total_price.in_euro.display %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
