<table class="white-table">
  <thead>
    <tr>
      <th>
        Image
      </th>
      <th>
        Name
      </th>
      <th>
        Sku
      </th>
      <th>
        Shop
      </th>
      <th>
        Quantity
      </th>
      <th>
        Unit Price
      </th>
      <th>
        Total Price
      </th>
    </tr>
  </thead>
  <tbody>
    <% order_items.each do |order_item| %>
      <tr>
        <td>
          <%= image_tag order_item.sku.decorate.highlighted_image(:thumb), :class => 'icon-img' %>
        </td>
        <td>
          <%= order_item.product.name %>
        </td>
        <td>
          <%= order_item.sku.option_names.join(', ') %>
        </td>
        <td>
          <%= order_item.product.shop.name %>
        </td>
        <td>
          <%= order_item.quantity %>
        </td>
        <td>
          <%= order_item.price.in_euro.display %>
        </td>
        <td>
          <%= order_item.total_price.in_euro.display %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
