.col-md-6
  = form_for(@collection, :html => {:class => 'form-horizontal', :role => 'form', 'data-toggle': 'validator'}) do |f|
    .form-group
      = image_tag get_uploaded_thumbnail_url(@collection.img), :style => 'width:90px;height:90px', :id => "img_#{@collection.id}", :class => 'form-control'
      %div.fileUpload.btn.btn-default
        %span
          %i.fa.fa-cloud-upload
          =I18n.t(:upload, scope: :image_upload)
        = f.file_field :img, :accept => "image/png, image/jpeg, image/jpg", :img_id => "#img_#{@collection.id}", :class => 'img-file-upload upload', :onchange =>"validateImgFile(this);"
    .form-group
      = f.label :name, I18n.t(:name, scope: :edit_collection_new), :class => 'required'
      = f.text_field :name, :class => 'form-control', :required => true
    .form-group
      = f.label :desc, I18n.t(:description, scope: :edit_collection_new)
      = f.text_area :desc, :class => 'form-control', rows: 4
    .form-group
      %label{ :style => 'margin:4px'}
        = f.check_box :public
        %i.fa.fa-users
        = I18n.t(:public, scope: :edit_collection_new)
    .form-group
      = f.submit :class => 'btn btn-primary', :value => I18n.t(:save, scope: :edit_collection_new)
