.main.large-10.push-1.columns
  %ul.large-block-grid-5.collections
    = javascript_tag do
      user = #{raw @user.saved_products};
    = content_tag_for(:tr, @collections) do |collection|
      - product_imgs= []
      - collection.products.each do |product|
        - product_imgs << product.img
      %a.radius{"data-reveal-id" => "firstModal", :href => "", :onclick => "myFunction('#{collection.id}'
                , '#{product_imgs} ','#{collection.products}'
                , '#{collection.name} ' , '#{collection.desc} ')"}
        %li
          %ul.small-block-grid-2.collectionsicon
            - collection.products.limit(4).each do |i|
              %li
                %img{:src => "#{collection.products[i].img}"}
          .info
            = link_to profile_path(collection.user) do
              %img{:src => "#{collection.user.pic}"}
              %p= collection.user.username
            - if @user.saved_collections.include?(collection.id.to_s)
              = link_to image_tag("icons/heartf.png", :class => 'likeicon'), unsavecoll_path(:id => '55bb6c3a69702d64d700000b', :col_id => collection.id), method: :post, remote: true
            - else
              = link_to image_tag("icons/Slice2.png", :class => 'likeicon'), savecoll_path(:id => '55bb6c3a69702d64d700000b', :col_id => collection.id), method: :post, remote: true
            = link_to image_tag("icons/Slice3.png", :class => 'saveicon'), collection_path(collection.id)
#firstModal.reveal-modal{"aria-hidden" => "true", "aria-labelledby" => "firstModalTitle", "data-reveal" => "", :role => "dialog"}
  .row
    .large-8.columns
      %img#lgimg.prodlimg{:src => "https://cdn.artstation.com/p/assets/images/images/000/696/013/large/liu-haifan-hulkbuster1.jpg?1430977120"}
      .row.prodcolfooter
        %ul.button-group.even-3
          %li
            %a#saveprod.left.colproduser{:href => "#"}
              %img#userimg.firsticonfooter{:alt => "img01", :src => "/assets/icons/achatlogo.png"}
              = succeed "Achat" do
                %p#username{:style => "margin-left: 9px;"}
          %li
            %a#saveprod.right{:href => "#"}
              %img#saveprodimg.firsticonfooter{:alt => "img01", :src => "/assets/icons/Slice5.png"}>/
              SAVE
    .large-4.columns
      %div{:style => "width: 100%;  height: 350px;overflow-y: auto;overflow-x: hidden;"}
        %ul#colprods.small-block-grid-2.medium-block-grid-2.large-block-grid-2.similarprods
      %h5#name.proname koko
      %p#desc
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vel tempor lorem. In nulla nibh,
        mollis in ligula ut, pulvinar tincidunt tortor. Donec non nibh dui. Proin congue mollis tortor nec ultricies.
        Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam erat volutpat. Nunc maximus tristique dui
        ac scelerisque. Nullam sem nulla, vestibulum quis turpis eu, auctor placerat erat.
  .row
    .large-12.columns
      %h4.proname Similar Collections
      %ul.large-block-grid-4.collections
        = content_tag_for(:tr, @collections) do |collection|
          %li
            - if false
              %a.radius{"data-reveal-id" => "firstModal", :href => " #", :onclick => "myFunction('#{collection.id}' , '#{collection.products_imgs} ', '#{collection.name} ' , '#{collection.desc} ')"}
            %ul.small-block-grid-2.collectionsicon
              - collection.products.limit(4).each do |i|
                %li
                  %img{:src => "#{collection.products[i].img}"}
            .info
              = link_to profile_path(collection.user) do
                %img{:src => "#{collection.user.pic}"}
                collection.user.pic &gt;
                %p= collection.user.username
              = link_to image_tag("icons/Slice2.png", :class => 'likeicon'), collection_path(collection.id)
              = link_to image_tag("icons/Slice3.png", :class => 'saveicon'), collection_path(collection.id)
  %a.close-reveal-modal{"aria-label" => "Close"} ×
:javascript
  function myFunction(id, products_imgs, products_ids, name, desc) {

      products_imgs = JSON.parse(products_imgs);
      products_ids = JSON.parse(products_ids);
      document.getElementById("lgimg").src = products_imgs[0];
      if (!$.inArray(products_ids[0], user)) {
          document.getElementById("saveprodimg").src = '/assets/icons/heartf.png';
          document.getElementById("saveprod").setAttribute("onclick", "unsaveprod('" + products_ids[0] + "','55bb6c3a69702d64d700000b');");
      }
      else {
          document.getElementById("saveprodimg").src = '/assets/icons/Slice5.png';
          document.getElementById("saveprod").setAttribute("onclick", "saveprod('" + products_ids[0] + "','55bb6c3a69702d64d700000b');");
      }
      document.getElementById("desc").innerHTML = desc;
      document.getElementById("name").innerHTML = name;
      document.getElementById("colprods").innerHTML = "";

      for (i = 0; i < products_imgs.length; i++) {
          img = products_imgs[i]
          id = products_ids[i]
          document.getElementById("colprods").innerHTML += "<li><a href='#' onclick=" + "prodsel('" + img + "','" + id + "')  class='secondary button'><img  src=" + img + "></a></li>";
      }
  }
  ;

  function prodsel(img, id) {
      document.getElementById("lgimg").src = img;


      if (user.indexOf(id) != -1) {
          document.getElementById("saveprodimg").src = '/assets/icons/heartf.png';
          document.getElementById("saveprod").setAttribute("onclick", "unsaveprod('" + id + "','55bb6c3a69702d64d700000b');");
      }
      else {
          document.getElementById("saveprodimg").src = '/assets/icons/Slice5.png';
          document.getElementById("saveprod").setAttribute("onclick", "saveprod('" + id + "','55bb6c3a69702d64d700000b');");
      }

  }
  ;


  function saveprod(prod_id, user_id) {


      theUrl = "http://52.28.36.20:3000/saveprod/" + user_id + "/" + prod_id + ".json";
      theUrl = theUrl.replace(/ /g, '');

      var xmlHttp = new XMLHttpRequest();
      xmlHttp.open("POST", theUrl, false);

      xmlHttp.send(null);

  }
  ;

  function unsaveprod(prod_id, user_id) {


      theUrl = "http://52.28.36.20:3000/unsaveprod/" + user_id + "/" + prod_id + ".json";
      theUrl = theUrl.replace(/ /g, '');

      var xmlHttp = new XMLHttpRequest();
      xmlHttp.open("POST", theUrl, false);

      xmlHttp.send(null);

  }
  ;
