<%= form_for @shop, :url => shopkeeper_shop_producer_path, :html => {:data => {:toggle => 'validator'}, id: "edit_producer_form_#{locale}" } do |f| %>
  <%= hidden_field_tag :translation, value = locale %>
  <div class="panel-group">
    <div class="panel panel-info">
      <div class="panel-heading text-center">
        <label>
          <%= I18n.t(:shopkeeper_info, scope: :edit_shop_application, locale: locale) %>
        </label>
      </div>
      <div class="panel-body">
        <div class="form-group">
          <div class="pull-right required-info">
            <strong>
              <%= I18n.t(:required_field_info, scope: :edit_shop).html_safe %>
            </strong>
          </div>
          <br>
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col-md-4">
              <label>
                <%= I18n.t(:merchant_id, scope: :edit_shop, locale: locale) %>
              </label>
            </div>
            <div class="col-md-8">
              <%= f.text_field :merchant_id, :value => @shop.merchant_id, :class => 'form-control', :disabled => true %>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-md-4">
              <label class="required">
                <%= I18n.t(:name, scope: :edit_shop, locale: locale) %>
              </label>
            </div>
            <div class="col-md-8">
              <%= f.text_field :name, :class => 'form-control', :required => true, :maxLength => Rails.configuration.max_short_text_length, :placeholder => I18n.t(:company_name_placeholder, scope: :edit_shop) %>
              <div class="help-block with-errors"></div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-md-4" title="<%= I18n.t(:founding_year_info, scope: :edit_shop, locale: locale) %>">
              <i class="fa fa-info-circle" title="<%= I18n.t(:founding_year_info, scope: :edit_shop, locale: locale) %>"></i>
              <label class="required">
                <%= I18n.t(:founding_year, scope: :edit_shop, locale: locale) %>
              </label>
            </div>
            <div class="col-md-8">
              <%= f.text_field :founding_year, :class => 'form-control', :required => true, :pattern => '^(18|19|20)\d{2}$', :maxLength => 4, :placeholder => '2016' %>
              <div class="help-block with-errors"></div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-md-4">
              <label>
                <%= I18n.t(:register, scope: :edit_shop, locale: locale) %>
              </label>
            </div>
            <div class="col-md-8">
              <%= f.text_field :register, :class => 'form-control', :maxLength => Rails.configuration.max_tiny_text_length, :placeholder => 'HRB 123456' %>
              <div class="help-block with-errors"></div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-md-4" title="<%= I18n.t(:desc_info, scope: :edit_shop, num: Rails.configuration.max_medium_text_length, locale: locale) %>">
              <i class="fa fa-info-circle" title="<%= I18n.t(:desc_info, scope: :edit_shop, num: Rails.configuration.max_medium_text_length, locale: locale) %>"></i>
              <label class="required translation">
                <%= I18n.t(:desc, scope: :edit_shop, locale: locale) %>
              </label>
            </div>
            <div class="col-md-8">
              <%= f.text_area :desc, :value => @shop.desc_translations[locale], :class => 'form-control', rows: 4, :required => true, :maxLength => Rails.configuration.max_medium_text_length %>
              <div class="help-block with-errors"></div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-md-4" locale="<%= locale %>" title="<%= I18n.t(:philosophy_info, scope: :edit_shop, num: Rails.configuration.max_long_text_length) %>">
              <i class="fa fa-info-circle" title="<%= I18n.t(:philosophy_info, scope: :edit_shop, num: Rails.configuration.max_long_text_length, locale: locale) %>"></i>
              <label class="required translation">
                <%= I18n.t(:philosophy, scope: :edit_shop, locale: locale) %>
              </label>
            </div>
            <div class="col-md-8">
              <%= f.text_area :philosophy, :value => @shop.philosophy_translations[locale], :class => 'form-control', rows: 4, :required => true, :maxLength => Rails.configuration.max_long_text_length %>
              <div class="help-block with-errors"></div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-md-4" title="<%= I18n.t(:stories_info, scope: :edit_shop, num: Rails.configuration.max_long_text_length, locale: locale) %>">
              <i class="fa fa-info-circle" title="<%= I18n.t(:stories_info, scope: :edit_shop, num: Rails.configuration.max_long_text_length, locale: locale) %>"></i>
              <label class="translation">
                <%= I18n.t(:stories, scope: :edit_shop, locale: locale) %>
              </label>
            </div>
            <div class="col-md-8">
              <%= f.text_area :stories, :value => @shop.stories_translations[locale], :class => 'form-control', rows: 4, :maxLength => Rails.configuration.max_long_text_length %>
              <div class="help-block with-errors"></div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-md-4" title="<%= I18n.t(:uniqueness_info, scope: :edit_shop, num: Rails.configuration.max_medium_text_length, locale: locale) %>">
              <i class="fa fa-info-circle" title="<%= I18n.t(:uniqueness_info, scope: :edit_shop, num: Rails.configuration.max_medium_text_length, locale: locale) %>"></i>
              <label class="translation">
                <%= I18n.t(:uniqueness, scope: :edit_shop, locale: locale) %>
              </label>
            </div>
            <div class="col-md-8">
              <%= f.text_area :uniqueness, :value => @shop.uniqueness_translations[locale], :class => 'form-control', rows: 4, :maxLength => Rails.configuration.max_medium_text_length %>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-md-4" title="<%= I18n.t(:german_essence_info, scope: :edit_shop, num: Rails.configuration.max_medium_text_length, locale: locale) %>">
              <i class="fa fa-info-circle" title="<%= I18n.t(:german_essence_info, scope: :edit_shop, num: Rails.configuration.max_medium_text_length, locale: locale) %>"></i>
              <label class="translation">
                <%= I18n.t(:german_essence, scope: :edit_shop, locale: locale) %>
              </label>
            </div>
            <div class="col-md-8">
              <%= f.text_area :german_essence, :value => @shop.german_essence_translations[locale], :class => 'form-control', rows: 4, :maxLength => Rails.configuration.max_medium_text_length %>
              <div class="help-block with-errors"></div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-md-4">
              <label>
                <%= I18n.t(:website, scope: :edit_shop) %>
              </label>
            </div>
            <div class="col-md-8">
              <%= f.text_field :website, :class => 'form-control', :maxLength => Rails.configuration.max_short_text_length, :placeholder => 'www.mydomain.com' %>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-md-4">
              <label class="required">
                <%= I18n.t(:tax_number, scope: :edit_shop, locale: locale) %>
              </label>
            </div>
            <div class="col-md-8">
              <%= f.text_field :tax_number, :class => 'form-control', :placeholder => 'z.B. 9181081508155', :required => true, :maxLength => Rails.configuration.max_tiny_text_length %>
              <div class="help-block with-errors"></div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-md-4" title="<%= I18n.t(:ust_id_info, scope: :edit_shop, locale: locale) %>">
              <i class="fa fa-info-circle" title="<%= I18n.t(:ust_id_info, scope: :edit_shop, locale: locale) %>"></i>
              <label class="required">
                <%= I18n.t(:ustid, scope: :edit_shop, locale: locale) %>
              </label>
            </div>
            <div class="col-md-8">
              <%= f.text_field :ustid, :class => 'form-control', :placeholder => 'z.B. DE123456789', :required => true, :maxLength => Rails.configuration.max_tiny_text_length, :pattern => '^DE[0-9]{9,9}$' %>
              <div class="help-block with-errors"></div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-md-4" title="<%= I18n.t(:eroi_number_info, scope: :edit_shop, locale: locale) %>">
              <i class="fa fa-info-circle" title="<%= I18n.t(:eroi_number_info, scope: :edit_shop, locale: locale) %>"></i>
              <label>
                <%= I18n.t(:eroi, scope: :edit_shop, locale: locale) %>
              </label>
            </div>
            <div class="col-md-8">
              <%= f.text_field :eroi, :value => @shop.eroi ? @shop.eroi : nil, :class => 'form-control', :placeholder => 'z.B. DE123456789', :maxLength => Rails.configuration.max_tiny_text_length %>
              <div class="help-block with-errors"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-info">
      <div class="panel-heading text-center">
        <h4>
          <%= I18n.t(:contact_person_info, scope: :edit_shop_application) %>
        </h4>
      </div>
      <div class="panel-body">
        <div class="form-group">
          <div class="pull-right required-info">
            <strong>
              <%= I18n.t(:required_field_info, scope: :edit_shop).html_safe %>
            </strong>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <%= f.label :fname, I18n.t(:contact_fname, scope: :edit_shop_application), :class => 'required' %>
              <%= f.text_field :fname, :class => 'form-control', :maxLength => Rails.configuration.max_tiny_text_length, :required => true %>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <%= f.label :lname, I18n.t(:contact_lname, scope: :edit_shop_application), :class => 'required' %>
              <%= f.text_field :lname, :class => 'form-control', :maxLength => Rails.configuration.max_tiny_text_length, :required => true %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <%= f.label :function, I18n.t(:contact_function, scope: :edit_shop_application) %>
              <%= f.text_field :function, :class => 'form-control', :maxLength => Rails.configuration.max_short_text_length %>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <%= f.label :mail, I18n.t(:contact_email, scope: :edit_shop_application), :class => 'required' %>
              <%= f.email_field :mail, :class => 'form-control', :maxLength => Rails.configuration.max_short_text_length, :placeholder => 'example@google.com', :required => true %>
              <div class="help-block with-errors"></div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <%= f.label :tel, I18n.t(:contact_tel, scope: :edit_shop_application), :class => 'required' %>
              <%= f.text_field :tel, :class => 'form-control', :maxLength => Rails.configuration.max_tiny_text_length, :required => true, :placeholder => '+49(89)123456' %>
              <div class="help-block with-errors"></div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <%= f.label :mobile, I18n.t(:contact_mobile, scope: :edit_shop_application) %>
              <%= f.text_field :mobile, :class => 'form-control', :maxLength => Rails.configuration.max_tiny_text_length, :placeholder => '+49(151)12345678' %>
              <div class="help-block with-errors"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="panel panel-info">
      <div class="panel-heading text-center">
        <label class="<%= (@shop.agb ? '' : 'required') %>">
          <%= I18n.t(:agb, scope: :edit_shop, locale: locale) %>
        </label>
      </div>

      <div class="panel-body">
        <div class="form-group">
          <div class="row-fluid">
            <% if @shop && (not @shop.agb) %>
              <%= f.hidden_field :agb %>
              <%= f.check_box :agb, { :required => true }, true %>
              <%= I18n.t(:agb_statement, scope: :edit_shop, locale: locale).html_safe %>
            <% else %>
              <%= f.check_box :agb, { :disabled => true } %>
              <%= I18n.t(:agb_statement, scope: :edit_shop, locale: locale).html_safe %>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <div class="panel panel-info">
      <div class="panel-heading text-center">
        <label class="<%= (@shop.agb ? '' : 'required') %>">
          Delivery Options
        </label>
      </div>
      <div class="panel-body">
        <div class="form-group">
          <div class="row-fluid">
              <%= f.check_box :hermes_pickup %>
              Hermes PickUp Service
          </div>
        </div>
      </div>
      </div>

    <% if current_user.decorate.admin? %>
      <div class="panel panel-info">
        <div class="panel-heading text-center">
          <label>
            Addresses
          </label>
        </div>
        <div class="panel-body">
          <div class="form-group">
            <div class="row-fluid">
              <!-- TODO: this part has to be improved and put a real controller on the admin side -->
              <%= render partial: "admin/addresses/addresses_table", :locals => { :addresses => @shop.addresses } %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <%= f.button I18n.t(:save, scope: :edit_shop, locale: locale), :id => "edit_producer_submit_#{locale}", :class => 'btn btn-primary edit_producer_submit',  name: :user_info_edit_part, value: :edit_producer %>
<% end %>
