<% if @referrers.size > 0 %>
  <table class="white-table">
    <thead>
      <th>
        ID
      </th>
      <th>
         Email
      </th>
      <th>
        Nickname
      </th>
      <th>
        Coupon
      </th>
      <th>
        Provision
      </th>
      <th>
        Operations
      </th>
    </thead>
    <tbody>
      <% @referrers.each do |referrer| %>
        <tr>
          <td>
            <%= referrer.referrer_id %>
          </td>
          <td>
            <%= referrer.email %>
          </td>
          <td>
            <%= referrer.referrer_nickname %>
          </td>
          <td>
            <% referrer.referrer_coupons.each do |coupon| %>
              <a href="<%= guest_coupon_flyer_path(coupon) %>">
                <%= coupon.code %>
              </a>
            <% end %>
          </td>
          <td>
            <%= referrer.referrer_provisions.sum(:provision).in_euro.display %>
          </td>
          <td>
            <% unless referrer.has_referrer_coupon? %>
              <a href="<%= admin_referrer_coupon_path(referrer) %>" data-method="post"><i class="fa fa-magic tooltipster buttons buttons__purple" title="Generate Coupon"></i></a>
            <% end %>
            <a href="<%= admin_user_path(referrer) %>"><i class="fa fa-eye tooltipster buttons buttons__edit"></i></a>
            <% if referrer.destroyable? %>
              <%= link_to '', admin_user_path(referrer), :method => :delete, data: { confirm: "Are you sure to remove this user account ?" }, :class => 'tooltipster fa fa-times buttons buttons__delete', :title => "Delete this user" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="+white-box +centered">
    <h4>
      No referrer yet.
    </h4>
  </div>
<% end %>
