<% if @referrers.size > 0 %>
<div class="main-table">
  <table>
    <thead>
      <th>
        ID
      </th>
      <th>
         Email
      </th>
      <th>
        Nickname
      </th>
      <th>
        AGB
      </th>
      <th>
        Linked Users
      </th>
      <th>
        Coupon
      </th>
      <th>
        Total Earned
      </th>
      <th>
        Group
      </th>
      <th>
        Operations
      </th>
    </thead>
    <tbody>
      <% @referrers.each do |referrer| %>
        <tr>
          <td>
            <%= referrer.reference_id %>
          </td>
          <td>
            <%= referrer.user.email %>
          </td>
          <td>
            <%= referrer.nickname %>
          </td>
          <td>
            <%= boolean_icon(referrer.agb) %>
          </td>
          <td>
            <%= referrer.children_users.count %>
          </td>
          <td>
            <% referrer.coupons.each do |coupon| %>
              <a href="<%= guest_coupon_flyer_path(coupon) %>">
                <%= coupon.code %>
              </a>
            <% end %>
          </td>
          <td>
            <%= referrer.total_earned.in_euro.display %>
          </td>
          <td>
            <%= referrer&.referrer_group&.group %>
          </td>
          <td>
            <% unless referrer.has_coupon? %>
              <a href="<%= admin_referrer_coupon_path(referrer) %>" data-method="post"><i class="fa fa-magic tooltipster buttons buttons__purple" title="Generate Coupon"></i></a>
            <% end %>
            <a href="<%= admin_user_path(referrer.user) %>"><i class="fa fa-eye tooltipster buttons buttons__edit"></i></a>
            <a href="<%= admin_referrer_provisions_path(referrer) %>"><i class="fa fa-euro tooltipster buttons buttons__purple" title="Provisions Summary"></i></a>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<% else %>
  <div class="+white-box +centered">
    <h4>
      No referrer yet.
    </h4>
  </div>
<% end %>
