<% if @referrers.size > 0 %>
<div class="main-table">
  <table>
    <thead>
      <th>
        ID
      </th>
      <th>
         Email
      </th>
      <th>
        Nickname
      </th>
      <th>
        Fullname
      </th>
      <th>
        AGB
      </th>
      <th>
        Linked Users
      </th>
      <th>
        Introducer
      </th>
      <th>
        Flyers
      </th>
      <th>
        Total Earned
      </th>
      <th>
        Current Balance
      </th>
      <th>
        Total Growth
      </th>
      <th>
        Group
      </th>
      <th>
        Label
      </th>
      <th>
        Operations
      </th>
    </thead>
    <tbody>
      <% @referrers.each do |referrer| %>
        <tr>
          <td>
            <%= referrer.reference_id %>
          </td>
          <td>
            <%= referrer.user.email %>
          </td>
          <td>
            <%= referrer.nickname %>
          </td>
          <td>
            <%= referrer.user.decorate.full_name %>
          </td>
          <td>
            <%= boolean_icon(referrer.agb) %>
          </td>
          <td>
            <%= referrer.children_users.count %>
          </td>
          <td>
            <%= referrer.user.introducer&.decorate&.full_name %>
          </td>
          <td>
            <% if referrer.has_coupon? %>
                <span class="+green +bold"><%= referrer.main_coupon.code %> </span>
            <% end %>
            <a href="<%= guest_referrer_qrcode_path(referrer) %>">QR</a>
          </td>
          <td>
            <%= referrer.total_earned.in_euro.display %>
          </td>
          <td>
            <span class="+blue +bold">
            <%= referrer.current_balance.in_euro.display %>
            </span>
          </td>
          <td>
            <%= referrer.total_growth.in_euro.display %>
          </td>
          <td>
            <%= referrer&.referrer_group&.name %>
          </td>
          <td>
            <%= editable_field(referrer, admin_referrer_path(referrer), :label, :text_field) %>
          </td>
          <td>
            <% unless referrer.has_coupon? %>
              <a href="<%= admin_referrer_coupon_path(referrer) %>" data-method="post"><i class="fa fa-magic tooltipster buttons buttons__purple" title="Generate Coupon"></i></a>
            <% end %>
            <a href="<%= admin_referrer_path(referrer) %>"><i class="fa fa-eye tooltipster buttons buttons__edit"></i></a>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<% else %>
  <div class="+white-box +centered">
    <h4>
      No referrer yet.
    </h4>
  </div>
<% end %>
