<div class="+spacer"></div>

<div class="col-md-8 col-md-push-2 col-md-pull-2">

  <% if @featured_shop.nil? && @casual_shops.empty? %>

  <!-- There's no shop right now -->
  <div class="+white-box +centered">
    <h4>
     <%= I18n.t(:no_shop_available, scope: :notice) %>
   </h4>
 </div>


  <% else %>

  <!-- Shop Blocks -->
  <div class="shop-blocks">

    <div class="row shop-blocks__main">

      <div class="col-md-5 shop-blocks__main --category">

        <div class="col-md-4 +centered">
        <img src="/images/categories/<%= @category.slug %>.png">
        <h2><%= @category.name %></h2>
        </div>

        <div class="col-md-8">
        <%= @category.desc %>
        </div>

      </div>

      <!-- First Shop Display in Front -->
      <% unless @featured_shop.nil? %>

      <a href="<%= guest_shop_path(@featured_shop) %>">
      <div class="col-md-7 shop-blocks__main --shop" style="background-image:url(<%= @featured_shop.decorate.image_url(:banner, :detail) %>);">
        <div class="+overlay"></div>
        <div class="+onoverlay">

          <!-- Content -->
          <div class="shop-blocks__main --content">


            <div class="col-md-3 shop-blocks__main --avatar" style="background-image:url('<%= @featured_shop.decorate.image_url(:logo, :detail) %>');">
            </div>

            <div class="col-md-8 shop-blocks__secondary --content-text">

              <h3><%= @featured_shop.shopname %>
              <% if @featured_shop.discount? %>
              <span id="product_discount" class="+discount"><%= I18n.t(:discount, scope: :discount) %></span>
              <% end %>
              </h3>
              <div class="shop-blocks__main --author">by <%= @featured_shop.decorate.manager_full_name %></div>

              <div class="+small-spacer"></div>

              <%= @featured_shop.decorate.short_desc %>
            </div>

          </div>
          <!-- End of Content -->

        </div>
      </div>
      </a>

      <% end %>

    </div>

    <div class="row shop-blocks__secondary">

      <% @casual_shops.each do |shop| %>

      <a href="<%= guest_shop_path(shop) %>">
      <div class="col-md-4 shop-blocks__secondary --shop" style="background-image:url(<%= shop.decorate.image_url(:banner, :detail) %>);">
        <div class="+overlay"></div>

        <div class="+onoverlay">

          <!-- Content -->
          <div class="shop-blocks__secondary --content">

            <div class="col-md-4 shop-blocks__secondary --avatar" style="background-image:url('<%= shop.decorate.image_url(:logo, :thumb) %>');">
              <!-- <img src="<%= shop.decorate.image_url(:logo, :thumb) %>"> -->
            </div>

            <div class="col-md-10 shop-blocks__secondary --content-text">
              <h3><%= shop.shopname %>
              <% if shop.discount? %>
              <span id="product_discount" class="+discount"><%= I18n.t(:discount, scope: :discount) %></span>
              <% end %>
              </h3>
              <div class="shop-blocks__secondary --author">by <%= shop.decorate.manager_full_name %></div>

              <div class="+small-spacer"></div>

              <%= shop.decorate.short_desc(45) %>
            </div>

          </div>
          <!-- End of Content -->

        </div>

      </div>
      </a>

      <% end %>

    </div>

  </div>
  <!-- End of Shop Blocks -->

  <% end %>

</div>

<div class="row +spacer"></div>
