<% if @orders.size > 0 %>
  <table class="table cart-table">
    <thead>
      <tr>
        <th>
          <%= I18n.t(:id, scope: :edit_order) %>
        </th>
        <th>
          <%= I18n.t(:status, scope: :edit_order) %>
        </th>
        <th>
          <%= I18n.t(:total_sum, scope: :edit_order) %>
        </th>
        <th>
          <%= I18n.t(:link_tracking, scope: :edit_order) %>
        </th>
        <th>
          <%= I18n.t(:updated_at, scope: :edit_order) %>
        </th>
        <th>
          <%= I18n.t(:operations, scope: :edit_order) %>
        </th>
      </tr>
    </thead>
    <tbody>
      <% @orders.each do |o| %>
        <tr>
          <td>
            <%= link_to o.id, order_path(o) %>
          </td>
          <td>
            <%= I18n.t(o.status, scope: :edit_order) %>
          </td>
          <td>
            <%= o.decorate.total_sum_with_currency %>
          </td>
          <td>
            <%= o.border_guru_link_tracking ? (link_to I18n.t(:open, scope: :edit_order), o.border_guru_link_tracking, :target => '_blank') : '' %>
          </td>
          <td>
            <%= o.u_at.localtime.strftime('%Y-%m-%d %H:%M:%S') %>
          </td>
          <% unless o.decorate.is_success? %>
            <td>
              <%= link_to I18n.t(:continue, scope: :edit_order), continue_order_path(o) %> | 
              <%= link_to I18n.t(:delete, scope: :edit_order), order_path(o), method: :delete, data: { confirm: 'Are you certain you want to delete this?' } %>
            </td>
          <% else %>
            <td></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= will_paginate @orders, renderer: BootstrapPagination::Rails %>
<% else %>
<div class="+white-box +centered">
  <h4>
    <%= I18n.t(:no_order, scope: :edit_order) %>
  </h4>
</div>
<% end %>
