<%= translation_js(:max_exceeded_message, :image_upload) %>
<%= translation_js(:ext_error_message, :image_upload) %>

<%= form_for @user, :data => {:toggle => 'validator'}, :url => customer_user_path, :method => :patch do |f| %>

<div class="row">
  <div class="col-md-11 +centered +white-box">
    <div class="form-group">
      <div class="row">
        <%= f.label :pic, "Profile picture", :class => 'control-label' %>
        <i class="fa fa-info-circle" title="Profile picture"></i>
      </div>

      <div class="row">
        <%= image_tag (current_user.pic.url.nil? ? "/images/icons/default_user_pic.png" : current_user.pic.url), :class => 'logo-img-large', :id => "pic_#{current_user.id}" %>
      </div>
    </div>

    <div class="form-group">
      <div class="fileUpload btn btn-default">
        <span>
          <i class="fa fa-cloud-upload"></i>
          <%= I18n.t(:upload, scope: :image_upload) %>
        </span>
        <%= f.file_field :pic, :accept => "image/png, image/jpeg, image/jpg", :class => 'img-file-upload upload', :img_id => "#pic_#{current_user.id}" %>
      </div>
    </div>
  </div>
</div>

<div class="+spacer"></div>

<div class="row">

  <div class="col-md-5 +white-box">

    <div class="form-group">
      <div class="pull-right required-info">
        <strong>
          <%= I18n.t(:required_field_info, scope: :edit_shop).html_safe %>
        </strong>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :email, I18n.t(:email, scope: :edit_account) %>
      <%= f.text_field :email, :class => 'form-control', :type => 'email' %>
    </div>

    <% unless @user.wechat? %>

    <div class="form-group">
      <%= f.label :current_password, I18n.t(:current_password, scope: :edit_account), :class => 'required' %>
      <%= f.password_field :current_password, :class => 'form-control', :autocomplete => :off, :required => true, :minLength => Rails.configuration.min_password_length %>
      <div class="help-block with-errors"></div>
    </div>
    <div class="form-group">
      <label for="user[password]" title="<%= I18n.t(:password_info, scope: :edit_account) %>">
        <%= I18n.t(:password, scope: :edit_account) %>
      </label>
      <%= f.password_field :password, :class => 'form-control', :autocomplete => :off, :minLength => Rails.configuration.min_password_length, :id => 'inputPassword' %>
      <div class="help-block with-errors"></div>
    </div>
    <div class="form-group">
      <%= f.label :password_confirmation, I18n.t(:password_confirmation, scope: :edit_account) %>
      <%= f.password_field :password_confirmation, :class => 'form-control', :autocomplete => :off, 'data-match': '#inputPassword', 'data-match-error': I18n.t(:password_match_error, scope: :edit_account) %>
      <div class="help-block with-errors"></div>
    </div>

    <% end %>

  </div>

  <%= content_tag(:div, nil, :id => "js-show-datepicker", :data => { :language => I18n.locale }) %>

  <div class="col-md-5 col-md-push-1 +white-box">

    <div class="form-group">
      <%= f.text_field :lname, :class => 'form-control', placeholder: I18n.t(:lastname, scope: :edit_personal) %>
    </div>
    <div class="form-group">
      <%= f.text_field :fname, :class => 'form-control', placeholder: I18n.t(:firstname, scope: :edit_personal) %>
    </div>
    <div class="form-group">
      <%= f.text_field :birth, :id => 'datepicker', :class => 'form-control', placeholder: I18n.t(:birthday, scope: :edit_personal), :required => true %>
      <div class="help-block with-errors"></div>
    </div>
    <div class="form-group">
      <label class="radio-inline">
        <%= f.radio_button :gender, 'm' %>
        <%= I18n.t(:'genderize.name.masculine') %>
      </label>
      <label class="radio-inline">
        <%= f.radio_button :gender, 'f', :checked => @user.gender.present? ? @user.gender.female? : true %>
        <%= I18n.t(:'genderize.name.feminine') %>
      </label>
    </div>
    <div class="form-group">
      <%= f.text_field :tel, :class => 'form-control', :pattern => I18n.t(:mobile, scope: :validation, locale: :'zh-CN'), placeholder: I18n.t(:placeholder_mobile, scope: :edit_personal) %>
    </div>
    <div class="form-group">
      <%= f.text_field :mobile, :class => 'form-control', :pattern => I18n.t(:tel, scope: :validation, locale: :'zh-CN'), placeholder: I18n.t(:placeholder_tel, scope: :edit_personal) %>
    </div>
  </div>

</div>

<div class="+small-spacer"></div>
<div class="row">
  <div class="col-md-11 +centered +white-box">
      <%= f.button I18n.t(:save, scope: :edit_account), :type => 'submit', :class => 'btn btn-primary' %>
  </div>
</div>

<% end %>
