= form_for(@message) do |f|
  - if @message.errors.any?
    #error_explanation
      %h2
        = pluralize(@message.errors.count, "error")
        prohibited this message from being saved:
      %ul
        - @message.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :content
    %br/
    = f.text_field :content
  .field
    = f.label :sender
    %br/
    = f.text_field :sender
  .field
    = f.label :receiver
    %br/
    = f.text_field :receiver
  .actions
    = f.submit
