%p#notice= notice
%p
  %strong Content:
  = @message.content
%p
  %strong Sender:
  = @message.sender
%p
  %strong Receiver:
  = @message.receiver
= link_to 'Edit', edit_message_path(@message)
|
= link_to 'Back', messages_path
