<% unless links.count == 0 %>
<div class="referrer__orders">

  <!-- ORDERS LIST -->
  <div class="referrer__title">
    <%= I18n.t('referrer.links') %>
  </div>

  <div class="referrer__list">
    <table>
      <thead>
        <th colspan="2">
          <%= I18n.t('referrer.title') %>
        </th>
        <th>
          <%= I18n.t('referrer.desc') %>
        </th>
        <th>
          <%= I18n.t('referrer.creation') %>
        </th>
      </thead>
      <tbody>
        <%= render partial: "customer/referrer/links/table/link", collection: links, cached: true, locals: { referrer: referrer } %>
      </tbody>
    </table>
  </div>

</div>

<div class="+spacer"></div>
<% end %>
