<% unless links.count == 0 %>
<div class="referrer__orders">

  <!-- ORDERS LIST -->
  <div class="referrer__title">
    <%= I18n.t('referrer.links') %>
  </div>

  <div class="referrer__list">
    <table>
      <thead>
        <th colspan="2">
          <%= I18n.t('referrer.title') %>
        </th>
        <th>
          <%= I18n.t('referrer.creation') %>
        </th>
      </thead>
      <tbody>

        <% links.each do |link| %>
          <tr data-href="<%= customer_referrer_link_share_path(link) %>" class="<%= newly_published?(@referrer, link) ? "+table-new" : "" %>">
            <td>
              <img src="<%= link.thumbnail_url %>" class="icon-img">
            </td>
            <td>
              <a href="#"><%= link.title %></a>
            </td>
            <td>
              <%= link.published_at.strftime("%Y-%m-%d") %>
            </td>
          </tr>
          <% if newly_published?(@referrer, link) %>
            <% @referrer.link_was_read!(link) %>
          <% end %>
        <% end %>

      </tbody>
    </table>
  </div>

</div>

<div class="+spacer"></div>
<% end %>
