<!-- Weixin data -->
<div id="weixin-share-link"
      data-title="<%= @link.title %>"
      data-desc="<%= @link.desc %>"
      data-img-url="<%= @link.thumbnail_url %>"
      data-link="<%= @link.wechat.with_login_and_referrer(@referrer) %>"
      data-back="<%= customer_referrer_links_url %>">
</div>

<% if identity_solver.wechat_customer? %>

<div id="weixin-vue">
  <template v-if="shared">

    <%= render partial: "customer/referrer/links/share/thanks_for_sharing", locals: { :link => @link } %>
    
  </template>
  <template v-else>

    <%= render partial: "customer/referrer/links/share/how_to_share", locals: { :link => @link } %>

  </template>
</div>

<% else %>

  <h1 class="+bold"><%= I18n.t('referrer.share_page.please_share_this_link') %></h1>
  <a href="<%= @link.wechat.with_login_and_referrer(@referrer) %>"><%= @link.wechat.with_login_and_referrer(@referrer) %></a>
<% end %>
