
<br />
<h1><strong>Proformarechnung</strong></h1>
<br />
<br />

<div style="width:200px;float:left">
  <strong>Herstellername</strong><br />
  <strong>Hersteller ID</strong><br />
  <strong>Ust-ID</strong><br />
</div>

<div style="width:300px;float:left">
  <%= @order.shop.name %><br />
  <%= @order.shop.merchant_id %><br />
  <%= @order.shop.ustid %><br /><br /><br />
</div>

<div style="clear:both;"></div>

<div style="width:200px;float:left">
  <strong>Kundename</strong><br />
  <strong>Lieferadresse</strong><br />
</div>

<div style="width:400px;float:left">
  <% if @order.decorate.billing_address %>
    <%= @order.decorate.billing_address.decorate.full_name %><br />
    <%= @order.decorate.billing_address.decorate.full_address %><br /><br /><br />
  <% end %>
</div>

<div style="clear:both;"></div>

<div style="width:200px;float:left">
  <strong>
    Proformarechnungsnr.<br />
    Datum<br />
  </strong>
</div>

<div style="width:200px;float:left">

  <% if @order.bill_id %>
  <%= @order.bill_id %>
  <% else %>
  N/A
  <% end %>
  <br />
  <% if @order.paid_at %>
    <%= @order.paid_at.utc.strftime("%Y-%m-%d") %><br />
  <% end %>
</div>

<div style="clear:both;"></div>

<br />
<br />

<table style="text-align:left;width:100%;border-color:black;border-width:1px;border-style:solid;">
  <thead>
    <tr>
      <th>
        Pos.
      </th>
      <th>
        Produktname
      </th>
      <th>
        Preis (EUR)
      </th>
      <th>
        Menge
      </th>
      <th style="text-align:right;">
        Netto-Umsatz (EUR)
      </th>
    </tr>
  </thead>
  <tbody>
    <% @order.order_items.each_with_index do |order_item, index| %>
    <tr>
      <td>
      <%= (index+1) %>
      </td>
      <td>
        <%= order_item.product.name_translations[:de] %> (<%= order_item.selected_options(:de).join(', ') %>)
      </td>
      <td>
        <%= order_item.sku.decorate.price_after_discount_in_euro %>
      </td>
      <td align="center">
        <%= order_item.quantity %>
      </td>
      <td style="text-align:right;">
        <%= order_item.sku.decorate.total_price_after_discount_in_euro(order_item.quantity) %>
      </td>
    </tr>
    <% end %>
    <tr>
      <td>
      </td>
      <td>
      </td>
      <td>
      </td>
      <td>
      Gesamt Produktpreis
      </td>
      <td style="text-align:right;">
      <%= @order.total_price.in_euro.display %>
      </td>
    </tr>
  </tbody>
</table>

<br />

<table style="text-align:left;width:100%;border-color:black;border-width:1px;border-style:solid;">
  <thead>
    <tr>
      <th>
      </th>
      <th>
        Prozesskosten
      </th>
      <th style="text-align:right;">
        Betrag (EUR)
      </th>
    </tr>
  </thead>
  <tbody>

    <tr>
      <td>
        <%= @order.order_items.count+1 %>
      </td>
      <td>
        Internationale Versandkosten
        FRA-Endkunden(China)
      </td>
      <td style="text-align:right;">
        <%= @order.decorate.shipping_cost.in_euro.display %>
      </td>
    </tr>

    <tr>
      <td>
        <%= @order.order_items.count+2 %>
      </td>
      <td>
        Persönliche Importsteuern
      </td>
      <td style="text-align:right;">
        <%= @order.taxes_cost.in_euro.display %>
      </td>
    </tr>

    <tr>
      <td>
      </td>
      <td style="text-align:right;width:460px;">
        Gesamt Prozesskosten
      </td>
      <td style="text-align:right;">
        <%= (@order.decorate.shipping_cost + @order.decorate.taxes_cost).in_euro.display %>
      </td>
    </tr>

  </tbody>
</table>

<br />

<% if @order.discount? %>

  <table style="text-align:left;width:100%;border-color:black;border-width:1px;border-style:solid;">
    <thead>
      <tr>
        <th>
        </th>
        <th>
          Sonstig
        </th>
        <th style="text-align:right;">
          Betrag (EUR)
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <%= @order.order_items.count+3 %>
        </td>
        <td>
          Rabatt <%= @order.coupon.code %> <%= @order.coupon.decorate.discount_display %>
        </td>
        <td style="text-align:right;">
          - <%= @order.coupon_discount.in_euro.display %>
        </td>
      </tr>
    </tbody>
  </table>

  <br />

<% end %>


<br /><br />

<div style="width:300px;float:left">
<strong>Gesamt Preis (EUR)</strong><br />
</div>

<div style="width:375px;float:left;text-align:right;">
<%= @order.decorate.end_price.in_euro.display %>
</div>

<div style="clear:both;"></div>
