
<br />
<h1><strong>Warenliste (Beipackzettel)</strong></h1>
<br />
<br />

<strong>
MerchantName <%= @order.shop.decorate.manager_full_name %><br />
MerchantID <%= @order.shop.merchant_id %><br />
Ust-ID <%= @order.shop.ustid %><br />
</strong>

<br />

<strong>
CustomerName <%= @order.user.decorate.full_name %><br />
CustomerAddress <%= @order.decorate.billing_address.decorate.full_address %><br />
</strong>

<br />

<%= @order.bill_id %>

<br />
<br />

<table style="text-align:left;width:100%;border-color:black;border-width:1px;border-style:solid;">
  <thead>
    <tr>
      <th>
        Pos.
      </th>
      <th>
        Produktname
      </th>
      <th>
        Preis (EUR)
      </th>
      <th>
        Menge
      </th>
      <th>
        Netto-Umsatz (EUR)
      </th>
    </tr>
  </thead>
  <tbody>
    <% @order.order_items.each_with_index do |order_item, index| %>
    <tr>
      <td>
      <%= (index+1) %>
      </td>
      <td>
        <%= order_item.product.name %> (<%= order_item.selected_options.join(', ') %>)
      </td>
      <td>
        <%= order_item.price_per_unit.in_euro.display %>
      </td>
      <td>
        <%= order_item.quantity %>
      </td>
      <td>
        <%= order_item.total_price.in_euro.display %>
      </td>
    </tr>
    <% end %>
    <tr>
      <td>
      </td>
      <td>
      </td>
      <td>
      </td>
      <td>
      Gesamt
      </td>
      <td>
      <%= @order.total_price.in_euro.display %>
      </td>
    </tr>
  </tbody>
</table>
