<% if total_number_of_products > 0 %>
<div>
  <% current_orders.each do |s, order| %>
  <% if order.decorate.total_quantity > 0 %>

  <div class="row">

    <div class="col-md-10 col-md-push-1 col-md-pull-1">

      <div class="row">
        <div class="col-md-9">
          <h4>
            <%= I18n.t(:shop, scope: :cart) + ': ' %>
            <%= link_to @shops[s][:name], shop_path(s) %>
          </h4>
        </div>
      </div>

      <div class="row">

        <div class="col-md-9">
          <%= render partial: 'customer/cart/show/order', locals: {order: order} %>
        </div>
        <div class="+spacer"></div>
        
        <div class="col-md-3">
          <ul class="total-list">
            <li>
              <span>
                <%= I18n.t(:subtotal, scope: :cart) %>
              </span>
              <span id="order-subtotal-<%= s %>">
                <%= order.decorate.total_price_with_currency_yuan %>
              </span>
            </li>

            <li>
              <span>
                <%= I18n.t(:duty_and_shipping_cost, scope: :cart) %>
              </span>
              <span id="order-duty-and-shipping-cost-<%= s %>">
                <%= @carts[s].decorate.duty_and_shipping_cost_with_currency_yuan %>
              </span>
            </li>
            <li>

              <li>
                <span>
                  <%= I18n.t(:total_price_with_currency_yuan, scope: :cart) %>
                </span>
                <span id="order-total-sum-in-yuan-<%= s %>">
                  <%= @carts[s].decorate.total_sum_in_yuan %>
                </span>
              </li>
            </ul>
          </div>
        </div>

      </div>
    </div>
  </div>

  <% end %>
  <% end %>

  <% else %>
  <div class="row col-md-6 col-md-push-3 col-md-pull-3 +white-box +centered">
    <h4>
      <%= I18n.t(:no_products, scope: :cart) %>
    </h4>
  </div>
  <% end %>
