<% if cart_manager.products_number > 0 %>
  <%= render 'layouts/customer/subheader/checkout_breadcrumb' %>

  <div class="col-md-offset-1">
    <div class="+small-spacer"></div>
    <a class="btn btn-default" href="<%= identity_solver.origin_url %>"><i class="fa fa-arrow-circle-left"></i> 继续购物</a>
  </div>

  <% @orders.each do |order| %>
    <% if order.decorate.total_quantity > 0 %>

      <div id="<%= "order-#{order.id}" %>" class="row">
      <div class="col-md-10 col-md-push-1 col-md-pull-1">

        <div class="row">

          <!-- Total for this order -->
          <div class="col-md-4 col-md-push-8">
            <%= render partial: 'customer/cart/show/total', locals: {order: order} %>
          </div>

          <!-- Order listing -->
          <div class="col-md-8 col-md-pull-4">
            <%= render partial: 'customer/cart/show/order', locals: {order: order} %>
          </div>

        </div>

      </div>
    </div>

    <% end %>
  <% end %>

  <% else %>
  <div class="row col-md-6 col-md-push-3 col-md-pull-3 +white-box +centered">
    <h4>
      <%= I18n.t(:no_products, scope: :cart) %>
    </h4>
  </div>
  <% end %>

  <% if chinese_ip? %>

    <!-- Warning about bad quality payment service -->
    <div class="row">
      <div class="+spacer"></div>
      <div class="message__green col-md-8 col-md-push-1 col-md-pull-1">
        亲，请谅解我们的支付系统在升级期间支付页面载入速度较慢，如出现无法载入情况请放心重试。 期待元旦后新支付系统给您带来最佳的支付体验！ 来因盒感谢您的支持！
      </div>
    </div>

  <% end %>

  <div class="+spacer"></div>
