<div class="row"><h3><%= I18n.t(:germany_in_the_box, scope: :footer) %></h3></div>
<div class="row"><%= link_to I18n.t(:business_model, scope: :footer), business_model_guest_pages_path %></div>
<div class="row"><%= link_to I18n.t(:terms_conditions, scope: :footer), agb_guest_pages_path %></div>
<div class="row"><%= link_to I18n.t(:publicity, scope: :footer), publicity_guest_pages_path %></div>
<div class="row"><%= link_to I18n.t(:privacy_statement, scope: :footer), privacy_guest_pages_path %></div>
