<% if shop_applications.size > 0 %>
<div class="main-table">
  <table>
    <thead>
      <th>
        <%= I18n.t('edit_shop_application.email') %>
      </th>
      <th>
        <%= I18n.t('edit_shop.name') %>
      </th>
      <th>
        <%= I18n.t('edit_shop_application.password') %>
      </th>
      <th>
        <%= I18n.t('edit_shop_application.application_timestamp') %>
      </th>
      <th>
        <%= I18n.t('edit_shop_application.operations') %>
      </th>
    </thead>
    <tbody>
      <% shop_applications.each do |shop_application| %>
        <tr>
          <td>
            <%= shop_application.email %>
          </td>
          <td>
            <%= shop_application.name %>
          </td>
          <td>
            <%= shop_application.code[0,8] unless shop_application.code.nil? %>
          </td>
          <td>
            <%= shop_application.c_at.strftime('%Y-%m-%d %H:%M:%S') %>
          </td>
          <td>
            <%= link_to '', admin_shop_application_path(shop_application), :method => :delete, data: { confirm: I18n.t('edit_shop_applications.delete_application_message') }, :class => 'tooltipster fa fa-times buttons buttons__delete', :title => I18n.t('edit_shop_applications.remove') %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<% else %>
  <div class="+white-box +centered">
    <h4>
    <%= I18n.t('edit_shop_application.no_applications') %>
   </h4>
 </div>
<% end %>
