<!-- Head navigation -->
<%= render partial: "guest/services/index/navigation", locals: { services: @services, back: identity_solver.origin_url } %>
<div class="+small-spacer"></div>

<!-- Service Brand Filters -->
<%= render partial: "guest/services/brand_filters", locals: { current_brand: @brand, brand_filters: @brand_filters} %>
<div class="+small-spacer"></div>

<!-- Referrer Exclusive Services -->
<% if @referrer_services && @referrer_services.count > 0 %>
<hr />
<h3><%= I18n.t('services.referrer_services') %></h3>
<div class="row">
  <% @referrer_services.sort_by(&:position).each_with_index do |service, index| %>
    <% cache service do %>
      <%= render "guest/services/index/block", options: { reversed: reversed?(index) }, service: service %>
    <% end %>
  <% end %>
</div>
<% end %>


<%= render partial: "guest/services/index/brands_sort", locals: { services: @services } %>
