<!-- Head navigation -->
<%= render partial: "guest/services/show/header_navigation", locals: { service: @service, back: guest_services_path } %>

  <!-- Cover -->
  <%= render partial: "guest/services/show/cover", locals: { service: @service } %>

  <div class="row">
    <div class="col-md-12">
      <div class="service-infos">

        <!-- Introduction -->
        <%= render partial: "guest/services/show/introduction", locals: { service: @service } %>
        
        <!-- Inquiry -->
        <%= render partial: "guest/services/show/inquiry", locals: { service: @service, inquiry: @inquiry } %>

      </div>
    </div>

    <!-- Brand description -->
    <%= render partial: "guest/package_sets/show/brand_description", locals: { brand: @service.brand } %>

  </div>
