<% if current_user.shop&.agb %>
  <li class="<%= menu_active? shopkeeper_shop_path %>">
    <%= link_to I18n.t('top_menu.my_shop'), shopkeeper_shop_path %>
  </li>
  <li class="<%= menu_active? shopkeeper_products_path %>">
    <%= link_to I18n.t('top_menu.my_product'), shopkeeper_products_path %>
  </li>
  <li class="<%= menu_active? shopkeeper_orders_path %>">
    <%= link_to I18n.t('top_menu.my_order'), shopkeeper_orders_path %>
  </li>
  <li class="<%= menu_active? shopkeeper_payments_path %>">
    <%= link_to I18n.t('top_menu.payments'), shopkeeper_payments_path %>
  </li>
<% end %>

<li class="<%= menu_active? shopkeeper_settings_path %>">
  <%= link_to I18n.t('top_menu.legal_and_settings'), shopkeeper_settings_path %>
</li>

<li class="<%= menu_active? shopkeeper_supports_path %>">
  <%= link_to I18n.t('top_menu.support'), shopkeeper_supports_path %>
</li>

<li>
</li>

<li class="<%= menu_active? shared_notifications_path %>">
  <%= link_to I18n.t('top_menu.notifications'), shared_notifications_path %>
</li>
<li class="<%= menu_active? edit_shopkeeper_account_path %>">
  <%= link_to I18n.t('top_menu.my_account'), edit_shopkeeper_account_path %>
</li>
<li class="<%= menu_active? shopkeeper_addresses_path %>">
  <%= link_to I18n.t('top_menu.my_address'),  shopkeeper_addresses_path %>
</li>
<li>
  <%= link_to I18n.t('top_menu.sign_out'), destroy_user_session_path, :method => :delete %>
</li>
