<% if current_user.shop&.agb %>
  <li class="<%= menu_active? shopkeeper_shop_path %>">
    <%= link_to I18n.t(:my_shop, scope: :top_menu), shopkeeper_shop_path %>
  </li>
  <li class="<%= menu_active? shopkeeper_products_path %>">
    <%= link_to I18n.t(:my_product, scope: :top_menu), shopkeeper_products_path %>
  </li>
  <li class="<%= menu_active? shopkeeper_orders_path %>">
    <%= link_to I18n.t(:my_order, scope: :top_menu), shopkeeper_orders_path %>
  </li>
  <li class="<%= menu_active? shopkeeper_payments_path %>">
    <%= link_to I18n.t(:payments, scope: :top_menu), shopkeeper_payments_path %>
  </li>
<% end %>

<li class="<%= menu_active? shopkeeper_settings_path %>">
  <%= link_to I18n.t(:legal_and_settings, scope: :top_menu), shopkeeper_settings_path %>
</li>

<li class="<%= menu_active? shopkeeper_supports_path %>">
  <%= link_to I18n.t(:support, scope: :top_menu), shopkeeper_supports_path %>
</li>

<li>
</li>

<li class="<%= menu_active? shared_notifications_path %>">
  <%= link_to I18n.t(:notifications, scope: :top_menu), shared_notifications_path %>
</li>
<li class="<%= menu_active? edit_shopkeeper_account_path %>">
  <%= link_to I18n.t(:my_account, scope: :top_menu), edit_shopkeeper_account_path %>
</li>
<li class="<%= menu_active? shopkeeper_addresses_path %>">
  <%= link_to I18n.t(:my_address, scope: :top_menu),  shopkeeper_addresses_path %>
</li>
<li>
  <%= link_to I18n.t(:sign_out, scope: :top_menu), destroy_user_session_path, :method => :delete %>
</li>
