<div class="row col-md-4 col-md-push-4 col-md-pull-4">

<h3>
  Registration
</h3>
<h5>
  This is fast and simple
</h5>

  <%= form_tag user_registration_path, :method => :post, :class => 'dialog-form', 'data-toggle': 'validator' do %>
      <div class="form-group">
        <%= text_field_tag 'user[username]', nil, :class => 'form-control', :placeholder => I18n.t(:username, scope: :sign_up_dialog), :required => true %>
      </div>
      <div class="form-group">
        <%= email_field_tag 'user[email]', nil, :class => 'form-control', :placeholder => I18n.t(:email, scope: :sign_up_dialog), :required => true %>
      </div>
      <div class="form-group">
        <%= password_field_tag 'user[password]', nil, :class => 'form-control', :placeholder => I18n.t(:password, scope: :sign_up_dialog), :required => true, :minLength => Rails.configuration.min_password_length %>
        <div class="help-block with-errors"></div>
      </div>
      <div class="form-group">
        <%= password_field_tag 'user[password_confirmation]', nil, :class => 'form-control', :placeholder => I18n.t(:password_confirmation, scope: :sign_up_dialog), 'data-match' => '#user_password' %>
        <div class="help-block with-errors"></div>
      </div>
      <div class="form-inline">
        <div class="form-group">
          <%= text_field_tag 'user[birth]', nil, :class => 'form-control datepicker', placeholder: I18n.t(:birthday, scope: :edit_personal), 'data-provide': 'datepicker', 'data-date-format': 'yyyy-mm-dd', :required => true %>
        </div>
        <div class="form-group col-md-offset-1">
          <label class="radio-inline">
            <%= radio_button_tag 'user[gender]', 'm' %>
            <%= I18n.t(:'genderize.name.masculine') %>
          </label>
          <label class="radio-inline">
            <%= radio_button_tag 'user[gender]', 'f', :checked => true %>
            <%= I18n.t(:'genderize.name.feminine') %>
          </label>
        </div>
      </div>
      <div class="form-inline">
        <div class="form-group">
          <%= text_field_tag :captcha, nil, :autocomplete => :off, placeholder: I18n.t(:captcha, scope: :sign_up_dialog), :class => 'form-control', :style => 'margin-right:14px', :required => true, :minLength => 4, :maxLength => 4 %>
        </div>
        <div class="form-group">
          <%= captcha_tag %>
        </div>
      </div>
      <%= submit_tag I18n.t(:sign_up, scope: :sign_up_dialog), :class => 'btn btn-primary' %>

  <% end %>

  <br />
      <a class="simple-text" href="<%= new_user_session_path %>">
        <%= I18n.t(:already_member, scope: :sign_up_dialog) %>
      </a>

</div>

