<% if package_sets.size > 0 %>
<div class="main-table">
  <table>
    <thead>
      <tr>
        <th>
          Cover Image
        </th>
        <th>
          Position
        </th>
        <% if show_shop %>
          <th>
            Shop
          </th>
        <% end %>
        <th>
          Name
        </th>
        <th>
          Package Skus
        </th>
        <th>
          Action
        </th>
      </tr>
    </thead>
    <tbody>
      <% package_sets.each do |package_set| %>
        <tr>
          <td>
            <%= image_tag package_set.cover.url, :class => 'icon-img' %>
          </td>
          <td>
            <%= editable_field(package_set, admin_shop_package_set_path(package_set.shop, package_set), :position, :text_field) %>
          </td>
          <td>
            <% if show_shop %>
              <%= package_set.shop.shopname %>
            <% end %>
          </td>
          <td>
            <%= package_set.name %>
          </td>
          <td>
            <%= package_set.package_skus.count %>
          </td>
          <td align="left">
            <%= render partial: 'admin/package_sets/table/action', :locals => { :package_set => package_set } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<% else %>
<div class="col-md-12 +white-box +centered">
  <h4>
   No package set available
 </h4>
</div>
<% end %>
