<% if skus.size > 0 %>
<div class="main-table">
  <table>
    <thead>
      <tr>
        <th>
          <label>
            <%= I18n.t('edit_product_detail.image') %>
          </label>
        </th>
        <th>
          <label>
            <i class="fa fa-info-circle" title="<%= I18n.t('edit_product_detail.variants_info') %>"></i>
            <%= I18n.t('edit_product_detail.sku_variants_options') %>
          </label>
        </th>
        <th>
          <label>
            <%= I18n.t('edit_product_detail.price') %>
          </label>
        </th>
        <th>
          <label>
            <%= I18n.t('edit_product_detail.discount') %>
          </label>
        </th>
        <th>
          <label>
            <%= I18n.t('edit_product_detail.quantity') %>
          </label>
        </th>
        <th>
          <label>
            <%= I18n.t('edit_product.operations') %>
          </label>
        </th>
      </tr>
    </thead>
    <tbody>
      <% skus.each do |sku| %>
        <tr>
          <td>
            <%= image_tag(sku.images&.first&.file&.url, :class => 'icon-img') %>
          </td>
          <td>
            <%= sku.display_option_names %>
          </td>
          <td>
            <% if sku.casual_price %>
              <%= sku.casual_price.in_euro.display %>
            <% end %>
          </td>
          <td>
            <%= sku.discount.to_s + '%' if sku.discount != 0 %>
          </td>
          <td>
            <%= sku.unlimited ? I18n.t('edit_product_detail.unlimited.info') : sku.quantity %>
          </td>
          <td>

            <%= link_to '', edit_shopkeeper_product_sku_path(sku.product, sku), :class => 'tooltipster fa fa-pencil buttons buttons__add', :title => I18n.t('edit_product_detail.edit') %>

            <%= link_to '', shopkeeper_product_sku_clone_path(sku.product, sku), :class => 'tooltipster fa fa-clone buttons buttons__cancel', method: :patch, :title => I18n.t('edit_product_detail.clone') %>

            <%= link_to '', shopkeeper_product_sku_path(sku.product, sku), method: :delete, data: { confirm: "#{I18n.t('edit_product_detail.delete_sku_message')}" }, :class => 'tooltipster fa fa-times buttons buttons__delete', :title => I18n.t('edit_product_detail.remove') %>

          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<% else %>
<div class="+white-box +centered">
  <h4>
  <%= I18n.t('edit_product_detail.no_detail').html_safe %>
  </h4>
</div>
<% end %>
