<% if skus.size > 0 %>
  <table class="main-table">
    <thead>
      <tr>
        <th>
          <label>
            <%= I18n.t(:image, scope: :edit_product_detail) %>
          </label>
        </th>
        <th>
          <label>
            <i class="fa fa-info-circle" title="<%= I18n.t(:variants_info, scope: :edit_product_detail) %>"></i>
            <%= I18n.t(:sku_variants_options, scope: :edit_product_detail) %>
          </label>
        </th>
        <th>
          <label>
            <%= I18n.t(:price, scope: :edit_product_detail) %>
          </label>
        </th>
        <th>
          <label>
            <%= I18n.t(:discount, scope: :edit_product_detail) %>
          </label>
        </th>
        <th>
          <label>
            <%= I18n.t(:quantity, scope: :edit_product_detail) %>
          </label>
        </th>
        <th>
          <label>
            <%= I18n.t(:operations, scope: :edit_product) %>
          </label>
        </th>
      </tr>
    </thead>
    <tbody>
      <% skus.each do |sku| %>
        <tr>
          <td>
            <%= image_tag(sku.images&.first&.file&.url, :class => 'icon-img') %>
          </td>
          <td>
            <%= sku.display_option_names %>
          </td>
          <td>
            <% if sku.price %>
              <%= sku.price.in_euro.display %>
            <% end %>
          </td>
          <td>
            <%= sku.discount.to_s + '%' if sku.discount != 0 %>
          </td>
          <td>
            <%= sku.unlimited ? I18n.t(:info, scope: 'edit_product_detail.unlimited') : sku.quantity %>
          </td>
          <td>

            <%= link_to '', edit_shopkeeper_product_sku_path(sku.product, sku), :class => 'tooltipster fa fa-pencil buttons buttons__add', :title => I18n.t(:edit, scope: :edit_product_detail) %>

            <%= link_to '', shopkeeper_product_sku_clone_path(sku.product, sku), :class => 'tooltipster fa fa-clone buttons buttons__cancel', method: :patch, :title => I18n.t(:clone, scope: :edit_product_detail) %>

            <%= link_to '', shopkeeper_product_sku_path(sku.product, sku), method: :delete, data: { confirm: "#{I18n.t(:delete_sku_message, scope: :edit_product_detail)}" }, :class => 'tooltipster fa fa-times buttons buttons__delete', :title => I18n.t(:remove, scope: :edit_product_detail) %>

          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
<div class="+white-box +centered">
  <h4>
  <%= I18n.t(:no_detail, scope: :edit_product_detail).html_safe %>
  </h4>
</div>
<% end %>
