<div class="row">
  <div class="col-md-10">
    <h2><%= I18n.t('edit_product.skus') %></h2>
    <hr>
  </div>
  <div class="col-md-2 details__action">
    <a href="<%= new_shopkeeper_product_sku_path %>"><i class="fa fa-plus tooltipster" title="<%= I18n.t('edit_product_detail.new_sku') %>"></i></a>
  </div>
</div>

<%= render partial: "shopkeeper/products/skus/table", :locals => { :skus => @skus } %>

<%= will_paginate @skus, renderer: BootstrapPagination::Rails %>
