<%= translation_js(:non_selected_text, :multiselect) %>
<%= translation_js(:n_selected_text, :multiselect) %>
<%= translation_js(:max_exceeded_message, :image_upload) %>
<%= translation_js(:ext_error_message, :image_upload) %>

<%= form_for [:admin, shop], :data => {:toggle => 'validator'} do |form| %>

  <!-- Settings -->
  <div class="row details__block">
    <%= render partial: "admin/shops/form/settings", :locals => {:form => form} %>
  </div>

  <!-- Header (Images) -->
  <div class="row details__block">
    <%= render partial: "shopkeeper/shop/form/header", :locals => {:form => form} %>
  </div>

  <!-- About (Translatable version) -->
  <div class="row details__block">
    <%= render partial: "admin/shops/form/about", :locals => {:form => form} %>
  </div>

  <!-- Shop (Images) -->
  <div class="row details__block">
    <%= render partial: "shopkeeper/shop/form/shop_photos", :locals => {:form => form} %>
  </div>

  <!-- Certifications (Images) -->
  <div class="row details__block">
    <%= render partial: "shopkeeper/shop/form/certifications_photos", :locals => {:form => form} %>
  </div>

  <!-- Public Informations -->
  <div class="row details__block">
    <%= render partial: "shopkeeper/shop/form/public_informations", :locals => {:form => form} %>
  </div>

  <%= form.button I18n.t('edit_shop.save'), :class => 'btn btn-primary' %>
<% end %>

<!-- Everything below is not linked to the direct save of the shop -->
<div class="+small-spacer"></div>

<!-- Addresses -->
<div class="row details__block">
  <%= render partial: "admin/shops/form/addresses", :locals => { :addresses => shop.addresses } %>
</div>

<!-- Payment Gateways -->
<div class="row details__block">
  <%= render partial: "admin/shops/form/payment_gateways", :locals => { :payment_gateways => shop.payment_gateways } %>
</div>
