<div class="addresses__address">
  <div class="addresses__address-infos">

    <div class="row">
      <div class="col-xs-8">
        <div class="addresses__address-name"><%= address.lname %><%= address.fname %></div>
      </div>
      <div class="col-xs-4">
        <div class="addresses__address-remove">
          <% if action %>
          <a href="<%= customer_address_path(address) %>" data-method="delete"><i class="digpanda-remove"></i></a>
          <% end %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-8">
        <div class="addresses__address-details">
          <div class="addresses__address-street"><%= address.full_address %></div>
          <div class="addresses__address-country"> <%= address.decorate.readable_country %></div>
          <div class="addresses__address-phone"><%= address.mobile %></div>
        </div>
      </div>
      <div class="col-xs-4">
        <div class="addresses__address-use">
          <% if action %>
          <a href="<%= customer_checkout_path(delivery_destination_id: address.id) %>" data-method="post"><%= I18n.t('address.apply') %></a>
          <% end %>
        </div>
      </div>
    </div>

  </div>
</div>
