<div class="row">
  <div class="col-md-4 col-md-push-4 col-md-pull-4">

    <% if @addresses.size > 0 %>
      <h3><%= I18n.t(:choose_existing, scope: :address) %></h3>

      <%= form_tag customer_checkout_path, :class => 'dialog-form', :method => :post, :data => {:toggle => 'validator'} do %>

        <%= hidden_field_tag :shop_id, "#{@order.shop.id}" %>

        <% @addresses.each do |address| %>
          <%= radio_button_tag 'delivery_destination_id', address.id, checked = address.primary %>
          <%= label_tag "delivery_destination_id_#{address.id}", address.decorate.full_address %>
          <div class="clearfix"></div>
        <% end %>

        <div class="row">
          <div class="+small-spacer"></div>
          <button type="submit" class="btn-large +checkout-button"> <%= I18n.t(:checkout, scope: :checkout) %> <i class="fa fa-check-circle"></i></button>
          <div class="+small-spacer"></div>
        </div>

      <% end %>

      <a href="#" id="button-new-address">... <%= I18n.t(:create_new, scope: :address) %></a>

      <div id="new-address" class="+hidden">
        <%= form_for [:customer, @order, @address], :data => {:toggle => 'validator'} do |form| %>
        <%= render partial: "customer/addresses/form", :locals => { :address => @address, :form => form } %>
        <% end %>
      </div>

    <% else %>

      <%= form_for [:customer, @order, @address], :data => {:toggle => 'validator'} do |form| %>
      <%= render partial: "customer/addresses/form", :locals => { :address => @address, :form => form } %>
      <% end %>

    <% end %>

  </div>
</div>
