<div class="row">
  <div class="col-md-8 col-md-push-2">

    <!-- SUBHEADER (BACK BUTTON) -->
    <%= render partial: 'customer/orders/addresses/subheader' %>

    <div class="row addresses">
      <div class="col-xs-12">

        <% if @addresses.count > 0 %>
        <!-- Title -->
        <div class="addresses__title">
          请从以下地址中选择
        </div>

        <div class="row addresses__list">

          <!-- Address block -->
          <% @addresses.each do |address| %>
          <%= render partial: 'customer/orders/addresses/address', :locals => { :address => address } %>
          <% end %>

        </div>
        <% end %>

        <div class="row addresses__new">

          <div class="col-xs-12">

            <hr />
            
            <a href="#" id="button-new-address" class="big-button --green"><%= I18n.t(:create_new, scope: :address) %></a>

            <div id="new-address" class="+hidden">
              <%= form_for [:customer, @order, @address], :data => {:toggle => 'validator'} do |form| %>
              <%= render partial: "customer/addresses/form", :locals => { :address => @address, :form => form } %>
              <% end %>
            </div>

          </div>

        </div>
      </div>

    </div>

  </div>
</div>
