<%= render 'layouts/customer/subheader/checkout_breadcrumb' %>
<div class="row">
  <div class="col-md-6 col-md-push-3 col-md-pull-3">

    <% if @addresses.size > 0 %>
      <h3><%= I18n.t(:choose_existing, scope: :address) %></h3>

      <%= form_tag customer_checkout_path, :class => 'dialog-form', :method => :post, :data => {:toggle => 'validator'} do %>

        <%= hidden_field_tag :shop_id, "#{@order.shop.id}" %>

        <% @addresses.each do |address| %>
          <%= radio_button_tag 'delivery_destination_id', address.id, :checked => address.primary %>
          <%= label_tag "delivery_destination_id_#{address.id}", address.decorate.full_address, class: '+inline' %>
          <%= link_to '', customer_address_path(address), :method => :delete, data: { confirm: "确定删除邮寄地址？" },
                      :class => 'tooltipster fa fa-times buttons buttons__delete', :title => "Remove", :style => 'font-size:9px;'%>
          <div class="+small-spacer"></div>
        <% end %>

        <div class="row">
          <div class="+small-spacer"></div>
          <div style="float:left; margin: 0 10px 0 5px;">
            <a href="<%= customer_cart_path %>" class="btn-large +discount-button"> <%= I18n.t(:back) %></a>
          </div>
          <div>
            <button type="submit" id="checkout-button" class="big-button --blue"> <%= I18n.t(:checkout, scope: :checkout) %> <i class="fa fa-check-circle"></i></button>
          </div>
          <div class="+small-spacer"></div>
          <div style="float:left; margin: 0 10px 0 5px;">
            <a href="#" id="button-new-address" class="btn btn-primary"><%= I18n.t(:create_new, scope: :address) %></a>
          </div>

        </div>

      <% end %>



      <div id="new-address" class="+hidden">
        <%= form_for [:customer, @order, @address], :data => {:toggle => 'validator'} do |form| %>
        <%= render partial: "customer/addresses/form", :locals => { :address => @address, :form => form } %>
        <% end %>
      </div>

    <% else %>

      <%= form_for [:customer, @order, @address], :data => {:toggle => 'validator'} do |form| %>
      <%= render partial: "customer/addresses/form", :locals => { :address => @address, :form => form } %>
      <% end %>

    <% end %>
    <div class="+small-spacer"></div>
  </div>
</div>
