<div class="col-md-12 shop-page-footer" style="background-image:url(<%= shop.decorate.image_url(:banner, :detail) %>);">
  <div class="+overlay"></div>

  <div class="+onoverlay">

    <!-- Content -->
    <div class="shop-page-footer__content">

      <div class="row">

        <!-- TODO: refactor this -->
        <% if shop.philosophy && !shop.philosophy.empty? %>

          <div>
            <h3>Philosophy</h3>
            <%= shop.philosophy %>
          </div>

          <div class="+small-spacer"></div>

        <% end %>

        <% if shop.uniqueness && !shop.uniqueness.empty? %>

          <div>
            <h3>Uniqueness</h3>
            <%= shop.uniqueness %>
          </div>

          <div class="+small-spacer"></div>

        <% end %>

        <% if shop.german_essence && !shop.german_essence.empty? %>

          <div>
            <h3>German Design</h3>
            <%= shop.german_essence %>
          </div>

          <div class="+small-spacer"></div>

        <% end %>

        <div>
          <h3>Impressum</h3>
          <%= shop.name %> <br />
          <%= shop.decorate.manager_full_name %> <br />
          <%= shop.mail %> <br /> <br />
          <%= shop.billing_address.decorate.imprint_address.html_safe %> <br />
        </div>

      </div>

    </div>
    <!-- End of Content -->

  </div>

</div>