<% if current_user&.admin? %>
  <ul class="nav nav-pills">
    <% get_allowed_locales.each_with_index do |locale, i| %>
      <li class="<%=  i == 0 ? 'active' : ''  %>">
        <a data-toggle="tab" href="#<%= locale %>">
          <%= I18n.t(locale, scope: :locales) %>
        </a>
      </li>
    <% end %>
  </ul>
  <div class="tab-content">
    <% get_allowed_locales.each_with_index do |locale, i| %>
      <div class="<%=  i == 0 ? 'active' : ''  %> tab-pane fade in" id="<%= locale %>">
        <br/>
        <%= render 'shops/producer_form', locale: locale %>
      </div>
    <% end %>
  </div>
<% else %>
  <% get_allowed_locales.each_with_index do |locale, i| %>
    <%= render 'shops/producer_form', locale: locale %>
  <% end %>
<% end %>
