<% if @shops.size > 0 %>
  <table class="white-table">
    <thead>
      <th>
        <%= I18n.t(:email, scope: :edit_account) %>
      </th>
      <th>
        <%= I18n.t(:name, scope: :edit_shop) %>
      </th>
      <th>
        <%= I18n.t(:shopname, scope: :edit_shop) %>
      </th>
      <th>
        <%= I18n.t(:addresses, scope: :edit_shops) %>
      </th>
      <th>
        Merchant ID
      </th>
      <th>
        <%= I18n.t('agb.info', scope: :edit_shops) %>
      </th>
      <th>
        Wirecard
      </th>
      <th>
        <%= I18n.t(:products, scope: :edit_shops) %>
      </th>
      <th>
        <%= I18n.t(:operations, scope: :edit_shops) %>
      </th>
    </thead>
    <tbody>
      <% @shops.each do |s| %>
        <tr>
          <td>
            <%= s.shopkeeper.email %>
          </td>
          <td>
            <%= link_to s.name, edit_producer_shop_path(s) %>
          </td>
          <td>
            <%= link_to s.shopname ? s.shopname : (s.shopname_translations[I18n.default_locale] ? s.shopname_translations[I18n.default_locale] : I18n.t(:shopname_unknown, scope: :edit_shop)), edit_setting_shop_path(s) %>
          </td>
          <td>
            <%= link_to s.addresses.size, show_addresses_user_path(s.shopkeeper) %>
          </td>
          <td>
            <%= s.merchant_id %>
          </td>
          <td>
            <%= s.agb ? I18n.t(s.agb.to_s, scope: 'edit_shops.agb') : '' %>
          </td>
          <td>
          <!-- Should be refactored -->
          <% if s.wirecard_status == :unactive %>
              Not applied
            <% elsif s.wirecard_status == :active %>
              Active
            <% elsif s.wirecard_status == :processing %>
              Processing
            <% elsif s.wirecard_status == :documents_complete %>
             Documents complete
            <% elsif s.wirecard_status == :declined %>
              Disapproved
            <% elsif s.wirecard_status == :terminated %>
              Terminated
            <% end %>
          </td>
          <td>
            <%= link_to I18n.t(:products_info, scope: :edit_shops, num: s.products.size), show_products_shop_path(s) %>
          </td>
          <td>
            <% if s.approved.nil? %>
              <%= link_to '', shop_approve_path(s), :method => :patch, :class => 'fa fa-check-circle fa-2x', :title => "Approve" %>
            <% else %>
              <%= link_to '', shop_disapprove_path(s), :method => :patch, :class => 'fa fa-minus-circle fa-2x', :title => "Disapprove" %>
            <% end %>

            <% if s.products.count == 0 %>
              <%= link_to '', shop_path(s), :method => :delete, data: { confirm: I18n.t(:delete_shop_message, scope: :edit_shops) }, :class => 'fa fa-times-circle fa-2x', :title => I18n.t(:remove, scope: :edit_shops) %>
            <% end %>

          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="+white-box +centered">
    <h4>
    <%= I18n.t(:no_applications, scope: :edit_shop_application) %>
   </h4>
 </div>
<% end %>
