%a.btn.btn-primary{ :class => "#{for_device_type :desktop do 'btn-lg' end}",  :href => new_shop_product_path(@shop, :user_info_edit_part => :edit_product_new) }
  %i.fa.fa-plus-circle
  = I18n.t(:new, scope: :edit_product)

%br
%br

- if @shop.products.size > 0
  %table.table.cart-table
    %thead
      %tr
        %th
          %label= I18n.t(:image, scope: :edit_product_detail)
        %th
          %label= I18n.t(:name, scope: :edit_product)
        %th
          %label= I18n.t(:brand, scope: :edit_product)
        -#%th{ :title => I18n.t(:categories_info, scope: :edit_product) }
        -#  %i.fa.fa-info-circle{ :title => I18n.t(:categories_info, scope: :edit_product) }
        -#  %label= I18n.t(:categories, scope: :edit_product)
        %th
          %label= I18n.t(:quantity, scope: :edit_product_detail)
        %th
          %label= I18n.t(:operations, scope: :edit_product)
    %tbody
      - @shop.products.each do |p|
        %tr
          %td= image_tag(get_uploaded_thumbnail_url(p.skus.size > 0 ? p.skus.first.img0 : nil), :style => 'max-width:48px;max-height:auto')
          %td= link_to p.name ? p.name : p.name_translations[I18n.default_locale], edit_product_path(p.id, :user_info_edit_part => :edit_product_update)
          %td= p.brand ? p.brand : p.brand_translations[I18n.default_locale]
          %td= link_to I18n.t(:quantity_info, scope: :edit_product, num1: p.skus.inject(0) { |sum, s| sum += s.quantity }, num2: p.options.size), show_skus_product_path(p.id, :user_info_edit_part => :edit_product_detail)
          %td{:align => "left"}
            = link_to '', product_path(p), :method => :delete, data: { confirm: I18n.t(:delete_product_message, scope: :edit_product) }, :class => 'fa fa-times-circle fa-2x', :title => I18n.t(:remove, scope: :edit_product)
- else
  %h4= I18n.t(:no_product, scope: :edit_product)