<div class="+spacer"></div>

<div class="col-md-8 col-md-push-2 col-md-pull-2">

  <!-- Shop Blocks -->
  <div class="shop-page">

    <div class="row">

      <!-- Shop Page Cover -->
      <div class="col-md-12 shop-page-cover" style="background-image:url(https://pixabay.com/static/uploads/photo/2015/12/08/00/26/coffee-shop-1081713_960_720.jpg);">
        <div class="+overlay"></div>

        <div class="+onoverlay">

          <!-- Content -->
          <div class="shop-page-cover__content +centered">

            <img src="https://www.menashion.de/wp-content/uploads/2015/06/Cardi-Bob-2015sw-300x300.jpg">

            <div class="+small-spacer"></div>

            <h2><%= @shop.shopname %></h2>
            <div class="shop-page-cover__author">by <%= @shop.shopkeeper.decorate.full_name %></div>

            <div class="+small-spacer"></div>
            <%= @shop.philosophy %>

            <div class="+small-spacer"></div>

          </div>
          <!-- End of Content -->

        </div>

      </div>
      <!-- End of Shop Page Cover -->

    </div>

    <div class="row +nomargin">

      <% if @shop.products.buyable.count > 0 %>

      <div class="+spacer"></div>
      <%= render partial: "products/products_list", :locals => { :products => @shop.products } %>

      <% else %>

      <!-- We should improve this and all the "no result" texts -->
      <div class="message">
        <div class="message__simple">
          <%= I18n.t(:no_product, scope: :search) %>
        </div>
      </div>

      <% end %>

    </div>

    <div class="+spacer"></div>

  </div>
  <!-- End of Shop Blocks -->

</div>