<div class="+spacer"></div>

<div class="col-md-8 col-md-push-2 col-md-pull-2">

  <!-- Shop Blocks -->
  <div class="shop-page">

    <div class="row">

      <!-- Shop Page Cover -->
      <div class="col-md-12 shop-page-cover" style="background-image:url(<%= @shop.decorate.image_url(:detail, :banner) %>);">
        <div class="+overlay"></div>

        <div class="+onoverlay">

          <!-- Content -->
          <div class="shop-page-cover__content +centered">

            <img src="<%= @shop.decorate.image_url(:detail, :logo) %>">

            <div class="+small-spacer"></div>

            <h2><%= @shop.shopname %></h2>
            <div class="shop-page-cover__author">by <%= @shop.shopkeeper.decorate.full_name %></div>

            <div class="+small-spacer"></div>
            <%= @shop.philosophy %>

            <div class="+small-spacer"></div>

          </div>
          <!-- End of Content -->

        </div>

      </div>
      <!-- End of Shop Page Cover -->

    </div>

    <div class="row +nomargin">

      <div class="+spacer"></div>

      <% if @shop.products.buyable.count > 0 %>

      <%= render partial: "products/products_list", :locals => { :products => @shop.products.buyable } %>

      <% else %>

      <div class="+white-box +centered">
        <h4>
         <%= I18n.t(:no_products, scope: :cart) %>
       </h4>
     </div>

      <% end %>

    </div>

    <div class="+spacer"></div>

  </div>
  <!-- End of Shop Blocks -->

</div>