<!-- Form used in different sides of the dashboard for update / create -->
<div class="row">
  <div class="col-md-8 +nopadding">
    <h3>Banner</h3>
    <hr>
  </div>
  <div class="col-md-4 +right">
    <hr>
  </div>
</div>

<%= form.fields_for :banner do |fields| %>
<div class="row details__transparent-block">

  <%= fields.hidden_field :location, :value => location %>
  <!-- Cover -->
  <div class="row">
    <div class="col-md-2">
      <%= fields.label :cover, "Cover" %>
    </div>
    <div class="col-md-10 fields-group">
      <!-- NOTE : if there's a problem with this field (like form.object.cover not existing)
      please change the assoc to the object directly, it might be because the two original models were with cover and i mixed it up. -->
      <%= js_image_file_upload(form: fields, assoc: (form.object.banner || form.object.build_banner), field: :cover) %>
    </div>
  </div>

  <!-- Link -->
  <div class="row">
    <div class="col-md-2">
      <label>
        Link
      </label>
    </div>

      <div class="col-md-10 fields-group">
        <%= fields.text_field :link, :class => 'fields-control', :required => true %>
        <div class="help-block with-errors"></div>
      </div>
  </div>


  <!-- Active -->
  <div class="row">
    <div class="col-md-2">
      <label>
        Active
      </label>
    </div>

      <div class="col-md-10 fields-group">
        <%= fields.select :active, boolean_select %>
        <div class="help-block with-errors"></div>
      </div>
  </div>

</div>
<% end %>
