<!-- Warnings -->
<%= render partial: "guest/products/sku_warnings", :locals => { :sku => sku } %>

<div class="+small-spacer"></div>

<!-- < form_tag guest_order_items_path, :method => :post do > -->

    <%= hidden_field_tag 'sku[product_id]', "#{sku.product.id}" %>

    <% if sku %>

        <%= render partial: "guest/products/show/actions/select/sku", :locals => {product: sku.product} %>
        <%= render partial: "guest/products/show/actions/select/quantity", :locals => {product: sku.product} %>
        <button type="button" id="js-add-to-cart" class="main-button__solid --full" <%= enough_inventory?(sku.product.decorate.featured_sku, 1) ? '' : 'disabled' %> >
          <%= I18n.t(:add_to_cart, scope: :popular_products) %>
        </button>

    <% else %>

        <button type="submit" class="main-button__solid --full disabled">
          <%= I18n.t(:not_available, scope: :popular_products) %>
        </button>

    <% end %>

    <div class="+small-spacer"></div>

    <%= render partial: "guest/products/show/actions/select/like", :locals => {product: sku.product} %>



<!-- < end > -->
