<div class="col-md-12">
  <div class="row">
    <h3><%= I18n.t('edit_shop.agb') %></h3>
    <hr>
  </div>
  <div class="row">
    <div class="col-md-2">
      <!-- the `form.object` represents the `shop` model -->
      <% if form.object.agb %>
        <%= form.label :agb, :class => 'switch' do %>
          <%= form.check_box :agb, {:disabled => true} %>
          <div class="switch__slider"></div>
        <% end %>
      <% else %>
        <%= form.label :agb, :class => 'switch' do %>
          <%= form.check_box :agb, {:required => true} %>
          <div class="switch__slider"></div>
        <% end %>
      <% end %>

      </div>
    <div class="col-md-10">
      <%= I18n.t('edit_shop.agb_statement').html_safe %>
    </div>
  </div>

</div>
