<div class="col-md-12">

  <div class="row">
    <div class="col-md-8 +nopadding">
      <h3><%= I18n.t(:shopkeeper_info, scope: :edit_shop_application) %></h3>
      <hr>
    </div>
    <div class="col-md-4 +right">
      <span class="+red">*</span> <%= I18n.t(:required_field_info, scope: :edit_shop) %>
      <hr>
    </div>
  </div>

  <!-- Merchant ID -->
  <div class="row form-group">
    <div class="col-md-4">
      <label>
        <%= I18n.t(:merchant_id, scope: :edit_shop) %>
      </label>
    </div>
    <div class="col-md-8">
      <%= form.text_field :merchant_id, :value => @shop.merchant_id, :class => 'form-control', :disabled => true %>
    </div>
  </div>

  <!-- Legal Company Name -->
  <div class="row form-group">
    <div class="col-md-4">
      <label>
        <%= I18n.t('edit_shop.name') %> <span class="+red">*</span>
      </label>
    </div>
    <div class="col-md-8">
      <%= form.text_field :name, :class => 'form-control', :required => true, :maxLength => Rails.configuration.gitb[:max_short_text_length], :placeholder => I18n.t(:company_name_placeholder, scope: :edit_shop) %>
      <div class="help-block with-errors"></div>
    </div>
  </div>

  <!-- Founding Year -->
  <div class="row form-group">
    <div class="col-md-4">
      <label>
        <%= I18n.t(:founding_year_info, scope: :edit_shop) %> <span class="+red">*</span>
      </label>
    </div>
    <div class="col-md-8">
      <%= form.text_field :founding_year, :class => 'form-control', :required => true, :pattern => '^(18|19|20)\d{2}$', :maxLength => 4, :placeholder => '2016' %>
      <div class="help-block with-errors"></div>
    </div>
  </div>

  <!-- Tax Number -->
  <div class="row form-group">
    <div class="col-md-4">
      <label>
        <%= I18n.t(:tax_number, scope: :edit_shop) %>
      </label>
    </div>
    <div class="col-md-8">
      <%= form.text_field :tax_number, :class => 'form-control', :placeholder => 'z.B. 9181081508155', :maxLength => Rails.configuration.gitb[:max_tiny_text_length] %>
      <div class="help-block with-errors"></div>
    </div>
  </div>

  <!-- Registration -->
  <div class="row form-group">
    <div class="col-md-4">
      <label>
        <%= I18n.t(:register, scope: :edit_shop) %>
      </label>
    </div>
    <div class="col-md-8">
      <%= form.text_field :register, :class => 'form-control', :maxLength => Rails.configuration.gitb[:max_tiny_text_length], :placeholder => 'HRB 123456' %>
      <div class="help-block with-errors"></div>
    </div>
  </div>

  <!-- Ust ID -->
  <div class="row form-group">
    <div class="col-md-4">
      <label>
        Ust ID <span class="+red">*</span>
        <%= js_tips(:id => :ust_id, :tip => I18n.t(:ust_id_info, scope: :edit_shop)) %>
      </label>
    </div>
    <div class="col-md-8">
      <%= form.text_field :ustid, :class => 'form-control', :placeholder => 'z.B. DE123456789', :required => true, :maxLength => Rails.configuration.gitb[:max_tiny_text_length], :pattern => '^DE[0-9]{9,9}$' %>
      <div class="help-block with-errors"></div>
    </div>
  </div>

  <!-- EROI Number -->
  <div class="row form-group">
    <div class="col-md-4">
      <label>
        <%= I18n.t(:eroi, scope: :edit_shop) %>
        <%= js_tips(:id => :eroi_number, :tip =>  I18n.t(:eroi_number_info, scope: :edit_shop)) %>
      </label>
    </div>
    <div class="col-md-8">
      <%= form.text_field :eroi, :value => @shop.eroi ? @shop.eroi : nil, :class => 'form-control', :placeholder => 'z.B. DE123456789', :maxLength => Rails.configuration.gitb[:max_tiny_text_length] %>
      <div class="help-block with-errors"></div>
    </div>
  </div>


</div>
