<ul>
  <li>
    <%= "#{I18n.t(:name, scope: :edit_address)} : #{ a.lname }#{ a.fname }" %>
  </li>
  <li>
    <%= "#{I18n.t(:pid, scope: :edit_address)} : #{ a.pid }" %>
  </li>
  <li>
    <%= "#{I18n.t(:mobile, scope: :edit_address)} : #{ a.mobile }" %>
  </li>
  <li>
    <%= "#{I18n.t(:street, scope: :edit_address)} : #{ a.street } #{ a.number }" %>
  </li>
  <li>
    <%= "#{I18n.t(:additional, scope: :edit_address)} : #{ a.additional }" %>
  </li>
  <li>
    <%= "#{I18n.t(:district, scope: :edit_address)} : #{ a.district }" %>
  </li>
  <li>
    <%= "#{I18n.t(:city, scope: :edit_address)} : #{ a.city }" %>
  </li>
  <li>
    <%= "#{I18n.t(:province, scope: :edit_address)} : #{ a.province }" %>
  </li>
  <li>
    <%= "#{I18n.t(:country, scope: :edit_address)} : #{ a.decorate.country_local_name }" %>
  </li>
  <li>
    <%= "#{I18n.t(:zip, scope: :edit_address)} : #{ a.zip }" %>
  </li>
</ul>
