<%= form_for [:shopkeeper, shop], :data => {:toggle => 'validator'} do |form| %>

  <!-- Header (Images) -->
  <div class="row details__block">
    <%= render partial: "shopkeeper/shop/form/header", :locals => {:form => form} %>
  </div>

  <!-- About -->
  <div class="row details__block">
    <%= render partial: "shopkeeper/shop/form/about", :locals => {:form => form} %>
  </div>

  <!-- Shop (Images) -->
  <div class="row details__block">
    <%= render partial: "shopkeeper/shop/form/shop_photos", :locals => {:form => form} %>
  </div>

  <!-- Certifications (Images) -->
  <div class="row details__block">
    <%= render partial: "shopkeeper/shop/form/certifications_photos", :locals => {:form => form} %>
  </div>

  <!-- Public Informations -->
  <div class="row details__block">
    <%= render partial: "shopkeeper/shop/form/public_informations", :locals => {:form => form} %>
  </div>

  <%= form.button I18n.t('edit_shop.save'), :class => 'btn btn-primary' %>
<% end %>
