- if @shops.count > 0
  %table.table.cart-table
    %thead
      %th= I18n.t(:email, scope: :edit_account)
      %th= I18n.t(:name, scope: :edit_shop)
      %th= I18n.t(:shopname, scope: :edit_shop)
      %th= I18n.t(:operations, scope: :edit_shops)
    %tbody
      - @shops.each do |s|
        %tr
          %td= link_to s.shopkeeper.email, edit_user_path(s.shopkeeper, :user_info_edit_part => :edit_shop, :shop_id => s.id)
          %td= s.name
          %td= s.shopname
          %td= link_to I18n.t(:reset_password, scope: :edit_shops), edit_user_path(s.shopkeeper, :user_info_edit_part => :edit_password_by_admin, :user_id => s.shopkeeper.id)
- else
  %h4= I18n.t(:no_applications, scope: :shop_application)