<div class="row">
  <div class="col-md-8 col-md-push-2 col-md-pull-2 +centered +white-box">
    <h2><%= I18n.t(:choose_your_payment_method, scope: :checkout) %></h2>

    <div class="+small-spacer"></div>

    <%= form_tag gateway_customer_checkout_path, :class => 'dialog-form', :method => :post, :data => {:toggle => 'validator'} do %>

    <%= hidden_field_tag :order_id, @order.id %>

    <div class="row" id="payment_method_area">

      <% if @shop.accepted_payment_methods.include? :creditcard %>

        <div class="col-md-4">
          <button type="submit" formtarget="_blank" name="payment_method" value="creditcard" class="btn btn-default">
            <img src="/images/logos/raw-visa-logo.png" width="200px"><br />
          </button>
        </div>

        <div class="col-md-4">
          <button type="submit" formtarget="_blank" name="payment_method" value="creditcard" class="btn btn-default">
            <img src="/images/logos/raw-mastercard-logo.png" width="200px"><br />
          </button>
        </div>

      <% end %>

      <% if @shop.accepted_payment_methods.include? :upop %>

        <div class="col-md-4">
          <button type="submit" formtarget="_blank" name="payment_method" value="upop" class="btn btn-default">
            <img src="/images/logos/raw-chinaunionpay-logo.png" width="200px">
          </button>
        </div>

      <% end %>

    </div>

    <% end %>

    <div class="row hidden" id="after_payment_method_area">

      <div class="col-md-8 col-md-push-2 col-md-pull-2">
        <h2>
          <%= I18n.t(:have_your_payment_been_successful, scope: :checkout) %>
        </h2>
        <div class="+spacer"></div>
        <a href="<%= payment_method_customer_checkout_path %>" class="btn-lg btn-success"><%= I18n.t(:refresh_page_button, scope: :checkout) %></a>
        <div class="+spacer"></div>
      </div>

    </div>
  </div>
</div>

<div class="row">
  <div class="+spacer"></div>
</div>
