<%= form_for [:admin, @setting], :data => {:toggle => 'validator'} do |form| %>

<div class="form-group">

  <!-- PACKAGE SET BANNER -->
  <div class="form-group">
    <%= form.label :package_sets_cover, "Package sets cover" %>
    <%= js_file_upload(form: form, field: :package_sets_cover) %>
  </div>

  <div class="clearfix"></div>

  <!-- LANDING PAGE BANNER -->
  <div class="form-group">
    <%= form.label :landing_page_cover, "Landing page cover" %>
    <%= js_file_upload(form: form, field: :landing_page_cover) %>
  </div>

  <div class="clearfix"></div>

  <%= form.button "Update package set", :type => 'submit', :class => 'btn btn-primary', name: :user_info_edit_part, value: :edit_settings %>
<% end %>
