<% if @orders.size > 0 %>
<div class="main-table">
  <table>
    <thead>
      <tr>
        <th>
          <%= I18n.t('edit_order.id') %>
        </th>
        <th>
          Delivery Address Name
        </th>
        <th>
          <%= I18n.t('edit_order.status') %>
        </th>
        <td>
          Total Paid
        </th>
        <th>
          <%= I18n.t('edit_order.total_price') %>
        </th>
        <th>
          Files
        </th>
        <th>
          <%= I18n.t('edit_order.updated_at') %>
        </th>
        <th>
          Action
        </th>
      </tr>
    </thead>
    <tbody>
      <% @orders.each do |order| %>
        <tr>
          <td>
            <% if false # order.decorate.total_price_with_extra_costs > 0 %>
              <%= link_to order.id, shopkeeper_order_path(order) %>
            <% else %>
              <%= order.id %>
            <% end %>
          </td>
          <td>
            <% unless order.shipping_address.nil? %>
            <%= order.shipping_address.decorate.full_name %>
            <% end %>
          </td>
          <td>
            <%= I18n.t("edit_order.#{order.status}") %>
          </td>
          <td>
            <%= order.total_paid_in_yuan %>
          </td>
          <td>
            <%= order.decorate.end_price.in_euro.to_yuan(exchange_rate: order.exchange_rate).display %> (<%= order.decorate.end_price.in_euro.display %>)
          </td>
          <td>
            <%= render partial: "shared/orders/partials/files_buttons", locals: { :order => order } %>
          </td>
          <td>
            <%= order.u_at.localtime.strftime('%Y-%m-%d %H:%M:%S') %>
          </td>
          <td>

          <!-- The order has been paid and shopkeeper can start the process -->
          <% if order.status == :paid  %>

            <% if order.processable? %>

              <%= link_to I18n.t('button.start_process_shipment'), shopkeeper_order_process_order_path(order), method: :patch, data: { confirm: I18n.t('notice.confirm_start_processing') } %> |
              <%= link_to I18n.t('notice.package_was_sent'), shopkeeper_order_shipped_path(order), method: :patch %>

            <% else %>
              <%= I18n.t('message.order_not_processable') %>
            <% end %>

          <% elsif order.status == :custom_checking %>

            <%= link_to I18n.t('notice.package_was_sent'), shopkeeper_order_shipped_path(order), method: :patch %>

          <% end %>

          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
  <%= will_paginate @orders, renderer: BootstrapPagination::Rails %>
<% else %>
<div class="+white-box +centered">
  <h4>
    <%= I18n.t('edit_order.no_order') %>
  </h4>
</div>
<% end %>
