<div class="+overflow">
<% if @orders.size > 0 %>
  <table class="main-table">
    <thead>
      <tr>
        <th>
          <%= I18n.t(:id, scope: :edit_order) %>
        </th>
        <th>
          Delivery Address Name
        </th>
        <th>
          <%= I18n.t(:status, scope: :edit_order) %>
        </th>
        <td>
          Total Paid
        </th>
        <th>
          <%= I18n.t(:total_price, scope: :edit_order) %>
        </th>
        <th>
          Files
        </th>
        <th>
          Sending date
        </th>
        <th>
          <%= I18n.t(:updated_at, scope: :edit_order) %>
        </th>
        <th>
          Action
        </th>
      </tr>
    </thead>
    <tbody>
      <% @orders.each do |order| %>
        <tr>
          <td>
            <% if false # order.decorate.total_price_with_extra_costs > 0 %>
              <%= link_to order.id, shopkeeper_order_path(order) %>
            <% else %>
              <%= order.id %>
            <% end %>
          </td>
          <td>
            <% unless order.shipping_address.nil? %>
            <%= order.shipping_address.decorate.chinese_full_name %>
            <% end %>
          </td>
          <td>
            <%= I18n.t(order.status, scope: :edit_order) %>
          </td>
          <td>
            <%= order.total_paid_in_yuan %>
          </td>
          <td>
            <%= order.decorate.end_price.in_euro.to_yuan.display %> (<%= order.decorate.end_price.in_euro.display %>)
          </td>
          <td>
            <%= render partial: "shared/orders/partials/files_buttons", locals: { :order => order } %>
          </td>
          <th>
          <% unless order.minimum_sending_date.nil? %>
            <% if Time.now.utc > order.minimum_sending_date %>

              <span class="+blue">
              <%= order.minimum_sending_date.strftime('%Y-%m-%d %H:%M:%S').in_time_zone("Berlin") %>
              </span>

            <% else %>

              <span class="+red">
              <%= order.minimum_sending_date.strftime('%Y-%m-%d %H:%M:%S').in_time_zone("Berlin") %>
              </span>

            <% end %>
          <% end %>
          </th>
          <td>
            <%= order.u_at.localtime.strftime('%Y-%m-%d %H:%M:%S').in_time_zone %>
          </td>
          <td>

          <!-- The order has been paid and shopkeeper can start the process -->
          <% if order.status == :paid  %>

            <% if order.processable? %>

              <%= link_to I18n.t(:start_process_shipment, scope: :button), shopkeeper_order_process_order_path(order), method: :patch, data: { confirm: I18n.t(:confirm_start_processing, scope: :notice) } %> |
              <%= link_to I18n.t(:package_was_sent, scope: :notice), shopkeeper_order_shipped_path(order), method: :patch %>

            <% else %>
              <%= I18n.t(:order_not_processable, scope: :message) %>
            <% end %>

          <% elsif order.status == :custom_checking %>

            <%= link_to I18n.t(:package_was_sent, scope: :notice), shopkeeper_order_shipped_path(order), method: :patch %>

          <% end %>

          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= will_paginate @orders, renderer: BootstrapPagination::Rails %>
<% else %>
<div class="+white-box +centered">
  <h4>
    <%= I18n.t(:no_order, scope: :edit_order) %>
  </h4>
</div>
<% end %>
</div>
