<!-- We keep it with the row for sticking to the full width -->
<div id="order-item-<%= order_item.id %>" class="row cart__order-item">

  <div class="col-xs-3">
    <!-- Image -->
    <div class="cart__order-item-image">
      <img src="<%= order_item.sku.decorate.highlighted_image %>">
    </div>
  </div>

  <div class="col-xs-8">
    <div class="row">

      <div class="col-xs-11">

        <!-- Title -->
        <div class="cart__order-item-title">
          <a href="<%= guest_product_path(order_item.product) %>">
            <%= order_item.product.name %>
          </a>
        </div>

        <!-- Description -->
        <div class="cart__order-item-description">
          <%= order_item.sku.option_names.join(' - ') %>
        </div>

      </div>

      <div class="col-xs-1 +nopadding">
        <!-- Remove Item -->
        <% if action %>
          <div class="cart__order-item-remove">
            <a href="#" class="delete-order-item" data-order-item-id="<%= order_item.id %>" data-order-id="<%= order_item.order.id %>" data-order-shop-id="<%= order_item.order.shop.id %>">
              <i class="digpanda-remove"></i>
            </a>
          </div>
        <% end %>
      </div>

    </div>
    <div class="row">
      <div class="col-xs-12">
        <hr />
      </div>
    </div>
    <div class="row">

      <div class="col-xs-6 +nopadding-right">
        <!-- Quantity -->
        <div class="cart__order-item-quantity">
          <%= I18n.t('cart.quantity') %>
          <div class="cart__order-item-quantity-select">

            <!-- Minus -->
            <% if action %>
              <span class="cart__order-item-quantity-select-minus">
                <a href="#" class="js-set-quantity-minus" data-order-item-id="<%= order_item.id.to_s %>" data-order-shop-id="<%= order_item.order.shop.id %>">-</a>
              </span>
            <% end %>

            <!-- Value -->
            <span class="cart__order-item-quantity-select-value" id="order-item-quantity-<%= order_item.id %>" data-order-item-id="<%= order_item.id %>">
              <%= order_item.quantity %>
            </span>

            <!-- Plus -->
            <% if action %>
              <span class="cart__order-item-quantity-select-plus">
                <a href="#" class="js-set-quantity-plus" data-order-item-id="<%= order_item.id.to_s %>" data-order-shop-id="<%= order_item.order.shop.id %>">+</a>
              </span>
            <% end %>

          </div>
        </div>
      </div>

      <div class="col-xs-6">
        <!-- Total -->
        <div class="cart__order-item-total">
          <%= I18n.t('cart.subtotal') %>
          <div class="cart__order-item-total-digits">
            <span id="order-item-total-<%= order_item.id %>" data-origin="<%= order_item.total_price.in_euro.to_yuan(exchange_rate: order_item.order.exchange_rate).display %>">
              <%= order_item.total_price_with_taxes.in_euro.to_yuan(exchange_rate: order_item.order.exchange_rate).display %>
            </span>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
