<div class="col-md-8 col-md-push-2 col-md-pull-2 category-blocks">

  <div class="row">
    <a href="<%= bug_report_guest_feedback_path %>">
      <div class="col-md-6 feedback-blocks__block">
        <div class="feedback-blocks__block --general +centered">
          <h2><%= I18n.t(:bug_report, scope: :feedback) %></h2>
        </div>
      </div>
    </a>

    <a href="<%= payment_speed_report_guest_feedback_path %>">
      <div class="col-md-6 feedback-blocks__block">
        <div class="feedback-blocks__block --general +centered">
          <h2><%= I18n.t(:payment_speed_report, scope: :feedback) %></h2>
        </div>
      </div>
    </a>
  </div>

  <div class="row">
    <a href="<%= overall_rate_guest_feedback_path %>">
      <div class="col-md-6 feedback-blocks__block">
        <div class="feedback-blocks__block --general +centered">
          <h2><%= I18n.t(:overall_rate, scope: :feedback) %></h2>
        </div>
      </div>
    </a>

    <a href="<%= product_suggestions_guest_feedback_path %>">
      <div class="col-md-6 feedback-blocks__block">
        <div class="feedback-blocks__block --general +centered">
          <h2><%= I18n.t(:product_suggestions, scope: :feedback) %></h2>
        </div>
      </div>
    </a>
  </div>

</div>
