<div class="row">
  <div class="+spacer"></div>
  <div class="col-md-8 col-md-offset-2">
    <%= form_for @shop_application, url: guest_shop_applications_path, html: {:data => {:toggle => 'validator'}}, method: :post do |f| %>
    <div class="panel-group">
      <div class="+white-box panel panel-info">
        <div class="panel-body">

          <h3>
            <%= I18n.t('edit_shop_application.shopkeeper_info') %>
          </h3>

          <div class="form-group">
            <div class="pull-right required-info">
              <strong>
                <%= I18n.t('edit_shop.required_field_info').html_safe %>
              </strong>
            </div>
            <br>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-md-3" title="<%= I18n.t('edit_shop_application.email_info') %>">
                <i class="fa fa-info-circle" title="<%= I18n.t('edit_shop_application.email_info') %>"></i>
                <label class="required">
                  <%= I18n.t('edit_shop_application.email') %>
                </label>
              </div>
              <div class="col-md-9">
                <%= f.email_field :email, :class => 'form-control', :required => true, 'data-remote' => "#{api_guest_users_unknown_by_email_path}", 'data-remote-error': I18n.t('edit_shop_application.duplicated_email'), :maxLength => Rails.configuration.gitb[:max_tiny_text_length], :placeholder => 'example@google.com' %>
                <div class="help-block with-errors"></div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-md-3">
                <label class="required">
                  <%= I18n.t('edit_shop.name') %>
                </label>
              </div>
              <div class="col-md-9">
                <%= f.text_field :name, :class => 'form-control', :required => true, :maxLength => Rails.configuration.gitb[:max_tiny_text_length], :placeholder => I18n.t('edit_shop.company_name_placeholder') %>
                <div class="help-block with-errors"></div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-md-3" title="<%= I18n.t('edit_shop.founding_year_info') %>">
                <i class="fa fa-info-circle" title="<%= I18n.t('edit_shop.founding_year_info') %>"></i>
                <label class="required">
                  <%= I18n.t(:founding_year') %>
                </label>
              </div>
              <div class="col-md-9">
                <%= f.text_field :founding_year, :class => 'form-control', :required => true, :maxLength => 4, :placeholder => '2016' %>
                <div class="help-block with-errors"></div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-md-3">
                <label>
                  <%= I18n.t(:register') %>
                </label>
              </div>
              <div class="col-md-9">
                <%= f.text_field :register, :class => 'form-control', :maxLength => Rails.configuration.gitb[:max_tiny_text_length], :placeholder => 'HRB 999999' %>
                <div class="help-block with-errors"></div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-md-3" title="<%= I18n.t('edit_shop.desc_info', num: Rails.configuration.gitb[:max_medium_text_length]) %>">
                <i class="fa fa-info-circle" title="<%= I18n.t('edit_shop.desc_info', num: Rails.configuration.gitb[:max_medium_text_length]) %>"></i>
                <label class="required">
                  <%= I18n.t('edit_shop.desc') %>
                </label>
              </div>
              <div class="col-md-9">
                <%= f.text_area :desc, :class => 'form-control', rows: 4, :required => true, :maxLength => Rails.configuration.gitb[:max_medium_text_length] %>
                <div class="help-block with-errors"></div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-md-3" title="<%= I18n.t('edit_shop.philosophy_info', num: Rails.configuration.gitb[:max_long_text_length]) %>">
                <i class="fa fa-info-circle" title="<%= I18n.t('edit_shop.philosophy_info', num: Rails.configuration.gitb[:max_long_text_length]) %>"></i>
                <label class="required">
                  <%= I18n.t('edit_shop.philosophy') %>
                </label>
              </div>
              <div class="col-md-9">
                <%= f.text_area :philosophy, :class => 'form-control', rows: 4, :required => true, :maxLength => Rails.configuration.gitb[:max_long_text_length] %>
                <div class="help-block with-errors"></div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-md-3" title="<%= I18n.t('edit_shop.stories_info', num: Rails.configuration.gitb[:max_long_text_length]) %>">
                <i class="fa fa-info-circle" title="<%= I18n.t('edit_shop.stories_info', num: Rails.configuration.gitb[:max_long_text_length]) %>"></i>
                <label>
                  <%= I18n.t('edit_shop.stories') %>
                </label>
              </div>
              <div class="col-md-9">
                <%= f.text_area :stories, :class => 'form-control', rows: 4, :maxLength => Rails.configuration.gitb[:max_long_text_length] %>
                <div class="help-block with-errors"></div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-md-3" title="<%= I18n.t('edit_shop.uniqueness_info', num: Rails.configuration.gitb[:max_medium_text_length]) %>">
                <i class="fa fa-info-circle" title="<%= I18n.t('edit_shop.uniqueness_info', num: Rails.configuration.gitb[:max_medium_text_length]) %>"></i>
                <label>
                  <%= I18n.t('edit_shop.uniqueness') %>
                </label>
              </div>
              <div class="col-md-9">
                <%= f.text_area :uniqueness, :class => 'form-control', rows: 4, :maxLength => Rails.configuration.gitb[:max_medium_text_length] %>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-md-3" title="<%= I18n.t('edit_shop.german_essence_info', num: Rails.configuration.gitb[:max_medium_text_length]) %>">
                <i class="fa fa-info-circle" title="<%= I18n.t('edit_shop.german_essence_info', num: Rails.configuration.gitb[:max_medium_text_length]) %>"></i>
                <label>
                  <%= I18n.t('edit_shop.german_essence') %>
                </label>
              </div>
              <div class="col-md-9">
                <%= f.text_area :german_essence, :class => 'form-control', rows: 4, :maxLength => Rails.configuration.gitb[:max_medium_text_length] %>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-md-3">
                <label>
                  <%= I18n.t('edit_shop.website') %>
                </label>
              </div>
              <div class="col-md-9">
                <%= f.text_field :website, :class => 'form-control', :maxLength => Rails.configuration.gitb[:max_short_text_length], :placeholder => 'www.mydomain.com' %>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="+spacer"></div>

        <div class="+white-box panel panel-info">
          <div class="panel-body">
            <h3>
              <%= I18n.t(:contact_person_info, scope: :edit_shop_application) %>
            </h3>
            <div class="form-group">
              <div class="pull-right required-info">
                <strong>
                  <%= I18n.t(:required_field_info, scope: :edit_shop).html_safe %>
                </strong>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <%= f.label :fname, I18n.t(:contact_fname, scope: :edit_shop_application), :class => 'required' %>
                  <%= f.text_field :fname, :class => 'form-control', :maxLength => Rails.configuration.gitb[:max_tiny_text_length], :required => true %>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <%= f.label :lname, I18n.t(:contact_lname, scope: :edit_shop_application), :class => 'required' %>
                  <%= f.text_field :lname, :class => 'form-control', :maxLength => Rails.configuration.gitb[:max_tiny_text_length], :required => true %>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <%= f.label :function, I18n.t(:contact_function, scope: :edit_shop_application) %>
                  <%= f.text_field :function, :class => 'form-control', :maxLength => Rails.configuration.gitb[:max_short_text_length] %>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <%= f.label :mail, I18n.t(:contact_email, scope: :edit_shop_application), :class => 'required' %>
                  <%= f.email_field :mail, :class => 'form-control', :maxLength => Rails.configuration.gitb[:max_short_text_length], :placeholder => 'example@google.com', :required => true %>
                  <div class="help-block with-errors"></div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <%= f.label :tel, I18n.t(:contact_tel, scope: :edit_shop_application), :class => 'required' %>
                  <%= f.text_field :tel, :class => 'form-control', :maxLength => Rails.configuration.gitb[:max_tiny_text_length], :required => true, :placeholder => '+49(89)123456' %>
                  <div class="help-block with-errors"></div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <%= f.label :mobile, I18n.t(:contact_mobile, scope: :edit_shop_application), :class => 'required' %>
                  <%= f.text_field :mobile, :class => 'form-control', :maxLength => Rails.configuration.gitb[:max_tiny_text_length], :placeholder => '+49(151)12345678', :required => true %>
                  <div class="help-block with-errors"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <%= f.button "Senden", :id => 'edit_app_submit_btn', :class => 'big-button --blue' %>
      <div class="+small-spacer"></div>
      <% end %>
    </div>
  </div>
