<div class="row">
  <div class="col-md-10">
    <h2>Shop Products</h2>
    <hr>
  </div>
  <div class="col-md-2 details__action">
    <a href="<%= admin_shop_package_sets_path(@shop) %>"><i class="tooltipster fa fa-folder" title="Package Sets"></i></a>
    <a href="<%= admin_shop_products_path(format: "csv") %>"><i class="fa fa-download tooltipster" title="Download CSV format"></i></a>
    <a href="<%= new_admin_shop_product_path(@shop) %>"><i class="fa fa-plus tooltipster" title="<%= I18n.t('edit_product.new') %>"></i></a>
  </div>
</div>

<!-- <div class="details__action +left">
  <form action="<%= admin_shop_products_path %>" class="js-search-form +hidden">
    <input type="query" class="js-search-input search-bar__input" name="query" autocomplete="off" placeholder="<%= Setting.instance.search_suggestion %>" />
    <button type="submit" class="+hidden"></button>
  </form>
</div> -->

<div class="+spacer"></div>
<div class="row">
  <div class="col-md-12">
    <%= render partial: "shared/partials/search" %>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <%= render partial: "admin/products/table", :locals => { :products => @products, :show_shop => false } %>
  </div>
</div>

<%= will_paginate @products, renderer: BootstrapPagination::Rails %>
