<div class="row">
  <div class="col-md-10">
    <h2><%= I18n.t(:my_product, scope: :top_menu) %></h2>
    <hr>
  </div>
  <div class="col-md-2 details__action">
    <a href="<%= admin_shop_package_sets_path(@shop) %>"><i class="tooltipster fa fa-folder" title="Package Sets"></i></a>
    <a href="<%= admin_shop_products_path(format: "csv") %>"><i class="fa fa-download tooltipster" title="Download CSV format"></i></a>
    <a href="<%= new_admin_shop_product_path(@shop) %>"><i class="fa fa-plus tooltipster" title="<%= I18n.t(:new, scope: :edit_product) %>"></i></a>
  </div>
</div>

<div class="details__action +left">
  <form action="<%= admin_shop_products_path %>" class="js-search-form +hidden">
    <input type="query" class="js-search-input search-bar__input" name="query" autocomplete="off" placeholder="<%= Setting.instance.search_suggestion %>" />
    <button type="submit" class="+hidden"></button>
  </form>
  <a href="#" class="js-search-button search-bar__button header-desktop__menu --green"><i class="fa fa-search"></i></a>
</div>

<div class="+spacer"></div>
<div class="row">
  <%= render partial: "admin/shops/products/table", :locals => { :products => @products } %>
</div>

<%= will_paginate @products, renderer: BootstrapPagination::Rails %>
