<%= form_for [:admin, brand], :html => {:data => {:toggle => 'validator'}} do |form| %>

  <!-- Basic details -->
  <div class="row details__block">
    <%= render partial: "admin/brands/form/informations", :locals => {:form => form} %>
  </div>

  <!-- Banner -->
  <div class="row details__block">
    <div class="col-md-12">
      <%= render partial: "admin/banners/form_fields", locals: { form: form, location: :brand } %>
    </div>
  </div>

  <!-- Images (Slider) -->
  <div class="row details__block">
    <div class="col-md-12">
      <%= render partial: "admin/brands/form/footer_slider", locals: { form: form } %>
    </div>
  </div>

  <%= form.submit :class => 'big-button --blue', :value =>  "Save" %>

<% end %>
