<% if @orders.size > 0 %>
<div class="main-table +desktop">
  <table>
    <thead>
      <tr>
        <th>
          <%= I18n.t(:id, scope: :edit_order) %>
        </th>
        <th>
          <%= I18n.t(:status, scope: :edit_order) %>
        </th>
        <th>
          <%= I18n.t(:total_price_with_extra_costs, scope: :edit_order) %>
        </th>
        <th>
          <%= I18n.t(:tracking_id, scope: :edit_order) %>
        </th>
        <th>
          <%= I18n.t(:link_tracking, scope: :edit_order) %>
        </th>
        <th>
          <%= I18n.t(:created_at, scope: :edit_order) %>
        </th>
        <th>
          <%= I18n.t(:operations, scope: :edit_order) %>
        </th>
      </tr>
    </thead>
    <tbody>
      <% @orders.each do |order| %>
        <tr>
          <td class="+desktop">
            <% if order.decorate.total_price_with_extra_costs > 0 %>
              <%= link_to order.id, customer_order_path(order) %>
            <% else %>
              <%= order.id %>
            <% end %>
          </td>
          <td>
            <%= I18n.t(order.status, scope: :edit_order) %>
          </td>
          <td>
            <% if order.bought? %>
              <%= order.total_paid_in_yuan %>
            <% else %>
              <%= order.end_price.in_euro.to_yuan(exchange_rate: order.exchange_rate).display %>
            <% end %>
          </td>
          <td>
            <%= order.tracking_id %>
          </td>
          <td class="tracking">
            <% if order.bought? %>
              <% if order.logistic_partner == :xipost %>
                <%= link_to I18n.t(:open, scope: :edit_order), Xipost.new(current_user).tracking_url(order), :target => '_blank' %>
              <% else %>
                短信通知
              <% end %>
            <% end %>
          </td>
          <td>
            <%= order.c_at.localtime.strftime('%Y-%m-%d %H:%M:%S') %>
          </td>
          <td>
          <% unless order.decorate.paid? %>
              <%= link_to I18n.t(:continue, scope: :edit_order), customer_order_continue_path(order), method: :patch %> |
              <%= link_to I18n.t(:delete, scope: :edit_order), customer_order_path(order), method: :delete, data: { confirm: I18n.t(:confirm_want_delete, scope: :notice) } %>
          <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

  <div class="main-table +mobile">
  <table>
    <thead>
    <tr>
      <th>
        <%= I18n.t(:id, scope: :edit_order) %>
      </th>

      <th>
        <%= I18n.t(:operations, scope: :edit_order) %>
      </th>
    </tr>
    </thead>
    <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td>
          <% if order.decorate.total_price_with_extra_costs > 0 %>
            <%= order.id %>
            <div class="clearfix"></div>
            <%= link_to '订单详情', customer_order_path(order) %>
          <% else %>
            <%= order.id %>
          <% end %>
          <div class="clearfix"></div>
          <strong><%= I18n.t(:status, scope: :edit_order) %>:</strong> <%= I18n.t(order.status, scope: :edit_order) %>
          <% if order.bought? %>
            <div class="clearfix"></div>
            <strong><%= I18n.t(:total_price_with_extra_costs, scope: :edit_order) %>:</strong> <%= order.end_price.in_euro.to_yuan(exchange_rate: order.exchange_rate).display %>
          <% end %>

          <% if order.bought? %>
            <div class="clearfix"></div>
            <strong><%= I18n.t(:link_tracking, scope: :edit_order) %>:</strong>
            <% if order.logistic_partner == :xipost %>
              <%= link_to I18n.t(:open, scope: :edit_order), Xipost.new(current_user).tracking_url(order), :target => '_blank' %>
            <% else %>
              短信通知
            <% end %>
            <div class="clearfix"></div>
            <strong><%= I18n.t(:tracking_id, scope: :edit_order) %>:</strong>
            <%= order.tracking_id %>
          <% end %>
          <div class="clearfix"></div>
          <strong><%= I18n.t(:updated_at, scope: :edit_order) %>:</strong> <%= order.u_at.localtime.strftime('%Y-%m-%d %H:%M:%S') %>

        </td>


        <td>
          <% unless order.paid? %>
            <%#= link_to '', customer_order_path(order), method: :patch, class: 'tooltipster fa fa-arrow-right buttons buttons__delete' %>
            <div class="+small-spacer"></div>
            <%= link_to '取消', customer_order_path(order), method: :delete, data: { confirm: I18n.t(:confirm_want_delete, scope: :notice) },
                        class: 'tooltipster' %>
        <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

  <%= will_paginate @orders, renderer: BootstrapPagination::Rails %>
<% else %>
<div class="+white-box +centered">
  <h4>
    <%= I18n.t(:no_order, scope: :edit_order) %>
  </h4>
</div>
<% end %>
