<div class="col-md-12 shop-page-footer"> <!-- style="background-image:url(<%= shop.decorate.image_url(:banner, :detail) %>);" -->

  <!-- Content -->
  <div class="container-fluid">
    <div class="shop-page-footer__content">

        <h3><%= I18n.t(:shop_photo, scope: :title) %></h3>
        <hr>

        <!-- Images of the shop -->
        <%= render partial: "guest/shops/show/footer_images", :locals => {shop: shop} %>

        <div class="+small-spacer"></div>

      <!-- Details about the Shop -->
        <% %w(philosophy stories uniqueness german_essence).each do |detail_attribute| %>

          <% if shop.public_send("#{detail_attribute}?") %>

            <div>
              <h3><%= I18n.t(detail_attribute.to_sym, scope: :title) %></h3>
              <hr>
              <%= simple_format(shop.public_send(detail_attribute)) %>
            </div>

            <div class="+small-spacer"></div>

          <% end %>

        <% end %>

        <div>
          <h3><%= I18n.t(:impressum, scope: :title) %></h3>
          <%= shop.name %> <br />
          <%= shop.decorate.manager_full_name %> <br />
          <%= shop.mail %> <br /> <br />
          <% unless shop.billing_address.nil? %>
          <%= shop.billing_address.decorate.imprint_address.html_safe %> <br />
          <% end %>
        </div>

    <div class="+small-spacer"></div>
    </div>
    <!-- End of Content -->
  </div>
</div>
<div class="row +spacer">
</div>
