<div class="col-md-12 shop-page-header" style="background-image:url(<%= shop.decorate.image_url(:banner, :detail) %>);">
  <div class="+overlay"></div>

  <div class="+onoverlay">

    <!-- Content -->
    <div class="shop-page-header__content +centered">

      <div class="row">

        <h2><%= shop.shopname %></h2>

        <!-- Minimum order -->
        <% unless shop.min_total.zero? %>
          <div class="shop-page-header__minimum-order">
            <i class="fa fa-info-circle"></i> <%= I18n.t('shop.minimum_order') %> <%= shop.min_total.in_euro.to_yuan.display %>
          </div>
        <% end %>

      </div>

      <div class="+small-spacer"></div>

      <!-- Description of the shop -->
      <div class="row">
        <div class="col-md-10 col-md-push-1 col-md-pull-1">
          <%= simple_format(shop.desc) %>
        </div>
      </div>

    </div>
    <!-- End of Content -->

  </div>

</div>
