<div class="row">

  <div class="col-md-12">
    <div class="page-navigation">
      <div class="row">
        <!-- Breadcrumb -->
        <div class="col-md-4 col-xs-6 +desktop">
          <div class="page-navigation__left">
            <%= render partial: "layouts/customer/subheader/breadcrumb" %>
          </div>
        </div>

        <!-- Number of products (split between mobile and desktop) -->
        <div class="col-md-4">
          <div class="page-navigation__middle +desktop">
            <%= I18n.t(:products, scope: :navigation, num: shop.products.count) %>
          </div>
        </div>

        <!-- Number of package sets -->
        <div class="col-md-4 col-xs-6">
          <div class="page-navigation__left +mobile">
            <%= I18n.t(:products, scope: :navigation, num: shop.products.count) %>
          </div>
        </div>

      </div>
      <div align="center">
        <%= link_to shop.shopname, guest_shop_path(shop) %>
        <% shop.categories.each_with_index do |category, index| %>
            -
          <%= link_to category.name, guest_shop_path(shop, category_id: category) %>
        <% end %>
      </div>
    </div>
  </div>
</div>
