<!-- Global package set cover -->
<%= render "guest/package_sets/cover" %>
<div class="+small-spacer"></div>

<!-- Brand filters for Package Sets -->
<%= render partial: "guest/package_sets/brand_filters", locals: { current_brand: @brand, current_category: @category, brand_filters: @brand_filters} %>

<!-- Brand filters for Services -->
<%= render partial: "guest/services/brand_filters", locals: { current_brand: @brand, brand_filters: @services_brand_filters} %>

<!-- Brand filters for Services -->
<%= render partial: "guest/package_sets/wechat_qrcode" %>
<div class="+small-spacer"></div>

<!-- Categories listing -->
<% @categories.each_with_index do |category, index| %>
  <%= cache category do %>
    <%= render "guest/package_sets/categories/block", :options => { :reversed => reversed?(index) }, :category => category %>
  <% end %>
<% end %>

<!-- See all categories button -->
<a class="big-button --green" href="<%= guest_package_sets_path(category_id: 'all') %>"><%= I18n.t('button.see_all_products') %></a>
<div class="+spacer"></div>

<!-- Service button -->
<%= render "guest/package_sets/categories/services" %>
<div class="+spacer"></div>
