<%= render "guest/package_sets/package_set_banner" %>

<div class="+small-spacer"></div>

<p class="categories-block__brands +centered">
  <span class="+strong"><%= I18n.t('brands.hot_brands') %> :</span> <% @brand_filters.each do |brand| %>
    <a href="<%= guest_package_sets_path(brand_id: brand.slug) %>"><%= brand.name %></a> |
  <% end %>
</p>

<div class="+small-spacer"></div>

<% Category.with_package_sets.order_by(position: :asc).each_with_index do |category, index| %>
  <%= render "guest/package_sets/categories/block", :options => { :reversed => (index % 2 != 0) }, :category => category %>
<% end %>

  <a class="big-button --green" href="<%= guest_package_sets_path(category_id: 'all') %>"><%= I18n.t('button.see_all_products') %></a>
  <div class="+spacer"></div>
