<%= render partial: "guest/package_sets/index/navigation", :locals => { package_sets: @package_sets, category: @category, back: guest_package_sets_categories_path  } %>

<%= render "guest/package_sets/package_set_banner" %>

<div class="+small-spacer"></div>

<p class="categories-block__brands +centered">
  <span class="+strong"><%= I18n.t('brands.hot_brands') %> :</span> <% @brand_filters.each do |brand| %>
    <% if brand == @brand %>
    <span class="+strong +green"><%= brand.name %></span> |
    <% else %>
      <a href="<%= guest_package_sets_path(brand_id: brand.id, category_id: @category&.id) %>"><%= brand.name %></a> |
    <% end %>
  <% end %>
</p>

<div class="row">
<% @package_sets.each_with_index do |package_set, index| %>

  <%= render "guest/package_sets/index/block", :options => { :reversed => (index % 2 != 0) }, :package_set => package_set %>

<% end %>
</div>

<div class="+small-spacer"></div>
