<%= render partial: "guest/package_sets/index/navigation", :locals => { package_sets: @package_sets, category: @category, back: guest_package_sets_categories_path  } %>

<!-- Global package set cover -->
<%= render "guest/package_sets/cover" %>

<!-- Brand filters for Package sets -->
<%= render partial: "guest/package_sets/brand_filters", locals: { current_brand: @brand, current_category: @category, brand_filters: @brand_filters} %>

<div class="+small-spacer"></div>
<hr />

<!-- Package sets listing -->
<!-- The positioning is impossible to do before we get the actual array -->
<div class="row">
  <% @package_sets.sort_by(&:position).each_with_index do |package_set, index| %>
    <% cache package_set do %>
      <%= render "guest/package_sets/index/block", :options => { :reversed => reversed?(index) }, :package_set => package_set %>
    <% end %>
  <% end %>
</div>
<div class="+small-spacer"></div>

<% if @brand %>
  <%= render partial: 'shared/partials/promote_qrcode', locals: { url: guest_brand_promote_qrcode_path(@brand), promotion_footer: package_set.promotion_footer, promotion_header: package_set.promotion_header } %>
<% end %>
