<%= render partial: "guest/package_sets/show/header_navigation", locals: { package_set: @package_set, category: @category, back: guest_package_sets_path(category_id: @package_set.category.slug) } %>

<!-- < cache @package_set do > -->
  <% title @package_set.name %>
  <!-- Cover -->
  <%= render partial: 'shared/partials/cover', locals: { cover: @package_set.cover, promotion: @package_set.promotion_text, share: current_user&.referrer } %>

  <div class="row">
    <div class="col-md-12">
      <div class="package-set-infos">

        <!-- Introduction (with modal) -->
        <%= render partial: "guest/package_sets/show/introduction", locals: { package_set: @package_set } %>

        <!-- Products -->
        <%= render partial: "guest/package_sets/show/products", locals: { package_set: @package_set } %>

        <!-- Price + Purchase -->
        <%= render partial: "guest/package_sets/show/purchase", locals: { package_set: @package_set } %>

        <!-- Promote QRCode -->
        <%= render partial: 'shared/partials/promote_qrcode', locals: { url: guest_package_set_promote_qrcode_path(@package_set), promotion_footer: @package_set.promotion_footer, promotion_header: @package_set.promotion_header } %>

      </div>
    </div>
  </div>

  <!-- Image slider from Brand -->
  <div class="row">
    <div class="col-md-12">
      <%= render partial: "guest/brands/show/footer_slides", locals: { brand: @package_set.brands.first } %>
    </div>
  </div>

  <!-- Brand description -->
  <%= render partial: "guest/package_sets/show/brand_description", locals: { brand: @package_set.package_skus.first&.product&.brand } %>

<!-- < end > -->
