<% if @package_set.details_cover.present? %>
  <div class="row">
    <div class="col-md-12">
      <div class="banner lazy" data-original="<%= @package_set.details_cover.url %>" style="background-image:url('/images/grey.gif');">
      </div>
    </div>
  </div>
<% end %>

<%= render partial: "guest/package_sets/show/navigation", :locals => { :package_set => @package_set } %>

<div class="row">
  <div class="col-md-12">
    <div class="package-set-infos">

      <!-- Modal introduction -->
      <div class="remodal" data-remodal-options="hashTracking: false" data-remodal-id="package-set-introduction">

        <div class="package-set-introduction">
          <!-- Close Action -->
          <button data-remodal-action="close" class="remodal-close"></button>
          <h1><%= @package_set.name %></h1>
          <p><%= simple_format @package_set.long_desc %></p>
        </div>
      </div>

      <!-- Introduction -->
      <div class="row">
        <div class="col-md-12">
          <div class="package-set-infos__introduction">
            <h1><%= @package_set.name %></h1>
            <p><%= simple_format @package_set.desc %></p>
          </div>
        </div>
        <% if @package_set.long_desc.present? %>
          <div class="+centered">
            <a data-remodal-target="package-set-introduction" href="#"><%= I18n.t(:read_more, scope: :button) %></a>
          </div>
        <% end %>
      </div>

      <!-- Products -->
      <div class="row">
        <div class="col-md-12">
          <div class="package-set-infos__products">
            <div class="row">

              <% @package_set.package_skus.each do |package_sku| %>
                <div class="col-md-2 col-xs-6 package-set-infos__product">
                  <%= render partial: "guest/package_sets/show/product", :locals => { :package_sku => package_sku } %>
                </div>
              <% end %>

            </div>
          </div>
        </div>
      </div>

      <!-- Price + Purchase -->
      <div class="row">
        <div class="col-md-12">
          <div class="package-set-infos__actions">

            <hr />

            <!-- Prices -->
            <div class="row">
              <div class="+centered">
                <% if @package_set.casual_price? %>
                  <div class="package-set-infos__original-price"><%= @package_set.casual_price.in_euro.to_yuan.display %></div>
                <% end %>
                <div class="package-set-infos__new-price"><%= @package_set.end_price.in_euro.to_yuan.display %></div>
                <div class="package-set-infos__euro-price"><%#= @package_set.end_price.in_euro.display %> ( <%= I18n.t(:all_included, scope: :cart) %> )</div>
                <div class="+spacer"></div>
              </div>
            </div>

            <!-- Buttons -->
            <div class="row">
              <div class="+centered">
                <%= link_to I18n.t(:buy_it, scope: :package_set), nil, id: 'add-package-set',
                            class: 'main-button__solid --large', :data => { :package_set_id => @package_set.id.to_s } %>
              </div>
            </div>


          </div>
        </div>
      </div>

    </div>
  </div>
</div>
