<%= render partial: "guest/package_sets/show/header_navigation", locals: { package_set: @package_set, category: @category, back: guest_package_sets_path(category_id: @package_set.category.slug) } %>

<!-- < cache @package_set do > -->

  <!-- Cover -->
  <%= render partial: 'shared/partials/cover', locals: { cover: @package_set.cover, promotion: @package_set.promotion_text, share: current_user&.referrer } %>

  <div class="row">
    <div class="col-md-12">
      <div class="package-set-infos">

        <!-- Introduction (with modal) -->
        <%= render partial: "guest/package_sets/show/introduction", locals: { package_set: @package_set } %>

        <!-- Products -->
        <%= render partial: "guest/package_sets/show/products", locals: { package_set: @package_set } %>

        <!-- Price + Purchase -->
        <%= render partial: "guest/package_sets/show/purchase", locals: { package_set: @package_set } %>

        <!-- Promote QRCode -->
        <%= render partial: 'shared/partials/promote_qrcode', locals: { url: guest_package_set_promote_qrcode_path(@package_set), promotion_footer: @package_set.promotion_footer, promotion_header: @package_set.promotion_header } %>

      </div>
    </div>
  </div>

  <!-- Image slider -->
  <div class="row">
    <div class="col-md-12">
      <div id="slider-vue">



        <template>
          <md-card>
            <md-card-actions>
              <div class="md-subhead">
                <span>Multiple Slides Per View</span>
                <span>（</span>
                <span>一次显示多个 slides</span>
                <span>）</span>
              </div>
              <md-button class="md-icon-button"
                         target="_blank"
                         href="https://github.com/surmon-china/vue-awesome-swiper/blob/master/examples/11-slides-per-view.vue">
                <md-icon>code</md-icon>
              </md-button>
            </md-card-actions>
            <md-card-media>
              <!-- swiper -->
              <swiper :options="swiperOption">
                <swiper-slide>Slide 1</swiper-slide>
                <swiper-slide>Slide 2</swiper-slide>
                <swiper-slide>Slide 3</swiper-slide>
                <swiper-slide>Slide 4</swiper-slide>
                <swiper-slide>Slide 5</swiper-slide>
                <swiper-slide>Slide 6</swiper-slide>
                <swiper-slide>Slide 7</swiper-slide>
                <swiper-slide>Slide 8</swiper-slide>
                <swiper-slide>Slide 9</swiper-slide>
                <swiper-slide>Slide 10</swiper-slide>
                <div class="swiper-pagination" slot="pagination"></div>
              </swiper>
            </md-card-media>
          </md-card>
        </template>






      </div>
    </div>
  </div>

  <!-- Brand description -->
  <%= render partial: "guest/package_sets/show/brand_description", locals: { brand: @package_set.package_skus.first&.product&.brand } %>

<!-- < end > -->
