<div class="col-md-12">
  <div class="row">
    <h3>Basic Infos</h3>
    <hr>
  </div>
  <div class="row">

    <div class="col-md-6">

      Email : <%= editable_field(@user, admin_user_path(@user), :email, :text_field) %>
      <br />
      Nickname : <%= @user.nickname %>
      <br />
      Role : <%= editable_field(@user, admin_user_path(@user), :role, :select, [user_roles, {:selected => @user.role}]) %>
      <br />
      Tester : <%= editable_field(@user, admin_user_path(@user), :tester, :select, [boolean_select, {:selected => @user.tester}]) %>
      <br />
      Precreated : <%= boolean_icon(@user.precreated) %>
      <br />
      First name : <%= @user.fname %>
      <br />
      Last name : <%= @user.lname %>
      <br />
      Banished : <%= boolean_icon(@user.banished) %>
      <br />
      Is Referrer :  <%= boolean_icon(@user.referrer?) %>
      <br />
      Parent Referrer : <%= @user.parent_referrer&.user&.decorate&.full_name %> (<%= @user.parent_referrer&.reference_id %>) <%= editable_field(@user, admin_user_path(@user), :parent_referrer_id, :select, [parent_referrers, {:selected => @user.parent_referrer_id}]) %>

    </div>

    <div class="col-md-6">

      Birth : <%= @user.birth %>
      <br />
      City : <%= @user.city %>
      <br />
      Province : <%= @user.province %>
      <br />
      Country : <%= @user.country %>
      <br />
      About : <%= @user.about %>
      <br />
      Website : <%= @user.website %>
      <br />
      Mobile : <%= @user.mobile %>

    </div>

  </div>

</div>
