<div class="col-md-12">
  <div class="row">
    <h3>Sign In</h3>
    <hr>
  </div>
  <div class="row">

    Sign in provider : <%= @user.provider %><br />
    Union ID : <%= @user.wechat_unionid %><br />
    Open ID : <%= @user.wechat_openid %>
    <br />
    <br />
    Sign in count : <%= @user.sign_in_count %>
    <br />
    Last sign in at : <%= @user.last_sign_in_at %>
    <br />
    Last sign in IP : <%= @user.last_sign_in_ip %>
    <br />
  </div>

</div>
