<% if chinese? %>

  <div class="row"><h3><%= I18n.t(:buying, scope: :footer) %></h3></div>
  <div class="row"><%= link_to I18n.t(:buyer_guide, scope: :footer), customer_guide_guest_pages_path %></div>
  <div class="row"><%= link_to I18n.t(:buyer_qa, scope: :footer), customer_qa_guest_pages_path %></div>
  <div class="row"><%= link_to I18n.t(:buyer_agb, scope: :footer), customer_agb_guest_pages_path %></div>
  <div class="row"><%= link_to I18n.t(:shipping_price, scope: :footer), shipping_cost_guest_pages_path %></div>

<% elsif german? %>

  <div class="row"><h3><%= I18n.t(:selling, scope: :footer) %></h3></div>
  <div class="row"><%=link_to I18n.t(:sell_on_gbox, scope: :footer), saleguide_guest_pages_path %></div>

  <% if current_user.nil? %>
    <div class="row"><%=link_to I18n.t(:shop_application, scope: :edit_shop_application), new_guest_shop_application_path %></div>
  <% end %>

<% end %>

<% if current_user&.decorate&.shopkeeper? %>

  <div class="row"><%= link_to I18n.t(:fees_invoices, scope: :footer), fees_guest_pages_path %></div>

<% end %>
