<% if is_chinese? %>

  <div class="row"><h3><%= I18n.t(:buying, scope: :footer) %></h3></div>
  <div class="row"><%= link_to I18n.t(:buyer_faq, scope: :footer), '#' %></div>
  <div class="row"><%= link_to I18n.t(:buyer_in_3_steps, scope: :footer), '#' %></div>

<% elsif is_german? %>

  <div class="row"><h3><%= I18n.t(:selling, scope: :footer) %></h3></div>
  <div class="row"><%=link_to I18n.t(:shop_application, scope: :edit_shop_application), new_shop_application_path %></div>
  <div class="row"><%=link_to I18n.t(:sell_on_gbox, scope: :footer), saleguide_page_path, :target => 'blank' %></div>

<% end %>

<% if current_user&.is_shopkeeper? %>

  <div class="row"><%= link_to I18n.t(:fees_invoices, scope: :footer), fees_page_path, :target => 'blank' %></div>

<% end %>
