<div class="row"><h3><%= I18n.t(:germany_in_the_box, scope: :footer) %></h3></div>

<% if current_user&.decorate&.shopkeeper? %>

<div class="row"><%= link_to I18n.t(:terms_conditions, scope: :footer), agb_guest_pages_path %></div>

<% end %>

<% if chinese? %>
<div class="row"><%= link_to I18n.t(:feedback, scope: :footer), guest_feedback_path %></div>

<% end %>

<div class="row"><%= link_to I18n.t(:privacy_statement, scope: :footer), privacy_guest_pages_path %></div>
<div class="row"><%= link_to I18n.t(:imprint, scope: :footer), imprint_guest_pages_path %></div>
