<% if current_user.nil? %>
  <% if potential_customer? %>
      <div class="row"><h3>

        <%= link_to "Möchten Sie unser Partner werden?", language_path("de"), method: :put %>

        </h3></div>
      <div class="row"><%= link_to "Partner-Hersteller Werden", language_path("de"), method: :put %></div>
      <div class="row"><%= link_to "Einloggen als Verkäufer", language_path("de", location: new_user_session_path), method: :put %></div>
  <% elsif %>
      <div class="row"><h3><%= I18n.t(:want_buy_products, scope: :title) %></h3></div>
      <div class="row"><%= link_to "Käuferportal", language_path("zh-CN"), method: :put %></div>
  <% end %>

<% elsif current_user.decorate.admin? %>
  <div class="row"><h3><%= I18n.t(:language, scope: :top_menu) %></h3></div>
  <div class="row"><%= link_to I18n.t(:chinese, scope: :top_menu), language_path("zh-CN"), method: :put %></div>
  <div class="row"><%= link_to I18n.t(:german, scope: :top_menu), language_path("de"), method: :put %></div>
<% end %>
