<!-- Default page before sharing -->
<div class="wechat-share">

  <div class="row">
    <!-- BACK BUTTON -->
    <div class="col-xs-4 col-md-4">
      <%= render partial: 'customer/referrer/links/share/subheader', :locals => { back: customer_referrer_links_path } %>
    </div>
    <div class="col-md-4 col-xs-4 col-xs-push-4 col-md-push-4">
      <div class="+right">
        <div class="+wechat-pointer blink-img">
          <i class="fa fa-hand-pointer-o"></i>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 col-xs-4 col-xs-push-8 col-md-push-8">
      <h4 class="+bold +light-green +right"><%= I18n.t('referrer.share_page.please_click_and_share') %></h4>
    </div>
  </div>

  <!-- Explanation -->
  <div class="row">
    <div class="col-md-12">
      <div class="+spacer"></div>
      <div class="+dark-grey">
        <h2><%= I18n.t('referrer.share_page.how_does_it_work') %></h2>
        <div class="+small-spacer"></div>
        <%= I18n.t('referrer.share_page.work_description_1') %><br />
        <%= I18n.t('referrer.share_page.work_description_2') %><br />
        <%= I18n.t('referrer.promotion_text') %><br />

        <% if link.promotion_text_a %>
        <div class="+small-spacer"></div>
          <strong>
            <span><%= link.promotion_text_a %></span>
            <a href="#" class="text-button --blue" v-tooltip="true" title="<%= I18n.t('referrer.share_page.copied') %>" v-clipboard:copy="`<%= link.promotion_text_a %>`" v-clipboard:success="copySuccess" v-clipboard:error="copyFail"><%= I18n.t('referrer.share_page.copy') %></a>
          </strong>
            <div class="+small-spacer"></div>
        <% end %>

        <% if link.promotion_text_b %>
          <div class="+small-spacer"></div>
          <strong>
            <span><%= link.promotion_text_b %></span>
            <a href="#" class="text-button --blue" v-tooltip="true" title="<%= I18n.t('referrer.share_page.copied') %>" v-clipboard:copy="`<%= link.promotion_text_b %>`" v-clipboard:success="copySuccess" v-clipboard:error="copyFail"><%= I18n.t('referrer.share_page.copy') %></a>
          </strong>
        <% end %>

        <div class="+small-spacer"></div>
        <%= I18n.t('referrer.share_page.work_conclusion') %>
        <div class="+spacer"></div>
      </div>
      <h3><%= I18n.t('referrer.share_page.preview') %></h3>
      <hr />
      <h3><%= link.title %></h3>
      <em><%= link.desc %></em>
      <br /><br />
      <%= link.long_desc&.html_safe %><br />
    </div>
  </div>
</div>
