<% if orders.size > 0 %>
<table class="white-table">
  <thead>
    <tr>
      <th>
        <%= I18n.t(:id, scope: :edit_order) %>
      </th>
      <th>
        BorderGuru Shipment ID
      </th>
      <th>
        Delivery Address Names
      </th>
      <td>
        Total Paid
      </th>
      <th>
        <%= I18n.t(:status, scope: :edit_order) %>
      </th>
      <th>
        <%= I18n.t(:total_price, scope: :edit_order) %>
      </th>
      <th>
        <%= I18n.t(:link_tracking, scope: :edit_order) %>
      </th>
      <th>
        <%= I18n.t(:label, scope: :edit_order) %>
      </th>
      <th>
        <%= I18n.t(:updated_at, scope: :edit_order) %>
      </th>
      <th>
        <%= I18n.t(:operations, scope: :edit_order) %>
      </th>
    </tr>
  </thead>
  <tbody>
    <% orders.each do |order| %>
    <tr>
      <td>
        <% if order.decorate.total_price_with_extra_costs > 0 %>
        <%= link_to order.id, order_path(order) %>
        <% else %>
        <%= order.id %>
        <% end %>
      </td>
      <td>
        <%= order.border_guru_shipment_id %>
      </td>
      <td>
        <% unless order.shipping_address.nil? %>
        <%= order.shipping_address.decorate.chinese_full_name %>
        <% end %>
      </td>
      <td>
        <%= order.total_paid_in_yuan %> (<%= order.total_paid_in_euro %>)
      </td>
      <td>
        <%= I18n.t(order.status, scope: :edit_order) %>
      </td>
      <td>
        <%= order.decorate.total_price_with_extra_costs_in_yuan %> (<%= order.decorate.total_price_with_extra_costs_in_euro %>)
      </td>
      <td>
        <%= order.border_guru_link_tracking ? (link_to I18n.t(:open, scope: :edit_order), order.border_guru_link_tracking, :target => '_blank') : '' %>
      </td>
      <td>
        <%= render partial: "shared/orders/partials/files_buttons", locals: { :order => order } %>
      </td>
      <td>
        <%= order.u_at.localtime.strftime('%Y-%m-%d %H:%M:%S').in_time_zone %>
      </td>
      <td>
        <a href="<%= admin_order_path(order) %>"><i class="fa fa-eye tooltipster buttons buttons__edit" title="Details and configuration"></i></a>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<% else %>
<div class="+white-box +centered">
  <h4>
    <%= I18n.t(:no_order, scope: :edit_order) %>
  </h4>
</div>
<% end %>
