<div class="row">
  <div class="col-md-10">
    <h2>Orders</h2>
    <hr>
  </div>
  <div class="col-md-2 details__action">
    <a href="<%= admin_orders_path(format: "csv") %>"><i class="fa fa-download tooltipster" title="Download CSV format"></i></a>
  </div>
</div>

<div class="+overflow">
<% if @orders.size > 0 %>
  <table class="table cart-table">
    <thead>
      <tr>
        <th>
          <%= I18n.t(:id, scope: :edit_order) %>
        </th>
        <th>
          BorderGuru Shipment ID
        </th>
        <th>
          Delivery Address Names
        </th>
        <td>
          Total Paid
        </th>
        <th>
          <%= I18n.t(:status, scope: :edit_order) %>
        </th>
        <th>
          <%= I18n.t(:total_price, scope: :edit_order) %>
        </th>
        <th>
          <%= I18n.t(:link_tracking, scope: :edit_order) %>
        </th>
        <th>
          <%= I18n.t(:label, scope: :edit_order) %>
        </th>
        <th>
          <%= I18n.t(:updated_at, scope: :edit_order) %>
        </th>
        <th>
          <%= I18n.t(:operations, scope: :edit_order) %>
        </th>
      </tr>
    </thead>
    <tbody>
      <% @orders.each do |order| %>
        <tr>
          <td>
            <% if order.decorate.total_sum > 0 %>
              <%= link_to order.id, order_path(order) %>
            <% else %>
              <%= order.id %>
            <% end %>
          </td>
          <td>
            <%= order.border_guru_shipment_id %>
          </td>
          <td>
            <% unless order.shipping_address.nil? %>
            <%= order.shipping_address.decorate.chinese_full_name %>
            <% end %>
          </td>
          <td>
            <%= order.total_paid_in_yuan %> (<%= order.total_paid_in_euro %>)
          </td>
          <td>
            <%= I18n.t(order.status, scope: :edit_order) %>
          </td>
          <td>
            <%= order.decorate.total_sum_in_yuan %> (<%= order.decorate.total_sum_in_euro %>)
          </td>
          <td>
            <%= order.border_guru_link_tracking ? (link_to I18n.t(:open, scope: :edit_order), order.border_guru_link_tracking, :target => '_blank') : '' %>
          </td>
          <td>

            <% if order.border_guru_shipment_id %>
              <a href="<%= download_label_order_path(order) %>"><i class="fa fa-envelope-o fa-2x tooltipster" title="Download the shipment label"></i></a>
            <% end %>

            <a href="<%= shared_order_path(order, format: "csv") %>"><i class="fa fa-file-excel-o fa-2x tooltipster" title="Shipment CSV"></i></a>

            <a href="<%= shared_order_bill_path(order, format: "pdf") %>"><i class="fa fa-eur fa-2x tooltipster" title="Informal Bill"></i></a>

          </td>
          <td>
            <%= order.u_at.localtime.strftime('%Y-%m-%d %H:%M:%S').in_time_zone %>
          </td>
          <td>
            <a href="<%= admin_order_path(order) %>"><i class="fa fa-cog fa-2x tooltipster" title="Details and configuration"></i></a>
        </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= will_paginate @orders, renderer: BootstrapPagination::Rails %>
<% else %>
<div class="+white-box +centered">
  <h4>
    <%= I18n.t(:no_order, scope: :edit_order) %>
  </h4>
</div>
<% end %>
</div>
