<div class="row">
  <div class="col-md-10">
    <h2>Orders</h2>

    <%= render partial: "admin/orders/chart" %>

    <hr>
  </div>
  <div class="col-md-2 details__action">
    <a href="<%= admin_orders_official_bills_path %>"><i class="fa fa-folder tooltipster" title="Download Official Bills"></i></a>
    <a href="<%= admin_orders_path(format: :csv) %>"><i class="fa fa-download tooltipster" title="Download CSV format"></i></a>
  </div>

</div>

<div class="row">
  <div class="col-md-12">
      <%= render partial: "shared/partials/search" %>
  </div>
</div>

<%= render partial: "admin/orders/table", :locals => { :orders => @orders } %>

<%= will_paginate @orders, renderer: BootstrapPagination::Rails %>
