<div class="details">

  <div class="row">
    <div class="col-md-10">
      <h2>Order <%= @order.id %></h2>
    </div>
    <div class="col-md-2 details__action">
      <% if @order.user %>
        <a href="<%= admin_user_path(@order.user) %>"><i class="fa fa-user tooltipster" title="<%= @order.user.email %>"></i></a>
      <% end %>
    </div>
  </div>

  <div class="+small-spacer"></div>

  <div class="row details__block">
    <%= render partial: "admin/orders/show/address_details" %>
  </div>

  <div class="row details__block">
    <%= render partial: "admin/orders/show/finances" %>
  </div>

  <div class="row details__block">
    <%= render partial: "admin/orders/show/order_items" %>
  </div>

  <div class="row details__block">
    <%= render partial: "admin/orders/show/coupons" %>
  </div>

  <div class="row details__block">
    <%= render partial: "admin/orders/show/status" %>
  </div>

  <div class="row details__block">
    <%= render partial: "admin/orders/show/manual_shipping" %>
  </div>

  <div class="row details__block">
    <%= render partial: "admin/orders/show/files" %>
  </div>

  <div class="row details__block">
    <%= render partial: "admin/orders/show/dates" %>
  </div>

  <div class="row details__block">
    <%= render partial: "admin/orders/show/notes" %>
  </div>

  <div class="row details__block">
    <%= render partial: "admin/orders/show/action" %>
  </div>

  <div class="row details__block +danger-zone">
    <%= render partial: "admin/orders/show/danger_zone" %>
  </div>

</div>
