
<% if options[:reversed] %>
<div class="col-xs-6 col-md-3 +small-padding-left">
<% else %>
<div class="col-xs-6 col-md-3 +small-padding-right">
<% end %>

  <div class="package-set-list-block">
    <a class="package-select" href="<%= guest_package_set_path(package_set) %>">

      <!-- IMAGE -->
      <div class="row">
        <div class="col-xs-12">
          <div class="package-set-list-block__central-image lazy" data-original="<%= package_set.cover %>" style="background-image:url('/images/grey.jpg');">
          </div>
        </div>
      </div>

      <!-- HEADER CONTENT -->
      <!-- <div class="row">
        <div class="col-xs-12">
          <div class="package-set-list-block__header-content">

          </div>
        </div>
      </div> -->

      <!-- FOOTER CONTENT -->
      <div class="row">
        <div class="col-xs-12">
          <div class="package-set-list-block__footer-content">

            <div class="row">
              <div class="col-xs-12 +nopadding">
                <div class="package-set-list-block__header-title">
                  <%= package_set.name %>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-10 +nopadding">
                <div class="package-set-list-block__footer-price">
                  <%= package_set.end_price.in_euro.to_yuan.display %> <span class="package-set-list-block__footer-note"><%= I18n.t('cart.all_included') %></span>
                </div>
              </div>
              <div class="col-xs-2 +nopadding">
                <div class="package-set-list-block__footer-cart">
                  <a class="js-add-package-set" data-package-set-id="<%= package_set.id %>" href="#">
                    <i class="fa fa-shopping-cart"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </a>
  </div>
</div>
