<div class="col-md-12">

  <div class="row">
    <div class="col-md-8 +nopadding">
      <h3><%= I18n.t(:variants, scope: :edit_product_variant) %></h3>
      <hr>
    </div>
    <div class="col-md-4 +right">
      <hr>
    </div>
  </div>
  <div class="row">
    <%= I18n.t(:variant_usage, scope: :edit_product_variant).html_safe %>
  </div>

  <div class="+small-spacer"></div>

  <!-- Variant boxes -->
  <div class="row form-group">
    <%= f.fields_for :options do |field_option| %>
        <div class="col-md-4">
          <%= render partial: "shopkeeper/products/variants/index/form/variant_box", :locals => {:form => field_option} %>
        </div>
      </div>
    <% end %>
  </div>

</div>












<div class="panel panel-info" id="variants_panel_<%= @product.id %>">

  <div class="panel-body">
    <h5>
      <%= I18n.t(:variant_usage, scope: :edit_product_variant, locale: locale).html_safe %>
    </h5>
    <br/>
    <div class="form-group">
      <div class="row">
        <%= f.fields_for :options do |fo| %>
          <div class="col-md-4">
            <div class="panel panel-info">
              <div class="panel-heading">
                <div class="form-inline">
                  <div class="form-group">
                    <%= fo.text_field :name, :value => fo.object.name_translations[locale], :style => 'max-width:120px', :class => 'form-control input-sm', :required => true, :maxLength => Rails.configuration.max_tiny_text_length, :placeholder => I18n.t(:variant_name, scope: :edit_product_variant, locale: locale) %>
                  </div>
                  <div class="btn-group pull-right">
                    <%= link_to '', shopkeeper_product_destroy_variant_path(@product.id, fo.object.id), method: :delete, data: { confirm: "#{I18n.t(:delete_option_message, scope: :edit_product_variant, locale: locale)}" }, :class => 'fa fa-times-circle btn', :title => I18n.t(:remove, scope: :edit_product_variant, locale: locale) %>
                    <%= link_to '', '#', :onclick => "#{gen_add_option_to_existing_variant(I18n.t(:option_name, scope: :edit_product_variant, locale: locale))}", :index => fo.index, :class => 'fa fa-plus btn', :title => I18n.t(:new_option, scope: :edit_product_variant, locale: locale) %>
                  </div>
                </div>
              </div>
              <div class="panel-body">

                <%= fo.fields_for :suboptions do |fso| %>
                  <div class="form-inline">
                    <div class="form-group">
                      <%= fso.text_field :name, :value => fso.object.name_translations[locale], :style => 'max-width:120px', :class => 'form-control input-sm', :required => true, :maxLength => Rails.configuration.max_tiny_text_length, :placeholder => I18n.t(:option_name, scope: :edit_product_variant, locale: locale) %>
                    </div>
                    <div class="btn-group pull-right">
                      <%= link_to '', shopkeeper_product_destroy_option_path(@product.id, fo.object.id, fso.object.id), method: :delete, data: { confirm: "#{I18n.t(:delete_option_message, scope: :edit_product_variant, locale: locale)}" }, :class => 'btn fa fa-times-circle', :title => I18n.t(:remove_option, scope: :edit_product_variant, locale: locale) %>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
