<%= form_for(@notification) do |f| %>
    <% if @notification.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@notification.errors.count, "error") %> prohibited this notification from being saved:</h2>

          <ul>
            <% @notification.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :senderId %><br>
      <%= f.text_field :senderId %>
    </div>
    <div class="field">
      <%= f.label :receiverId %><br>
      <%= f.text_field :receiverId %>
    </div>
    <div class="field">
      <%= f.label :targetId %><br>
      <%= f.text_field :targetId %>
    </div>
    <div class="field">
      <%= f.label :message %><br>
      <%= f.text_field :message %>
    </div>
    <div class="field">
      <%= f.label :timestamp %><br>
      <%= f.text_field :timestamp %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
