= form_for(@notification) do |f|
  - if @notification.errors.any?
    #error_explanation
      %h2
        = pluralize(@notification.errors.count, "error")
        prohibited this notification from being saved:
      %ul
        - @notification.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :senderId
    %br/
    = f.text_field :senderId
  .field
    = f.label :receiverId
    %br/
    = f.text_field :receiverId
  .field
    = f.label :targetId
    %br/
    = f.text_field :targetId
  .field
    = f.label :message
    %br/
    = f.text_field :message
  .field
    = f.label :timestamp
    %br/
    = f.text_field :timestamp
  .actions
    = f.submit
