<p id="notice"><%= notice %></p>

<p>
  <strong>Senderid:</strong>
  <%= @notification.senderId %>
</p>

<p>
  <strong>Receiverid:</strong>
  <%= @notification.receiverId %>
</p>

<p>
  <strong>Targetid:</strong>
  <%= @notification.targetId %>
</p>

<p>
  <strong>Message:</strong>
  <%= @notification.message %>
</p>

<p>
  <strong>Timestamp:</strong>
  <%= @notification.timestamp %>
</p>

<%= link_to 'Edit', edit_notification_path(@notification) %> |
<%= link_to 'Back', notifications_path %>
