%p#notice= notice
%p
  %strong Senderid:
  = @notification.senderId
%p
  %strong Receiverid:
  = @notification.receiverId
%p
  %strong Targetid:
  = @notification.targetId
%p
  %strong Message:
  = @notification.message
%p
  %strong Timestamp:
  = @notification.timestamp
= link_to 'Edit', edit_notification_path(@notification)
|
= link_to 'Back', notifications_path
