<div class="row js-footer-stick">
  <div class="col-md-12 dashboard-layout__footer">
    <div class="row">
      <div class="col-md-6 +left">
        <strong>Germany in the Box - <span class="+red"><%= Rails.env.capitalize %> Mode</span></strong> - Client <%= request.remote_ip %> - Server <%= server_ip %> - <strong><%= current_user.decorate.full_name %></strong>
      </div>

      <!-- Time zones -->
      <div class="col-md-6 +right +desktop">
        UTC <span id="utc-time"><%= Time.now.utc.strftime("%T") %></span> -
        Germany <span id="germany-time"><%= Time.now.utc.in_time_zone("Berlin").strftime("%T") %></span> -
        China <span id="china-time"><%= Time.now.utc.in_time_zone("Beijing").strftime("%T") %></span>
      </div>
    </div>
  </div>
</div>
<!-- End of footer -->
