<div class="navbar-top"> <!-- navbar-fixed-top -->

  <!-- Main Menu Area -->
  <div class="row main-header">

    <!-- Left side -->
    <div class="col-md-2 col-md-push-1">
      <%= render partial: "layouts/admin/header/logo" %>
    </div>

    <!-- Right side -->
    <div class="col-md-8 col-md-push-1 main-header__right-side">

      <div class="row">

        <!-- My Account -->
        <div class="col-md-1 pull-right +centered">
          <%= render partial: "layouts/admin/header/my_account" %>
        </div>

      </div>

    </div>

  </div>
  <!-- End of Main Menu Area -->

  <div class="row server-menu">

    <!-- Server details -->
    <div class="col-md-6">
      <strong><%= Rails.env.capitalize %> Mode</strong> - Client <%= request.remote_ip %> - Server <%= server_ip %> - UTC <span id="utc-time"><%= Time.now.utc.strftime("%T") %></span>
    </div>

    <!-- Time zones -->
    <div class="col-md-4 col-md-push-2">
      China <span id="china-time"><%= Time.now.utc.in_time_zone("Beijing").strftime("%T") %></span> -
      Germany <span id="germany-time"><%= Time.now.utc.in_time_zone("Berlin").strftime("%T") %></span>
    </div>

  </div>


</div>

<!-- End of Category Menu -->
