<tr>
  <td>
    <%= order_payment.request_id %>
  </td>
  <td>
    <%= order_payment.transaction_id %>
  </td>
  <td>
    <%= link_to order_payment.shop.name, admin_shop_path(order_payment.shop) %>
  </td>
  <td>
    <%= link_to order_payment.order_id, admin_order_path(order_payment.order_id) %>
  </td>
  <td>
    <% unless order_payment&.order&.shipping_address.nil? %>
      <%= order_payment.order.shipping_address.decorate.full_name %>
    <% end %>
  </td>
  <td>
    <%= order_payment.status %>
  </td>
  <td>
    <%= order_payment.decorate.amount_cny_with_currency %>
  </td>
  <td>
    <%= order_payment.decorate.amount_eur_with_currency %>
  </td>
  <td>
    <%= order_payment.payment_method %>
  </td>
  <td>
    <%= order_payment.c_at %>
  </td>
  <td>
    <a href="<%= admin_order_payment_path(order_payment) %>"><i class="fa fa-eye tooltipster buttons buttons__edit" title="Details and configuration"></i></a>
  </td>
</tr>
