<div class="details">

  <div class="row">
    <div class="col-md-10">
      <h2>Order Payment <%= @order_payment.id %></h2>
    </div>
  </div>

  <div class="+small-spacer"></div>

  <div class="row details__block">
    <%= render partial: "admin/order_payments/show/transaction_details" %>
  </div>

  <div class="row details__block">
    <%= render partial: "admin/order_payments/show/transaction_amounts" %>
  </div>

  <div class="row details__block">
    <%= render partial: "admin/order_payments/show/links" %>
  </div>

  <div class="row details__block">
    <%= render partial: "admin/order_payments/show/status" %>
  </div>

  <div class="row details__block">
    <%= render partial: "admin/order_payments/show/dates" %>
  </div>

  <div class="row details__block">
    <%= render partial: "admin/order_payments/show/action" %>
  </div>

</div>
