<h2><%= I18n.t(:my_address, scope: :top_menu) %></h2>

<div class="white-table">

  <%= I18n.t(:identity, scope: :address) %> : <%= address.decorate.chinese_full_name %> <%= "(#{address.pid})" if address.pid %>
  <br />
  <%= I18n.t(:mobile, scope: :edit_address) %> : <%= address.mobile %>
  <br />
  <%= I18n.t(:location, scope: :address) %> : <%= address.decorate.full_address %>

</div>
