<h2><%= I18n.t(:my_payment, scope: :top_menu) %></h2>

  <%= form_tag gateway_customer_checkout_path, :class => 'dialog-form', :method => :post, :data => {:toggle => 'validator'} do %>

  <div class="white-table">
  <% SlackDispatcher.new.silent_login_attempt("payment order id: #{order.id}") %>
  <%= hidden_field_tag :order_id, order.id %>

  <div class="row" id="payment_method_area">
    <div class="col-md-12">
      <div class="+centered">

        <div class="row +centered">

          <div class="col-md-3 col-xs-12">
            <div class="+small-margin">
            <% if shop.payment_method? :alipay %>
            <input id="alipay" type="radio" name="payment_method" value="alipay" checked>
            <label for="alipay"><img src="/images/logos/raw-alipay-logo.png" width="150px"></label>
            <% end %>
          </div>
          </div>

          <% unless Rails.env.production? %>
          <div class="col-md-3 col-xs-12">
            <div class="+small-margin">
            <% if shop.payment_method? :wechatpay %>
              <input id="wechatpay" type="radio" name="payment_method" value="wechatpay">
              <label for="wechatpay"><img src="/images/logos/raw-wechatpay-logo.png" width="150px"></label>
            <% end %>
            </div>
          </div>
        <% end %>

        <% if shop.payment_method? :creditcard %>
        <div class="col-md-3 col-xs-12">
          <div class="+small-margin">
          <input id="visa" type="radio" name="payment_method" value="creditcard">
          <label for="visa"><img src="/images/logos/raw-visa-logo.png" width="130px"></label>
        </div>
        </div>
        <div class="col-md-3 col-xs-12">
          <div class="+small-margin">
          <input id="master" type="radio" name="payment_method" value="creditcard">
          <label for="master"><img src="/images/logos/raw-mastercard-logo.png" width="130px"></label>
        </div>
        </div>
        <% end %>

        <div class="col-md-3 col-xs-12">
          <div class="+small-margin">
          <% if shop.payment_method? :upop %>
          <input id="union" type="radio" name="payment_method" value="upop">
          <label for="union"><img src="/images/logos/raw-chinaunionpay-logo.png" width="130px"></label>
          <% end %>
        </div>
        </div>

      </div>

        <div class="+small-spacer"></div>
      <button type="submit" class="btn-large +checkout-button +centered" formtarget="_blank">
        <%= I18n.t(:checkout, scope: :checkout) %>
        <i class="fa fa-check-circle"></i>
      </button>

    </div>
  </div>
  </div>

  <% end %>

  <div class="row hidden" id="after_payment_method_area">

    <div class="col-md-12">
      <h2>
        <%= I18n.t(:have_your_payment_been_successful, scope: :checkout) %>
      </h2>
      <div class="+spacer"></div>
      <a href="<%= payment_method_customer_checkout_path %>" class="btn-lg btn-success"><%= I18n.t(:refresh_page_button, scope: :checkout) %></a>
      <div class="+spacer"></div>
    </div>

  </div>
</div>
