= javascript_include_tag 'bootstrap-multiselect.js'
= stylesheet_link_tag 'bootstrap-multiselect.css'

:javascript
  $(document).ready(function() {
      $('#product_categories').multiselect({
        enableCaseInsensitiveFiltering: true,
        maxHeight: 400,
      });
  });

- if @product.persisted?
  %a.btn.btn-primary{ :class => 'btn-lg',  :href => edit_user_path(current_user, :user_info_edit_part => :edit_product_detail, :product_id => @product.id) }
    %i.fa.fa-edit
    = I18n.t(:sku_manage, scope: :edit_product_detail)

  %a.btn.btn-primary{ :class => 'btn-lg',  :href => edit_user_path(current_user, :user_info_edit_part => :edit_product_detail_new, :product_id => @product.id) }
    %i.fa.fa-edit
    = I18n.t(:variant_manage, scope: :edit_product_detail)

%br
%br

= form_for @product do |f|
  = hidden_field_tag :part, :basic

  %table.table.table-bordered
    %tbody
      %tr.info
        %th.text-center= I18n.t(:categories, scope: :edit_product)
      %tr
        %td= f.select :categories, grouped_options_for_select(get_grouped_categories_options, @product.categories.map { |c| c.id.to_s }), {}, :multiple => 'multiple', :name => 'product[categories][]', :class => 'form-control product_categoires', :required => true

  %table.table.table-bordered
    %tbody
      %tr
        %th.info= I18n.t(:name, scope: :edit_product)
        %td= f.text_field :name, :class => 'form-control', :required => true
      %tr
        %th.info= I18n.t(:brand, scope: :edit_product)
        %td= f.text_field :brand, :class => 'form-control', :required => true
      %tr
        %th.info= I18n.t(:desc, scope: :edit_product)
        %td= f.text_area :desc, :class => 'form-control'

  %table.table.table-bordered
    %tbody
      %tr.info
        %th.text-center{ :colspan => 3 }= I18n.t(:tags, scope: :edit_product)
      %tr
        %td= text_field_tag "product[tags][]", @product.tags[0], :class => 'form-control', :placeholder => I18n.t(:tag1, scope: :edit_product)
        %td= text_field_tag "product[tags][]", @product.tags[1], :class => 'form-control', :placeholder => I18n.t(:tag2, scope: :edit_product)
        %td= text_field_tag "product[tags][]", @product.tags[2], :class => 'form-control', :placeholder => I18n.t(:tag3, scope: :edit_product)

  = f.submit :class => 'btn btn-primary', :value => @product.persisted? ? I18n.t(:update_basic, scope: :edit_product) : I18n.t(:new_basic, scope: :edit_product)