:javascript
  $(function() {
    $('#edit_producer_submit_btn').click( function() {
      $('input.dynamical-required').each(
        function () {
          if ( $(this).val().length == 0 ) {
            $(this).addClass('invalidBorderClass');
          } else {
            $(this).removeClass('invalidBorderClass');
          }
        }
      );

      if ( $('.invalidBorderClass').length > 0 ) {
        return false;
      }
    });
  });

= form_for @shop, :html => {'data-toggle': 'validator', role: 'form' } do |f|
  .panel-group
    .panel.panel-info
      .panel-heading.text-center
        %label= I18n.t(:shopkeeper_info, scope: :shop_application)
      .panel-body
        %table.table.table-borderless
          %tbody
            %tr.form-group
              %td{width: '30%'}
                %label.required= I18n.t(:name, scope: :edit_shop)
              %td{width: '70%'}
                = f.text_field :name, :class => 'form-control', :required => true, :maxLength => Rails.configuration.max_short_text_length, :placeholder => I18n.t(:company_name_placeholder, scope: :edit_shop)
                %div.help-block.with-errors
            %tr.form-group
              %td{width: '30%', :title => I18n.t(:founding_year_info, scope: :edit_shop) }
                %i.fa.fa-info-circle{ :title => I18n.t(:founding_year_info, scope: :edit_shop) }
                %label.required= I18n.t(:founding_year, scope: :edit_shop)
              %td{width: '70%'}
                = f.text_field :founding_year, :class => 'form-control', :required => true, :pattern => '^(18|19|20)\d{2}$', :maxLength => 4, :placeholder => '2016'
                %div.help-block.with-errors
            %tr.form-group
              %td{width: '30%'}
                %label= I18n.t(:register, scope: :edit_shop)
              %td{width: '70%'}
                = f.text_field :register, :class => 'form-control', :maxLength => Rails.configuration.max_tiny_text_length, :placeholder => 'HRB 999999'
                %div.help-block.with-errors
            %tr.form-group
              %td{width: '30%', :title => I18n.t(:desc_info, scope: :edit_shop) }
                %i.fa.fa-info-circle{ :title => I18n.t(:desc_info, scope: :edit_shop) }
                %label.required= I18n.t(:desc, scope: :edit_shop)
              %td{width: '70%'}
                = f.text_area :desc, :class => 'form-control', rows: 4, :required => true, :maxLength => Rails.configuration.max_medium_text_length
                %div.help-block.with-errors
            %tr.form-group
              %td{width: '30%', :title => I18n.t(:philosophy_info, scope: :edit_shop) }
                %i.fa.fa-info-circle{ :title => I18n.t(:philosophy_info, scope: :edit_shop) }
                %label.required= I18n.t(:philosophy, scope: :edit_shop)
              %td{width: '70%'}
                = f.text_area :philosophy, :class => 'form-control', rows: 4, :required => true, :maxLength => Rails.configuration.max_medium_text_length
                %div.help-block.with-errors
            %tr.form-group
              %td{width: '30%', :title => I18n.t(:stories_info, scope: :edit_shop) }
                %i.fa.fa-info-circle{ :title => I18n.t(:stories_info, scope: :edit_shop) }
                %label= I18n.t(:stories, scope: :edit_shop)
              %td{width: '70%'}
                = f.text_area :stories, :class => 'form-control', rows: 4, :maxLength => Rails.configuration.max_long_text_length
                %div.help-block.with-errors
            %tr.form-group
              %td{width: '30%', :title => I18n.t(:uniqueness_info, scope: :edit_shop) }
                %i.fa.fa-info-circle{ :title => I18n.t(:uniqueness_info, scope: :edit_shop) }
                %label= I18n.t(:uniqueness, scope: :edit_shop)
              %td{width: '70%'}= f.text_area :uniqueness, :class => 'form-control', rows: 4, :maxLength => Rails.configuration.max_medium_text_length
            %tr.form-group
              %td{width: '30%', :title => I18n.t(:german_essence_info, scope: :edit_shop) }
                %i.fa.fa-info-circle{ :title => I18n.t(:german_essence_info, scope: :edit_shop) }
                %label= I18n.t(:german_essence, scope: :edit_shop)
              %td{width: '70%'}
                = f.text_area :german_essence, :class => 'form-control', rows: 4, :maxLength => Rails.configuration.max_medium_text_length
                %div.help-block.with-errors
            %tr.form-group
              %td{width: '30%'}
                %label.required= I18n.t(:tax_number, scope: :edit_shop)
              %td{width: '70%'}
                = f.text_field :tax_number, :class => 'form-control', :placeholder => 'z.B. 9181081508155', :required => true, :maxLength => Rails.configuration.max_tiny_text_length
                %div.help-block.with-errors
            %tr.form-group
              %td{width: '30%', :title => I18n.t(:ust_id_info, scope: :edit_shop) }
                %i.fa.fa-info-circle{ :title => I18n.t(:ust_id_info, scope: :edit_shop) }
                %label.required= I18n.t(:ustid, scope: :edit_shop)
              %td{width: '70%'}
                = f.text_field :ustid, :class => 'form-control', :placeholder => 'z.B. DE999999999', :required => true, :maxLength => Rails.configuration.max_tiny_text_length
                %div.help-block.with-errors
            %tr.form-group
              %td{width: '30%', :title => I18n.t(:eroi_number_info, scope: :edit_shop) }
                %i.fa.fa-info-circle{ :title => I18n.t(:eroi_number_info, scope: :edit_shop) }
                %label= I18n.t(:eroi, scope: :edit_shop)
              %td{width: '70%'}
                = f.text_field :eroi, :class => 'form-control', :maxLength => Rails.configuration.max_tiny_text_length
                %div.help-block.with-errors
    .panel.panel-info
      .panel-heading{ :title => I18n.t(:sales_channels_info, scope: :edit_shop, num: Rails.configuration.max_num_sales_channels) }
        .btn-toolbar{ :style => 'margin-left:22px' }
          %i.fa.fa-info-circle{ :title => I18n.t(:sales_channels_info, scope: :edit_shop, num: Rails.configuration.max_num_sales_channels) }
          %label= I18n.t(:sales_channels, scope: :edit_shop)
          .pull-right
            %a{:href => '#', :class=> 'btn btn-sm', :onclick => "#{gen_add_sales_channel('shop')}", :id => "a_add_sales_channel_#{@shop.id}"}
              %i.fa.fa-plus-circle
              = I18n.t(:add_sales_channel, scope: :edit_shop)
      .panel-body
        %table.table.table-borderless{:id => "table_shop_sales_channels_#{@shop.id}"}
          %tbody
            - if @shop.sales_channels
              - @shop.sales_channels.each_slice(2) do |sck, scv|
                %tr
                  %td{width: '30%'}= select_tag 'shop[sales_channels][]', options_for_select(SalesChannelOptions::OPTIONS.map {|o| [I18n.t(o, scope: 'edit_shop.sales_channel_options'), o]}, sck), :class => 'form-control'
                  %td.form-group{width: '60%'}= text_field_tag 'shop[sales_channels][]', scv, :class => 'form-control', :placeholder => I18n.t(:sales_channel, scope: :edit_shop), :required => true
                  %td{width: '30%'}
                    %a{ :href => '#', :class => 'btn', :onclick => "#{gen_remove_sales_channel}" }
                      %i.fa.fa-times-circle
                      =I18n.t(:remove_sales_channel, scope: :edit_shop)
    .panel.panel-info
      .panel-heading.text-center
        %label= I18n.t(:statements, scope: :shop_application)
      .panel-body
        %table.table.table-borderless
          %tbody
            %tr
              .form-group
                = f.check_box :statement0, { :disabled => true }
                = I18n.t(:statement_0, scope: :shop_application)
            %tr
              .form-group
                = f.check_box :statement1, { :disabled => true }
                = I18n.t(:statement_1, scope: :shop_application)
            %tr
              .form-group
                = f.check_box :statement2, { :disabled => true }
                = I18n.t(:statement_2, scope: :shop_application)

    .panel.panel-info
      .panel-heading.text-center
        %label{:class => current_user.shop.agb ? '' : 'required'}= I18n.t(:agb, scope: :edit_shop)
      .panel-body
        .form-group
          - if current_user.shop && (not current_user.shop.agb)
            = f.hidden_field :agb
            = f.check_box :agb, { :required => true }, true
            = I18n.t(:agb_statement, scope: :edit_shop).html_safe
          - else
            = f.check_box :agb, { :disabled => true }
            = I18n.t(:agb_statement, scope: :edit_shop).html_safe

  = f.button I18n.t(:save, scope: :edit_shop), :id => 'edit_producer_submit_btn', :class => 'btn btn-primary',  name: :user_info_edit_part, value: :edit_producer
