= javascript_include_tag 'bootstrap-multiselect.js'
= stylesheet_link_tag 'bootstrap-multiselect.css'

:javascript
  $(document).ready(function() {
      $('.sku_variants_options').multiselect({
        maxHeight: 400
      });
  });

  $.validator.addMethod("multiSelectRequired", function (value, element) {
    return element.length > 0;
  });

  $('.sku_variants_options').each(function () {
    $(this).change(function () {
      $(this).valid();
    });

    $(this).rules('add', {
      'multiSelectRequired': true
    });
  });

= form_for @product, :html => {'data-toggle': 'validator'} do |f|
  = hidden_field_tag :part, :sku
  = f.fields_for :skus do |fs|
    - if new && (not @product.skus[fs.index].persisted?)
      %table.table.table-bordered
        %tdeader
          %td.text-center{:colspan => 4}
            = I18n.t(:images, scope: :edit_product_detail)
            %i.fa.fa-info-circle{ :title => I18n.t(:images_info, scope: :edit_product_detail) }
        %tbody
          %tr
            %td.text-center{:colspan => 2}= I18n.t(:img0, scope: :edit_product_detail)
            %td.text-center{:colspan => 2}= I18n.t(:img1, scope: :edit_product_detail)
          %tr
            %td{:colspan => 2, :align => :center}= image_tag get_uploaded_img_url(@product.skus[fs.index].img0), :style => 'width:320px;height:320px', :id => "img_0_#{@product.id}"
            %td{:colspan => 2, :align => :center}= image_tag get_uploaded_img_url(@product.skus[fs.index].img1), :style => 'width:320px;height:320px', :id => "img_1_#{@product.id}"
          %tr
            %td{:colspan => 2, :align => :center}= fs.file_field :img0, :accept => "image/png, image/jpeg, image/jpg", :img_id => "#img_0_#{@product.id}", :class => 'img-file-upload', :onchange =>"validateImgFile(this);"
            %td{:colspan => 2, :align => :center}= fs.file_field :img1, :accept => "image/png, image/jpeg, image/jpg", :img_id => "#img_1_#{@product.id}", :class => 'img-file-upload', :onchange =>"validateImgFile(this);"
          %tr
            %td.text-center{:colspan => 2}= I18n.t(:img2, scope: :edit_product_detail)
            %td.text-center{:colspan => 2}= I18n.t(:img3, scope: :edit_product_detail)
          %tr
            %td{:colspan => 2, :align => :center}= image_tag get_uploaded_img_url(@product.skus[fs.index].img2), :style => 'width:320px;height:320px', :id => "img_2_#{@product.id}"
            %td{:colspan => 2, :align => :center}= image_tag get_uploaded_img_url(@product.skus[fs.index].img3), :style => 'width:320px;height:320px', :id => "img_3_#{@product.id}"
          %tr
            %td{:colspan => 2, :align => :center}= fs.file_field :img2, :accept => "image/png, image/jpeg, image/jpg", :img_id => "#img_2_#{@product.id}", :class => 'img-file-upload'
            %td{:colspan => 2, :align => :center}= fs.file_field :img3, :accept => "image/png, image/jpeg, image/jpg", :img_id => "#img_3_#{@product.id}", :class => 'img-file-upload'

      %table.table.table-bordered
        %tdeader
          %td.text-center{:colspan => 4}= I18n.t(:sku_options, scope: :edit_product_detail)
        %tbody
          %tr
            %td.text-center{:colspan => 2}= I18n.t(:sku_variants_options, scope: :edit_product_detail)
            %td.text-center{:colspan => 2}= I18n.t(:price, scope: :edit_product_detail)
          %tr
            %td.form-group{:colspan => 2}= fs.select :option_ids, grouped_options_for_select(get_grouped_variants_options(@product), @product.skus[fs.index].option_ids ), {}, {:multiple => 'multiple', :class => 'sku_variants_options', :required => true}
            %td.form-group{:colspan => 2}
              .input-group
                = fs.text_field :price, :class => 'form-control', :required => true, :pattern => '^\d+\.?\d*$'
                %span.input-group-addon
                  = fs.label @product.shop.currency
          %tr
            %td.text-center{:colspan => 2}= I18n.t(:quantity, scope: :edit_product_detail)
            %td.text-center{:colspan => 2}= I18n.t(:weight, scope: :edit_product_detail)
          %tr
            %td.form-group{:colspan => 2}= fs.text_field :quantity, :class => 'form-control', :placeholder => @product.skus[fs.index].limited ? '' : I18n.t(@product.skus[fs.index].limited.to_s.to_sym, scope: 'edit_product_detail.limited'), :type => 'number', :required => true
            %td.form-group{:colspan => 2}= fs.text_field :weight, :class => 'form-control', :pattern => '^\d+\.?\d*$', :required => true
          %tr
            %td.text-center{:colspan => 2}= I18n.t(:discount, scope: :edit_product_detail)
            %td.text-center{:colspan => 2}= I18n.t('edit_product_detail.customizable.info')
          %tr
            %td.form-group{:colspan => 2}= fs.text_field :discount, :class => 'form-control', :required => true, :pattern => '^[1-9][0-9]?$|^100$|^0$'
            %td.form-group{:colspan => 2}
              = fs.hidden_field :customizable
              = fs.check_box :customizable, {}, true
              = I18n.t(true, scope: 'edit_product_detail.customizable')
          %tr
            %td.text-center{:colspan => 2}= I18n.t('edit_product_detail.status.info')
          %tr
            %td.form-group{:colspan => 2}
              = fs.hidden_field :status
              = fs.check_box :status, {}, true
              = I18n.t('edit_product_detail.status.true')
    - elsif (not new) && @product.skus[fs.index].id.to_s == params[:sku_id]
      %table.table.table-bordered
        %tdeader
          %td.text-center{:colspan => 4}
            = I18n.t(:images, scope: :edit_product_detail)
            %i.fa.fa-info-circle{ :title => I18n.t(:images_info, scope: :edit_product_detail) }
        %tbody
          %tr
            %td.text-center{:colspan => 2}= I18n.t(:img0, scope: :edit_product_detail)
            %td.text-center{:colspan => 2}= I18n.t(:img1, scope: :edit_product_detail)
          %tr
            %td{:colspan => 2, :align => :center}= image_tag get_uploaded_img_url(@product.skus[fs.index].img0), :style => 'width:320px;height:320px', :id => "img_0_#{@product.id}"
            %td{:colspan => 2, :align => :center}= image_tag get_uploaded_img_url(@product.skus[fs.index].img1), :style => 'width:320px;height:320px', :id => "img_1_#{@product.id}"
          %tr
            %td{:colspan => 2, :align => :center}= fs.file_field :img0, :accept => "image/png, image/jpeg, image/jpg", :img_id => "#img_0_#{@product.id}", :class => 'img-file-upload', :onchange =>"validateImgFile(this);"
            %td{:colspan => 2, :align => :center}= fs.file_field :img1, :accept => "image/png, image/jpeg, image/jpg", :img_id => "#img_1_#{@product.id}", :class => 'img-file-upload', :onchange =>"validateImgFile(this);"
          %tr
            %td.text-center{:colspan => 2}= I18n.t(:img2, scope: :edit_product_detail)
            %td.text-center{:colspan => 2}= I18n.t(:img3, scope: :edit_product_detail)
          %tr
            %td{:colspan => 2, :align => :center}= image_tag get_uploaded_img_url(@product.skus[fs.index].img2), :style => 'width:320px;height:320px', :id => "img_2_#{@product.id}"
            %td{:colspan => 2, :align => :center}= image_tag get_uploaded_img_url(@product.skus[fs.index].img3), :style => 'width:320px;height:320px', :id => "img_3_#{@product.id}"
          %tr
            %td{:colspan => 2, :align => :center}= fs.file_field :img2, :accept => "image/png, image/jpeg, image/jpg", :img_id => "#img_2_#{@product.id}", :class => 'img-file-upload', :onchange =>"validateImgFile(this);"
            %td{:colspan => 2, :align => :center}= fs.file_field :img3, :accept => "image/png, image/jpeg, image/jpg", :img_id => "#img_3_#{@product.id}", :class => 'img-file-upload', :onchange =>"validateImgFile(this);"

      %table.table.table-bordered
        %tdeader
          %td.text-center{:colspan => 4}= I18n.t(:sku_options, scope: :edit_product_detail)
        %tbody
          %tr
            %td.text-center{:colspan => 2}
              = I18n.t(:sku_variants_options, scope: :edit_product_detail)
              %i.fa.fa-info-circle{ :title => I18n.t(:variants_info, scope: :edit_product_detail) }
            %td.text-center{:colspan => 2}= I18n.t(:price, scope: :edit_product_detail)
          %tr
            %td.form-group{:colspan => 2}= fs.select :option_ids, grouped_options_for_select(get_grouped_variants_options(@product), @product.skus[fs.index].option_ids ), {}, {:multiple => 'multiple', :class => 'sku_variants_options', :required => true}
            %td.form-group{:colspan => 2}
              .input-group
                = fs.text_field :price, :class => 'form-control', :required => true, :pattern => '^\d+\.?\d*$'
                %span.input-group-addon
                  = fs.label @product.shop.currency
          %tr
            %td.text-center{:colspan => 2}= I18n.t(:quantity, scope: :edit_product_detail)
            %td.text-center{:colspan => 2}= I18n.t(:weight, scope: :edit_product_detail)
          %tr
            %td.form-group{:colspan => 2}= fs.text_field :quantity, :class => 'form-control', :placeholder => @product.skus[fs.index].limited ? '' : I18n.t(@product.skus[fs.index].limited.to_s.to_sym, scope: 'edit_product_detail.limited'), :pattern => '^[1-9][0-9]*$', :required => true
            %td.form-group{:colspan => 2}= fs.text_field :weight, :class => 'form-control', :required => true, :pattern => '^\d+\.?\d*$'
          %tr
            %td.text-center{:colspan => 2}= I18n.t(:discount, scope: :edit_product_detail)
            %td.text-center{:colspan => 2}
              = I18n.t('edit_product_detail.customizable.info')
              %i.fa.fa-info-circle{ :title => I18n.t(:customizable_info, scope: :edit_product_detail) }
          %tr
            %td.form-group{:colspan => 2}= fs.text_field :discount, :class => 'form-control', :pattern => '^[1-9][0-9]?$|^100$|^0$', :required => true
            %td.form-group{:colspan => 2}
              = fs.hidden_field :customizable
              = fs.check_box :customizable, {}, true
              = I18n.t(true, scope: 'edit_product_detail.customizable')
          %tr
            %td.text-center{:colspan => 2}= I18n.t('edit_product_detail.status.info')
          %tr
            %td.form-group{:colspan => 2}
              = fs.hidden_field :status
              = fs.check_box :status, {}, true
              = I18n.t('edit_product_detail.status.true')

  = f.submit :class => 'btn btn-primary', :value => new ? I18n.t(:create_sku, scope: :edit_product_detail) : I18n.t(:update_sku, scope: :edit_product_detail), :part => :sku
  = link_to I18n.t(:cancel, scope: :edit_product_detail), :back, :class => 'btn btn-primary'