.row
  %h3.text-center You can configure maximal 3 different addresses.

#add-address-dialog.mfp-with-anim.mfp-hide.mfp-dialog.clearfix
  =form_for @address do |f|
    .form-group
      %h4 Your New Address
    .form-group
      = f.text_field :street_building_room, :class => 'form-control', :placeholder => 'Street, Building & Room (*)'
    .form-group
      = f.text_field :district, :class => 'form-control', :placeholder => 'District'
    .form-group
      = f.text_field :city, :class => 'form-control', :placeholder => 'City (*)'
    .form-group
      = f.text_field :province, :class => 'form-control', :placeholder => 'Province'
    .form-group
      = f.text_field :country, :class => 'form-control', :placeholder => 'Country (*)'
    .form-group
      = f.text_field :zip, :class => 'form-control', :placeholder => 'Zip (*)'
    .form-group
      .checkbox
        %label
          %label
            = f.check_box :primary, {:class => 'i-check'}, true, false
            Set Primary
    %input.btn.btn-primary{:type => "submit", :value => "Add Address"}
.row.row-wrap
  - current_user.addresses.each do |a|
    %div.mfp-with-anim.mfp-hide.mfp-dialog.clearfix{ :id => "edit-address-dialog-#{a.id}" }
      = form_for a, :url => address_path(a), :html => { :method => :patch }  do |f|
        .form-group
          %h4 Change Your Address
        .form-group
          = f.text_field :street_building_room, :value=> "#{a.street_building_room}", :class => 'form-control', :placeholder => 'Street, Building & Room (*)'
        .form-group
          = f.text_field :district, :value=> "#{a.district}", :class => 'form-control', :placeholder => 'District'
        .form-group
          = f.text_field :city, :value=> "#{a.city}", :class => 'form-control', :placeholder => 'City (*)'
        .form-group
          = f.text_field :province, :value=> "#{a.province}", :class => 'form-control', :placeholder => 'Province'
        .form-group
          = f.text_field :country,  :value=> "#{a.country}",  :class => 'form-control', :placeholder => 'Country (*)'
        .form-group
          = f.text_field :zip,      :value=> "#{a.zip}",      :class => 'form-control', :placeholder => 'Zip (*)'
        .checkbox
          %label
            = f.check_box :primary, {:class => 'i-check'}, :true, :false
            Set Primary
        %input.btn.btn-primary{:type => "submit", :value => "Save Changes"}
    .col-md-4
      .address-box
        = link_to '', address_path(a), method: :delete, data: { confirm: 'Are you certain you want to delete this?' }, "data-placement" => "right", "data-toggle" => "tooltip", class: 'address-box-remove'
        %a.address-box-edit.popup-text{"data-effect" => "mfp-move-from-top", "data-placement" => "right", "data-toggle" => "tooltip", :href => "#edit-address-dialog-#{a.id}", :title => "Edit"}
        %ul
          %li= "Street, Building & Room : #{ a.street_building_room }"
          %li= "District : #{ a.district }"
          %li= "City : #{ a.city }"
          %li= "Province : #{ a.province }"
          %li= "Country : #{ a.country }"
          %li= "Zip : #{ a.zip }"
        .radio
          %label
            = check_box_tag :primary, a.primary, checked = a.primary, { :disabled => true, :class => 'i-check' }
            Primary Address
  - if current_user.addresses.count < 3
    .col-md-4
      %a.address-box.address-box-new.popup-text{"data-effect" => "mfp-move-from-top", :href => "#add-address-dialog"}
        .vert-center
          %i.fa.fa-plus.address-box-new-icon
          %p Add New Address
