= form_for @shop, :html => {role: 'form'} do |f|
  .panel-group
    .panel.panel-info
      .panel-heading.text-center
        %h4= I18n.t(:shopkeeper_info, scope: :shop_application)
      .panel-body
        %table.table.table-borderless
          %tbody
            %tr.form-group
              %td{width: '20%'}= I18n.t(:name, scope: :edit_shop)
              %td{width: '80%'}= f.text_field :name, :class => 'form-control', :required => true, :placeholder => I18n.t(:company_name_placeholder, scope: :edit_shop)
            %tr.form-group
              %td{width: '20%', :title => I18n.t(:founding_year_info, scope: :edit_shop) }
                = I18n.t(:founding_year, scope: :edit_shop)
                %i.fa.fa-info-circle{ :title => I18n.t(:founding_year_info, scope: :edit_shop) }
              %td{width: '80%'}= f.text_field :founding_year, :class => 'form-control', :required => true, :pattern => '^(18|19|20)\d{2}$', :maxlength => 4, :placeholder => '2016'
            %tr.form-group
              %td{width: '20%'}
                = I18n.t(:register, scope: :edit_shop)
              %td{width: '80%'}= f.text_field :register, :class => 'form-control', :required => true, :placeholder => 'HRB 999999'
            %tr.form-group
              %td{width: '20%', :title => I18n.t(:desc_info, scope: :edit_shop) }
                = I18n.t(:desc, scope: :edit_shop)
                %i.fa.fa-info-circle{ :title => I18n.t(:desc_info, scope: :edit_shop) }
              %td{width: '80%'}= f.text_area :desc, :class => 'form-control', rows: 4, :required => true
            %tr.form-group
              %td{width: '20%', :title => I18n.t(:philosophy_info, scope: :edit_shop) }
                = I18n.t(:philosophy, scope: :edit_shop)
                %i.fa.fa-info-circle{ :title => I18n.t(:philosophy_info, scope: :edit_shop) }
              %td{width: '80%'}= f.text_area :philosophy, :class => 'form-control', rows: 4, :required => true
            %tr.form-group
              %td{width: '20%', :title => I18n.t(:stories_info, scope: :edit_shop) }
                = I18n.t(:stories, scope: :edit_shop)
                %i.fa.fa-info-circle{ :title => I18n.t(:stories_info, scope: :edit_shop) }
              %td{width: '80%'}= f.text_area :stories, :class => 'form-control', rows: 4, :required => true
            %tr.form-group
              %td{width: '20%', :title => I18n.t(:uniqueness_info, scope: :edit_shop) }
                = I18n.t(:uniqueness, scope: :edit_shop)
                %i.fa.fa-info-circle{ :title => I18n.t(:uniqueness_info, scope: :edit_shop) }
              %td{width: '80%'}= f.text_area :uniqueness, :class => 'form-control', rows: 4
            %tr.form-group
              %td{width: '20%', :title => I18n.t(:german_essence_info, scope: :edit_shop) }
                = I18n.t(:german_essence, scope: :edit_shop)
                %i.fa.fa-info-circle{ :title => I18n.t(:german_essence_info, scope: :edit_shop) }
              %td{width: '80%'}= f.text_area :german_essence, :class => 'form-control', rows: 4
    .panel.panel-default
      .panel-body
        %table.table.table-borderless
          %tbody
            %tr.form-group
              %td{width: '20%', :title => I18n.t(:ust_id_info, scope: :edit_shop) }
                = I18n.t(:ustid, scope: :edit_shop)
                %i.fa.fa-info-circle{ :title => I18n.t(:ust_id_info, scope: :edit_shop) }
              %td{width: '80%'}= f.text_field :ustid, :class => 'form-control', :placeholder => 'DE999999999'
            %tr.form-group
              %td{width: '20%', :title => I18n.t(:eroi_number_info, scope: :edit_shop) }
                = I18n.t(:eroi, scope: :edit_shop)
                %i.fa.fa-info-circle{ :title => I18n.t(:eroi_number_info, scope: :edit_shop) }
              %td{width: '80%'}= f.text_field :eroi, :class => 'form-control'
    .panel.panel-info
      .panel-heading{ :title => I18n.t(:target_groups_info, scope: :edit_shop, num: Rails.configuration.max_num_target_groups) }
        .btn-toolbar{ :style => 'margin-left:22px' }
          = I18n.t(:target_groups, scope: :edit_shop)
          %i.fa.fa-info-circle{ :title => I18n.t(:target_groups_info, scope: :edit_shop, num: Rails.configuration.max_num_target_groups) }
          .pull-right
            %a{:href => '#', :class=> 'btn btn-sm', :onclick => "#{gen_add_target_group}", :id => "a_add_target_group_#{@shop.id}"}
              %i.fa.fa-plus-circle
              = I18n.t(:add_target_group, scope: :edit_shop)
      .panel-body
        %table.table.table-borderless{:id => "table_shop_target_groups_#{@shop.id}"}
          %tbody
            - if @shop.target_groups
              - @shop.target_groups.each do |tg|
                %tr.form-group
                  %td{width: '80%'}= text_field_tag 'shop[target_groups][]', tg, :class => 'form-control', :placeholder => I18n.t(:target_group, scope: :edit_shop), :required => true
                  %td{width: '20%'}
                    %a{ :href => '#', :class => 'btn', :onclick => "$(this).closest('tr').remove(); return false;" }
                      %i.fa.fa-times-circle
                      =I18n.t(:remove_target_group, scope: :edit_shop)
    .panel.panel-info
      .panel-heading{ :title => I18n.t(:sales_channels_info, scope: :edit_shop, num: Rails.configuration.max_num_sales_channels) }
        .btn-toolbar{ :style => 'margin-left:22px' }
          = I18n.t(:sales_channels, scope: :edit_shop)
          %i.fa.fa-info-circle{ :title => I18n.t(:sales_channels_info, scope: :edit_shop, num: Rails.configuration.max_num_sales_channels) }
          .pull-right
            %a{:href => '#', :class=> 'btn btn-sm', :onclick => "#{gen_add_sales_channel}", :id => "a_add_sales_channel_#{@shop.id}"}
              %i.fa.fa-plus-circle
              = I18n.t(:add_sales_channel, scope: :edit_shop)
      .panel-body
        %table.table.table-borderless{:id => "table_shop_sales_channels_#{@shop.id}"}
          %tbody
            - if @shop.sales_channels
              - @shop.sales_channels.each_slice(2) do |sck, scv|
                %tr.form-group
                  %td{width: '20%'}= select_tag 'shop[sales_channels][]', options_for_select([ 'Online-Shop', 'Online-Marktplatz', 'Einzelhandler', 'Workshop' ], sck), :class => 'form-control'
                  %td{width: '60%'}= text_field_tag 'shop[sales_channels][]', scv, :class => 'form-control', :placeholder => I18n.t(:sales_channel, scope: :edit_shop), :required => true
                  %td{width: '20%'}
                    %a{ :href => '#', :class => 'btn', :onclick => "$(this).closest('tr').remove(); return false;" }
                      %i.fa.fa-times-circle
                      =I18n.t(:remove_sales_channel, scope: :edit_shop)
    .panel.panel-info
      .panel-heading.text-center
        %h4= I18n.t(:statements, scope: :shop_application)
      .panel-body
        %table.table.table-borderless
          %tbody
            %tr
              .form-group
                = f.check_box :statement0, { :disabled => true }
                = I18n.t(:statement_0, scope: :shop_application)
            %tr
              .form-group
                = f.check_box :statement1, { :disabled => true }
                = I18n.t(:statement_1, scope: :shop_application)
            %tr
              .form-group
                = f.check_box :statement2, { :disabled => true }
                = I18n.t(:statement_2, scope: :shop_application)


  = f.button I18n.t(:save, scope: :edit_shop), :class => 'btn btn-primary', name: :user_info_edit_part, value: :edit_producer
