= javascript_include_tag 'bootstrap-multiselect.js'
= stylesheet_link_tag 'bootstrap-multiselect.css'

:javascript
  $(document).ready(function() {
      $('.product_categories').multiselect({
        maxHeight: 400,
      });
  });

%a.btn.btn-primary{ :class => "#{for_device_type :desktop do 'btn-lg' end}",  :href => edit_user_path(current_user, :user_info_edit_part => :edit_product_new) }
  %i.fa.fa-plus-circle
  = I18n.t(:new, scope: :edit_product)

%br
%br
  
- if current_user.shop.products.count > 0
  %table.table.cart-table
    %thead
      %tr
        %th
          = I18n.t(:name, scope: :edit_product)
        %th
          = I18n.t(:brand, scope: :edit_product)
        %th
          = I18n.t(:categories, scope: :edit_product)
          %i.fa.fa-info-circle{ :title => I18n.t(:categories_info, scope: :edit_product) }
        %th
          = I18n.t(:operations, scope: :edit_product)
    %tbody
      - current_user.shop.products.each do |p|
        %tr
          %td= link_to p.get_locale_name, edit_user_path(current_user, :user_info_edit_part => :edit_product_update, :product_id => p.id)
          %td= p.brand
          %td= select_tag :categories, grouped_options_for_select(get_grouped_categories_options, p.categories.map { |c| c.id.to_s }), :class => 'form-control product_categories'
          %td{:align => "left"}
            = link_to I18n.t(:edit, scope: :edit_product),  edit_user_path(current_user, :user_info_edit_part => :edit_product_update, :product_id => p.id), :class => 'fa fa-edit'
            = link_to I18n.t(:remove, scope: :edit_product), product_path(p), :method => :delete, data: { confirm: I18n.t(:delete_product_message, scope: :edit_product) }, :class => 'fa fa-edit'

- else
  %h4= I18n.t(:no_product, scope: :edit_product)