= form_for @shop do |f|
  %table.table.table-bordered
    %tbody
      %tr
        %th.info= I18n.t(:logo, scope: :edit_shop)
        %th.info= I18n.t(:banner, scope: :edit_shop)
      %tr
        %td= image_tag @shop.logo ? @shop.logo.url : nil, :style => 'width:96px;height:96px', :class => 'form-control img-thumbnail'
        %td= image_tag @shop.banner ? @shop.banner.url : nil, :style => 'width:512px;height:96px', :class => 'img-responsive form-control'
      %tr
        %td= f.file_field :logo, :accept => "image/png, image/jpeg"
        %td= f.file_field :banner, :accept => "image/png, image/jpeg"

  %table.table.table-bordered
    %tbody
      %tr
        %th.info= I18n.t(:name, scope: :edit_shop)
        %td= f.text_field :name, :class => 'form-control', :required => true
      %tr
        %th.info
          = I18n.t(:desc, scope: :edit_product)
          %i.fa.fa-info-circle{ :title => I18n.t(:desc_info, scope: :edit_shop) }
        %td= f.text_area :desc, :class => 'form-control'
      %tr
        %th.info
          = I18n.t(:philosophy, scope: :edit_shop)
          %i.fa.fa-info-circle{ :title => I18n.t(:philosophy_info, scope: :edit_shop) }
        %td= f.text_area :philosophy, :class => 'form-control'
      %tr
        %th.info
          = I18n.t(:story, scope: :edit_shop)
          %i.fa.fa-info-circle{ :title => I18n.t(:story_info, scope: :edit_shop) }
        %td= f.text_area :story, :class => 'form-control'

  %table.table.table-bordered
    %tbody
      %tr
        %th.info
          = I18n.t(:ustid, scope: :edit_shop)
          %i.fa.fa-info-circle{ :title => I18n.t(:ust_id_info, scope: :edit_shop) }
        %td= f.text_field :ustid, :class => 'form-control'
      %tr
        %th.info
          = I18n.t(:eroi, scope: :edit_shop)
          %i.fa.fa-info-circle{ :title => I18n.t(:eroi_number_info, scope: :edit_shop) }
        %td= f.text_field :eroi, :class => 'form-control'

  %table.table.table-bordered
    %tbody
      %tr
        %th.info.text-center
          = I18n.t(:min_total, scope: :edit_shop)
          %i.fa.fa-info-circle{ :title => I18n.t(:min_total_info, scope: :edit_shop) }
        %th.info.text-center
          = I18n.t('edit_shop.sms.info')
          %i.fa.fa-info-circle{ :title => I18n.t(:sms_info, scope: :edit_shop) }
      %tr
        %td
          .input-group
            = f.text_field :min_total, :class => 'form-control'
            %span.input-group-addon
              = f.label @shop.currency
        %td
          .input-group
            %span.input-group-addon
              = f.hidden_field :sms
              = f.check_box :sms, {}, true
            = f.text_field :sms_mobile, :class => 'form-control', :placeholder => @shop.sms ? '' : I18n.t('edit_shop.sms.false')

  = f.button I18n.t(:save, scope: :edit_shop), :class => 'btn btn-primary', name: :user_info_edit_part, value: :edit_shop
