- for_device_type :desktop do
  - if current_user.orders.count > 0
    %table.table.cart-table
      %thead
        %tr
          %th= I18n.t(:id, scope: :edit_order)
          %th= I18n.t(:status, scope: :edit_order)
          %th= I18n.t(:total_price, scope: :edit_order)
          %th= I18n.t(:created_at, scope: :edit_order)
          %th= I18n.t(:updated_at, scope: :edit_order)
          %th= I18n.t(:operations, scope: :edit_order)
      %tbody
        - current_user.orders.each do |o|
          %tr
            %td= link_to o.id, order_path(o)
            %td= I18n.t(o.status, scope: :edit_order)
            %td= o.total_price
            %td= o.c_at
            %td= o.u_at
            -unless o.status == :checked_out
              %td
                = link_to I18n.t(:delete, scope: :edit_order), order_path(o), method: :delete, data: { confirm: 'Are you certain you want to delete this?' }, :class => 'fa fa-times-circle'
                = link_to I18n.t(:continue, scope: :edit_order), continue_order_path(o), :class => 'fa fa-shopping-cart'
            -else
              %td
  - else
    %h4= I18n.t(:no_order, scope: :edit_order)

- for_device_type :mobile, :tablet do
  - if current_user.orders.count > 0
    - current_user.orders.each do |o|
      %table.table
        %theader
          %tr.info
            %th= I18n.t(:id, scope: :edit_order)
            %td= link_to o.id, order_path(o)
        %tbody
          %tr
            %th= I18n.t(:status, scope: :edit_order)
            %td= I18n.t(o.status, scope: :edit_order)
          %tr
            %th= I18n.t(:total_price, scope: :edit_order)
            %td= o.total_price
          %tr
            %th= I18n.t(:created_at, scope: :edit_order)
            %td= o.c_at
          %tr
            %th= I18n.t(:updated_at, scope: :edit_order)
            %td= o.u_at
          %tr
            %th= I18n.t(:operations, scope: :edit_order)
            -unless o.status == :checked_out
              %td
                = link_to I18n.t(:delete, scope: :edit_order), order_path(o), method: :delete, data: { confirm: 'Are you certain you want to delete this?' }, :class => 'fa fa-times-circle'
                = link_to I18n.t(:continue, scope: :edit_order), continue_order_path(o), :class => 'fa fa-shopping-cart'
  - else
    %h4= I18n.t(:no_order, scope: :edit_order)
