= form_for @shop do |f|
  .panel-group
    .panel.panel-info
      .panel-body
        %table.table.table-borderless
          %tbody
            %tr
              %th= I18n.t(:logo, scope: :edit_shop)
              %th= I18n.t(:banner, scope: :edit_shop)
            %tr
              %td= image_tag @shop.logo ? @shop.logo.url : nil, :style => 'width:96px;height:96px', :class => 'form-control img-thumbnail'
              %td= image_tag @shop.banner ? @shop.banner.url : nil, :style => 'width:512px;height:96px', :class => 'img-responsive form-control'
            %tr
              %td= f.file_field :logo, :accept => "image/png, image/jpeg"
              %td= f.file_field :banner, :accept => "image/png, image/jpeg"
    .panel.panel-info
      .panel-body
        %table.table.table-borderless
          %tbody
            %tr
              %th{width: '30%'}= I18n.t(:name, scope: :edit_shop)
              %td{width: '70%'}= f.text_field :name, :class => 'form-control', :required => true
            %tr
              %th{width: '30%', :title => I18n.t(:founding_year_info, scope: :edit_shop) }
                = I18n.t(:founding_year, scope: :edit_shop)
                %i.fa.fa-info-circle{ :title => I18n.t(:founding_year_info, scope: :edit_shop) }
              %td{width: '70%'}= f.text_field :founding_year, :class => 'form-control', :required => true, :pattern => '^(19|20)\d{2}$'
            %tr
              %th{width: '30%'}
                = I18n.t(:register, scope: :edit_shop)
              %td{width: '70%'}= f.text_field :register, :class => 'form-control', :required => true
            %tr
              %th{width: '30%', :title => I18n.t(:desc_info, scope: :edit_shop) }
                = I18n.t(:desc, scope: :edit_shop)
                %i.fa.fa-info-circle{ :title => I18n.t(:desc_info, scope: :edit_shop) }
              %td{width: '70%'}= f.text_area :desc, :class => 'form-control', rows: 4
            %tr
              %th{width: '30%', :title => I18n.t(:philosophy_info, scope: :edit_shop) }
                = I18n.t(:philosophy, scope: :edit_shop)
                %i.fa.fa-info-circle{ :title => I18n.t(:philosophy_info, scope: :edit_shop) }
              %td{width: '70%'}= f.text_area :philosophy, :class => 'form-control', rows: 4
            %tr
              %th{width: '30%', :title => I18n.t(:stories_info, scope: :edit_shop) }
                = I18n.t(:stories, scope: :edit_shop)
                %i.fa.fa-info-circle{ :title => I18n.t(:stories_info, scope: :edit_shop) }
              %td{width: '70%'}= f.text_area :stories, :class => 'form-control', rows: 4
            %tr
              %th{width: '30%', :title => I18n.t(:uniqueness_info, scope: :edit_shop) }
                = I18n.t(:uniqueness, scope: :edit_shop)
                %i.fa.fa-info-circle{ :title => I18n.t(:uniqueness_info, scope: :edit_shop) }
              %td{width: '70%'}= f.text_area :uniqueness, :class => 'form-control', rows: 4
            %tr
              %th{width: '30%', :title => I18n.t(:german_essence_info, scope: :edit_shop) }
                = I18n.t(:german_essence, scope: :edit_shop)
                %i.fa.fa-info-circle{ :title => I18n.t(:german_essence_info, scope: :edit_shop) }
              %td{width: '70%'}= f.text_area :german_essence, :class => 'form-control', rows: 4
    .panel.panel-info
      .panel-body
        - f.fields_for :address do |fa|
          %table.table.table-borderless
            %tbody
              %tr
                %th
                  = I18n.t(:fname, scope: :edit_shop)
                %td= fa.text_field :fname, :class => 'form-control', :required => true

    .panel.panel-info
      .panel-body
        %table.table.table-borderless
          %tbody
            %tr
              %th{width: '30%', :title => I18n.t(:ust_id_info, scope: :edit_shop) }
                = I18n.t(:ustid, scope: :edit_shop)
                %i.fa.fa-info-circle{ :title => I18n.t(:ust_id_info, scope: :edit_shop) }
              %td{width: '70%'}= f.text_field :ustid, :class => 'form-control', :placeholder => 'DE999999999'
            %tr
              %th{width: '30%', :title => I18n.t(:eroi_number_info, scope: :edit_shop) }
                = I18n.t(:eroi, scope: :edit_shop)
                %i.fa.fa-info-circle{ :title => I18n.t(:eroi_number_info, scope: :edit_shop) }
              %td{width: '70%'}= f.text_field :eroi, :class => 'form-control'

  .panel.panel-info
    .panel-body
      %table.table.table-borderless
        %tbody
          %tr
            %th{width: '30%', :title => I18n.t(:min_total_info, scope: :edit_shop) }
              = I18n.t(:min_total, scope: :edit_shop)
              %i.fa.fa-info-circle{ :title => I18n.t(:min_total_info, scope: :edit_shop) }
            %td{width: '70%'}
              .input-group
                = f.text_field :min_total, :class => 'form-control'
                %span.input-group-addon
                  = f.label @shop.currency
  .panel.panel-info
    .panel-heading{ :title => I18n.t(:target_groups_info, scope: :edit_shop) }
      .btn-toolbar
        = I18n.t(:target_groups, scope: :edit_shop)
        %i.fa.fa-info-circle{ :title => I18n.t(:target_groups_info, scope: :edit_shop) }
        .pull-right
          %a{:href => '#', :class=> 'btn btn-sm', :onclick => "$('#table_shop_target_groups_#{@shop.id}').find('tbody').append($('<tr>').append($('<td>').append($('<input>').attr('name', 'shop[target_groups][]').attr('placeholder', '#{I18n.t(:target_group, scope: :edit_shop)}').addClass('form-control')))); return false;" }
            %i.fa.fa-plus-circle
            = I18n.t(:add_target_group, scope: :edit_shop)
    .panel-body
      %table.table.table-borderless{:id => "table_shop_target_groups_#{@shop.id}"}
        %tbody
          - if @shop.target_groups
            - @shop.target_groups.each do |tg|
              %tr
                %td{width: '80%'}= text_field_tag 'shop[target_groups][]', tg, :class => 'form-control', :placeholder => I18n.t(:target_group, scope: :edit_shop)
                %td{width: '20%'}
                  %a{ :href => '#', :class => 'btn' }
                    %i.fa.fa-times-circle
                    =I18n.t(:remove_target_group, scope: :edit_shop)

  = f.button I18n.t(:save, scope: :edit_shop), :class => 'btn btn-primary', name: :user_info_edit_part, value: :edit_shop
