= form_for @shop, :html => {'data-toggle': 'validator', role: 'form'} do |f|
  .panel-group
    .panel.panel-default
      .panel-body
        %table.table.table-borderless
          %tbody
            %tr
              %td= I18n.t(:logo, scope: :edit_shop)
              %td{ :title => I18n.t(:banner_info, scope: :edit_shop) }
                = I18n.t(:banner, scope: :edit_shop)
                %i.fa.fa-info-circle{ :title => I18n.t(:banner_info, scope: :edit_shop) }
            %tr
              %td= image_tag @shop.logo ? @shop.logo.url : nil, :style => 'width:128px;height:128px', :class => 'form-control img-thumbnail', :id => "logo_#{@shop.id}"
              %td= image_tag @shop.banner ? @shop.banner.url : nil, :style => 'width:512px;height:128px', :class => 'img-responsive form-control', :id => "banner_#{@shop.id}"
            %tr
              %td
                %div.fileUpload.btn.btn-default
                  %span
                    %i.fa.fa-cloud-upload
                    =I18n.t(:upload, scope: :image_upload)
                  = f.file_field :logo, :accept => "image/png, image/jpeg, image/jpg", :class => 'img-file-upload upload', :img_id => "#logo_#{@shop.id}", :onchange =>"validateImgFile(this);"
              %td
                %div.fileUpload.btn.btn-default
                  %span
                    %i.fa.fa-cloud-upload
                    =I18n.t(:upload, scope: :image_upload)
                  = f.file_field :banner, :accept => "image/png, image/jpeg, image/jpg", :class => 'img-file-upload upload', :img_id => "#banner_#{@shop.id}", :onchange =>"validateImgFile(this);"
    .panel.panel-default
      .panel-body
        %table.table.table-borderless
          %tbody
            %tr.form-group
              %td{width: '20%' }
                = I18n.t(:shopname, scope: :edit_shop)
              %td{width: '80%'}
                = f.text_field :shopname, :class => 'form-control', :required => true, :maxLength => Rails.configuration.max_short_text_length
            %tr.form-group
              %td{width: '20%', :title => I18n.t(:min_total_info, scope: :edit_shop) }
                = I18n.t(:min_total, scope: :edit_shop)
                %i.fa.fa-info-circle{ :title => I18n.t(:min_total_info, scope: :edit_shop) }
              %td{width: '80%'}
                .input-group
                  = f.text_field :min_total, :class => 'form-control', :required => true, :pattern => '^\d+\.?\d*$'
                  %span.input-group-addon
                    = @shop.currency


  = f.button I18n.t(:save, scope: :edit_shop), :class => 'btn btn-primary', name: :user_info_edit_part, value: :edit_shop
