= javascript_include_tag 'bootstrap-datepicker/core.js'
= javascript_include_tag 'bootstrap-datepicker/locales/bootstrap-datepicker.zh-CN.js'
= javascript_include_tag 'bootstrap-datepicker/locales/bootstrap-datepicker.de.js'
= stylesheet_link_tag 'bootstrap-datepicker.css'

:javascript
  #{generate_set_datepicker_lang_js}

.col-md-6.col-sm-12.col-xs-12
  = form_for @user do |f|
    .form-group
      = image_tag (current_user.pic.url.nil? ? "icons/default_user_pic.png" : current_user.pic.url), :style => 'width:96px;height:96px'
      = f.file_field :pic, :accept => "image/png, image/gif, image/jpeg"
    .form-group
      = f.text_field :fname, :class => 'form-control', placeholder: I18n.t(:firstname, scope: :edit_personal)
    .form-group
      = f.text_field :lname, :class => 'form-control', placeholder: I18n.t(:lastname, scope: :edit_personal)
    .form-group
      = f.text_field :birth, :class => 'form-control date-picker', placeholder: I18n.t(:birthday, scope: :edit_personal), 'data-provide': 'datepicker', 'data-date-format': 'yyyy-mm-dd'
    .form-group
      %label.radio-inline
        = f.radio_button :gender, 'm'
        = I18n.t(:'genderize.name.masculine')
      %label.radio-inline
        = f.radio_button :gender, 'f', :checked => @user.gender.present? ? @user.gender.female? : true
        = I18n.t(:'genderize.name.feminine')
    .form-group
      = f.text_field :about, :class => 'form-control', placeholder: I18n.t(:about, scope: :edit_personal)
    .form-group
      = f.text_field :website, :class => 'form-control', placeholder: I18n.t(:website, scope: :edit_personal)
    .form-group
      = f.text_field :country, :class => 'form-control', placeholder: I18n.t(:country, scope: :edit_personal)
    .form-group
      = f.text_field :lang, :class => 'form-control', placeholder: I18n.t(:language, scope: :edit_personal)
    .form-group
      = f.text_field :provider, :class => 'form-control', placeholder: I18n.t(:provider, scope: :edit_personal)
    .form-group
      = f.text_field :tel, :class => 'form-control', placeholder: I18n.t(:telephone, scope: :edit_personal)
    .form-group
      = f.text_field :mobile, :class => 'form-control', placeholder: I18n.t(:mobile, scope: :edit_personal)
    = f.button I18n.t(:save, scope: :edit_personal), :class => 'btn btn-primary', name: :user_info_edit_part, value: :edit_personal