.col-md-8
  = form_for @product do |f|
    = hidden_field_tag :part, :variant
    = f.fields_for :options do |fo|
      - if (not new) && @product.options[fo.index].id.to_s == params[:option_id]
        .form-group
          = fo.label I18n.t(:name, scope: :edit_product_variant)
          = fo.text_field :name, :class => 'form-control'
      - elsif new && (not @product.options[fo.index].persisted?)
        .form-group
          = fo.label I18n.t(:name, scope: :edit_product_variant)
          = fo.text_field :name, :class => 'form-control'
    .form-group
      = f.submit :class => 'btn btn-primary', :value => new ? I18n.t(:create_variant, scope: :edit_product_variant) : I18n.t(:update_variant, scope: :edit_product_variant)