.col-md-6
  = form_for current_user do |f|
    .form-group
      = f.label :username, I18n.t(:username, scope: :edit_account)
      = f.text_field :username, :class => 'form-control'
    .form-group
      = f.label :email, I18n.t(:email, scope: :edit_account)
      = f.text_field :email, :class => 'form-control'
    .form-group
      = f.label :password, I18n.t(:password, scope: :edit_account)
      = f.password_field :password, :class => 'form-control', :autocomplete => :off
    .form-group
      = f.label :password_confirmation, I18n.t(:password_confirmation, scope: :edit_account)
      = f.password_field :password_confirmation, :class => 'form-control', :autocomplete => :off
    = f.button I18n.t(:save, scope: :edit_account), :class => 'btn btn-primary', name: :user_info_edit_part, value: :edit_account

