%a.btn.btn-primary{ :class => "#{for_device_type :desktop do 'btn-lg' end}",  :href => edit_user_path(current_user, :user_info_edit_part => :edit_collection_new) }
  %i.fa.fa-plus-circle
  = I18n.t(:new, scope: :edit_collection)

%br
%br

#collection_panel.panel-group
  - current_user.oCollections.sort {|c1, c2| c2.products.count <=> c1.products.count } .each_with_index do |c, i|
    .panel.panel-default
      .panel-heading
        .btn-toolbar{:style => 'margin:8px'}
          .btn-group
            %a{ 'data-parent' => '#collection_panel', 'data-toggle' => 'collapse', :href => "#collection_collapse_#{c.id}", :style => 'color: black; text-decoration: underline'}
              %i{:class => "fa #{c.public ? 'fa-users' : 'fa-user' }"}
              = "#{i+1}. #{c.name} #{c.public ? "(#{I18n.t(:public, scope: :edit_collection)})" : '' }".truncate(20)
          .btn-group.pull-right
            - for_device_type :desktop, :tablet do
              = link_to I18n.t(:edit, scope: :edit_collection), edit_user_path(current_user, :user_info_edit_part => :edit_collection_update, :collection_id => c.id) , :class => 'fa fa-edit btn'
              = link_to I18n.t(:remove, scope: :edit_collection), collection_path(c.id), method: :delete, data: { confirm: "#{I18n.t(:delete_collection_message, scope: :edit_collection)}" }, :class => 'fa fa-times-circle btn'
            - for_device_type :mobile do
              = link_to '', edit_user_path(current_user, :user_info_edit_part => :edit_collection_update, :collection_id => c.id) , :class => 'fa fa-edit btn'
              = link_to '', collection_path(c.id), method: :delete, data: { confirm: "#{I18n.t(:delete_collection_message, scope: :edit_collection)}" }, :class => 'fa fa-times-circle btn'
      .panel-collapse.collapse{:id => "collection_collapse_#{c.id}", :class => i==0 ? 'in' : ''}
        .panel-body
          - if c.products.count == 0
            %h4= I18n.t(:no_products, scope: :edit_collection)
          - else
            - c.products.each do |p|
              - for_device_type :mobile, :tablet do
                .fotorama{'data-allowfullscreen' => '1', 'data-nav' => 'thumbs', 'data-thumbheight' => '96', "data-thumbwidth" => '96'}
                  =image_tag p.img0.url
                  =image_tag p.img1.url
                  =image_tag p.img2.url
                  =image_tag p.img3.url
                .product-info.box
                  -if p.shop
                    %h4=link_to "Shop: #{p.shop.name}", p.shop
                  %h4= p.name
                  %p.text-smaller.text-muted= p.desc
                  %h5.product-info-price= "$#{p.price}"
                  %a.btn.btn-primary{:href => "#{remove_product_from_collection_path(c.id, p.id)}"}
                    %i.fa.fa-times-circle
                    = I18n.t(:dislike, scope: :edit_collection)

              - for_device_type :desktop do
                .mfp-with-anim.mfp-hide.mfp-dialog.mfp-dialog-big.clearfix{ :id => "product-quick-view-dialog-#{p.id}"}
                  .row
                    .col-md-8
                      .fotorama{"data-allowfullscreen" => "1", "data-nav" => "thumbs", "data-thumbheight" => "100", "data-thumbwidth" => "100"}
                        =image_tag p.img0.url
                        =image_tag p.img1.url
                        =image_tag p.img2.url
                        =image_tag p.img3.url
                    .col-md-4
                      .product-page-meta
                        -if p.shop
                          %h4=link_to "Shop: #{p.shop.name}", p.shop, :target => "_blank"
                        %h4= p.name
                        %p= p.desc
                        = form_tag add_product_to_orders_path, :method => :patch do
                          = hidden_field_tag :product_id, "#{p.id}"
                          =submit_tag "$#{p.price} Add to Basket", :class => "btn btn-primary btn-lg btn-block"
                        %ul.list.product-page-meta-info
                          %li
                            %ul.list.product-page-meta-price-list
                              %li
                                %span.product-page-meta-title List Price
                                %span.product-page-meta-price $1000
                              %li
                                %span.product-page-meta-title Discount
                                %span.product-page-meta-price 77.5%
                              %li
                                %span.product-page-meta-title Savings
                                %span.product-page-meta-price $775
                          %li
                            %span.product-page-meta-title Time Left to Buy
                            .countdown.countdown-inline{"data-countdown" => "Aug 25, 2013 10:45:00"}
                          %li
                            %span.product-page-meta-title 5000+ bought
                  %hr
                  .row
                    %a.btn.btn-primary{:href => "#{remove_product_from_collection_path(c.id, p.id)}", :'data-method'=> :patch}
                      %i.fa.fa-times-circle
                      = I18n.t(:dislike, scope: :edit_collection)
                #masonry.row.row-wrap
                  - c.products.each do |p|
                    %a.col-md-3.col-masonry.popup-text{"data-effect" => "mfp-move-from-top", :href => "#product-quick-view-dialog-#{p.id}",  :shop_link => "#{p.shop ? shop_path(p.shop) : ''}"}
                      .product-thumb
                        %header.product-header
                          =image_tag  p.img0.url, :alt => p.name, :title => p.name
                          .product-quick-view
                            %span.fa.fa-eye
                        .product-inner
                          %h5.product-title= truncate(p.name, :length => 16)
                          .product-desciption= truncate(p.desc, :length => 16)
                          .product-meta
                            %span.product-time
                              %i.fa.fa-clock-o
                              8 days 47 h
                            %ul.product-price-list
                              %li
                                %span.product-price $102
                              %li
                                %span.product-old-price $188
                          %p.product-location
                            %i.fa.fa-map-marker
                            Boston
