#edit-address-dialog.mfp-with-anim.mfp-hide.mfp-dialog.clearfix
  %form
    .form-group
      %label Country
      %input.form-control{:type => "text", :value => "USA"}
    .form-group
      %label City
      %input.form-control{:type => "text", :value => "San Francisco, CA"}
    .form-group
      %label Address
      %input.form-control{:type => "text", :value => "1355 Market St, Suite 900"}
    .form-group
      %label Zip/Postal
      %input.form-control{:type => "text", :value => "94103"}
    .checkbox
      %label
        %input.i-check{:type => "checkbox"}>
        Set Primary
    %input.btn.btn-primary{:type => "submit", :value => "Save Changes"}
#add-address-dialog.mfp-with-anim.mfp-hide.mfp-dialog.clearfix
  =form_for @address do |f|
    .form-group
      %h4 Your New Address
    .form-group
      = f.text_field :address1, :class => 'form-control', :placeholder => 'Street, Building & Room'
    .form-group
      = f.text_field :address1, :class => 'form-control', :placeholder => 'District'
    .form-group
      = f.text_field :address3, :class => 'form-control', :placeholder => 'City'
    .form-group
      = f.text_field :address4, :class => 'form-control', :placeholder => 'Province'
    .form-group
      = f.text_field :country, :class => 'form-control', :placeholder => 'Country'
    .form-group
      = f.text_field :zip, :class => 'form-control', :placeholder => 'Zip'
    .checkbox
      %label
        %input.i-check{:checked => "checked", :type => "checkbox"}>
        Set Primary
    %input.btn.btn-primary{:type => "submit", :value => "Add Address"}
.row.row-wrap
  - current_user.addresses.each do |a|
    .col-md-4
      .address-box
        %a.address-box-remove{"data-placement" => "right", "data-toggle" => "tooltip", :href => "#", :title => "Remove"}
        %a.address-box-edit.popup-text{"data-effect" => "mfp-move-from-top", "data-placement" => "right", "data-toggle" => "tooltip", :href => "#edit-address-dialog", :title => "Edit"}
        %ul
          %li= "Street, Building & Room : #{ a.address1 }"
          %li= "District : #{ a.address2 }"
          %li= "City : #{ a.address3 }"
          %li= "Province : #{ a.address4 }"
          %li= "Country : #{ a.country }"
          %li= "Zip : #{ a.zip }"
        .radio
          %label
            %input.i-radio{:name => "primaryAddressOption", :type => "radio"}>
            Primary Address
  .col-md-4
    %a.address-box.address-box-new.popup-text{"data-effect" => "mfp-move-from-top", :href => "#add-address-dialog"}
      .vert-center
        %i.fa.fa-plus.address-box-new-icon
        %p Add New Address
