.col-md-6
  = form_for(@collection, :html => {:class => 'form-horizontal', :role => 'form'}) do |f|
    .form-group
      = f.label :name, I18n.t(:name, scope: :edit_collection_new)
      = f.text_field :name, :class => 'form-control'
    .form-group
      = f.label :desc, I18n.t(:description, scope: :edit_collection_new)
      = f.text_area :desc, :class => 'form-control', rows: 4
    .form-group
      %label{ :style => 'margin:4px'}
        = f.check_box :public
        %i.fa.fa-users
        = I18n.t(:public, scope: :edit_collection_new)
    .form-group
      - if @collection.img.url.present?
        = image_tag (@collection.img.url), :style => 'width:96px;height:96px'
      - else
        = f.label :img, I18n.t(:icon, scope: :edit_collection_new)
      = f.file_field :img
    .form-group
      = f.submit :class => 'btn btn-primary', :value => I18n.t(:save, scope: :edit_collection_new)
