.col-md-8
  - if params[:variant]
    - if not params[:variant_id]
      = form_for @product do |f|
        = hidden_field_tag :part, :variant
        = f.fields_for :options, @variant do |fo|
          .form-group
            = fo.label I18n.t(:variant_name, scope: :edit_product_variant)
            = fo.text_field :name, :class => 'form-control', :required => true
        .form-group
          = f.submit :class => 'btn btn-primary', :value => (not params[:variant_id]) ? I18n.t(:create_variant, scope: :edit_product_variant) : I18n.t(:update_variant, scope: :edit_product_variant)
          = link_to I18n.t(:cancel, scope: :edit_product_variant), :back, :class => 'btn btn-primary'
    - else
      = form_for @product do |f|
        = hidden_field_tag :part, :variant
        = f.fields_for :options, @variant do |fo|
          .form-group
            = fo.label I18n.t(:variant_name, scope: :edit_product_variant)
            = fo.text_field :name, :class => 'form-control', :required => true
        .form-group
          = f.submit :class => 'btn btn-primary', :value => (not params[:variant_id]) ? I18n.t(:create_variant, scope: :edit_product_variant) : I18n.t(:update_variant, scope: :edit_product_variant)
          = link_to I18n.t(:cancel, scope: :edit_product_variant), :back, :class => 'btn btn-primary'
  -if params[:option]
    - if not params[:option_id]
      = form_for @product do |f|
        = hidden_field_tag :part, :variant
        = f.fields_for :options, @variant do |fo|
          = fo.fields_for :suboptions, @suboption do |fso|
            .form-group
              = fso.label I18n.t(:option_name, scope: :edit_product_variant)
              = fso.text_field :name, :class => 'form-control', :required => true
        .form-group
          = f.submit :class => 'btn btn-primary', :value => (not params[:option_id]) ? I18n.t(:create_option, scope: :edit_product_variant) : I18n.t(:update_option, scope: :edit_product_variant)
          = link_to I18n.t(:cancel, scope: :edit_product_variant), :back, :class => 'btn btn-primary'
    - else
      = form_for @product do |f|
        = hidden_field_tag :part, :variant
        = f.fields_for :options, @variant do |fo|
          = fo.fields_for :suboptions, @suboption do |fso|
            .form-group
              = fso.label I18n.t(:option_name, scope: :edit_product_variant)
              = fso.text_field :name, :class => 'form-control', :required => true
        .form-group
          = f.submit :class => 'btn btn-primary', :value => (not params[:option_id]) ? I18n.t(:create_option, scope: :edit_product_variant) : I18n.t(:update_option, scope: :edit_product_variant)
          = link_to I18n.t(:cancel, scope: :edit_product_variant), :back, :class => 'btn btn-primary'