= form_for @shop, :html => {'data-toggle': 'validator', role: 'form'} do |f|
  .panel-group
    .panel.panel-default
      .panel-body
        .row
          .col-md-4
            %label= I18n.t(:logo, scope: :edit_shop)
          .col-md-8{ :title => I18n.t(:banner_info, scope: :edit_shop) }
            %i.fa.fa-info-circle{ :title => I18n.t(:banner_info, scope: :edit_shop) }
            %label= I18n.t(:banner, scope: :edit_shop)
        .row.text-center
          .col-md-4
            = image_tag  get_uploaded_thumbnail_url(@shop.logo), :style => 'max-width:90px;max-height:auto', :id => "logo_#{@shop.id}"
          .col-md-8
            = image_tag get_uploaded_thumbnail_url(@shop.banner), :class => 'max-width:auto;max-height:90px', :id => "banner_#{@shop.id}"
        .row.text-center
          .col-md-4
            .fileUpload.btn.btn-default
              %span
                %i.fa.fa-cloud-upload
                =I18n.t(:upload, scope: :image_upload)
              = f.file_field :logo, :accept => "image/png, image/jpeg, image/jpg", :class => 'img-file-upload upload', :img_id => "#logo_#{@shop.id}", :onchange =>"validateImgFile(this);"
          .col-md-8
            .fileUpload.btn.btn-default
              %span
                %i.fa.fa-cloud-upload
                =I18n.t(:upload, scope: :image_upload)
              = f.file_field :banner, :accept => "image/png, image/jpeg, image/jpg", :class => 'img-file-upload upload', :img_id => "#banner_#{@shop.id}", :onchange =>"validateImgFile(this);"
    .panel.panel-default
      .panel-body
        .row
          .form-group
            .col-md-4
              = f.label :shopname, I18n.t(:shopname, scope: :edit_shop), :class => 'required'
            .col-md-8
              = f.text_field :shopname, :class => 'form-control', :required => true, :maxLength => Rails.configuration.max_short_text_length
        %br
        .row
          .form-group
            .col-md-4{:title => I18n.t(:min_total_info, scope: :edit_shop) }
              %i.fa.fa-info-circle{ :title => I18n.t(:min_total_info, scope: :edit_shop) }
              = f.label :min_total, I18n.t(:min_total, scope: :edit_shop), :class => 'required'
            .col-md-8
              .input-group
                = f.text_field :min_total, :class => 'form-control', :required => true, :pattern => I18n.t(:positive_float, scope: :validation)
                %span.input-group-addon
                  = @shop.currency
    .panel.panel-info
      .panel-heading{:title => I18n.t(:product_seal_info, scope: :edit_product)}
        .text-center
          %i.fa.fa-info-circle{ :title => I18n.t(:product_seal_info, scope: :edit_product) }
          %label= I18n.t(:product_seal, scope: :edit_product)
      .panel-body
        .row.text-center
          .col-md-3
            = image_tag get_uploaded_thumbnail_url(@shop.seal0), :class => 'img-responsive', :id => "seal_0_#{@shop.id}"
          .col-md-3
            = image_tag get_uploaded_thumbnail_url(@shop.seal1), :class => 'img-responsive', :id => "seal_1_#{@shop.id}"
          .col-md-3
            = image_tag get_uploaded_thumbnail_url(@shop.seal2), :class => 'img-responsive', :id => "seal_2_#{@shop.id}"
          .col-md-3
            = image_tag get_uploaded_thumbnail_url(@shop.seal3), :class => 'img-responsive', :id => "seal_3_#{@shop.id}"
        .row.text-center
          .col-md-3
            .fileUpload.btn.btn-default
              %span
                %i.fa.fa-cloud-upload
                =I18n.t(:upload, scope: :image_upload)
              = f.file_field :seal0, :accept => "image/png, image/jpeg, image/jpg", :img_id => "#seal_0_#{@shop.id}", :class => 'img-file-upload upload', :onchange =>"validateImgFile(this);"
          .col-md-3
            .fileUpload.btn.btn-default
              %span
                %i.fa.fa-cloud-upload
                =I18n.t(:upload, scope: :image_upload)
              = f.file_field :seal1, :accept => "image/png, image/jpeg, image/jpg", :img_id => "#seal_1_#{@shop.id}", :class => 'img-file-upload upload', :onchange =>"validateImgFile(this);"
          .col-md-3
            .fileUpload.btn.btn-default
              %span
                %i.fa.fa-cloud-upload
                =I18n.t(:upload, scope: :image_upload)
              = f.file_field :seal2, :accept => "image/png, image/jpeg, image/jpg", :img_id => "#seal_2_#{@shop.id}", :class => 'img-file-upload upload', :onchange =>"validateImgFile(this);"
          .col-md-3
            .fileUpload.btn.btn-default
              %span
                %i.fa.fa-cloud-upload
                =I18n.t(:upload, scope: :image_upload)
              = f.file_field :seal3, :accept => "image/png, image/jpeg, image/jpg", :img_id => "#seal_3_#{@shop.id}", :class => 'img-file-upload upload', :onchange =>"validateImgFile(this);"


  = f.button I18n.t(:save, scope: :edit_shop), :class => 'btn btn-primary', name: :user_info_edit_part, value: :edit_shop
