.col-md-6.col-sm-9.col-xs-12
  = form_tag reset_password_users_path, method: 'patch', 'data-toggle': 'validator'  do
    = hidden_field_tag 'id', @user.id
    .form-group
      = label_tag 'user[email]', I18n.t(:email, scope: :edit_account)
      = text_field_tag 'user[email]', @user.email, :class => 'form-control', :readonly => true
    .form-group
      %label{ for: 'user[password]', :title => I18n.t(:password_info, scope: :edit_account), :class => 'required'}
        %i.fa.fa-info-circle
        = I18n.t(:password, scope: :edit_account)
      = password_field_tag 'user[password]', nil, :class => 'form-control', :autocomplete => :off, :required => true, :minLength => Rails.configuration.min_password_length, :id=>'inputPassword'
      %div.help-block.with-errors
    .form-group
      = label_tag 'user[password_confirmation]', I18n.t(:password_confirmation, scope: :edit_account), :class => 'required'
      = password_field_tag 'user[password_confirmation]', nil, :class => 'form-control', :autocomplete => :off, 'data-match': '#inputPassword', 'data-match-error': I18n.t(:password_match_error, scope: :edit_account), :required => true
      %div.help-block.with-errors
    .form-group
      = button_tag I18n.t(:save, scope: :edit_account), :type => 'submit', :class => 'btn btn-primary', name: :user_info_edit_part, value: :edit_account

