.container
  .row
    .col-md-3
      %aside.sidebar-left
        %ul.nav.nav-pills.nav-stacked.nav-arrow
          %li.active
            %a{:href => "page-my-account-settings.html"} Settings
          %li
            %a{:href => "page-my-account-addresses.html"} Address Book
          %li
            %a{:href => "page-my-account-orders.html"} Orders History
          %li
            %a{:href => "page-my-account-wishlist.html"} Wishlist
    .col-md-9
      .row
        .col-md-6
          = form_for @user do |f|
            - if @user.errors.any?
              #error_explanation
                %h2
                  = pluralize(@user.errors.count, "error")
                  prohibited this user from being saved:
                %ul
                  - @user.errors.full_messages.each do |message|
                    %li= message
            .form-group
              = f.label :username
              = f.text_field :username, :class => 'form-control'            
            .form-group
              = f.label :fname
              = f.text_field :fname, :class => 'form-control'     
            .form-group
              = f.label :lname
              = f.text_field :lname, :class => 'form-control'            
            .form-group
              = f.label :birth
              = f.text_field :birth, :class => 'form-control'                 
            .form-group
              = f.label :gender
              = f.text_field :gender, :class => 'form-control'            
            .form-group
              = f.label :about
              = f.text_field :about, :class => 'form-control'            
            .form-group
              = f.label :website
              = f.text_field :website, :class => 'form-control'            
            .form-group
              = f.label :country
              = f.text_field :country, :class => 'form-control'            
            .form-group
              = f.label :lang
              = f.text_field :lang, :class => 'form-control'            
            .form-group
              = f.label :provider
              = f.text_field :provider, :class => 'form-control'            
            .form-group
              = f.label :email
              = f.text_field :email, :class => 'form-control'            
            .form-group
              %label{:for => ""} Phone Number
              %input.form-control{:type => "text", :value => "+1 202 555 0113"}
            = f.submit 'save', :class => 'btn btn-primary'



