%li.dropdown
  %a{ 'data-toggle' => 'dropdown', :href => "#{ edit_user_path current_user }", :title => "#{I18n.t(:user_profile, scope: :top_menu)}"}
    = image_tag (current_user.shop.logo.url.nil? ? 'icons/default_user_pic.png' : current_user.shop.logo.url) , :style => 'width:24px;height:24px'
    %span.caret
  %ul.dropdown-menu{:style => 'background-color:#333'}
    %li
      %a{ :href => "#{ edit_user_path(current_user, :user_info_edit_part => :edit_account) }" }
        %i.fa.fa-key
        = I18n.t(:my_account, scope: :top_menu)
    %li
      %a{ :href => "#{ edit_user_path(current_user, :user_info_edit_part => :edit_shop) }" }
        %i.fa.fa-globe
        = I18n.t(:my_shop, scope: :top_menu)
    -if current_user.shop
      %li
        %a{ :href => "#{ edit_user_path(current_user, :user_info_edit_part => :edit_shop) }" }
          %i.fa.fa-globe
          = I18n.t(:my_product, scope: :top_menu)
    %li
      %a{ :href => "#{ edit_user_path(current_user, :user_info_edit_part => :edit_product) }" }
        %i.fa.fa-eye
        = I18n.t(:my_collection, scope: :top_menu)
    %li
      %a{ :href => "#{ signout_path }", :'data-method' => :delete }
        %i.fa.fa-sign-out
        = I18n.t(:sign_out, scope: :top_menu)
