%li.dropdown
  %a{ 'data-toggle' => 'dropdown', :href => "#{ edit_user_path current_user }", :title => "#{I18n.t(:user_profile, scope: :top_menu)}"}
    = image_tag ( current_user.shop && get_uploaded_thumbnail_url(current_user.shop.logo) ? get_uploaded_thumbnail_url(current_user.shop.logo) : 'icons/default_user_pic.png'), :style => 'width:24px;height:24px'
    %span.caret
  %ul.dropdown-menu
    - if current_user.shop && current_user.shop.agb
      %li
        %a{ :href => "#{ edit_account_user_path(:user_info_edit_part => :edit_account) }" }
          %i.fa.fa-key
          = I18n.t(:my_account, scope: :top_menu)
    %li
      %a{ :href => "#{ edit_producer_shop_path(:user_info_edit_part => :edit_producer) }" }
        %i.fa.fa-info-circle
        = I18n.t(:my_producer, scope: :top_menu)
    - if current_user.shop && current_user.shop.agb
      %li
        %a{ :href => "#{ edit_setting_shop_path(:user_info_edit_part => :edit_shop) }" }
          %i.fa.fa-thumbs-up
          = I18n.t(:my_shop, scope: :top_menu)
        %li
          %a{ :href => "#{ edit_user_path(current_user, :user_info_edit_part => :edit_product) }" }
            %i.fa.fa-gift
            = I18n.t(:my_product, scope: :top_menu)
        %li
          %a{ :href => "#{ show_addresses_user_path(:user_info_edit_part => :edit_shop_address) }" }
            %i.fa.fa-globe
            = I18n.t(:my_address, scope: :top_menu)
    %li
      %a{ :href => "#{ signout_path }", :'data-method' => :delete }
        %i.fa.fa-sign-out
        = I18n.t(:sign_out, scope: :top_menu)
