<div class='large-10 push-1 columns pfirst'>
  <div class="row ">
    <div class='large-12 columns '>
      <button data-dropdown="drop" aria-controls="drop" aria-expanded="false" class="large alert round button dropdown right settings">..</button>
      <ul id="drop" data-dropdown-content class="f-dropdown" role="menu" aria-hidden="false" tabindex="-1">
        <li><a href="#">This is a link</a></li>
        <li><a href="#">This is another</a></li>
        <li><a href="#">Yet another</a></li>
      </ul>
      <a href="#" class="button right editprofile ">Edit profile</a>

    </div>
  </div>
</div>
<div class='large-10 push-1 columns psec'>
  <div class='row profileicon'>
    <div class='small-1 small-centered  columns pfirst'>
      <% if @user.pic  %>
      <img src=<%= @user.pic %>>
          <%else%>
          <%=image_tag('icons/user_line@3x.png')%>
          <%end %>
            </div>
    <div class='small-3 small-centered  columns pfirst'>
      <h2>  <%= @user.fname %> <%= @user.lname %>  </h2>
    </div>
  </div>
</div>
<div class='large-10 push-1 columns pthir'>
  <div class='row '>
    <div class="large-3  columns"><a href=""><span><%= @user.saved_products.count %></span><br>
      <span>Saved</span></a></div>
    <div class="large-3  columns"><a href=""><span><%= @user.saved_products.count %></span><br>
      <span>Posted</span></a></div>
    <div class="large-3  columns"><a href=""><span><%= @user.following.count %></span><br>
      <span>Following</span></a></div>
    <div class="large-3  columns"><a href=""><span><%= @user.followers.count %></span><br>
      <span>Followers</span></a></div>

  </div>
</div>
<div class='large-12 columns pforth' style="background-color: white;">
  <div class='large-12 small-centered  columns pfirst'>
    <ul id="og-grid" class="og-grid left">
      <%= content_tag_for(:tr,@user.products ) do |product| %>
          <li>
            <a href="#" data-reveal-id="firstModal" onclick="myFunction('<%= product.img %>','<%= product.desc %>','<%= product.price %>','<%= product.name %>','<%= product.id %>')" class="radius  ">
              <div class="imgetub">
                <img src=<%= product.img %> alt="img03"/>
              </div>
            </a>

            <div class="caption">
              <% if (product.owner == nil) %>
                  <%= link_to profile_path('55d471b869702d64d700001d') do %>
                      <img src='/assets/icons/Slice1.png' class='piconf'>

                      <p class='pconf'>Achat</p>
                      </img>
                  <% end %>
              <% else %>
                  <%= link_to profile_path(product.owner) do %>
                      <img src=<%= product.owner_img %> class='piconf'>

                      <p class='pconf'><%= product.owner_name %></p>
                      </img>
                  <% end %>
              <% end %>

              <% if current_user %>

                  <%= link_to image_tag("icons/cart_a@3x.png", :class => 'seciconfooter'), product.deeplink %>

                  <% if current_user.products.include?(product) %>
                      <%= link_to image_tag("icons/heartf.png", :class => 'seciconfooter'), unsaveprod_path(:id => current_user.id, :prod_id => product.id), method: :post, remote: true %>
                  <% else %>
                      <%= link_to image_tag("icons/Slice2.png", :class => 'seciconfooter'), saveprod_path(:id => current_user.id, :prod_id => product.id), method: :post, remote: true %>
                  <% end %>
              <% end %>
            </div>
          </li>

      <% end %>
    </ul>
  </div>

</div>
