<p id="notice"><%= notice %></p>

    <div class="field">
      <img src="<%= @user.pic.url %>"/>
  </div>

<p>
  <strong>Name:</strong>
  <%= @user.fname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Password:</strong>
  <%= @user.password %>
</p>

<p>
  <strong>Userid:</strong>
  <%= @user.uid %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
