%p#notice= notice
.field
  %img{:src => "#{@user.pic.url}"}/
%p
  %strong Name:
  = @user.fname
%p
  %strong Email:
  = @user.email
%p
  %strong Password:
  = @user.password
%p
  %strong Userid:
  = @user.uid
= link_to 'Edit', edit_user_path(@user)
|
= link_to 'Back', users_path
