<%= form_for [:admin, link] do |form| %>

<div class="row details__block">

  <!-- Title -->
  <div class="row">
    <div class="col-md-2">
      <label>
        Title
      </label>
    </div>

      <div class="col-md-10 form-group">
        <%= form.text_field :title, :class => 'form-control', :required => true %>
        <div class="help-block with-errors"></div>
      </div>
  </div>

  <!-- Description -->
  <div class="row">
    <div class="col-md-2">
      <label>
        Description
      </label>
    </div>

      <div class="col-md-10 form-group">
        <%= form.text_field :desc, :class => 'form-control', :required => true %>
        <div class="help-block with-errors"></div>
      </div>
  </div>

  <!-- Long Description -->
  <div class="row">
    <div class="col-md-2">
      <label>
        Long Description
      </label>
    </div>

      <div class="col-md-10 form-group">
        <%= form.text_area :long_desc, :class => 'form-control', :required => true %>
        <div class="help-block with-errors"></div>
      </div>
  </div>

  <!-- Promotion Text -->
  <div class="row">
    <div class="col-md-2">
      <label>
        Promotion Texts
      </label>
    </div>

      <div class="col-md-5 form-group">
        <%= form.text_field :promotion_text_a, :class => 'form-control', :placeholder => "Promotion A" %>
        <div class="help-block with-errors"></div>
      </div>

      <div class="col-md-5 form-group">
        <%= form.text_field :promotion_text_b, :class => 'form-control', :placeholder => "Promotion B" %>
        <div class="help-block with-errors"></div>
      </div>

  </div>


  <!-- Thumbnail URL -->
  <div class="row">
    <div class="col-md-2">
      <label>
        Thumbnail URL
      </label>
    </div>

      <div class="col-md-10 form-group">
        <%= form.text_field :thumbnail_url, :class => 'form-control', :required => true %>
        <div class="help-block with-errors"></div>
      </div>
  </div>

  <!-- Raw URL -->
  <div class="row">
    <div class="col-md-2">
      <label>
        Raw URL
      </label>
    </div>

      <div class="col-md-10 form-group">
        <%= form.text_field :raw_url, :class => 'form-control', :required => true %>
        <div class="help-block with-errors"></div>
      </div>
  </div>

  <!-- Active -->
  <div class="row">
    <div class="col-md-2">
      <label>
        Active
      </label>
    </div>

      <div class="col-md-10 form-group">
        <%= form.select :active, boolean_select %>
        <div class="help-block with-errors"></div>
      </div>
  </div>

</div>

<%= form.submit :class => 'big-button --blue', :value =>  "Save" %>

<% end %>
