<div class="row col-md-4 col-md-push-4 col-md-pull-4 +white-box">

  <h3>
    <%= I18n.t(:header, scope: :password_recovery_dialog) %>
  </h3>
  <h5>
    <%= I18n.t(:title, scope: :password_recovery_dialog) %>
  </h5>
  <form class="dialog-form" data-toggle="validator">
    <label class="control-label">
      <%= I18n.t(:email, scope: :password_recovery_dialog) %>
    </label>
    <input class="form-control span12" placeholder="email@domain.com" required="<%= true %>" type="email"></input>
    <input class="btn btn-primary" type="submit" value="<%= I18n.t(:ok, scope: :password_recovery_dialog) %>"></input>
  </form>

</div>