<ul>
  <li>
    <%= "#{I18n.t('edit_address.name')} : #{ address.lname }#{ address.fname }" %>
  </li>
  <li>
    <%= "#{I18n.t('edit_address.pid')} : #{ address.pid }" %>
  </li>
  <li>
    <%= "#{I18n.t('edit_address.mobile')} : #{ address.mobile }" %>
  </li>
  <li>
    <%= "#{I18n.t('edit_address.full_address')} : #{ address.full_address }" %>
  </li>
  <li>
    <%= "#{I18n.t('edit_address.country')} : #{ address.country }" %>
  </li>
</ul>
