<div class="remodal address-popup__remodal" data-remodal-id="add-address-dialog">
  <%= render partial: "shopkeeper/addresses/popup/address", :locals => {address: Address.new} %>
</div>

<% @addresses.each_with_index do |address, i| %>

<div class="remodal address-popup__remodal" data-remodal-id="edit-address-dialog-<%= address.id %>">
  <%= render partial: "shopkeeper/addresses/popup/address", :locals => {address: address} %>
</div>

<div class="col-md-4">
  <div class="panel panel-primary">
    <div class="panel-heading text-center">
      <%= I18n.t('edit_address.show_address_title') + ' ' + (i+1).to_s %>
    </div>
    <div class="panel-body">
      <div class="address-box">
        <%= link_to '', shopkeeper_address_path(address), method: :delete, data: { confirm: I18n.t('edit_address.delete_address_message') }, "data-placement" => "right",  class: 'address-box-remove' %>

        <a class="address-box-edit popup-text" data-effect="mfp-move-from-top" data-placement="right" data-toggle="tooltip" href="#edit-address-dialog-<%= address.id %>"></a>

        <%= render partial: 'table', locals: {address: address} %>
      </div>

    </div>
  </div>
</div>

<% end %>

<div class="col-md-4">
  <a class="address-box address-box-new" href="#add-address-dialog">
    <div class="vert-center">
      <i class="fa fa-plus address-box-new-icon"></i>
      <p>
        <%= I18n.t('edit_address.add_new_address') %>
      </p>
    </div>
  </a>
</div>

</div>
