<div class="navbar-top"> <!-- navbar-fixed-top -->

<!-- Main Menu Area -->
<div class="row main-header">

  <!-- Left side -->
  <div class="col-md-2 col-md-push-1">
    <%= render partial: "layouts/customer/header/parts/logo" %>
  </div>

  <!-- Right side -->
  <div class="col-md-8 col-md-push-1 main-header__right-side">

    <div class="row">

    <!-- My Account -->
    <div class="col-md-1 pull-right +centered">
      <%= render partial: "layouts/customer/header/parts/my_account" %>
    </div>

    <% if potential_customer? %>

      <!-- Products Cart -->
      <div class="col-md-1 pull-right +centered +menu-bordering">
        <%= render partial: "layouts/customer/header/parts/products_cart" %>
      </div>

      <!-- Customer Likes -->
      <div class="col-md-1 pull-right +centered +menu-bordering">
        <%= render partial: "layouts/customer/header/parts/customer_likes" %>
      </div>

    <% end %>

    </div>

  </div>

</div>
<!-- End of Main Menu Area -->

<% if potential_customer? %>

  <!-- Mobile Category -->
  <div class="row mobile-category-menu">
    <%= render partial: "layouts/customer/header/parts/menu/mobile_categories" %>
  </div>

  <!-- Category + Search Menu -->
  <div class="row category-menu">

    <!-- Categories Menu -->
    <div class="col-md-push-5 col-md-7">
      <%= render partial: "layouts/customer/header/parts/menu/categories" %>
    </div>

  </div>

  <!-- Announcement -->
  <div class="row announcement">
    <% if Settings.instance.alert.present? %>
      <div class="col-md-12">
        <%= Settings.instance.alert %>
      </div>
    <% end %>
  </div>

<% elsif current_user %>

  <!-- Category + Search Menu -->
  <div class="row server-menu">

    <!-- Server details -->
    <div class="col-md-6">
      <% if current_user.admin? %>
        <strong><%= Rails.env.capitalize %> Mode</strong> - Client <%= request.remote_ip %> - Server <%= server_ip %> - UTC <span id="utc-time"><%= Time.now.utc.strftime("%T") %></span>
      <% end %>
    </div>

    <!-- Time zones -->
    <div class="col-md-4 col-md-push-2">
      China <span id="china-time"><%= Time.now.utc.in_time_zone("Beijing").strftime("%T") %></span> -
      Germany <span id="germany-time"><%= Time.now.utc.in_time_zone("Berlin").strftime("%T") %></span>
    </div>

  </div>

<% end %>

</div>

<div class="+spacer"></div>

<% if potential_customer? && guest_path? %>
  <%= render partial: "layouts/customer/header/parts/stickers" %>
<% end %>

<%= render partial: "layouts/customer/header/parts/messages" %>
<%= render partial: "layouts/customer/header/parts/breadcrumb" %>
</br>

<!-- End of Category Menu -->
