<div class="container-fluid header-desktop">
  <div class="row">

    <!-- Left Logo -->
    <div class="col-md-2 header-desktop__logo">
      <%= render partial: "layouts/customer/header/shared/logo" %>
    </div>

      <!-- Main Center Menu -->
      <div class="col-md-7 header-desktop__categories">
        <div class="row">

          <% if package_sets_section? %>
            <!-- Package sets menu -->
            <%= render partial: "layouts/customer/header/desktop/menu/package_sets" %>
          <% elsif services_section? %>
            <!-- Services menu -->
            <%= render partial: "layouts/customer/header/desktop/menu/services" %>
          <% else %>
            <!-- General menu -->
            <%= render partial: "layouts/customer/header/desktop/menu/general", locals: { categories: @categories } %>
          <% end %>

        </div>
      </div>

    <!-- Right Menu -->
    <div class="col-md-3 header-desktop__menu">
      <div class="row">
        <%= render partial: "layouts/customer/header/desktop/menu/buttons", locals: { categories: @categories } %>
      </div>
    </div>

  </div>
</div>
