<div class="container-fluid header-desktop">
  <div class="row">

    <!-- Logo -->
    <div class="col-md-2 header-desktop__logo">
      <%= render partial: "layouts/customer/header/logo" %>
    </div>

      <!-- Categories -->
      <div class="col-md-7 header-desktop__categories">
        <div class="row">

          <% if @freeze_header && current_user&.tester? %>
          <li class="col-md-2 menu-dropdown +centered">
            <a href="<%= guest_services_path %>"><%= I18n.t('menu.services') %></a>
          </li>
          <% end %>

          <% unless @freeze_header %>
            <%= render partial: "layouts/customer/header/desktop/categories_menu", :locals => { :categories => @categories } %>
          <% end %>
        </div>
      </div>

    <!-- Menu -->
    <div class="col-md-3 header-desktop__menu">
      <div class="row">
        <%= render partial: "layouts/customer/header/desktop/buttons_menu", :locals => { :categories => @categories } %>
      </div>
    </div>
  </div>
</div>
