.container
  .col-md-3
    %aside.sidebar-left
      %ul.nav.nav-pills.nav-stacked.nav-arrow
        %li{:class => 'active'}
          =link_to I18n.t(:shop_application, scope: :shop_application),  '#'

  .col-md-9
    = form_for :shop_application, html: {'data-toggle': 'validator'} do |f|
      .panel.panel-info
        .panel-heading.text-center
          %h4= I18n.t(:shopkeeper_info, scope: :shop_application)
        .panel-body
          %table.table.table-borderless
            %tbody
              %tr.form-group
                %td{width: '30%', :title => I18n.t(:email_info, scope: :shop_application)}
                  %strong= I18n.t(:email, scope: :shop_application)
                  %i.fa.fa-info-circle{ :title => I18n.t(:email_info, scope: :shop_application) }
                %td{width: '70%'}
                  = f.email_field :email, :class => 'form-control', :required => true, 'data-remote' => "#{is_registered_shop_application_index_url}"
                  %div.help-block.with-errors
              %tr.form-group
                %td{width: '30%'}= I18n.t(:name, scope: :edit_shop)
                %td{width: '70%'}= f.text_field :name, :class => 'form-control', :required => true
              %tr.form-group
                %td{width: '30%', :title => I18n.t(:founding_year_info, scope: :edit_shop) }
                  = I18n.t(:founding_year, scope: :edit_shop)
                  %i.fa.fa-info-circle{ :title => I18n.t(:founding_year_info, scope: :edit_shop) }
                %td{width: '70%'}= f.text_field :founding_year, :class => 'form-control', :required => true, :pattern => '^(19|20)\d{2}$', :required => true
              %tr.form-group
                %td{width: '30%'}
                  = I18n.t(:register, scope: :edit_shop)
                %td{width: '70%'}= f.text_field :register, :class => 'form-control', :required => true
              %tr.form-group
                %td{width: '30%', :title => I18n.t(:desc_info, scope: :edit_shop) }
                  = I18n.t(:desc, scope: :edit_shop)
                  %i.fa.fa-info-circle{ :title => I18n.t(:desc_info, scope: :edit_shop) }
                %td{width: '70%'}= f.text_area :desc, :class => 'form-control', rows: 4, :required => true
              %tr.form-group
                %td{width: '30%', :title => I18n.t(:philosophy_info, scope: :edit_shop) }
                  = I18n.t(:philosophy, scope: :edit_shop)
                  %i.fa.fa-info-circle{ :title => I18n.t(:philosophy_info, scope: :edit_shop) }
                %td{width: '70%'}= f.text_area :philosophy, :class => 'form-control', rows: 4, :required => true
              %tr.form-group
                %td{width: '30%', :title => I18n.t(:stories_info, scope: :edit_shop) }
                  = I18n.t(:stories, scope: :edit_shop)
                  %i.fa.fa-info-circle{ :title => I18n.t(:stories_info, scope: :edit_shop) }
                %td{width: '70%'}= f.text_area :stories, :class => 'form-control', rows: 4, :required => true
              %tr.form-group
                %td{width: '30%'}
                  = I18n.t(:website, scope: :edit_shop)
                %td{width: '70%'}= f.text_field :website, :class => 'form-control'
      .panel.panel-info
        .panel-heading.text-center
          %h4= I18n.t(:statements, scope: :shop_application)
        .panel-body
          %table.table.table-borderless
            .form-group
              .checkbox
                %label
                  = f.hidden_field :statement0
                  = f.check_box :statement0, { :class => 'i-check', :required => true }, true
                  = I18n.t(:statement_0, scope: :shop_application)
            .form-group
              .checkbox
                %label
                  = f.hidden_field :statement0
                  = f.check_box :statement1, { :class => 'i-check', :required => true }, true
                  = I18n.t(:statement_1, scope: :shop_application)
            .form-group
              .checkbox
                %label
                  = f.hidden_field :statement0
                  = f.check_box :statement2, { :class => 'i-check', :required => true }, true
                  = I18n.t(:statement_2, scope: :shop_application)
      .panel.panel-info
        .panel-heading.text-center
          %h4= I18n.t(:contact_person_info, scope: :shop_application)
        .panel-body
          %table.table.table-borderless
            %tbody
              %tr.form-group
                %td{width: '30%'}= I18n.t(:contact_fname, scope: :shop_application)
                %td{width: '70%'}= f.text_field :fname, :class => 'form-control'
              %tr.form-group
                %td{width: '30%'}= I18n.t(:contact_lname, scope: :shop_application)
                %td{width: '70%'}= f.text_field :lname, :class => 'form-control'
              %tr.form-group
                %td{width: '30%'}= I18n.t(:contact_tel, scope: :shop_application)
                %td{width: '70%'}= f.text_field :tel, :class => 'form-control'
              %tr.form-group
                %td{width: '30%'}= I18n.t(:contact_mobile, scope: :shop_application)
                %td{width: '70%'}= f.text_field :mobile, :class => 'form-control'
              %tr.form-group
                %td{width: '30%'}= I18n.t(:contact_email, scope: :shop_application)
                %td{width: '70%'}= f.text_field :mail, :class => 'form-control'
      = f.button I18n.t(:save, scope: :edit_shop), :class => 'btn btn-primary', name: :user_info_edit_part, value: :edit_shop
