<div class="panel panel-info">
  <div class="panel-heading text-center">
    <label class="<%= (@shop.agb ? '' : 'required') %>">
      <%= I18n.t(:agb, scope: :edit_shop, locale: locale) %>
    </label>
  </div>

  <div class="panel-body">
    <div class="form-group">
      <div class="row-fluid">
        <% if @shop && (not @shop.agb) %>
          <%= f.hidden_field :agb %>
          <%= f.check_box :agb, { :required => true }, true %>
          <%= I18n.t(:agb_statement, scope: :edit_shop, locale: locale).html_safe %>
        <% else %>
          <%= f.check_box :agb, { :disabled => true } %>
          <%= I18n.t(:agb_statement, scope: :edit_shop, locale: locale).html_safe %>
        <% end %>
      </div>
    </div>
  </div>
</div>
