%tr
  %td= order_payment.request_id
  %td= order_payment.transaction_id
  %td= order_payment.merchant_id
  %td= order_payment.order_id
  %td= order_payment.status
  %td= "#{order_payment.amount} #{order_payment.currency.code}"