<% if @orders.size > 0 %>
  <table class="table cart-table">
    <thead>
      <tr>
        <th>
          <%= I18n.t(:id, scope: :edit_order) %>
        </th>
        <th>
          <%= I18n.t(:status, scope: :edit_order) %>
        </th>
        <th>
          <%= I18n.t(:total_price, scope: :edit_order) %>
        </th>
        <th>
          <%= I18n.t(:label, scope: :edit_order) %>
        </th>
        <th>
          Files
        </th>
        <th>
          Sending date
        </th>
        <th>
          <%= I18n.t(:updated_at, scope: :edit_order) %>
        </th>
        <th>
        Action
        </th>
      </tr>
    </thead>
    <tbody>
      <% @orders.each do |order| %>
        <tr>
          <td>
            <%= link_to order.id, order_path(order) %>
          </td>
          <td>
            <%= I18n.t(order.status, scope: :edit_order) %>
          </td>
          <td>
            <%= order.decorate.total_price_with_currency %>
          </td>
          <td>
            <%= order.border_guru_shipment_id ? (link_to I18n.t(:download, scope: :edit_order), download_label_order_path(order)) : '' %>
          </td>
          <td>
          <a href="<%= shopkeeper_order_path(order, format: "pdf") %>">PDF</a>
          </td>
          <th>
          N/A
          </th>
          <td>
            <%= order.u_at.localtime.strftime('%Y-%m-%d %H:%M:%S') %>
          </td>
          <td>
          <%= link_to 'Start to process', shopkeeper_order_start_process_path(order), method: :patch, data: { confirm: "Are you sure you want to start to process this order ?" } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= will_paginate @orders, renderer: BootstrapPagination::Rails %>
<% else %>
<div class="+white-box +centered">
  <h4>
    <%= I18n.t(:no_order, scope: :edit_order) %>
  </h4>
</div>
<% end %>
