<table class="table cart-table">
  <thead>
    <tr>
      <th>
        <%= I18n.t(:item, scope: :cart) %>
      </th>
      <th>
        <%= I18n.t(:name, scope: :cart) %>
      </th>
      <th>
        <%= I18n.t(:variant_option, scope: :cart) %>
      </th>
      <th>
        <%= I18n.t(:quantity, scope: :cart) %>
      </th>
      <th>
        <%= I18n.t(:unit_price, scope: :cart) %>
      </th>
      <% unless @readonly %>
      <th>
        <%= I18n.t(:operations, scope: :cart) %>
      </th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% order.order_items.each do |i| %>
    <tr>
      <td class="cart-item-image">
        <a href="<%= product_path(i.product) %>">
          <img src="<%= i.sku.decorate.image_url(:img0, :thumb) %>" class="icon-img"/>
        </a>
      </td>
      <td>
        <a href="<%= product_path(i.product) %>">
          <%= i.product.name %>
        </a>
      </td>
      <td>
        <%= select_tag :option_ids, grouped_options_for_select(i.product.decorate.grouped_variants_options, i.option_ids), {:multiple => 'multiple', :class => 'sku-variants-options'} %>
      </td>
      <td class="cart-item-quantity">

        <% unless @readonly %>
          <a href="#" class="js-set-quantity-minus" data-order-item-id="<%= i.id.to_s %>">
            <i class="fa fa-minus cart-item-minus"></i>
          </a>
        <% end %>

        <%= text_field_tag "", i.quantity, :id => "order-item-quantity-#{i.id.to_s}", :type => 'text', :value => "#{i.quantity}", :disabled => "disabled", :data => { :order_item_id => i.id.to_s } %>
        
        <% unless @readonly %>
          <a href="#" class="js-set-quantity-plus" data-order-item-id="<%= i.id.to_s %>">
            <i class="fa fa-plus cart-item-plus"></i>
          </a>
        <% end %>

      </td>
      <td>
        <%= i.sku.decorate.price_with_currency %>
      </td>
      <% unless @readonly %>
      <td class="cart-item-remove">
        <%= link_to '', '#', :class => 'fa fa-times', :onclick => "$('#cart-quantity-of-product-#{i.product.id}').val(0); $('#orders_adjust_products_amount').submit()" %>
      </td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>
<% unless @readonly %>
<%= link_to I18n.t(:set_delivery_destination, scope: :cart), set_address_orders_path(s), :class => 'btn btn-primary btn-small' %>
<% end %>