.container
  .row
    - if current_order.order_items.count > 0
      .col-md-8
        = form_tag adjust_products_amount_in_order_path, :id => 'orders_adjust_products_amount' do
          %table.table.cart-table
            %thead
              %tr
                %th Item
                %th Name
                %th QTY
                %th Unit Price
                %th Remove
            %tbody
              - current_order.order_items.each do |i|
                %tr
                  %td.cart-item-image
                    %a{:href => "#"}
                      %img{:src => "#{i.product.img}", :style => 'weight:48px;width:48px'}
                  %td
                    %a{:href => "#"}= i.product.name
                  %td.cart-item-quantity
                    %i.fa.fa-minus.cart-item-minus
                    %input.cart-quantity{:id => "cart-quantity-of-product-#{i.product.id}", :name => "cart-quantity-of-product-#{i.product.id}", :type => 'text', :value => "#{i.quantity}"}
                    %i.fa.fa-plus.cart-item-plus
                  %td= "$#{i.product.price}"
                  %td.cart-item-remove
                    =link_to '', '#', :class => 'fa fa-times', :onclick => "$('#cart-quantity-of-product-#{i.product.id}').val(0); $('#orders_adjust_products_amount').submit()"
          =submit_tag 'Update the cart', :class => 'btn btn-primary'
      .col-md-3
        = form_tag checkout_order_path
        %ul.cart-total-list
          %li
            %span Sub Total
            %span= "$#{current_order.total_price}"
          %li
            %span Shipping
            %span $0.00
          %li
            %span Taxes
            %span $0.00
          %li
            %span Total
            %span= "$#{current_order.total_price}"
          = hidden_field_tag 'order_id', "#{current_order.id}"
          = submit_tag 'Checkout', :class => "btn btn-primary btn-lg"
    - else
      %h4 You haven't selected any products.

  .gap
