<% if total_number_of_products > 0 %>
  <div>
      <% current_orders.each do |s, o| %>
        <% if o.total_amount > 0 %>

        <div class="row">

        <div class="col-md-10 col-md-push-1 col-md-pull-1">

            <div class="row">
            <div class="col-md-9">
            <h4>
              <%= I18n.t(:shop, scope: :cart) + ': ' %>
              <%= link_to @shops[s][:name], shop_path(s) %>
            </h4>
            </div>
            </div>

            <div class="row">

            <div class="col-md-9">
              <%= render partial: 'cart', locals: {order: o, s: s} %>
            </div>
            <div class="col-md-3">
              <ul class="cart-total-list">
                <li>
                  <span>
                    <%= I18n.t(:subtotal, scope: :cart) %>
                  </span>
                  <span id="order-subtotal-<%= s %>">
                    <%= o.decorate.total_price_with_currency %>
                  </span>
                </li>
                <li>
                  <span>
                    <%= I18n.t(:duty_cost, scope: :cart) %>
                  </span>
                  <span id="order-duty-cost-<%= s %>">
                    <%= @carts[s].decorate.tax_and_duty_cost_with_currency %>
                  </span>
                </li>
                <li>
                  <span>
                    <%= I18n.t(:shipping_cost, scope: :cart) %>
                  </span>
                  <span id="order-shipping-cost-<%= s %>">
                    <%= @carts[s].decorate.shipping_cost_with_currency %>
                  </span>
                </li>
                <li>
                  <span>
                    <%= I18n.t(:total_price_in_yuan, scope: :cart) %>
                  </span>
                  <span id="order-total-price-in-yuan-<%= s %>">
                    <%= @carts[s].decorate.total_price_with_currency %>
                  </span>
                </li>
              </ul>
            </div>
            </div>

          </div>
        </div>
        </div>

        <div class="+small-spacer"></div>
        <% end %>
      <% end %>
    </div>
<% else %>
  <div class="row col-md-6 col-md-push-3 col-md-pull-3 +white-box +centered">
    <h4>
      <%= I18n.t(:no_products, scope: :cart) %>
    </h4>
  </div>
<% end %>
