%div{class: "+spacer"}

-#- for_device_type :mobile, :tablet do
  - if total_number_of_products > 0
    - current_orders.each do |s, o|
      - if o.total_amount > 0
        .row
          %table.table
            %tr
              %th= I18n.t(:total_price, scope: :cart)
              %td= o.decorate.total_price_in_currency(s.currency.code)
        .row
          = form_tag adjust_products_amount_in_orders_path, :id => 'orders_adjust_products_amount', :method => :patch do
            = render 'cart', order: o, currency_code: s.currency.code
            = submit_tag I18n.t(:update_cart, scope: :cart), :class => 'btn btn-primary'
            = link_to I18n.t(:set_delivery_destination, scope: :cart), set_address_payment_orders_path, :class => 'btn btn-primary', :shop_id => s
  - else
    .row
      %h4= I18n.t(:no_products, scope: :cart)
-# this was commented (up)

- for_device_type :desktop do
  - if total_number_of_products > 0
    .panel-group
      .panel.panel-info
        - current_orders.each do |s, o|
          - if o.total_amount > 0
            .panel-heading
              %h4
                = I18n.t(:shop, scope: :cart) + ': '
                = link_to s.name, shop_path(s)
            .panel-body
              .col-md-9
                = render partial: 'cart', locals: {order: o, s: s}
              .col-md-3
                %ul.cart-total-list
                  %li
                    %span= I18n.t(:subtotal, scope: :cart)
                    %span= o.decorate.total_price_with_currency
                  %li
                    %span= I18n.t(:duty_cost, scope: :cart)
                    %span= @carts[s].decorate.duty_cost_with_currency
                  %li
                    %span= I18n.t(:shipping_cost, scope: :cart)
                    %span= @carts[s].decorate.shipping_cost_with_currency
                  %li
                    %span= I18n.t(:total_price_in_yuan, scope: :cart)
                    %span= @carts[s].decorate.total_with_currency
  - else
    .row
      %h4= I18n.t(:no_products, scope: :cart)
