- if current_order.order_items.count > 0
  .row
    .col-md-8
      = form_tag adjust_products_amount_in_order_path, :id => 'orders_adjust_products_amount' do
        = render 'cart'
        =submit_tag 'Update the cart', :class => 'btn btn-primary'
        =link_to 'Delivery Destination', set_address_payment_path, :class => 'btn btn-primary'
    .col-md-4
      %ul.cart-total-list
        %li
          %span Sub Total
          %span= "$#{current_order.total_price}"
        %li
          %span Shipping
          %span $0.00
        %li
          %span Taxes
          %span $0.00
        %li
          %span Total
          %span= "$#{current_order.total_price}"
- else
  .row
    %h4 You haven't selected any products.
