#add-address-dialog.mfp-with-anim.mfp-hide.mfp-dialog.clearfix
  =form_for @address do |f|
    .form-group
      %h4 Your New Address
    .form-group
      = f.text_field :street_building_room, :class => 'form-control', :placeholder => 'Street, Building & Room (*)'
    .form-group
      = f.text_field :district, :class => 'form-control', :placeholder => 'District'
    .form-group
      = f.text_field :city, :class => 'form-control', :placeholder => 'City (*)'
    .form-group
      = f.text_field :province, :class => 'form-control', :placeholder => 'Province'
    .form-group
      = f.text_field :country, :class => 'form-control', :placeholder => 'Country (*)'
    .form-group
      = f.text_field :zip, :class => 'form-control', :placeholder => 'Zip (*)'
    .form-group
      .checkbox
        %label
          %label
            = f.check_box :primary, {:class => 'i-check'}, true, false
            Set Primary
    %input.btn.btn-primary{:type => 'submit', :value => 'Add Address'}
.row
  .h3.text-center Please set up the delivery destination
.row.row-wrap
  = form_tag checkout_order_path
  - if current_user.addresses.count > 0
    - current_user.addresses.each do |a|
      .col-md-4
        .address-box
          %ul
            %li= "Street, Building & Room : #{ a.street_building_room }"
            %li= "District : #{ a.district }"
            %li= "City : #{ a.city }"
            %li= "Province : #{ a.province }"
            %li= "Country : #{ a.country }"
            %li= "Zip : #{ a.zip }"
          .radio
            %label
              = radio_button_tag 'delivery_destination_id', a.id, checked = a.primary
            My Destination

  - if current_user.addresses.count < 3
    .col-md-4
      %a.address-box.address-box-new.popup-text{'data-effect' => 'mfp-move-from-top', :href => '#add-address-dialog'}
        .vert-center
          %i.fa.fa-plus.address-box-new-icon
          %p Add New Destination

.row
  = hidden_field_tag 'order_id', "#{current_order.id}"
  = submit_tag 'Checkout', :class => "btn btn-primary"