#add-address-dialog.mfp-with-anim.mfp-hide.mfp-dialog.clearfix
  =form_for @address do |f|
    .form-group
      %h4 Your New Address
    .form-group
      = f.text_field :street_building_room, :class => 'form-control', :placeholder => 'Street, Building & Room (*)'
    .city-group
      .form-group
        = f.select :province, options_for_select(ChinaCity.list), {  include_blank: '--省份--' }, { :autocomplete => :off, class: 'form-control city-select city-province' }
      .form-group
        = f.select :city    , [], { include_blank: '--城市--'}, { :autocomplete => :off, class: 'form-control city-select city-city' }
      .form-group
        = f.select :district, [], { include_blank: '--地区--' }, { :autocomplete => :off, class: 'form-control city-select city-district' }
    .form-group
      = f.text_field :country, :value => '中国', :readonly => true, :class => 'form-control', :placeholder => 'Country (*)'
    .form-group
      = f.text_field :zip, :class => 'form-control', :placeholder => 'Zip (*)'
    .form-group
      .checkbox
        %label
          = f.check_box :primary, {:class => 'i-check'}, true, false
          Set Primary
    %input.btn.btn-primary{:type => "submit", :value => "Add Address"}
.row
  .h3.text-center Please set up the delivery destination
.row.row-wrap
  = form_tag checkout_order_path
  - if current_user.addresses.count > 0
    - current_user.addresses.each do |a|
      .col-md-4
        .address-box
          %ul
            %li= "Street, Building & Room : #{ a.street_building_room }"
            %li= "District : #{ a.district }"
            %li= "City : #{ a.city }"
            %li= "Province : #{ a.province }"
            %li= "Country : #{ a.country }"
            %li= "Zip : #{ a.zip }"
          .radio
            %label
              = radio_button_tag 'delivery_destination_id', a.id, checked = a.primary
            My Destination

  - if current_user.addresses.count < 3
    .col-md-4
      %a.address-box.address-box-new.popup-text{'data-effect' => 'mfp-move-from-top', :href => '#add-address-dialog'}
        .vert-center
          %i.fa.fa-plus.address-box-new-icon
          %p Add New Destination

.row
  = hidden_field_tag 'order_id', "#{current_order.id}"
  = submit_tag 'Checkout', :class => "btn btn-primary"