<div class="remodal" data-remodal-id="add-address-dialog">
  <%= render partial: "addresses/popup/customer_address", :locals => {address: @address} %>
</div>

<div class="col-md-10 col-md-push-1 col-md-pull-1">

<%= form_tag customer_checkout_path, :class => 'dialog-form', :method => :post, :data => {:toggle => 'validator'} %>

  <div class="row">
    <div class="h3 text-center">
      <%= I18n.t(:setup_delivery_destination, scope: :checkout) %>
    </div>
  </div>
  <div class="row row-wrap">
    <% if current_user.addresses.size > 0 %>
      <% current_user.addresses.each_with_index do |a, i| %>
        <div class="col-md-4">
          <%= render partial: 'show_address', locals: {a: a, i: i} %>
        </div>
      <% end %>
    <% end %>

    <% if current_user.addresses.size < 3 %>

      <div class="col-md-4">
        <a class="address-box address-box-new" href="#add-address-dialog">
          <div class="vert-center">
            <i class="fa fa-plus address-box-new-icon"></i>
            <p>
              <%= I18n.t(:add_new_address, scope: :edit_address) %>
            </p>
          </div>
        </a>
      </div>

    <% end %>
  </div>

  <%= hidden_field_tag :shop_id, "#{params[:shop_id]}" %>

  <div class="row">
    <div class="col-md-4 col-md-push-4 col-md-pull-4">
      <div class="row">
        <% unless current_user.valid_email? %>
          <%= text_field_tag :valid_email, nil, :type => 'email', :class => 'form-control', :required => true, :placeholder => "Enter your email address" %>
        <% end %>
      </div>
    <div class="row +centered">
      <div class="+small-spacer"></div>
      <%= submit_tag I18n.t(:checkout, scope: :checkout), :class => "btn btn-primary btn-lg" %>
    </div>
  </div>
  </div>

</div>
