.row
  = render 'cart', order: @order, currency_code: @currency_code

- if a = @order.shipping_address
  .row
    .address-box
      %ul
        %li= "#{I18n.t(:street, scope: :edit_address)} : #{ a.street } #{ a.number }"
        %li= "#{I18n.t(:additional, scope: :edit_address)} : #{ a.additional }"
        %li= "#{I18n.t(:district, scope: :edit_address)} : #{ a.district }"
        %li= "#{I18n.t(:city, scope: :edit_address)} : #{ a.city }"
        %li= "#{I18n.t(:province, scope: :edit_address)} : #{ a.province }"
        %li= "#{I18n.t(:country, scope: :edit_address)} : #{ a.country_local_name }"
        %li= "#{I18n.t(:zip, scope: :edit_address)} : #{ a.zip }"
- else
  .row
    %h4 Delivery destination is not set yet.