<div class="row">
  <div class="col-md-8 col-md-push-1">
    <%= render 'cart', order: @order, currency_code: @currency_code %>
  </div>
  <div class="col-md-4 col-md-push-1">
    <ul class="cart-total-list">
      <li>
          <span>
            <%= I18n.t(:total_price, scope: :edit_order) %>
          </span>
          <span>
            <%= @order.decorate.total_price_with_currency %>
          </span>
      </li>
      <li>
          <span>
            <%= I18n.t(:tax_and_duty_cost, scope: :edit_order) %>
          </span>
          <span>
            <%= @cart_or_order.decorate.tax_and_duty_cost_with_currency %>
          </span>
      </li>
      <li>
          <span>
            <%= I18n.t(:shipping_cost, scope: :edit_order) %>
          </span>
          <span>
            <%= @cart_or_order.decorate.shipping_cost_with_currency %>
          </span>
      </li>
      <li>
          <span>
            <%= I18n.t(:total_sum, scope: :edit_order) %>
          </span>
          <span>
            <%= @cart_or_order.decorate.total_sum_with_currency %>
          </span>
      </li>
    </ul>
  </div>
</div>

<% if a = @order.shipping_address %>
  <div class="row col-md-4 col-md-push-4 col-md-pull-4 +white-box">
    <div class="address-box">
      <ul>
        <li>
          <%= "#{I18n.t(:street, scope: :edit_address)} : #{ a.street } #{ a.number }" %>
        </li>
        <li>
          <%= "#{I18n.t(:additional, scope: :edit_address)} : #{ a.additional }" %>
        </li>
        <li>
          <%= "#{I18n.t(:district, scope: :edit_address)} : #{ a.district }" %>
        </li>
        <li>
          <%= "#{I18n.t(:city, scope: :edit_address)} : #{ a.city }" %>
        </li>
        <li>
          <%= "#{I18n.t(:province, scope: :edit_address)} : #{ a.province }" %>
        </li>
        <li>
          <%= "#{I18n.t(:country, scope: :edit_address)} : #{ a.country_local_name }" %>
        </li>
        <li>
          <%= "#{I18n.t(:zip, scope: :edit_address)} : #{ a.zip }" %>
        </li>
      </ul>
    </div>
  </div>
<% else %>
    <div class="row col-md-8 col-md-push-2 col-md-pull-2 +white-box +centered">
      <h4>
        <%= "#{I18n.t(:destination_address_not_set, scope: :edit_order)}" %>
      </h4>
    </div>
<% end %>

<div class="row">
  <div class="+spacer">
  </div>
</div>