<% unless services.count == 0 %>
<div class="referrer__orders">

  <!-- ORDERS LIST -->
  <div class="referrer__title">
    <%= I18n.t('referrer.service_provision_rates') %>
  </div>

  <div class="referrer__list">
    <table>
      <thead>
        <th>
          <%= I18n.t('referrer.service') %>
        </th>
        <th>
          <%= I18n.t('referrer.rate') %>
        </th>
      </thead>
      <tbody>

        <% services.each do |service| %>
            <tr data-href="<%= guest_service_path(service) %>">
              <td>
                <%= service.name %>
              </td>
              <td>
                <%= service.referrer_rate %>%<%= I18n.t('referrer.service_rate_label') %>
              </td>
            </tr>
        <% end %>

      </tbody>
    </table>
  </div>

</div>

<div class="+spacer"></div>
<% end %>
