<% Product.all.in_groups_of(4, false).each do |grouped_products| %>

      <div class="row">

      <% grouped_products.each do |product| %>

          <div class="col-md-3 product-box">

            <div class="product-box__thumb">

              <div class="product-box__like col-md-2 col-md-offset-10">
                <a href="#"><i class="fa fa-heart"></i></a>
              </div>
              <header class="product-box__header">

                <a href="<%= product_path(product) %>">
                  <img src="<%= product.decorate.product_cover_url %>" alt="<%= product.name %>" title="<%= product.name %>">
                </a>

              </header>

              <div class="product-box__inner">

                <h5 class="product-box__inner --title"><%= product.name %></h5>
                <p class="product-box__iner --desciption"><%= product.decorate.short_desc %></p>

                <div class="product-box__meta">

                  <span class="product-box__meta --price"><%= product.skus.first.decorate.price_with_currency %></span>

                </div>

                <p class="product-box__location">
                  <i class="fa fa-shopping-bag"></i> <%= product.shop.shopname %>
                </p>

              </div>

            </div>
            
          </div>

        <% end %>

        </div>

        <div class="+spacer"></div>

      <% end %>