<% Product.all.in_groups_of(4, false).each do |grouped_products| %>

      <div class="row">

      <% grouped_products.each do |product| %>


<a class="col-md-3 col-masonry popup-text" data-effect="mfp-move-from-top" href="#product_quick_view_dialog_57310a450374aa4038eaf089" shop_link="/shops/572dc8320374aa20a31e6a03" style="position: absolute; left: 0px; top: 0px;">
                <div class="product-thumb">
                  <header class="product-header">
                    <img alt="Test01" title="Test01" src="http://o6n7omia8.bkt.clouddn.com/uploads/sku/img0/57310a6a0374aa4038eaf08c/handcreme1.jpg?e=1463138261&amp;token=sjmi6rq8r6Z7oO84m9WQ3grXZJNaDmBlHC5eDWsu:-0apajwG00TWFMDk03T1pRbc3Vc=&amp;imageView2/2/h/200">
                    <div class="product-quick-view">
                      <span class="fa fa-eye"></span>
                    </div>
                  </header>
                  <div class="product-inner">
                    <h5 class="product-title">Test01</h5>
                    <div class="product-desciption">sfsdf</div>
                    <div class="product-meta"></div>
                  </div>
                </div>
              </a>
              
          <div class="col-md-3 product-box">

            <div class="product-box__thumb">

              <div class="product-box__like col-md-2 col-md-offset-10">
                <a href="#"><i class="fa fa-heart"></i></a>
              </div>
              <header class="product-box__header">

                <a href="<%= product_path(product) %>">
                  <img src="<%= product.decorate.product_cover_url %>" alt="<%= product.name %>" title="<%= product.name %>">
                </a>

              </header>

              <div class="product-box__inner">

                <h5 class="product-box__inner --title"><%= product.name %></h5>
                <p class="product-box__iner --desciption"><%= product.decorate.short_desc %></p>

                <div class="product-box__meta">

                  <span class="product-box__meta --price"><%= product.skus.first.decorate.price_with_currency %></span>

                </div>

                <p class="product-box__location">
                  <a href="<%= shop_path(product.shop) %>">
                    <i class="fa fa-shopping-bag"></i> <%= product.shop.shopname %>
                  </a>
                </p>

              </div>

            </div>
            
          </div>

        <% end %>

        </div>

        <div class="+spacer"></div>

      <% end %>