  <!DOCTYPE html>
  <html lang ="en">
  <head>
    <meta name ="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body id="csstyle">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css">

    <div class="container-fluid">

      <!-- Main menu + Logo -->
      <div class="row main-menu">

        <!-- Menu area -->
        <div class="col-md-4 +vertical-centered">
          <div class="col-md-4"><span class=""><i class="fa fa-user"></i></span> My Account</div>
        </div>

        <div class="col-md-4">
          
          <!-- Logo -->
          <div class="main-menu__logo +centered">
            <img src="/assets/logo-half.png">
          </div>

        </div>
        <div class="col-md-4">

          <!-- Research area -->
          <div class="+vertical-centered">
            <div class="col-md-4"><span class="+blue"><i class="fa fa-search"></i></span> Search</div>
            <div class="col-md-4"><span class="+red"><i class="fa fa-heart"></i></span> 0 Like</div>
            <div class="+centered +strong"><span class=""><i class="fa fa-shopping-cart"></i></span> 5 products </div>
          </div>

        </div>
      </div>

      <div class="+spacer"></div>

      <!-- Customer Menu -->

      <div class="row product-menu">

        <div class="col-md-10 col-md-push-1 col-md-pull-1">

          <nav class="nav-menu" style="position:relative;z-index:2;">
            <ul>

            <li class="col-md-2 overmenu"><a href="#">CATEGORY</a>
                <ul>
                  <li class="dir submenu"><a href="#">SUBCATEGORY</a></li>
                  <li class="dir submenu"><a href="#">SUBCATEGORY</a>
                    <ul>
                      <li><a href="#">SUBSUBCATEGORY</a></li>
                      <li><a href="#">SUBSUBCATEGORY</a></li>
                      <li><a href="#">SUBSUBCATEGORY</a></li>
                    </ul>
                  </li>
                  <li><a href="#">SUBCATEGORY</a></li>
                  <li><a href="#">SUBCATEGORY</a></li>
                  <li><a href="#">SUBCATEGORY</a></li>
                </ul>
              </li>
            <li class="col-md-2 overmenu"><a href="#">CATEGORY</a>
                <ul>
                  <li class="dir submenu"><a href="#">SUBCATEGORY</a></li>
                  <li class="dir submenu"><a href="#">SUBCATEGORY</a>
                    <ul>
                      <li><a href="#">SUBSUBCATEGORY</a></li>
                      <li><a href="#">SUBSUBCATEGORY</a></li>
                      <li><a href="#">SUBSUBCATEGORY</a></li>
                    </ul>
                  </li>
                  <li><a href="#">SUBCATEGORY</a></li>
                  <li><a href="#">SUBCATEGORY</a></li>
                  <li><a href="#">SUBCATEGORY</a></li>
                </ul>
              </li>
              <li class="col-md-2 overmenu"><a href="#">CATEGORY</a></li>
              <li class="col-md-2 overmenu"><a href="#">CATEGORY</a></li>
              <li class="col-md-2 overmenu"><a href="#">CATEGORY</a></li>
              <li class="col-md-2 overmenu"><a href="#">CATEGORY</a></li>
            </ul>
          </nav>

        </div>

      </div>
<!--
      <div class="row product-menu">

        <div class="col-md-10 col-md-push-1 col-md-pull-1">

        <ul data-breakpoint="800" class="flexnav with-js opacity lg-screen flexnav-hook">

          <li class="col-md-2 flexnav-hook__overmenu">

          <a href="#" class="flexnav-hook__button">CATEGORY</a>

          <ul class="flexnav-hook__submenu">
            <li><a href="#" class="flexnav-hook__button">SUBCATEGORY</a></li>

            <li><a href="#" class="flexnav-hook__button">SUBCATEGORY</a>

              <ul>
                <li><a href="#" class="flexnav-hook__button">SUBSUBCATEGORY</a></li>
              </ul>

            </li>
          </ul>

          </li>

          <li class="col-md-2 flexnav-hook__overmenu">

          <a href="#" class="flexnav-hook__button">CATEGORY</a>

          <ul class="flexnav-hook__submenu">
            <li><a href="#" class="flexnav-hook__button">SUBCATEGORY</a></li>

            <li><a href="#" class="flexnav-hook__button">SUBCATEGORY</a>

              <ul>
                <li><a href="#" class="flexnav-hook__button">SUBSUBCATEGORY</a></li>
              </ul>

            </li>
          </ul>

          </li>

          <li class="col-md-2 flexnav-hook__overmenu">

          <a href="#" class="flexnav-hook__button">CATEGORY</a>

          <ul class="flexnav-hook__submenu">
            <li><a href="#" class="flexnav-hook__button">SUBCATEGORY</a></li>

            <li><a href="#" class="flexnav-hook__button">SUBCATEGORY</a>

              <ul>
                <li><a href="#" class="flexnav-hook__button">SUBSUBCATEGORY</a></li>
              </ul>

            </li>
          </ul>

          </li>

          <li class="col-md-2 flexnav-hook__overmenu">

          <a href="#" class="flexnav-hook__button">CATEGORY</a>

          <ul class="flexnav-hook__submenu">
            <li><a href="#" class="flexnav-hook__button">SUBCATEGORY</a></li>

            <li><a href="#" class="flexnav-hook__button">SUBCATEGORY</a>

              <ul>
                <li><a href="#" class="flexnav-hook__button">SUBSUBCATEGORY</a></li>
              </ul>

            </li>
          </ul>

          </li>

          <li class="col-md-2 flexnav-hook__overmenu">

          <a href="#" class="flexnav-hook__button">CATEGORY</a>

          <ul class="flexnav-hook__submenu">
            <li><a href="#" class="flexnav-hook__button">SUBCATEGORY</a></li>

            <li><a href="#" class="flexnav-hook__button">SUBCATEGORY</a>

              <ul>
                <li><a href="#" class="flexnav-hook__button">SUBSUBCATEGORY</a></li>
              </ul>

            </li>
          </ul>

          </li>

        </ul>



        </div>

      </div>
-->
      <!-- Slider -->
      <div class="row">

      <div class="slider" style="position:relative;z-index:1;">

        <ul id="slider">

          <li>

            <div class="slider__image" style="background-image: url('/assets/slider/1.jpg')" >

            <div class="slider__content"></div>

            </div>

          </li>

          <li>

            <div class="slider__image" style="background-image: url('/assets/slider/2.jpg')" >
            
            <div class="slider__content"></div>

            </div>

          </li>
        </ul>

        <div class="slider__bottom-border">
        </div>

        </div>

      </div>

      <div class="products">

        <div class="row">
        <h1>Our best selection ...</h1>
        </div>


      <div class="+spacer"></div>

        <div class="row">

          <div class="col-md-3 product-box">

            <div class="product-box__thumb">

              <div class="product-box__like col-md-2 col-md-offset-10">
                <a href="#"><i class="fa fa-heart"></i></a>
              </div>
              <header class="product-box__header">

                <img src="http://o6n7omia8.bkt.clouddn.com/uploads/sku/img0/572dd8b90374aa22a3578fb1/handcreme2.jpg?e=1462785778&token=sjmi6rq8r6Z7oO84m9WQ3grXZJNaDmBlHC5eDWsu:Z3Xycgb0QwqETVFhka7tMaPi09k=-thumbnailstd" alt="Image Alternative text" title="Cup on red">
              </header>

              <div class="product-box__inner">

                <h5 class="product-box__inner --title">Product Name</h5>
                <p class="product-desciption">Rhoncus laoreet lobortis ipsum venenatis augue libero libero</p>

                <div class="product-box__meta">

                  <span class="product-box__meta --price">$54</span>

                </div>
                <p class="product-box__location">
                  <i class="fa fa-shopping-bag"></i> Shop Name
                </p>
              </div>

            </div>
            
          </div>

          <div class="col-md-3 product-box">

            <div class="product-box__thumb">

              <div class="product-box__like col-md-2 col-md-offset-10">
                <a href="#"><i class="fa fa-heart"></i></a>
              </div>
              <header class="product-box__header">

                <img src="http://o6n7omia8.bkt.clouddn.com/uploads/sku/img0/572dd8b90374aa22a3578fb1/handcreme2.jpg?e=1462785778&token=sjmi6rq8r6Z7oO84m9WQ3grXZJNaDmBlHC5eDWsu:Z3Xycgb0QwqETVFhka7tMaPi09k=-thumbnailstd" alt="Image Alternative text" title="Cup on red">
              </header>

              <div class="product-box__inner">

                <h5 class="product-box__inner --title">Product Name</h5>
                <p class="product-desciption">Rhoncus laoreet lobortis ipsum venenatis augue libero libero</p>

                <div class="product-box__meta">

                  <span class="product-box__meta --price">$54</span>

                </div>
                <p class="product-box__location">
                  <i class="fa fa-shopping-bag"></i> Shop Name
                </p>
              </div>

            </div>
            
          </div>

          <div class="col-md-3 product-box">

            <div class="product-box__thumb">

              <div class="product-box__like col-md-2 col-md-offset-10">
                <a href="#"><i class="fa fa-heart"></i></a>
              </div>
              <header class="product-box__header">

                <img src="http://o6n7omia8.bkt.clouddn.com/uploads/sku/img0/572dd8b90374aa22a3578fb1/handcreme2.jpg?e=1462785778&token=sjmi6rq8r6Z7oO84m9WQ3grXZJNaDmBlHC5eDWsu:Z3Xycgb0QwqETVFhka7tMaPi09k=-thumbnailstd" alt="Image Alternative text" title="Cup on red">
              </header>

              <div class="product-box__inner">

                <h5 class="product-box__inner --title">Product Name</h5>
                <p class="product-desciption">Rhoncus laoreet lobortis ipsum venenatis augue libero libero</p>

                <div class="product-box__meta">

                  <span class="product-box__meta --price">$54</span>

                </div>
                <p class="product-box__location">
                  <i class="fa fa-shopping-bag"></i> Shop Name
                </p>
              </div>

            </div>
            
          </div>

          <div class="col-md-3 product-box">

            <div class="product-box__thumb">

              <div class="product-box__like col-md-2 col-md-offset-10">
                <a href="#"><i class="fa fa-heart"></i></a>
              </div>
              <header class="product-box__header">

                <img src="http://o6n7omia8.bkt.clouddn.com/uploads/sku/img0/572dd8b90374aa22a3578fb1/handcreme2.jpg?e=1462785778&token=sjmi6rq8r6Z7oO84m9WQ3grXZJNaDmBlHC5eDWsu:Z3Xycgb0QwqETVFhka7tMaPi09k=-thumbnailstd" alt="Image Alternative text" title="Cup on red">
              </header>

              <div class="product-box__inner">

                <h5 class="product-box__inner --title">Product Name</h5>
                <p class="product-desciption">Rhoncus laoreet lobortis ipsum venenatis augue libero libero</p>

                <div class="product-box__meta">

                  <span class="product-box__meta --price">$54</span>

                </div>
                <p class="product-box__location">
                  <i class="fa fa-shopping-bag"></i> Shop Name
                </p>
              </div>

            </div>
            
          </div>

        </div>

        <div class="+spacer"></div>

        <div class="row">

          <div class="col-md-3 product-box">

            <div class="product-box__thumb">

              <div class="product-box__like col-md-2 col-md-offset-10">
                <a href="#"><i class="fa fa-heart"></i></a>
              </div>
              <header class="product-box__header">

                <img src="http://o6n7omia8.bkt.clouddn.com/uploads/sku/img0/572dd8b90374aa22a3578fb1/handcreme2.jpg?e=1462785778&token=sjmi6rq8r6Z7oO84m9WQ3grXZJNaDmBlHC5eDWsu:Z3Xycgb0QwqETVFhka7tMaPi09k=-thumbnailstd" alt="Image Alternative text" title="Cup on red">
              </header>

              <div class="product-box__inner">

                <h5 class="product-box__inner --title">Product Name</h5>
                <p class="product-desciption">Rhoncus laoreet lobortis ipsum venenatis augue libero libero</p>

                <div class="product-box__meta">

                  <span class="product-box__meta --price">$54</span>

                </div>
                <p class="product-box__location">
                  <i class="fa fa-shopping-bag"></i> Shop Name
                </p>
              </div>

            </div>

          </div>

          <div class="col-md-3 product-box">

            <div class="product-box__thumb">

              <div class="product-box__like col-md-2 col-md-offset-10">
                <a href="#"><i class="fa fa-heart"></i></a>
              </div>
              <header class="product-box__header">

                <img src="http://o6n7omia8.bkt.clouddn.com/uploads/sku/img0/572dd8b90374aa22a3578fb1/handcreme2.jpg?e=1462785778&token=sjmi6rq8r6Z7oO84m9WQ3grXZJNaDmBlHC5eDWsu:Z3Xycgb0QwqETVFhka7tMaPi09k=-thumbnailstd" alt="Image Alternative text" title="Cup on red">
              </header>

              <div class="product-box__inner">

                <h5 class="product-box__inner --title">Product Name</h5>
                <p class="product-desciption">Rhoncus laoreet lobortis ipsum venenatis augue libero libero</p>

                <div class="product-box__meta">

                  <span class="product-box__meta --price">$54</span>

                </div>
                <p class="product-box__location">
                  <i class="fa fa-shopping-bag"></i> Shop Name
                </p>
              </div>

            </div>

          </div>

          <div class="col-md-3 product-box">

            <div class="product-box__thumb">

              <div class="product-box__like col-md-2 col-md-offset-10">
                <a href="#"><i class="fa fa-heart"></i></a>
              </div>
              <header class="product-box__header">

                <img src="http://o6n7omia8.bkt.clouddn.com/uploads/sku/img0/572dd8b90374aa22a3578fb1/handcreme2.jpg?e=1462785778&token=sjmi6rq8r6Z7oO84m9WQ3grXZJNaDmBlHC5eDWsu:Z3Xycgb0QwqETVFhka7tMaPi09k=-thumbnailstd" alt="Image Alternative text" title="Cup on red">
              </header>

              <div class="product-box__inner">

                <h5 class="product-box__inner --title">Product Name</h5>
                <p class="product-desciption">Rhoncus laoreet lobortis ipsum venenatis augue libero libero</p>

                <div class="product-box__meta">

                  <span class="product-box__meta --price">$54</span>

                </div>
                <p class="product-box__location">
                  <i class="fa fa-shopping-bag"></i> Shop Name
                </p>
              </div>

            </div>

          </div>

          <div class="col-md-3 product-box">

            <div class="product-box__thumb">

              <div class="product-box__like col-md-2 col-md-offset-10">
                <a href="#"><i class="fa fa-heart"></i></a>
              </div>
              <header class="product-box__header">

                <img src="http://o6n7omia8.bkt.clouddn.com/uploads/sku/img0/572dd8b90374aa22a3578fb1/handcreme2.jpg?e=1462785778&token=sjmi6rq8r6Z7oO84m9WQ3grXZJNaDmBlHC5eDWsu:Z3Xycgb0QwqETVFhka7tMaPi09k=-thumbnailstd" alt="Image Alternative text" title="Cup on red">
              </header>

              <div class="product-box__inner">

                <h5 class="product-box__inner --title">Product Name</h5>
                <p class="product-desciption">Rhoncus laoreet lobortis ipsum venenatis augue libero libero</p>

                <div class="product-box__meta">

                  <span class="product-box__meta --price">$54</span>

                </div>
                <p class="product-box__location">
                  <i class="fa fa-shopping-bag"></i> Shop Name
                </p>
              </div>

            </div>

          </div>

        </div>

      </div>

      <div class="+spacer"></div>

      <!-- Footer -->
      <div class="row">

        <h1>Want to know more about us ?</h1>

        <div class="col-md-12 main-footer">

          <div class="main-footer__logo col-md-3 col-md-offset-1">
            <img src="/assets/logo-min-white.png">
          </div>
          <div class="col-md-2">

            <div class="row">Title</div>
            <div class="row">Some text</div>
            <div class="row">Some text</div>
            <div class="row">Some text</div>

          </div>
          <div class="col-md-2">

            <div class="row">Title</div>
            <div class="row">Some text</div>
            <div class="row">Some text</div>
            <div class="row">Some text</div>

          </div>
          <div class="col-md-2">

            <div class="row">Title</div>
            <div class="row">Some text</div>
            <div class="row">Some text</div>
            <div class="row">Some text</div>

          </div>

        </div>

      </div>

    </div>

    <%= javascript_include_tag "vendor" %>
    <%= javascript_include_tag "app" %>
    <script>
      require('javascripts/initialize');
    </script>

    <div id="js-routes" data-controller="<%=params[:controller]%>" data-action="<%=params[:action]%>"></div>

    <%= stylesheet_link_tag "application", :media => "all" %>


  </body>
  </html>