  <!DOCTYPE html>
  <html lang ="en">
  <head>
    <meta name ="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body id="csstyle">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css">

    <!-- Base container -->
    <div class="container-fluid">

      <!-- Main Menu Area -->
      <div class="row main-header">

        <!-- Left side -->
        <div class="col-md-4 +vertical-centered">
          <div class="col-md-11 col-md-offset-1">

            <!-- My Account -->
            <a href="#">
              <span class="main-header__account"><i class="fa fa-user"></i> My Account</span>
            </a>

          </div>

        </div>

        <!-- Center side -->
        <div class="col-md-4">
          
          <!-- Logo -->
          <a href="#">
            <div class="main-header__logo +centered">
              <img src="/assets/logo-half.png">
            </div>
          </a>

        </div>

        <!-- Right side -->
        <div class="col-md-4 +vertical-centered">

            <!-- Research area -->
            <div class="col-md-4">
              <a href="#">
                <span class="main-header__search"><i class="fa fa-search"></i> Search</span>
              </a>
            </div>


            <div class="col-md-4">
              <a href="#">
                <span class="main-header__likes"><i class="fa fa-heart"></i> 0 Like</span>
              </a>
            </div>

            <div class="+centered +strong">
              <a href="#">
                <span class="main-header__cart"><i class="fa fa-shopping-cart"></i> 5 products</span>
              </a>
            </div>

        </div>
      </div>
      <!-- End of Main Menu Area -->

      <!-- Category Menu -->
      <div class="row category-menu">

        <div class="col-md-10 col-md-push-1 col-md-pull-1">

          <nav>
            <ul>

            <li class="col-md-2"><a href="#">CATEGORY</a>
                <ul>
                  <li class="dir"><a href="#">SUBCATEGORY</a></li>
                  <li class="dir"><a href="#">SUBCATEGORY</a>
                    <ul>
                      <li><a href="#">SUBSUBCATEGORY</a></li>
                      <li><a href="#">SUBSUBCATEGORY</a></li>
                      <li><a href="#">SUBSUBCATEGORY</a></li>
                    </ul>
                  </li>
                  <li><a href="#">SUBCATEGORY</a></li>
                  <li><a href="#">SUBCATEGORY</a></li>
                  <li><a href="#">SUBCATEGORY</a></li>
                </ul>
              </li>
            <li class="col-md-2 overmenu"><a href="#">CATEGORY</a>
                <ul>
                  <li class="dir"><a href="#">SUBCATEGORY</a></li>
                  <li class="dir"><a href="#">SUBCATEGORY</a>
                    <ul>
                      <li><a href="#">SUBSUBCATEGORY</a></li>
                      <li><a href="#">SUBSUBCATEGORY</a></li>
                      <li><a href="#">SUBSUBCATEGORY</a></li>
                    </ul>
                  </li>
                  <li><a href="#">SUBCATEGORY</a></li>
                  <li><a href="#">SUBCATEGORY</a></li>
                  <li><a href="#">SUBCATEGORY</a></li>
                </ul>
              </li>
              <li class="col-md-2"><a href="#">CATEGORY</a></li>
              <li class="col-md-2"><a href="#">CATEGORY</a></li>
              <li class="col-md-2"><a href="#">CATEGORY</a></li>
              <li class="col-md-2"><a href="#">CATEGORY</a></li>
            </ul>
          </nav>

        </div>

      </div>
      <!-- End of Category Menu -->

      <!-- Slider -->
      <div class="row slider">

        <ul id="js-slider">

          <!-- Image 1 -->
          <li>
            <div class="slider__image" style="background-image: url('/assets/slider/1.jpg')" >
              <div class="slider__content"></div>
            </div>
          </li>

          <!-- Image 2 -->
          <li>
            <div class="slider__image" style="background-image: url('/assets/slider/2.jpg')" >
              <div class="slider__content"></div>
            </div>
          </li>

        </ul>

        <div class="slider__bottom-border">
        </div>

      </div>

      <div class="products-list">

        <div class="row">
        <h1>Our best selection ...</h1>
        </div>

        <div class="+spacer"></div>

        <div class="row">

          <div class="col-md-3 product-box">

            <div class="product-box__thumb">

              <div class="product-box__like col-md-2 col-md-offset-10">
                <a href="#"><i class="fa fa-heart"></i></a>
              </div>
              <header class="product-box__header">

                <a href="#">
                  <img src="http://o6n7omia8.bkt.clouddn.com/uploads/sku/img0/572dd8b90374aa22a3578fb1/handcreme2.jpg?e=1462785778&token=sjmi6rq8r6Z7oO84m9WQ3grXZJNaDmBlHC5eDWsu:Z3Xycgb0QwqETVFhka7tMaPi09k=-thumbnailstd" alt="Image Alternative text" title="Cup on red">
                </a>

              </header>

              <div class="product-box__inner">

                <h5 class="product-box__inner --title">Product Name</h5>
                <p class="product-box__iner --desciption">Rhoncus laoreet lobortis ipsum venenatis augue libero libero</p>

                <div class="product-box__meta">

                  <span class="product-box__meta --price">$54</span>

                </div>

                <p class="product-box__location">
                  <i class="fa fa-shopping-bag"></i> Shop Name
                </p>

              </div>

            </div>
            
          </div>

          <div class="col-md-3 product-box">

            <div class="product-box__thumb">

              <div class="product-box__like col-md-2 col-md-offset-10">
                <a href="#"><i class="fa fa-heart"></i></a>
              </div>
              <header class="product-box__header">

                <a href="#">
                  <img src="http://o6n7omia8.bkt.clouddn.com/uploads/sku/img0/572dd8b90374aa22a3578fb1/handcreme2.jpg?e=1462785778&token=sjmi6rq8r6Z7oO84m9WQ3grXZJNaDmBlHC5eDWsu:Z3Xycgb0QwqETVFhka7tMaPi09k=-thumbnailstd" alt="Image Alternative text" title="Cup on red">
                </a>

              </header>

              <div class="product-box__inner">

                <h5 class="product-box__inner --title">Product Name</h5>
                <p class="product-box__iner --desciption">Rhoncus laoreet lobortis ipsum venenatis augue libero libero</p>

                <div class="product-box__meta">

                  <span class="product-box__meta --price">$54</span>

                </div>

                <p class="product-box__location">
                  <i class="fa fa-shopping-bag"></i> Shop Name
                </p>

              </div>

            </div>
            
          </div>

          <div class="col-md-3 product-box">

            <div class="product-box__thumb">

              <div class="product-box__like col-md-2 col-md-offset-10">
                <a href="#"><i class="fa fa-heart"></i></a>
              </div>
              <header class="product-box__header">

                <a href="#">
                  <img src="http://o6n7omia8.bkt.clouddn.com/uploads/sku/img0/572dd8b90374aa22a3578fb1/handcreme2.jpg?e=1462785778&token=sjmi6rq8r6Z7oO84m9WQ3grXZJNaDmBlHC5eDWsu:Z3Xycgb0QwqETVFhka7tMaPi09k=-thumbnailstd" alt="Image Alternative text" title="Cup on red">
                </a>

              </header>

              <div class="product-box__inner">

                <h5 class="product-box__inner --title">Product Name</h5>
                <p class="product-box__iner --desciption">Rhoncus laoreet lobortis ipsum venenatis augue libero libero</p>

                <div class="product-box__meta">

                  <span class="product-box__meta --price">$54</span>

                </div>

                <p class="product-box__location">
                  <i class="fa fa-shopping-bag"></i> Shop Name
                </p>

              </div>

            </div>
            
          </div>

          <div class="col-md-3 product-box">

            <div class="product-box__thumb">

              <div class="product-box__like col-md-2 col-md-offset-10">
                <a href="#"><i class="fa fa-heart"></i></a>
              </div>
              <header class="product-box__header">

                <a href="#">
                  <img src="http://o6n7omia8.bkt.clouddn.com/uploads/sku/img0/572dd8b90374aa22a3578fb1/handcreme2.jpg?e=1462785778&token=sjmi6rq8r6Z7oO84m9WQ3grXZJNaDmBlHC5eDWsu:Z3Xycgb0QwqETVFhka7tMaPi09k=-thumbnailstd" alt="Image Alternative text" title="Cup on red">
                </a>

              </header>

              <div class="product-box__inner">

                <h5 class="product-box__inner --title">Product Name</h5>
                <p class="product-box__iner --desciption">Rhoncus laoreet lobortis ipsum venenatis augue libero libero</p>

                <div class="product-box__meta">

                  <span class="product-box__meta --price">$54</span>

                </div>

                <p class="product-box__location">
                  <i class="fa fa-shopping-bag"></i> Shop Name
                </p>

              </div>

            </div>
            
          </div>


        </div>

        <div class="+spacer"></div>

        <div class="row">

          <div class="col-md-3 product-box">

            <div class="product-box__thumb">

              <div class="product-box__like col-md-2 col-md-offset-10">
                <a href="#"><i class="fa fa-heart"></i></a>
              </div>
              <header class="product-box__header">

                <a href="#">
                  <img src="http://o6n7omia8.bkt.clouddn.com/uploads/sku/img0/572dd8b90374aa22a3578fb1/handcreme2.jpg?e=1462785778&token=sjmi6rq8r6Z7oO84m9WQ3grXZJNaDmBlHC5eDWsu:Z3Xycgb0QwqETVFhka7tMaPi09k=-thumbnailstd" alt="Image Alternative text" title="Cup on red">
                </a>

              </header>

              <div class="product-box__inner">

                <h5 class="product-box__inner --title">Product Name</h5>
                <p class="product-box__iner --desciption">Rhoncus laoreet lobortis ipsum venenatis augue libero libero</p>

                <div class="product-box__meta">

                  <span class="product-box__meta --price">$54</span>

                </div>

                <p class="product-box__location">
                  <i class="fa fa-shopping-bag"></i> Shop Name
                </p>

              </div>

            </div>
            
          </div>

          <div class="col-md-3 product-box">

            <div class="product-box__thumb">

              <div class="product-box__like col-md-2 col-md-offset-10">
                <a href="#"><i class="fa fa-heart"></i></a>
              </div>
              <header class="product-box__header">

                <a href="#">
                  <img src="http://o6n7omia8.bkt.clouddn.com/uploads/sku/img0/572dd8b90374aa22a3578fb1/handcreme2.jpg?e=1462785778&token=sjmi6rq8r6Z7oO84m9WQ3grXZJNaDmBlHC5eDWsu:Z3Xycgb0QwqETVFhka7tMaPi09k=-thumbnailstd" alt="Image Alternative text" title="Cup on red">
                </a>

              </header>

              <div class="product-box__inner">

                <h5 class="product-box__inner --title">Product Name</h5>
                <p class="product-box__iner --desciption">Rhoncus laoreet lobortis ipsum venenatis augue libero libero</p>

                <div class="product-box__meta">

                  <span class="product-box__meta --price">$54</span>

                </div>

                <p class="product-box__location">
                  <i class="fa fa-shopping-bag"></i> Shop Name
                </p>

              </div>

            </div>
            
          </div>

          <div class="col-md-3 product-box">

            <div class="product-box__thumb">

              <div class="product-box__like col-md-2 col-md-offset-10">
                <a href="#"><i class="fa fa-heart"></i></a>
              </div>
              <header class="product-box__header">

                <a href="#">
                  <img src="http://o6n7omia8.bkt.clouddn.com/uploads/sku/img0/572dd8b90374aa22a3578fb1/handcreme2.jpg?e=1462785778&token=sjmi6rq8r6Z7oO84m9WQ3grXZJNaDmBlHC5eDWsu:Z3Xycgb0QwqETVFhka7tMaPi09k=-thumbnailstd" alt="Image Alternative text" title="Cup on red">
                </a>

              </header>

              <div class="product-box__inner">

                <h5 class="product-box__inner --title">Product Name</h5>
                <p class="product-box__iner --desciption">Rhoncus laoreet lobortis ipsum venenatis augue libero libero</p>

                <div class="product-box__meta">

                  <span class="product-box__meta --price">$54</span>

                </div>

                <p class="product-box__location">
                  <i class="fa fa-shopping-bag"></i> Shop Name
                </p>

              </div>

            </div>
            
          </div>

          <div class="col-md-3 product-box">

            <div class="product-box__thumb">

              <div class="product-box__like col-md-2 col-md-offset-10">
                <a href="#"><i class="fa fa-heart"></i></a>
              </div>
              <header class="product-box__header">

                <a href="#">
                  <img src="http://o6n7omia8.bkt.clouddn.com/uploads/sku/img0/572dd8b90374aa22a3578fb1/handcreme2.jpg?e=1462785778&token=sjmi6rq8r6Z7oO84m9WQ3grXZJNaDmBlHC5eDWsu:Z3Xycgb0QwqETVFhka7tMaPi09k=-thumbnailstd" alt="Image Alternative text" title="Cup on red">
                </a>

              </header>

              <div class="product-box__inner">

                <h5 class="product-box__inner --title">Product Name</h5>
                <p class="product-box__iner --desciption">Rhoncus laoreet lobortis ipsum venenatis augue libero libero</p>

                <div class="product-box__meta">

                  <span class="product-box__meta --price">$54</span>

                </div>

                <p class="product-box__location">
                  <i class="fa fa-shopping-bag"></i> Shop Name
                </p>

              </div>

            </div>
            
          </div>

        </div>
        
      </div>

      <div class="+spacer"></div>

      <!-- Footer -->
      <div class="row">

        <h1>Want to know more about us ?</h1>

        <div class="col-md-12 main-footer">

          <div class="main-footer__logo col-md-3 col-md-offset-1">
            <img src="/assets/logo-min-white.png">
          </div>
          <div class="col-md-2">

            <div class="row">Title</div>
            <div class="row">Some text</div>
            <div class="row">Some text</div>
            <div class="row">Some text</div>

          </div>
          <div class="col-md-2">

            <div class="row">Title</div>
            <div class="row">Some text</div>
            <div class="row">Some text</div>
            <div class="row">Some text</div>

          </div>
          <div class="col-md-2">

            <div class="row">Title</div>
            <div class="row">Some text</div>
            <div class="row">Some text</div>
            <div class="row">Some text</div>

          </div>

        </div>

      </div>
      <!-- End of footer -->

    </div>

    <%= javascript_include_tag "vendor" %>
    <%= javascript_include_tag "app" %>
    <script>
      require('javascripts/initialize');
    </script>

    <div id="js-routes" data-controller="<%=params[:controller]%>" data-action="<%=params[:action]%>"></div>

    <%= stylesheet_link_tag "application", :media => "all" %>


  </body>
  </html>