.top-area
  #owl-carousel-slider.owl-carousel.owl-slider{"data-inner-pagination" => "true", "data-white-pagination" => "true"}
    %div
      .bg-holder
        = image_tag "advertisement1a.png" , :alt => "Image Alternative text", :title => "Branding 1"
        .vert-center.text-white.text-center.slider-caption
          %h2.text-uc New Bloke Collection
          %p.text-bigger Egestas et est aenean ipsum lorem fringilla
          %p.text-hero Save up to 30%
          %a.btn.btn-lg.btn-ghost.btn-white{:href => "#"} Shop Now
    %div
      .bg-holder
        = image_tag "advertisement1b.png" , :alt => "Image Alternative text", :title => "Branding 2" 
        .vert-center.text-white.text-center.slider-caption
          %h2.text-uc Modern DJ Sets
          %p.text-bigger Justo cursus ridiculus erat et varius est
          %p.text-hero Save up to 70%
          %a.btn.btn-lg.btn-ghost.btn-white{:href => "#"} Shop Now
    %div
      .bg-holder
        = image_tag "advertisement1c.png" , :alt => "Image Alternative text", :title => "Branding 3" 
        .vert-center.text-white.text-center.slider-caption
          %h2.text-uc Gatgets Giveaway
          %p.text-bigger Erat lacus praesent montes aptent eget venenatis
          %p.text-hero Save up to 30%
          %a.btn.btn-lg.btn-ghost.btn-white{:href => "#"} Shop Now
    %div
      .bg-holder
        = image_tag "advertisement1d.png" , :alt => "Image Alternative text", :title => "Branding 4" 
        .vert-center.text-white.text-center.slider-caption
          %h2.text-uc Gatgets Giveaway
          %p.text-bigger Erat lacus praesent montes aptent eget venenatis
          %p.text-hero Save up to 30%
          %a.btn.btn-lg.btn-ghost.btn-white{:href => "#"} Shop Now
    %div
      .bg-holder
        = image_tag "advertisement2a.png" , :alt => "Image Alternative text", :title => "Branding 3" 
        .vert-center.text-white.text-center.slider-caption
          %h2.text-uc Gatgets Giveaway
          %p.text-bigger Erat lacus praesent montes aptent eget venenatis
          %p.text-hero Save up to 30%
          %a.btn.btn-lg.btn-ghost.btn-white{:href => "#"} Shop Now
    %div
      .bg-holder
        = image_tag "advertisement2b.png" , :alt => "Image Alternative text", :title => "Branding 3" 
        .vert-center.text-white.text-center.slider-caption
          %h2.text-uc Gatgets Giveaway
          %p.text-bigger Erat lacus praesent montes aptent eget venenatis
          %p.text-hero Save up to 30%
          %a.btn.btn-lg.btn-ghost.btn-white{:href => "#"} Shop Now
    %div
      .bg-holder
        = image_tag "advertisement2c.png" , :alt => "Image Alternative text", :title => "Branding 3" 
        .vert-center.text-white.text-center.slider-caption
          %h2.text-uc Gatgets Giveaway
          %p.text-bigger Erat lacus praesent montes aptent eget venenatis
          %p.text-hero Save up to 30%
          %a.btn.btn-lg.btn-ghost.btn-white{:href => "#"} Shop Now