<div class="row col-md-12 address-popup">
<%= form_for @address do |f| %>
  <%= hidden_field_tag :user_id, @user.id.to_s %>

  <div class="form-group">
    <h4>
      <%= I18n.t(:new_address_title, scope: :edit_address) %>
    </h4>
    <div class="form-group">
      <%= f.text_field :company, :value => @user.shop.name, :class => 'form-control', :required => true, :placeholder => I18n.t(:company, scope: :edit_address) %>
    </div>
    <div class="form-group">
      <div class="row">
        <div class="col-md-6">
          <%= f.text_field :fname, :value => @user.shop.fname, :class => 'form-control', :required => true, :placeholder => I18n.t(:fname, scope: :edit_address) %>
        </div>
        <div class="col-md-6">
          <%= f.text_field :lname, :value => @user.shop.lname, :class => 'form-control', :required => true, :placeholder => I18n.t(:lname, scope: :edit_address) %>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="row">
        <div class="col-md-6">
          <%= f.text_field :street, :class => 'form-control', :required => true, :placeholder => I18n.t(:street, scope: :edit_address) %>
        </div>
        <div class="col-md-6">
          <%= f.text_field :number, :class => 'form-control', :required => true, :placeholder => I18n.t(:house_number, scope: :edit_address), :pattern => '\d+' %>
        </div>
      </div>
      <%= f.text_field :additional, :class => 'form-control', :placeholder => I18n.t(:additional, scope: :edit_address) %>
    </div>
    <div class="form-group">
      <div class="row">
        <div class="col-md-4">
          <%= f.text_field :zip, :class => 'form-control', :placeholder => I18n.t(:zip, scope: :edit_address), :required => true, :pattern => I18n.t(:zip, scope: :validation, locale: :de) %>
        </div>
        <div class="col-md-4">
          <%= f.text_field :city, class: 'form-control', :placeholder => I18n.t(:city, scope: :edit_address), :required => true %>
        </div>
        <div class="col-md-4">
          <%= f.text_field :province, class: 'form-control', :placeholder => I18n.t(:province, scope: :edit_address), :required => true %>
        </div>
      </div>
    </div>
    <div class="form-group">
      <% if @user.shop.decorate.more_billing_address? %>
        <%= f.label :type do %>
          <%= f.radio_button :type, 'billing', :required => true %> <%= I18n.t('billing', scope: :edit_address) %>
        <% end %>
      <% end %>
      <% if @user.shop.decorate.more_sender_address? %>
        <%= f.label :type do %>
          <%= f.radio_button :type, 'sender', :required => true %> <%= I18n.t('sender', scope: :edit_address) %>
        <% end %>
      <% end %>
      <% if @user.shop.decorate.more_both_address? %>
        <%= f.label :type do %>
          <%= f.radio_button :type, 'both', :required => true %> <%= I18n.t('both', scope: :edit_address) %>
        <% end %>
      <% end %>
    </div>
    <div class="form-group">
      <input class="btn btn-primary" type="submit" value="<%= I18n.t(:add_address, scope: :edit_address) %>"></input>
    </div>
  </div>
<% end %>
</div>