<div class="address-popup">
<%= form_for a, :url => address_path(a), :html => { :method => :patch }  do |f| %>
<div class="form-group">
  <h4>
    <%= I18n.t(:change_address_title, scope: :edit_address) %>
  </h4>
</div>
<div class="form-group">
  <%= f.text_field :company, :class => 'form-control', :required => true, :placeholder => I18n.t(:company, scope: :edit_address) %>
</div>
<div class="form-group">
  <div class="row">
    <div class="col-md-6">
      <%= f.text_field :fname, :class => 'form-control', :required => true, :placeholder => I18n.t(:fname, scope: :edit_address) %>
    </div>
    <div class="col-md-6">
      <%= f.text_field :lname, :class => 'form-control', :required => true, :placeholder => I18n.t(:lname, scope: :edit_address) %>
    </div>
  </div>
</div>
<div class="form-group">
  <div class="row">
    <div class="col-md-9">
      <%= f.text_field :street, :class => 'form-control', :required => true, :placeholder => I18n.t(:street, scope: :edit_address) %>
    </div>
    <div class="col-md-3">
      <%= f.text_field :number, :class => 'form-control', :required => true, :placeholder => I18n.t(:house_number, scope: :edit_address), :pattern => '\d+' %>
    </div>
  </div>
  <%= f.text_field :additional, :class => 'form-control', :placeholder => I18n.t(:additional, scope: :edit_address) %>
</div>
<div class="form-group">
  <div class="row-fluid">
    <div class="col-md-4 nopadding-lr">
      <%= f.text_field :zip, :class => 'form-control', :placeholder => I18n.t(:zip, scope: :edit_address), :required => true, :pattern => '^(?!01000|99999)(0[1-9]\d{3}|[1-9]\d{4})$' %>
    </div>
    <div class="col-md-4 nopadding-lr">
      <%= f.text_field :city, class: 'form-control', :placeholder => I18n.t(:city, scope: :edit_address), :required => true %>
    </div>
    <div class="col-md-4 nopadding-lr">
      <%= f.text_field :province, class: 'form-control', :placeholder => I18n.t(:province, scope: :edit_address), :required => true %>
    </div>
    <%= f.hidden_field :country, :class => 'form-control', :value => ISO3166::Country[:DE].local_name, :readonly => true %>
  </div>
</div>
<div class="form-group">
  <% if current_user.shop.decorate.can_change_to_billing? %>
    <%= f.label :type do %>
      <%= f.radio_button :type, 'billing', :required => true %> <%= I18n.t('billing', scope: :edit_address) %>
    <% end %>
  <% end %>
  <% if current_user.shop.decorate.can_change_to_sender? %>
    <%= f.label :type do %>
      <%= f.radio_button :type, 'sender', :required => true %> <%= I18n.t('sender', scope: :edit_address) %>
    <% end %>
  <% end %>
  <% if current_user.shop.decorate.can_change_to_both? %>
    <%= f.label :type do %>
      <%= f.radio_button :type, 'both', :required => true %> <%= I18n.t('both', scope: :edit_address) %>
    <% end %>
  <% end %>
</div>

<div class="form-group">
  <input class="btn btn-primary" type="submit" value="<%= I18n.t(:save_address, scope: :edit_address) %>"></input>
</div>
<% end %>
</div>
