<!-- Shop block -->
<div class="shop-block__container">

  <div class="row">
    <div class="col-md-6">
      <h3 class="shop-block__title"><%= shop.shopname %></h3>
      <h4 class="shop-block__subtitle"><%= shop.decorate.short_desc(45) %></h4>
    </div>
    <div class="col-md-6 +desktop">
      <div class="shop-block__button +block-right">
        <a href="<%= guest_shop_path(shop) %>" class="main-button__hollow --small"><%= I18n.t('shop.go_to_shop') %></a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="shop-block__thumbnail lazy" data-original="<%= shop.decorate.image_url(:banner, :detail) %>" style="background-image:url('/images/grey.jpg');">
      </div>
    </div>
    <div class="col-md-8">
      <div class="shop-block__items">

        <% index = 0 %>

        <% shop.products.highlight_first.limit(8).in_groups_of(4, false).each do |products| %>

          <% products.each do |product| %>
            <% index += 1 %>

            <!-- NOTE : tweak to display only if desktop for the rest of the items -->

            <% if index > 3 %>

              <a href="<%= guest_product_path(product) %>">
                <div class="col-md-3 col-xs-4 +desktop">
                  <div class="shop-block__item lazy" data-original="<%= product.decorate.product_cover_url %>" style="background-image:url('/images/grey.jpg');">
                  </div>
                </div>
              </a>

            <% else %>

              <a href="<%= guest_product_path(product) %>">
                <div class="col-md-3 col-xs-4">
                  <div class="shop-block__item lazy" data-original="<%= product.decorate.product_cover_url %>" style="background-image:url('/images/grey.jpg');">
                  </div>
                </div>
              </a>

            <% end %>

          <% end %>

          <div class="clearfix"></div>
          <div class="+small-spacer"></div>

        <% end %>

      </div>

      <div class="shop-block__button +mobile +centered">
        <a href="<%= guest_shop_path(shop) %>" class="main-button__hollow --large"><%= I18n.t('shop.go_to_shop') %></a>
      </div>

    </div>
  </div>
</div>
