<!-- < cache @shop do > -->
<% set_meta_tags title: @shop.name,
                 description: @shop.desc,
                 keywords: '' %>

  <div class="row">
    <div class="col-md-12">

      <!-- Shop Blocks -->
      <div class="shop-page">

        <div class="row">
          <div class="col-md-12">
            <!-- Shop Navigation -->
            <%= render partial: "guest/shops/show/subheader", :locals => { :shop => @shop, :back => root_path } %>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <!-- Shop Header -->
            <%= render partial: "guest/shops/show/header", :locals => { :shop => @shop } %>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <!-- Shop Filters -->
            <%= render partial: "guest/shops/show/filters", :locals => { :shop => @shop } %>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <!-- Shop Products list -->
            <%= render partial: "guest/shops/show/products", :locals => { :products => @products } %>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <!-- Shop Footer -->
            <%= render partial: "guest/shops/show/footer", :locals => { :shop => @shop } %>
          </div>
        </div>

      </div>
      <!-- End of Shop Blocks -->

    </div>
  </div>

<!-- < end > -->
