<!-- Footer -->
<div class="row js-footer-stick">

  <div class="footer">

    <div class="col-md-offset-1 col-md-2">
      <%= render "layouts/customer/footer/germany_in_the_box" %>
    </div>

    <div class="col-md-2">
      <%= render "layouts/customer/footer/buying_info" %>
    </div>

    <div class="col-md-2">
      <%= render "layouts/customer/footer/social_medias" %>
    </div>

    <div class="col-md-2">
      <%= render "layouts/customer/footer/payment_methods" %>
    </div>

    <div class="col-md-2">
      <%= render "layouts/customer/footer/partners" %>
    </div>

  </div>

</div>
<!-- End of footer -->
