<div class="navbar-top"> <!-- navbar-fixed-top -->

  <!-- Main Menu Area -->
  <div class="row main-header">

    <!-- Left side -->
    <div class="col-md-2 col-md-push-1">
      <%= render partial: "layouts/customer/header/logo" %>
    </div>

    <!-- Right side -->
    <div class="col-md-8 col-md-push-1 main-header__right-side">

      <div class="row">

        <!-- My Account -->
        <div class="col-md-1 pull-right +centered">
          <%= render partial: "layouts/customer/header/my_account" %>
        </div>

        <!-- Products Cart -->
        <div class="col-md-1 pull-right +centered +menu-bordering">
          <%= render partial: "layouts/customer/header/products_cart" %>
        </div>

        <!-- Customer Likes -->
        <div class="col-md-1 pull-right +centered +menu-bordering">
          <%= render partial: "layouts/customer/header/customer_likes" %>
        </div>

      </div>

    </div>

  </div>
  <!-- End of Main Menu Area -->

  <!-- Mobile Category -->
  <div class="row mobile-category-menu">
    <%= render partial: "layouts/customer/header/menu/mobile_categories" %>
  </div>

  <!-- Category + Search Menu -->
  <div class="row category-menu">

    <!-- Categories Menu -->
    <div class="col-md-push-5 col-md-7">
      <%= render partial: "layouts/customer/header/menu/categories" %>
    </div>

  </div>

  <!-- Announcement -->
  <div class="row announcement">
    <% if Settings.instance.alert.present? %>
    <div class="col-md-12">
      <%= Settings.instance.alert %>
    </div>
    <% end %>
  </div>

</div>

<div class="+spacer"></div>

<% if guest_path? %>
  <%= render partial: "layouts/customer/header/stickers" %>
<% end %>

<%= render partial: "layouts/customer/header/messages" %>
<%= render partial: "layouts/customer/header/breadcrumb" %>
</br>

<!-- End of Category Menu -->
