<li class="<%= menu_active? shared_notifications_path %>">
  <%= link_to I18n.t(:notifications, scope: :top_menu), shared_notifications_path %>
</li>
<li class="<%= menu_active? edit_account_user_path(current_user)  %>">
  <%= link_to I18n.t(:my_account, scope: :top_menu), edit_account_user_path(current_user) %>
</li>
<li class="<%= menu_active? users_path %>">
  <%= link_to I18n.t(:accounts, scope: :edit_accounts), users_path %>
</li>
<li class="<%= menu_active? shop_applications_path %>">
  <%= link_to I18n.t(:shop_applications, scope: :top_menu), shop_applications_path %>
</li>
<li class="<%= menu_active? shops_path %>">
  <%= link_to I18n.t(:shops, scope: :top_menu), shops_path %>
</li>
<li class="<%= menu_active? admin_orders_path %>">
  <%= link_to I18n.t(:my_order, scope: :top_menu), admin_orders_path %>
</li>
<li class="<%= menu_active? admin_order_payments_path %>">
  <%= link_to I18n.t(:payments, scope: :top_menu), admin_order_payments_path %>
</li>
<li class="<%= menu_active? admin_settings_path %>">
  <%= link_to I18n.t(:settings, scope: :top_menu), admin_settings_path %>
</li>
<li>
  <%= link_to I18n.t(:sign_out, scope: :top_menu), destroy_user_session_path, :method => :delete %>
</li>
