<li class="<%= is_menu_active?(:edit_account) %>">
  <%= link_to I18n.t(:my_account, scope: :top_menu), edit_account_user_path(current_user, :user_info_edit_part => :edit_account) %>
</li>
<li class="<%= is_menu_active?(:edit_accounts) %>">
  <%= link_to I18n.t(:accounts, scope: :edit_accounts), users_path(:user_info_edit_part => :edit_accounts) %>
</li>
<% #%li{:class => is_menu_active?(:edit_categories)} %>
<% #  =link_to I18n.t(:categories, scope: :top_menu),  categories_path(:user_info_edit_part => :edit_categories) %>
<li class="<%= is_menu_active?(:edit_shop_applications) %>">
  <%= link_to I18n.t(:shop_applications, scope: :top_menu),  shop_applications_path(:user_info_edit_part => :edit_shop_applications) %>
</li>
<li class="<%= is_menu_active?([:edit_product, :edit_product_update, :edit_product_new, :edit_product_detail, :edit_product_detail_new, :edit_product_detail_update, :edit_product_detail_clone, :edit_shops]) %>">
  <%= link_to I18n.t(:shops, scope: :top_menu),  shops_path(:user_info_edit_part => :edit_shops) %>
</li>
<li class="<%= is_menu_active?(:edit_order) %>">
  <%= link_to I18n.t(:my_order, scope: :top_menu), show_orders_users_path(:user_info_edit_part => :edit_order) %>
</li>
<li class="<%= is_menu_active?(:admin_order_payments) %>">
  <%= link_to I18n.t(:payments, scope: :top_menu), admin_order_payments_path(:user_info_edit_part => :admin_order_payments) %>
</li>
<li class="<%= is_menu_active?(:edit_settings) %>">
  <%= link_to I18n.t(:settings, scope: :top_menu), admin_settings_path(:user_info_edit_part => :edit_settings) %>
</li>
<li>
  <%= link_to I18n.t(:sign_out, scope: :top_menu), destroy_user_session_path, :method => :delete %>
</li>
