<li class="<%= is_menu_active?(:edit_account, true) %>">
  <%= link_to I18n.t(:my_account, scope: :top_menu),  edit_account_user_path(current_user, :user_info_edit_part => :edit_account) %>
</li>
<li class="<%= is_menu_active?(:edit_personal) %>">
  <%= link_to I18n.t(:my_personal, scope: :top_menu),  edit_personal_user_path(current_user, :user_info_edit_part => :edit_personal) %>
</li>
<li class="<%= is_menu_active?(:edit_address) %>">
  <%= link_to I18n.t(:my_address, scope: :top_menu),  show_addresses_user_path(current_user, :user_info_edit_part => :edit_address) %>
</li>
<li class="<%= is_menu_active?(:edit_order) %>">
  <%= link_to I18n.t(:my_order, scope: :top_menu),  show_orders_users_path(current_user, :user_info_edit_part => :edit_order) %>
</li>
<li>
  <%= link_to I18n.t(:sign_out, scope: :top_menu), signout_path, :method => :delete %>
</li>