<li class="<%= menu_active? shared_notifications_path %>">
  <%= link_to I18n.t(:notifications, scope: :top_menu), shared_notifications_path %>
</li>
<li class="<%= menu_active? edit_customer_user_path %>">
  <%= link_to I18n.t(:my_account, scope: :top_menu), edit_customer_user_path %>
</li>
<li class="<%= menu_active? show_addresses_user_path(current_user) %>">
  <%= link_to I18n.t(:my_address, scope: :top_menu),  show_addresses_user_path(current_user) %>
</li>
<li class="<%= menu_active? customer_orders_path %>">
  <%= link_to I18n.t(:my_order, scope: :top_menu),  customer_orders_path %>
</li>
<li>
  <%= link_to I18n.t(:sign_out, scope: :top_menu), destroy_user_session_path, :method => :delete %>
</li>
