<li class="<%= is_menu_active?(:shared_notifications) %>">
  <%= link_to I18n.t(:notifications, scope: :top_menu), shared_notifications_path %>
</li>
<% if current_user.shop&.agb %>
  <li class="<%= is_menu_active?(:edit_account, true) %>">
    <%= link_to I18n.t(:my_account, scope: :top_menu),  edit_account_user_path(current_user, :user_info_edit_part => :edit_account) %>
  </li>
<% end %>
<li class="<%= is_menu_active?(:edit_producer, true) %>">
  <%= link_to I18n.t(:my_producer, scope: :top_menu), edit_producer_shop_path(current_user.shop.id, :user_info_edit_part => :edit_producer) %>
</li>
<% if current_user.shop&.agb %>
  <li class="<%= is_menu_active?(:edit_shop) %>">
    <%= link_to I18n.t(:my_shop, scope: :top_menu), edit_setting_shop_path(current_user.shop.id, :user_info_edit_part => :edit_shop) %>
  </li>
  <li class="<%= is_menu_active?([:edit_product, :edit_product_update, :edit_product_new, :edit_product_detail, :edit_product_detail_new, :edit_product_detail_update, :edit_product_detail_clone]) %>">
    <%= link_to I18n.t(:my_product, scope: :top_menu),  show_products_shop_path(current_user.shop.id, :user_info_edit_part => :edit_product) %>
  </li>
  <li class="<%= is_menu_active?(:edit_order) %>">
      <%= link_to I18n.t(:my_order, scope: :top_menu),  shopkeeper_orders_path(:user_info_edit_part => :edit_order) %>
  </li>
  <li class="<%= is_menu_active?(:edit_shop_address) %>">
    <%= link_to I18n.t(:my_address, scope: :top_menu),  show_addresses_user_path(current_user, :user_info_edit_part => :edit_shop_address) %>
  </li>
  <li class="<%= is_menu_active?(:payments) %>">
    <%= link_to I18n.t(:payments, scope: :top_menu), shopkeeper_payments_path(:user_info_edit_part => :payments) %>
  </li>
<% end %>
<li class="<%= is_menu_active?(:support) %>">
<%= link_to I18n.t(:support, scope: :top_menu), shopkeeper_supports_path(:user_info_edit_part => :support) %>
</li>
<li>
  <%= link_to I18n.t(:sign_out, scope: :top_menu), destroy_user_session_path, :method => :delete %>
</li>
