<div class="row">
<div class="col-md-4 col-md-push-4 col-md-pull-4 col-xs-10 col-xs-push-1 col-xs-pull-1">

  <h3>
    <%= I18n.t('password_recovery_dialog.header') %>
  </h3>
  <h5>
    <%= I18n.t('password_recovery_dialog.title') %>
  </h5>
  <hr />

  <%= form_for resource, as: resource_name, url: password_path(resource_name), html: {method: :post}, :class => 'dialog-form', :data => {:toggle => 'validator'} do |f| %>

    <label class="control-label">
      <%= I18n.t('password_recovery_dialog.email') %>
    </label>
    <input name="email" class="form-control" placeholder="email@domain.com" required="true" type="email"></input>

    <div class="+small-spacer"></div>
    <input class="big-button --green" type="submit" value="<%= I18n.t('password_recovery_dialog.ok') %>"></input>

  <% end %>

</div>
</div>
