<nav>
  <ul>
    <li class="col-md-5 +right">

      <div class="search-bar">
        <form id="search-form" action="#search_path" class="+hidden">

          <i class="fa fa-search"></i>
          <input type="query" id="search-input" class="search-bar__input" name="query" autocomplete="off" placeholder="<%= I18n.t(:input_suggestions, scope: :search) %>" />

          <button type="submit" class="+hidden"></button>
        </form>
      </div>

    <a id="search-button" href="#" class="search-bar__button header-desktop__menu --green"><i class="fa fa-search"></i></a>

    </li>
    <li class="col-md-2">
        <% if notifications? %>
          <a href="<%= shared_notifications_path %>">
            <div class="+notif-bubble"><%= current_user.notifications.unreads.count %></div>
            <span class="header-desktop__menu --green"><i class="fa fa-user"></i></span>
          </a>
        <% else %>
          <a href="<%= resolve_profile_path %>" class="header-desktop__menu --green"><i class="fa fa-user"></i></a>
        <% end %>
    </li>
    <li class="col-md-2">
        <a href="<%= customer_favorites_path %>" class="header-desktop__menu --pink"><i class="fa fa-heart"></i></a>
    </li>
    <li class="col-md-2">
        <a id="cart" href="<%= customer_cart_path %>" class="header-desktop__menu --green"><i class="fa fa-shopping-cart"></i></a>
    </li>
  </ul>
</nav>
