<nav>
  <ul>
    <% categories.each do |category| %>
    <li class="col-md-2 menu-dropdown">
      <div class="menu-dropdown__overlay"></div>
      <a href="<%= guest_category_path(category) %>" id="<%= category.slug %>"><%= category.name %></a>
      <!-- Shops in category -->
      <ul class="menu-dropdown__content">
      <% category.can_buy_shops(5).each do |shop| %>
      <li>
        <hr />
          <a href="<%= guest_shop_path(shop) %>">
          <h4><%= shop.name %></h4>
          <%= shop.decorate.short_desc(20) %>
          </a>
      </li>
      <% end %>
    </ul>
      <!-- End of shop in category -->
    </li>
    <% end %>
  </ul>
</nav>
