<tr>
  <td>
    <%= address.id %>
  </td>
  <td>
    <%= address.decorate.readable_type %>
  </td>
  <td>
    <%= address.city %>
  </td>
  <td>
    <%= address.zip %>
  </td>
  <td>
    <%= address.decorate.street_and_number %>
  </td>
  <td>
    <%= address.country %>
  </td>
  <td>
  </td>
</tr>
