<h2>
  <%= product.name %>
  <%= render partial: "guest/products/show/details/like", :locals => { :product => product } %>
  <%= render partial: "guest/products/show/details/discount_warning", :locals => { :sku => @featured_sku } %>
</h2>

<% if @featured_sku %>

<%= render partial: "guest/products/show/details/sku_price", :locals => { :sku => @featured_sku} %>

<%= render partial: "guest/products/show/details/quantity", :locals => { :sku => @featured_sku} %>

<div class="+small-spacer"></div>

<div class="product-page__description">

  <%= render partial: "guest/products/show/details/description", :locals => { :sku => @featured_sku} %>

</div>

<% end %>
