<div class="row +centered">
  <div class="product-page__fullsize-image">
    <%= render partial: 'shared/partials/loader', locals: { :options => { :spacer => true } } %>
    <img id="main_image" class="magnify-full-image lazy" />
  </div>
</div>

<div id="gallery" class="row">

  <%  files = product.featured_sku.all_nonempty_img_fields %>

  <% [*0..6].each do |num| %>

  <% file = files[num] %>

  <div id="thumbnail-<%= num %>" class="col-md-2 col-xs-4 +centered">

    <% unless file.nil? %>

      <a href="#" data-image="<%= product.decorate.featured_sku_img_url(file, :fullsize) %>" data-zoom-image="<%= product.decorate.featured_sku_img_url(file, :zoomin) %>">

        <div class="product-page__thumbnail-image lazy" style="background-image:url(<%= product.decorate.featured_sku_img_url(file, :thumb) %>)">
        </div>

      </a>

    <% end %>

  </div>

  <% end %>

</div>
