<div class="row +centered">
  <div class="product-page__fullsize-image">
    <%= render partial: 'shared/partials/loader', locals: { :options => { :spacer => true } } %>
    <img id="main_image" class="magnify-full-image lazy" />
  </div>
</div>

<div id="gallery" class="row">
  <% product.featured_sku.images.each_with_index do |image, index| %>
    <div id="thumbnail-<%= index %>" class="col-md-2 col-xs-4 +centered">
      <a href="#" data-image="<%= image.file.url %>" data-zoom-image="<%= image.file.url %>">
        <div class="product-page__thumbnail-image lazy" style="background-image:url(<%= image.file.url %>)">
        </div>
      </a>
    </div>
<% end %>

</div>
