<% if options[:reversed] %>

<div class="row">
  <div class="col-md-12">
    <div class="categories-block">
      <div class="row">

        <a href="<%= guest_package_sets_path(category_slug: category.slug) %>">
          <div class="col-md-8">
            <div class="categories-block__image lazy" data-original="<%= category.cover %>" style="background-image:url('/images/grey.jpg');">
            </div>
          </div>
        </a>

        <div class="col-md-4 categories-block__no-padding-left">
          <div class="categories-block__content">
            <div class="categories-block__wrapper">
              <%= render partial: "guest/package_sets/categories/content", locals: { category: category } %>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>


<% else %>

<div class="row">
  <div class="col-md-12">
    <div class="categories-block">
      <div class="row">

        <a href="<%= guest_package_sets_path(category_slug: category.slug) %>">
          <div class="col-md-8 col-md-push-4">
            <div class="categories-block__image lazy" data-original="<%= category.cover %>" style="background-image:url('/images/grey.jpg');">
            </div>
          </div>
        </a>

        <div class="col-md-4 col-md-pull-8 categories-block__no-padding-right">
          <div class="categories-block__content">
            <div class="categories-block__wrapper">
              <%= render partial: "guest/package_sets/categories/content", locals: { category: category } %>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<% end %>

<div class="+spacer"></div>
