<% if options[:reversed] %>

<div class="row">
  <div class="col-md-12">
    <div class="categories-block">
      <div class="row">

        <a href="<%= guest_package_sets_path(category_slug: category.slug) %>">
          <div class="col-md-8">
            <div class="categories-block__image lazy" data-original="<%= category.cover %>" style="background-image:url('/images/grey.gif');">
            </div>
          </div>
        </a>

        <div class="col-md-4 categories-block__no-padding-left">
          <div class="categories-block__content">
            <div class="categories-block__wrapper">
              <h2><%= category.name %></h2>
              <p><%= category.desc %></p>
              <div class="categories-block__button">
              <a class="main-button__hollow category-select" href="<%= guest_package_sets_path(category_slug: category.slug) %>"><%= I18n.t('categories.more_info') %></a>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>


<% else %>

<div class="row">
  <div class="col-md-12">
    <div class="categories-block">
      <div class="row">

        <a href="<%= guest_package_sets_path(category_slug: category.slug) %>">
          <div class="col-md-8 col-md-push-4">
            <div class="categories-block__image lazy" data-original="<%= category.cover %>" style="background-image:url('/images/grey.gif');">
            </div>
          </div>
        </a>

        <div class="col-md-4 col-md-pull-8 categories-block__no-padding-right">
          <div class="categories-block__content">
            <div class="categories-block__wrapper">
              <h2><%= category.name %></h2>
              <p><%= category.desc %></p>
              <div class="categories-block__button">
              <a class="main-button__hollow category-select" href="<%= guest_package_sets_path(category_slug: category.slug) %>"><%= I18n.t('categories.more_info') %></a>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<% end %>

<div class="+spacer"></div>
