<script src="/javascripts/vendor.js?version=<%= assets_js_version_hash('vendor') %>"></script>

<!-- NOTE :  Investigate if it's a good idea to actually use that since it takes also the stuff from brunch -->
<!-- maybe i should include vue itself within the package.json and then do that ? -->
<script src="/javascripts/vendor-node.js?version=<%= assets_js_version_hash('vendor') %>"></script>
<script src="/javascripts/app.js?version=<%= assets_js_version_hash('app') %>"></script>
<script src="<%= resolve_vuejs_path %>"></script>

<script>
  require('javascripts/initialize');
</script>

<!-- JS Routing system -->
<div id="js-routes" data-controller="<%=params[:controller]%>" data-action="<%=params[:action]%>"></div>
<div id="js-info" data-user-role="<%= current_user&.role %>" data-environment="<%=Rails.env%>" data-navigation-back="<%= navigation.back(1) %>"></div>
<div id="js-device" data-current="">
