<script src="/javascripts/app.js?version=<%= assets_version_hash %>"></script>
<script src="/javascripts/vendor.js?version=<%= assets_version_hash %>"></script>

<script>
  require('javascripts/initialize');
</script>

<!-- JS Routing system -->
<div id="js-routes" data-controller="<%=params[:controller]%>" data-action="<%=params[:action]%>"></div>
<div id="js-info" data-environment="<%=Rails.env%>"></div>
