<% if current_user&.tester? %>

  <!-- Configuration -->
  <% if @weixin_js_config %>

    <!-- JSSDK -->
    <script src="https://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>

      <div id="weixin"
           data-debug="true"
           data-app-id="<%= @weixin_js_config[:app_id] %>"
           data-timestamp="<%= @weixin_js_config[:timestamp] %>"
           data-nonce-str="<%= @weixin_js_config[:nonce_str] %>"
           data-signature="<%= @weixin_js_config[:signature] %>"
           data-js-api-list="<%= @weixin_js_config[:js_api_list] %>">
      </div>

  <% end %>

<% end %>
