<p>
  <%= I18n.t('mailers.password_recovery.hello') %> <%= @resource.email %>!
</p>
<p><%= I18n.t('mailers.password_recovery.someone_requested') %></p>
<p>
  <%= link_to I18n.t('mailers.password_recovery.change_password'), edit_password_url(@resource, reset_password_token: @token) %>
</p>
<p><%= I18n.t('mailers.password_recovery.did_not_request') %></p>
<p><%= I18n.t('mailers.password_recovery.password_will_not_change') %></p>

<p>
<a href="<%= new_user_session_path %>"><%= I18n.t('mailers.password_recovery.sign_in') %></a>
</p>
