<div class="+white-box +centered">
  <h1>Token</h1>
  <h2><strong><%= @referrer_group.token %></strong></h2>
  <p><strong><%= @referrer_group.referrer_url %></strong></p>
  <br />

  <div class="+left">
    <strong>Name:</strong> <%= @referrer_group.name %>
    <br />

    <strong>Description:</strong> <%= @referrer_group.desc %>
    <br />
    <br />
    <strong>Type:</strong> <%= @referrer_group.type %>
    <br />
    <br />

    <strong>Coupon Discount:</strong> <%= @referrer_group.coupon_discount %>
    <br />

    <strong>Coupon Discount Extra:</strong> <%= @referrer_group.coupon_discount_extra %>
    <br />
    <br />

    <strong>Sales Provision:</strong> <%= @referrer_group.sales_provision %>
    <br />

    <strong>Sales Provision Extra:</strong> <%= @referrer_group.sales_provision_extra %>
    <br />
    <br />

    <strong>Redeem Discount:</strong> <%= @referrer_group.redeem_discount %>
    <br />
    <br />
  </div>
</div>
