<div class="row">
  <div class="col-md-4 col-md-push-4 col-md-pull-4 col-xs-10 col-xs-push-1 col-xs-pull-1 +white-box">

    <h3>
      <%= I18n.t(:header, scope: :sign_in_dialog) %>
    </h3>
    <h5>
      <%= I18n.t(:title, scope: :sign_in_dialog) %>
    </h5>
    <%= form_tag user_session_path, :method => :post, :class => 'dialog-form', :data => {:toggle => 'validator'}  do %>
    <div class="form-group">
      <label>
        <%= I18n.t(:email, scope: :sign_in_dialog) %>
      </label>
      <%= email_field_tag 'user[email]',  nil, :class => 'form-control', :placeholder => 'email@domain.com', :required => true %>
      <div class="help-block with-errors"></div>
    </div>
    <div class="form-group">
      <label>
        <%= I18n.t(:password, scope: :sign_in_dialog) %>
      </label>
      <%= password_field_tag 'user[password]', nil, :class => 'form-control', :placeholder => I18n.t(:password, scope: :sign_up_dialog), :required => true %>
    </div>
    <% if session[:login_advice_counter].present? and session[:login_advice_counter] >= Rails.configuration.login_failure_limit %>
    <div class="form-inline">
      <div class="form-group">
        <%= text_field_tag :captcha, '', :autocomplete => :off,  placeholder: I18n.t(:captcha, scope: :sign_up_dialog), :required => true, :minLength => 4, :maxLength => 4, :class => 'form-control' %>
      </div>
      <div class="form-group">
        <%= captcha_tag %>
      </div>
    </div>
    <% end %>
    <div class="checkbox">
      <label>
        <input checked="checked" type="checkbox"></input>
        <%= I18n.t(:remember_me, scope: :sign_in_dialog) %>
      </label>
    </div>
    <div class="col-md-12">
      <div class="col-md-5">
        <%= submit_tag I18n.t(:sign_in, scope: :sign_in_dialog), :id => 'sign_in', :class => 'btn btn-primary' %>
      </div>
      <div class="col-md-7">
        <a class="btn btn-primary" href="<%= new_user_registration_path %>">
          <%= I18n.t(:not_member_yet, scope: :sign_in_dialog) %>
        </a>
        <br />
        <a class="simple-text" href="<%= new_user_password_path %>">
          <%= I18n.t(:forgot_password, scope: :sign_in_dialog) %>
        </a>
      </div>
    </div>
    <% end %>
  </div>
</div>

<%= render partial: "devise/shared/alternative_login" %>
