<% unless histories.count == 0 %>
<div class="provision__orders">

  <!-- BALANCE HISTORY -->
  <div class="provision__title">
    <%= I18n.t('referrer.balance_history') %>
  </div>

  <div class="provision__list">
    <table>
      <thead>
        <th class="provision__small">
          <%= I18n.t('referrer.type') %>
        </th>
        <th class="provision__large">
          <%= I18n.t('referrer.description') %>
        </th>
        <th>
          <%= I18n.t('referrer.transfer') %>
        </th>
        <th>
          <%= I18n.t('referrer.date') %>
        </th>
      </thead>
      <tbody>

        <% histories.each do |history| %>
          <tr data-href="#">
            <td>
              <strong>
                <%= I18n.t("referrer.#{history[:type]}") %>
              </strong>
            </td>
            <td>
              <%= history[:description] %>
            </td>
            <td>
              <% if history[:type] == :order %>
                <span class="provision__list --green --link"><%= history[:transfer] %></span>
              <% elsif history[:type] == :operation %>
                <span class="provision__list --blue --link"><%= history[:transfer] %></span>
              <% else %>
                <%= history[:transfer] %>
              <% end %>
            </td>
            <td>
              <%= history[:date] %>
            </td>
          </tr>
        <% end %>

      </tbody>
    </table>
  </div>

</div>

<div class="+spacer"></div>
<% end %>
