<% unless operations.count == 0 %>
<div class="provision__operations">

  <!-- OPERATIONS LIST -->
  <div class="provision__title">
    <%= I18n.t('referrer.operations') %>
  </div>

  <div class="provision__list">
    <table>
      <thead>
        <th>
          <%= I18n.t('referrer.transfer') %>
        </th>
        <th>
          <%= I18n.t('referrer.description') %>
        </th>
        <th>
          <%= I18n.t('referrer.date') %>
        </th>
      </thead>
      <tbody>

        <% operations.each do |operation| %>
          <tr data-href="#">
            <td>
              <span class="provision__list --blue --link"><%= operation.amount.in_euro.display %></span>
            </td>
            <td>
              <%= truncate operation.desc, length: 25 %>
            </td>
            <td>
              <%= operation.c_at.strftime("%Y-%m-%d") %>
            </td>
          </tr>
        <% end %>

      </tbody>
    </table>
  </div>

</div>

<div class="+spacer"></div>
<% end %>
