<% unless provisions.count == 0 %>
<div class="provision__orders">

  <!-- ORDERS LIST -->
  <div class="provision__title">
    <%= I18n.t('referrer.orders') %>
  </div>

  <div class="provision__list">
    <table>
      <thead>
        <th>
          <%= I18n.t('referrer.customer') %>
        </th>
        <th class="provision__large">
          <%= I18n.t('referrer.order') %>
        </th>
        <th>
          <%= I18n.t('referrer.provision') %>
        </th>
        <th>
          <%= I18n.t('referrer.creation') %>
        </th>
      </thead>
      <tbody>

        <% provisions.each do |provision| %>
          <tr data-href="#">
            <td>
              <%= provision.order.user.decorate.full_name %>
            </td>
            <td>
              <%= truncate provision.order.products_name_array.join(', '), length: 25 %>
            </td>
            <td>
              <span class="provision__list --green --link"><%= provision.provision.in_euro.display %></span>
            </td>
            <td>
              <%= provision.c_at.strftime("%Y-%m-%d") %>
            </td>
          </tr>
        <% end %>

      </tbody>
    </table>
  </div>

</div>

<div class="+spacer"></div>
<% end %>
