<div class="col-md-12">
  <div class="row">
    <h3><%= I18n.t('edit_product_detail.images') %>
      <%= js_tips(:id => :seals, :tip => I18n.t('edit_product_detail.images_info')) %>
    </h3>
    <hr>
  </div>

  <div class="row">
    <%= form.fields_for :images do |field| %>
      <div class="col-md-3">
        <%= field.label :file, "Optional Image ##{solve_index}" %>
        <%= js_image_file_upload(form: field, assoc: field.object, field: :file) %>
      </div>
    <% end %>
  </div>
</div>
