<div class="col-md-12">
  <div class="row">
    <h3> <%= I18n.t(:product_data, scope: :edit_product_detail) %></h3>
    <hr>
  </div>
  <div class="row">
    <div class="col-md-12">

      <!-- Data (aka Description of the Sku) -->
      <div class="row form-group">
        <div class="col-md-4">
          <%= I18n.t(:product_data, scope: :edit_product_detail) %>
          <%= js_tips(:id => :product_data, :tip => I18n.t(:product_data_info, scope: :edit_product_detail)) %>
        </div>
        <div class="col-md-8">
          <%= form.text_area :data, :class => 'form-control required' %>
        </div>
      </div>

      <!-- Attached Documentation -->
      <div class="row form-group">
        <div class="col-md-4">
          <%= I18n.t(:attachment, scope: :edit_product_detail) %>
          <%= js_tips(:id => :attachment, :tip => I18n.t(:attachment_info, scope: :edit_product_detail)) %>
        </div>
        <div class="col-md-8">
          <%= form.file_field :attach0, :accept => "application/pdf", :attach_id => "#attach_0_#{form.object.id}", :class => 'upload' %>
          <% if form.object.attach0.file %>
            <%= link_to  I18n.t(:open, scope: :edit_product_detail), form.object.attach0.url, :target => "_blank" %>
          <% end %>
        </div>
      </div>

      <!-- Country of Origin -->
      <div class="row form-group">
        <div class="col-md-4">
          <%= I18n.t(:country_of_origin) %>
        </div>
        <div class="col-md-8">
          <%= country_select("product[skus_attributes][0]", "country_of_origin", priority_countries: ["DE"], format: :translated, selected: form.object.country_of_origin) %>
        </div>
      </div>


    </div>
  </div>

</div>
