<%= form_for [:shopkeeper, shop], :data => {:toggle => 'validator'} do |f| %>

  <div class="row details__block">
    <%= render partial: "shopkeeper/shop/show/form/header", :locals => {:form => f} %>
  </div>

  <div class="row details__block">
    <%= render partial: "shopkeeper/shop/show/form/about", :locals => {:f => f} %>
  </div>

  <div class="row details__block">
    <%= render partial: "shopkeeper/shop/show/form/shop_photos", :locals => {:f => f} %>
  </div>

  <div class="row details__block">
    <%= render partial: "shopkeeper/shop/show/form/certifications_photos", :locals => {:f => f} %>
  </div>

  <div class="row details__block">
    <%= render partial: "shopkeeper/shop/show/form/public_informations", :locals => {:f => f} %>
  </div>

  <%= f.button I18n.t(:save, scope: :edit_shop), :class => 'btn btn-primary' %>
<% end %>
