<!-- Start Product -->
<div class="row">

  <a href="<%= guest_product_path(product) %>">

    <div class="col-md-12">

      <% if product.discount? %>
      <div class="shop-page-product__discount">
        <div><%= product.decorate.best_discount %></div>
      </div>
      <% end %>

      <div class="shop-page-product__image +centered lazy" data-original="<%= product.decorate.product_cover_url %>" style="background-image:url('/images/grey.gif');">
      </div>

    </div>

    <div class="col-md-12">

      <div class="shop-page-product__description">

        <h2 class="shop-page-product__title">
          <%= product.name %>
        </h2>

        <h3>
          <%= product.brand&.name %>
        </h3>

        <p>
          <%= product.decorate.short_desc %>
        </p>

        <div class="shop-page-product__options">
          <%= get_options_names(product) %>
        </div>

        <div class="row">
          <div class="col-md-12">
          <% if product.discount? %>

            <span class="+barred-price">
              <%= product.decorate.preview_price_yuan_html.html_safe %>
            </span>

          <% end %>

            <span class="+price-yuan"><%= product.featured_sku.decorate.price_after_discount_in_yuan %></span>

            <!-- Warnings -->
            <%= render partial: "guest/products/sku_warnings", :locals => { :sku => product.featured_sku } %>

          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="+price-euro"><%#= product.featured_sku.decorate.price_after_discount_in_euro %></div>
          </div>
        </div>


      </div>

    </div>

  </a>
</div>
<!-- End Product -->
