<!-- Start Product -->
<div class="row">

  <a href="<%= guest_product_path(product) %>">

    <div class="col-md-12">

      <% if product.discount? %>
      <div class="shop-page-product__discount">
        <div><%= product.decorate.best_discount %></div>
      </div>
      <% end %>

      <div class="shop-page-product__image +centered lazy" data-original="<%= product.decorate.product_cover_url %>" style="background-image:url('/images/grey.jpg');">
      </div>

    </div>

    <div class="col-md-12">

      <div class="shop-page-product__description">

        <h2 class="shop-page-product__title">
          <%= product.name %>
        </h2>

        <h3>
          <%= product.brand&.name %>
        </h3>

        <p>
          <%= product.decorate.short_desc %>
        </p>

        <div class="shop-page-product__options">
          <%= get_options_names(product) %>
        </div>

        <div class="row">
          <div class="col-md-12">
            <% if product.discount? %>

              <span class="+barred-price">
                <%= product.decorate.featured_sku.price_with_taxes.in_euro.to_yuan.display_html.html_safe %>
              </span>

            <% end %>

            <% if product.decorate.featured_sku.decorate.custom_price? %>

              <span class="+barred-price">
                <%= product.decorate.featured_sku.decorate.casual_total_price.in_euro.to_yuan.display_html.html_safe %>
              </span>

            <% end %>

            <span class="+price-yuan"><%= product.featured_sku.decorate.after_discount_price.in_euro.to_yuan.display %></span>

            <!-- Warnings -->
            <%= render partial: "guest/products/sku_warnings", :locals => { :sku => product.featured_sku } %>

          </div>
        </div>

      </div>

    </div>

  </a>
</div>
<!-- End Product -->
