<% if sku.quantity_warning? %>
  <span class="+red +up +bold"> <%= I18n.t('product_left.only') %> <span id="quantity-left"><%= sku.quantity %></span> <%= I18n.t('product_left.left') %></span>
<% elsif sku.nothing_left? %>
  <span class="+red +up +bold"> <%= I18n.t('product_left.no_stock_left') %></span>
<% elsif !sku.product.decorate.can_buy? %>
  <span class="+red +up +bold"> <%= I18n.t('product_left.not_ready_to_sell') %></span>
<% end %>
