<%= translation_js(:more, :title) %>

<div class="row">
  <div class="col-md-12">
    <div class="product-page">

      <div class="row">
        <div class="col-md-6">
          <%= render partial: "layouts/customer/subheader/breadcrumb" %>
        </div>
      </div>

      <div class="row">

        <!-- Preview -->
        <div class="col-md-6 col-md-push-3 col-xs-12">
          <%= render partial: "guest/products/show/images", :locals => {product: @product} %>
        </div>

        <!-- Title, Brand and some Actions -->
        <div class="col-md-3 col-md-push-3 col-xs-12">
          <%= render partial: "guest/products/show/actions", :locals => {product: @product} %>
        </div>

        <!-- Detailled description -->
        <div class="col-md-3 col-md-pull-9 col-xs-12">
          <%= render partial: "guest/products/show/description", :locals => {sku: @featured_sku} %>
        </div>

      </div>

      <div class="row">
        <div class="col-md-12 col-xs-12">
          <% unless @product&.desc_below&.empty? %>
            <%= simple_format @product.desc_below %>
          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>

<!-- Product Footer -->
<%= render partial: "guest/products/show/footer", :locals => { :products => @other_products, product: @product } %>
