<tr>
  <td>
    <%= address.id %>
  </td>
  <td>
    <%= address.city %>
  </td>
  <td>
    <%= address.zip %>
  </td>
  <td>
    <%= address.decorate.street_and_number %>
  </td>
  <td>
    <%= address.country %>
  </td>
  <td>
    <%= "N/A" %>
  </td>
</tr>
