#add-address-dialog.mfp-with-anim.mfp-hide.mfp-dialog.clearfix
  =form_for address, html: {} do |f|
    .form-group
      %h4= I18n.t(:new_address_title, scope: :edit_address)
    .form-group
      .form-inline
        .form-group
          = f.text_field :lname, :value => current_user.lname, :class => 'form-control', :style => 'width:168px', :required => true, :placeholder => I18n.t(:lname, scope: :edit_address)
        .form-group
          = f.text_field :fname, :value => current_user.fname, :class => 'form-control', :style => 'width:168px', :required => true, :placeholder => I18n.t(:fname, scope: :edit_address)
      .form-inline
        .form-group
          = f.text_field :mobile, :value => current_user.mobile, :class => 'form-control', :style => 'width:168px', :required => true, :pattern => I18n.t(:mobile, scope: :validation, locale: :'zh-CN'), :placeholder => '13802049772'
        .form-group
          = f.text_field :tel, :value => current_user.tel, :class => 'form-control', :style => 'width:168px', :pattern => I18n.t(:tel, scope: :validation, locale: :'zh-CN'), :placeholder => '0571-12343434'
    .form-group
      .form-inline
        .form-group
          = f.text_field :street, :class => 'form-control', :style => 'width:248px', :required => true, :placeholder => I18n.t(:street, scope: :edit_address)
        .form-group
          = f.text_field :number, :class => 'form-control', :style => 'width:88px', :required => true, :placeholder => I18n.t(:house_number, scope: :edit_address), :pattern => '\d+'
      = f.text_field :additional, :class => 'form-control', :placeholder => I18n.t(:additional, scope: :edit_address)
    .city-group
      .form-group
        = f.select :province, options_for_select(ChinaCity.list), {  include_blank: I18n.t(:province_blank, scope: :edit_address) }, { :autocomplete => :off, class: 'form-control city-select city-province', :required => true }
      .form-group
        = f.select :city    , [], { include_blank: I18n.t(:city_blank, scope: :edit_address) }, { :autocomplete => :off, class: 'form-control city-select city-city', :required => true }
      .form-group
        = f.select :district, [], { include_blank: I18n.t(:district_blank, scope: :edit_address) }, { :autocomplete => :off, class: 'form-control city-select city-district', :required => true }
    .form-group
      = f.text_field :country, :value => ISO3166::Country[:CN].local_name, :readonly => true, :class => 'form-control', :placeholder => 'Country (*)'
    .form-group
      = f.text_field :zip, :class => 'form-control', :placeholder => I18n.t(:zip, scope: :edit_address), :required => true, :pattern => I18n.t(:zip, scope: :validation, locale: :'zh-CN')
    .form-group
      .checkbox
        %label
          = f.check_box :primary, {:class => 'i-check'}, true, false
          =I18n.t(:set_primary, scope: :edit_address)
    .form-group
      %input.btn.btn-primary{:type => "submit", :value => I18n.t(:add_address, scope: :edit_address)}