<div class="address-box">
  <%= link_to '', address_path(a), method: :delete, data: { confirm: I18n.t(:delete_address_message, scope: :edit_address) }, "data-placement" => "right",  class: 'address-box-remove' %>
  <a class="address-box-edit popup-text" data-effect="mfp-move-from-top" data-placement="right" data-toggle="tooltip" href="#edit-address-dialog-<%= a.id %>"></a>
  <%= render partial: '_show_customer_address', locals: {a: a} %>
  <div class="radio">
    <label>
      <%= radio_button_tag :primary, a.primary, checked = a.primary, { :disabled => true, :class => 'i-radio' } %>
      <%= I18n.t(:set_primary, scope: :edit_address) %>
    </label>
  </div>
</div>