.address-box
  = link_to '', address_path(a), method: :delete, data: { confirm: I18n.t(:delete_address_message, scope: :edit_address) }, "data-placement" => "right",  class: 'address-box-remove'
  %a.address-box-edit.popup-text{"data-effect" => "mfp-move-from-top", "data-placement" => "right", "data-toggle" => "tooltip", :href => "#edit-address-dialog-#{a.id}",}
  %ul
    %li= "#{I18n.t(:name, scope: :edit_address)} : #{ a.lname }#{ a.fname }"
    %li= "#{I18n.t(:mobile, scope: :edit_address)} : #{ a.mobile }"
    %li= "#{I18n.t(:tel, scope: :edit_address)} : #{ a.tel }"
    %li= "#{I18n.t(:street, scope: :edit_address)} : #{ a.street } #{ a.number }"
    %li= "#{I18n.t(:additional, scope: :edit_address)} : #{ a.additional }"
    %li= "#{I18n.t(:district, scope: :edit_address)} : #{ a.district }"
    %li= "#{I18n.t(:city, scope: :edit_address)} : #{ a.city }"
    %li= "#{I18n.t(:province, scope: :edit_address)} : #{ a.province }"
    %li= "#{I18n.t(:country, scope: :edit_address)} : #{ a.country_local_name }"
    %li= "#{I18n.t(:zip, scope: :edit_address)} : #{ a.zip }"
  .radio
    %label
      = radio_button_tag :primary, a.primary, checked = a.primary, { :disabled => true, :class => 'i-radio' }
      = I18n.t(:set_primary, scope: :edit_address)
