#add-address-dialog.mfp-with-anim.mfp-hide.mfp-dialog.clearfix
  =form_for @address do |f|
    .form-group
      %h4= I18n.t(:new_address_title, scope: :edit_address)
    .form-group
      = f.text_field :company, :class => 'form-control', :required => true, :placeholder => I18n.t(:company, scope: :edit_address)
    .form-group
      .form-inline
        .form-group
          = f.text_field :fname, :class => 'form-control', :style => 'width:168px', :required => true, :placeholder => I18n.t(:fname, scope: :edit_address)
        .form-group
          = f.text_field :lname, :class => 'form-control', :style => 'width:168px', :required => true, :placeholder => I18n.t(:lname, scope: :edit_address)
    .form-group
      .form-inline
        .form-group
          = f.text_field :street, :class => 'form-control', :style => 'width:248px', :required => true, :placeholder => I18n.t(:street, scope: :edit_address)
        .form-group
          = f.text_field :number, :class => 'form-control', :style => 'width:88px', :required => true, :placeholder => I18n.t(:house_number, scope: :edit_address), :pattern => '\d+'
      = f.text_field :additional, :class => 'form-control', :placeholder => I18n.t(:additional, scope: :edit_address)
    .form-group
      .form-inline
        .form-group
          = f.text_field :zip, :class => 'form-control', :placeholder => I18n.t(:zip, scope: :edit_address), :required => true, :pattern => I18n.t(:zip, scope: :validation, locale: :de), :style => 'width:88px'
        .form-group
          = f.text_field :city, class: 'form-control', :placeholder => I18n.t(:city, scope: :edit_address), :required => true, :style => 'width:120px'
        .form-group
          = f.text_field :province, class: 'form-control', :placeholder => I18n.t(:province, scope: :edit_address), :required => true, :style => 'width:120px'
      = f.text_field :country, :class => 'form-control', :value => ISO3166::Country[:DE].local_name, :readonly => true
    .form-group
      - if current_user.shop.decorate.more_billing_address?
        .row
          .col-lg-offset-1.col-md-offset-1
            = f.radio_button :type, 'billing', :required => true, :class => 'i-radio'
            = I18n.t('billing', scope: :edit_address)
      - if current_user.shop.decorate.more_sender_address?
        .row
          .col-lg-offset-1.col-md-offset-1
            = f.radio_button :type, 'sender', :required => true, :class => 'i-radio'
            = I18n.t('sender', scope: :edit_address)
      - if current_user.shop.decorate.more_both_address?
        .row
          .col-lg-offset-1.col-md-offset-1
            = f.radio_button :type, 'both', :required => true, :class => 'i-radio'
            = I18n.t('both', scope: :edit_address)
    .form-group
      %input.btn.btn-primary{:type => "submit", :value => I18n.t(:add_address, scope: :edit_address)}

.row.row-wrap
  - current_user.shop.addresses.each_with_index do |a, i|
    %div.mfp-with-anim.mfp-hide.mfp-dialog.clearfix{ :id => "edit-address-dialog-#{a.id}" }
      = form_for a, :url => address_path(a), :html => { :method => :patch }  do |f|
        .form-group
          %h4= I18n.t(:change_address_title, scope: :edit_address)
        .form-group
          = f.text_field :company, :class => 'form-control', :required => true, :placeholder => I18n.t(:company, scope: :edit_address)
        .form-group
          .form-inline
            .form-group
              = f.text_field :fname, :class => 'form-control', :style => 'width:168px', :required => true, :placeholder => I18n.t(:fname, scope: :edit_address)
            .form-group
              = f.text_field :lname, :class => 'form-control', :style => 'width:168px', :required => true, :placeholder => I18n.t(:lname, scope: :edit_address)
        .form-group
          .form-inline
            .form-group
              = f.text_field :street, :class => 'form-control', :style => 'width:248px', :required => true, :placeholder => I18n.t(:street, scope: :edit_address)
            .form-group
              = f.text_field :number, :class => 'form-control', :style => 'width:88px', :required => true, :placeholder => I18n.t(:house_number, scope: :edit_address), :pattern => '\d+'
          = f.text_field :additional, :class => 'form-control', :placeholder => I18n.t(:additional, scope: :edit_address)
        .form-group
          .form-inline
            .form-group
              = f.text_field :zip, :class => 'form-control', :placeholder => I18n.t(:zip, scope: :edit_address), :required => true, :pattern => '^(?!01000|99999)(0[1-9]\d{3}|[1-9]\d{4})$', :style => 'width:88px'
            .form-group
              = f.text_field :city, class: 'form-control', :placeholder => I18n.t(:city, scope: :edit_address), :required => true, :style => 'width:120px'
            .form-group
              = f.text_field :province, class: 'form-control', :placeholder => I18n.t(:province, scope: :edit_address), :required => true, :style => 'width:120px'
          = f.text_field :country, :class => 'form-control', :value => ISO3166::Country[:DE].local_name, :readonly => true
        .form-group
          - if current_user.shop.decorate.can_change_to_billing?
            .row
              .col-lg-offset-1.col-md-offset-1
                = f.radio_button :type, 'billing', :required => true, :class => 'i-radio'
                = I18n.t('billing', scope: :edit_address)
          - if current_user.shop.decorate.can_change_to_sender?
            .row
              .col-lg-offset-1.col-md-offset-1
                = f.radio_button :type, 'sender', :required => true, :class => 'i-radio'
                = I18n.t('sender', scope: :edit_address)
          - if current_user.shop.decorate.can_change_to_both?
            .row
              .col-lg-offset-1.col-md-offset-1
                = f.radio_button :type, 'both', :required => true, :class => 'i-radio'
                = I18n.t('both', scope: :edit_address)
        .form-group
          %input.btn.btn-primary{:type => "submit", :value => I18n.t(:save_address, scope: :edit_address)}
    .col-md-4
      .panel.panel-primary
        .panel-heading.text-center
          = I18n.t(:show_address_title, scope: :edit_address) + ' ' + (i+1).to_s
        .panel-body
          .address-box
            = link_to '', address_path(a), method: :delete, data: { confirm: I18n.t(:delete_address_message, scope: :edit_address) }, "data-placement" => "right",  class: 'address-box-remove'
            %a.address-box-edit.popup-text{"data-effect" => "mfp-move-from-top", "data-placement" => "right", "data-toggle" => "tooltip", :href => "#edit-address-dialog-#{a.id}",}
            %ul
              %li= "#{I18n.t(:company, scope: :edit_address)} : #{ a.company }"
              %li= "#{I18n.t(:street, scope: :edit_address)} : #{ a.street } #{ a.number }"
              %li= "#{I18n.t(:additional, scope: :edit_address)} : #{ a.additional }"
              %li= "#{I18n.t(:city, scope: :edit_address)} : #{ a.city }"
              %li= "#{I18n.t(:province, scope: :edit_address)} : #{ a.province }"
              %li= "#{I18n.t(:country, scope: :edit_address)} : #{ a.country_local_name }"
              %li= "#{I18n.t(:zip, scope: :edit_address)} : #{ a.zip }"
              %li= "#{I18n.t(:type, scope: :edit_address)} : #{ I18n.t(a.type, scope: :edit_address) }"

  - if current_user.shop.addresses.in(:type => 'both').size < [Rails.configuration.max_num_shop_billing_addresses, Rails.configuration.max_num_shop_sender_addresses].min && (current_user.shop.addresses.in(:type => 'billing').size < Rails.configuration.max_num_shop_billing_addresses || current_user.shop.addresses.in(:type => 'sender').size < Rails.configuration.max_num_shop_sender_addresses)
    .col-md-4
      %a.address-box.address-box-new.popup-text{"data-effect" => "mfp-move-from-top", :href => "#add-address-dialog"}
        .vert-center
          %i.fa.fa-plus.address-box-new-icon
          %p= I18n.t(:add_new_address, scope: :edit_address)

