
<div class="remodal" data-remodal-id="add-address-dialog">
  <%= render partial: "addresses/popup/add_customer_address" %>
</div>

  <% @addresses.each_with_index do |address, i| %>

  <div class="remodal" data-remodal-id="edit-address-dialog-<%= address.id %>">
    <%= render partial: "addresses/popup/edit_customer_address", :locals => {a: address} %>
  </div>

    <div class="col-md-4">
      <div class="panel panel-primary">
        <div class="panel-heading text-center">
          <%= I18n.t(:show_address_title, scope: :edit_address) + ' ' + (i+1).to_s %>
        </div>
        <div class="panel-body">
          <%= render partial: 'show_customer_address', locals: {a: address} %>
        </div>
      </div>
    </div>

  <% end %>

  <% if current_user.addresses.size < Rails.configuration.max_num_addresses %>

    <div class="col-md-4">
      <a class="address-box address-box-new" href="#add-address-dialog">
        <div class="vert-center">
          <i class="fa fa-plus address-box-new-icon"></i>
          <p>
            <%= I18n.t(:add_new_address, scope: :edit_address) %>
          </p>
        </div>
      </a>
    </div>

  <% end %>

</div>