<div class="remodal" data-remodal-id="add-address-dialog">
  <%= render partial: "addresses/popup/shopkeeper_address", :locals => {:address => Address.new} %>
</div>

<% @addresses.each_with_index do |address, index| %>
  <div class="remodal" data-remodal-id="edit-address-dialog-<%= address.id %>">
    <%= render partial: "addresses/popup/shopkeeper_address", :locals => {:address => address} %>
  </div>

  <div class="col-md-4">
    <div class="panel panel-primary">
      <div class="panel-heading text-center">
        <%= I18n.t(:show_address_title, scope: :edit_address) + " #{index+1}" %>
      </div>
      <div class="panel-body">
        <div class="address-box">
          <%= link_to '', address_path(address), method: :delete, data: { confirm: I18n.t(:delete_address_message, scope: :edit_address) }, "data-placement" => "right",  class: 'address-box-remove' %>
          <a class="address-box-edit popup-text" data-effect="mfp-move-from-top" data-placement="right" data-toggle="tooltip" href="#edit-address-dialog-<%= address.id %>"></a>
          <ul>
            <li>
              <%= "#{I18n.t(:name, scope: :edit_address)} : #{ address.fname } #{ address.lname }" %>
            </li>
            <li>
              <%= "#{I18n.t(:company, scope: :edit_address)} : #{ address.company }" %>
            </li>
            <li>
              <%= "#{I18n.t(:street, scope: :edit_address)} : #{ address.street } #{ address.number }" %>
            </li>
            <li>
              <%= "#{I18n.t(:additional, scope: :edit_address)} : #{ address.additional }" %>
            </li>
            <li>
              <%= "#{I18n.t(:city, scope: :edit_address)} : #{ address.city }" %>
            </li>
            <li>
              <%= "#{I18n.t(:province, scope: :edit_address)} : #{ address.province }" %>
            </li>
            <li>
              <%= "#{I18n.t(:country, scope: :edit_address)} : #{ address.decorate.country_local_name }" %>
            </li>
            <li>
              <%= "#{I18n.t(:zip, scope: :edit_address)} : #{ address.zip }" %>
            </li>
            <li>
              <%= "#{I18n.t(:type, scope: :edit_address)} : #{ I18n.t(address.type, scope: :edit_address) }" %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

<% end %>

<% if @user.shop.decorate.more_new_address? %>
<div class="col-md-4">
  <a class="address-box address-box-new" href="#add-address-dialog">
    <div class="vert-center">
      <i class="fa fa-plus address-box-new-icon"></i>
      <p>
        <%= I18n.t(:add_new_address, scope: :edit_address) %>
      </p>
    </div>
  </a>
</div>
<% end %>
