<div class="navbar-fixed-top">

<!-- Main Menu Area -->
<div class="row main-header">

  <!-- Left side -->
  <div class="col-md-2 col-md-push-1">

    <!-- Logo -->
    <div class="main-header__logo +centered">
      <a href="<%= root_path %>">
        <img src="/images/logo-half.png">
      </a>
    </div>

  </div>

  <!-- Right side -->
  <div class="col-md-8 col-md-push-1 main-header__right-side +vertical-centered">

    <!-- My Account -->
    <div class="col-md-1 pull-right +centered">

      <% if current_user.nil? %>

      <a href="<%= new_user_session_path %>">

        <div class="main-header__account">
        <i class="fa fa-sign-in"></i>
        <%= I18n.t(:signin) %>
        </div>

      </a>

      <% else %>

      <% if current_user.decorate.new_notifications? %>
        <a href="<%= shared_notifications_path(:user_info_edit_part => :edit_notification) %>">
      <% else %>
        <a href="<%= edit_account_user_path(current_user, :user_info_edit_part => :edit_account) %>">
      <% end %>

      <div class="main-header__avatar" style="background-image:url(<%= current_user.decorate.avatar %>)">

        <% if current_user.decorate.new_notifications? %>
        <div class="main-header__avatar --notification">
          <%= current_user.notifications.unreads.count %>
        </div> 
        <% end %>

      </div>

      </a>

      <% end %>

    </div>

    <% if seems_like_a_customer? %>

    <!-- Products Cart -->
    <div class="col-md-1 pull-right +centered +menu-bordering">

      <a href="<%= manage_cart_orders_path %>">

        <div class="main-header__cart">
        <i class="fa fa-shopping-cart"></i>

        <span id="total-products">
        <%= total_number_of_products %>
        </span>

        </div>

      </a>

    </div>

    <!-- Customer Likes -->
    <div class="col-md-1 pull-right +centered +menu-bordering">

      <a href="<%= (current_user.nil? ? new_user_session_path : customer_favorites_path) %>">
        
        <div class="main-header__likes">
        <i class="fa fa-heart"></i> 

        <span id="total-likes">
          <% if current_user.nil? %>
            0
          <% else %>
            <%= current_user.favorites.count %>
          <% end %>
        </span>

        </div>
      </a>

    </div>

<% end %>

</div>

</div>
<!-- End of Main Menu Area -->

<% if seems_like_a_customer? %>

  <div class="row mobile-category-menu">

    <!-- WE SHOULD PLACE THIS INTO A PARTIAL, IT'S THE MOBILE RESPONSIVE MENU -->
    <nav id="categories-menu">
      <ul>

      <!-- Account side -->
      <li><a href="<%= manage_cart_orders_path %>"><%= I18n.t(:my_cart, scope: :menu) %></a></li>
      <li>

      <% if current_user.nil? %>
        <a href="<%= new_user_session_path %>"><%= I18n.t(:signin) %></a>
      <% else %>
        <a href="<%= edit_account_user_path(current_user, :user_info_edit_part => :edit_account) %>"><%= I18n.t(:my_account, scope: :menu) %></a>
      <% end %>

      </li>

      <% unless @categories.empty? %>
        <% @categories.each do |category| %>
        <li>
          <a href="<%= category_path(category) %>"><%= category.name %></a>
        </li>
        <% end %>
      <% end %>
      </ul>
    </nav>

  </div>
  
  <!-- Category + Search Menu -->
  <div class="row category-menu">

    <!-- Search -->
    <div class="col-md-2 col-md-offset-2">

      <div class="category-menu__search">

      <% if Rails.env.development? %>
      <!-- This functionality should only be visible in development to help developer troubleshoot things -->
       <form id="search-form" action="<%= search_products_path %>">
        <i class="fa fa-search"></i>
        <input type="query" id="search" name="query" autocomplete="off" placeholder="Search" />
        <button type="submit" class="+hidden"></button>
      </form>
      <% end %>

      </div>

    </div>

    <!-- Categories Menu -->
    <div class="col-md-7 col-md-push-1 col-md-pull-1">

      <%= render partial: "layouts/header/parts/menu/categories" %>

    </div>

  </div>

<% end %>

</div>

<div class="+big-spacer"></div>

<% if seems_like_a_customer? %>
  
  <div class="+spacer"></div>

<% end %>

<%= render partial: "layouts/header/parts/messages" %>

<%= render partial: "layouts/header/parts/breadcrumb" %>

<div class="+small-spacer"></div>

<!-- End of Category Menu -->
