<div class="navbar-fixed-top">

<!-- Main Menu Area -->
<div class="row main-header">

  <!-- Left side -->
  <div class="col-md-2 col-md-push-1">
    <%= render partial: "layouts/header/parts/logo" %>
  </div>

  <!-- Right side -->
  <div class="col-md-8 col-md-push-1 main-header__right-side">

    <div class="row">
      <div class="col-md-1 pull-right +centered">
      </div>
      <div class="col-md-1 pull-right +centered">
        <% if total_number_of_products > 0 %>
          <div class="label label-blue +checkout-label">
            <%= I18n.t(:checkout, scope: :button) %>
          </div>
        <% end %>
        <div class="+micro-spacer"></div>
      </div>
      <div class="col-md-1 pull-right +centered">

      </diV>
    </div>

    <div class="row">

    <!-- My Account -->
    <div class="col-md-1 pull-right +centered">
      <%= render partial: "layouts/header/parts/my_account" %>
    </div>

    <% if potential_customer? %>

      <!-- Products Cart -->
      <div class="col-md-1 pull-right +centered +menu-bordering">
        <%= render partial: "layouts/header/parts/products_cart" %>
      </div>

      <!-- Customer Likes -->
      <div class="col-md-1 pull-right +centered +menu-bordering">
        <%= render partial: "layouts/header/parts/customer_likes" %>
      </div>

    <% end %>

    </div>

  </div>

</div>
<!-- End of Main Menu Area -->

<% if potential_customer? %>

  <!-- Mobile Category -->
  <div class="row mobile-category-menu">
    <%= render partial: "layouts/header/parts/menu/mobile_categories" %>
  </div>

  <!-- Category + Search Menu -->
  <div class="row category-menu">

    <div class="col-md-5">
    <!-- Nothing for now -->
    </div>

    <!-- Categories Menu -->
    <div class="col-md-7">
      <%= render partial: "layouts/header/parts/menu/categories" %>
    </div>

  </div>

  <!-- Announcement -->
  <div class="row announcement">
    <!-- Server details -->
    <div class="col-md-12">
      适逢国庆连假飞往中国班机取消，即日起至10月3日的订单将在10月中旬送达。造成不便敬请见谅。
    </div>
  </div>

<% elsif current_user %>

  <!-- Category + Search Menu -->
  <div class="row server-menu">

    <!-- Server details -->
    <div class="col-md-6 col-md-offset-1">
      <% if current_user.decorate.admin? %>
        <strong><%= Rails.env.capitalize %> Mode</strong> - Client <%= request.remote_ip %> - Server <%= server_ip %> - UTC <span id="utc-time"><%= Time.now.utc.strftime("%T") %></span>
      <% end %>
    </div>

    <!-- Time zones -->
    <div class="col-md-4 col-md-push-2">
      China <span id="china-time"><%= Time.now.utc.in_time_zone("Beijing").strftime("%T") %></span> -
      Germany <span id="germany-time"><%= Time.now.utc.in_time_zone("Berlin").strftime("%T") %></span>
    </div>

  </div>

<% end %>

</div>

<div class="+big-spacer"></div>

<% if potential_customer? %>

  <div class="+small-spacer"></div> <!-- Linked with Announcement -->
  <div class="+spacer"></div>


<% end %>

<%= render partial: "layouts/header/parts/messages" %>

<%= render partial: "layouts/header/parts/breadcrumb" %>

<!-- End of Category Menu -->
