<!-- Login and such (partials) -->
<!--
<nav class="<%= for_device_type :desktop do 'navbar-fixed-top' end %>">
  render 'layouts/dialogs'
</nav>
-->

<div class="navbar-fixed-top">

<!-- Main Menu Area -->
<div class="row main-header">

  <!-- Left side -->
  <div class="col-md-2 col-md-push-1">

    <!-- Logo -->
    <div class="main-header__logo +centered">
      <a href="<%= root_path %>">
        <img src="/images/logo-half.png">
      </a>
    </div>

  </div>

  <!-- Right side -->
  <div class="col-md-8 col-md-push-1 +vertical-centered">
  

    <!-- My Account -->
    <div class="col-md-1 pull-right +centered">

      <% if current_user.nil? %>

      <a href="<%= new_user_session_path %>">

        <div class="main-header__account">
        <i class="fa fa-sign-in"></i>
        Sign in
        </div>

      </a>

      <% else %>

      <div class="main-header__avatar">
        <a href="<%= edit_account_user_path(current_user, :user_info_edit_part => :edit_account) %>">
          <img src="<%= current_user.decorate.avatar %>">
        </a>
      </div>

      <% end %>

    </div>

    <% if seems_like_a_customer? %>

    <!-- Products Cart -->
    <div class="col-md-1 pull-right +centered +menu-bordering">

      <a href="<%= manage_cart_orders_path %>">

        <div class="main-header__cart">
        <i class="fa fa-shopping-cart"></i>

        <span id="total-products">
        <%= total_number_of_products %>
        </span>

        </div>

      </a>

    </div>

    <!-- Customer Likes -->
    <div class="col-md-1 pull-right +centered +menu-bordering">

      <a href="<%= (current_user.nil? ? new_user_session_path : customer_favorites_path) %>">
        
        <div class="main-header__likes">
        <i class="fa fa-heart"></i> 

        <span id="total-likes">
          <% if current_user.nil? %>
            0
          <% else %>
            <%= current_user.favorites.count %>
          <% end %>
        </span>

        </div>
      </a>

    </div>

<% end %>

</div>

</div>
<!-- End of Main Menu Area -->

<% if seems_like_a_customer? %>

  <!-- Category + Search Menu -->
  <div class="row category-menu">

    <!-- Search -->
    <div class="col-md-2 col-md-offset-2">

      <div class="category-menu__search">

       <form id="search-form" action="<%= search_products_path %>">
        <i class="fa fa-search"></i>
        <input type="query" id="search" name="query" autocomplete="off" placeholder="Search" />
        <button type="submit" class="+hidden"></button>
      </form>

      </div>

    </div>

    <!-- Categories -->
    <div class="col-md-7">

      <div class="col-md-1"></div>

      <nav>
        <%= render partial: "layouts/header/parts/categories" %>
      </nav>

      <div class="col-md-1"></div>

    </div>

  </div>

<% end %>

</div>

<div class="+big-spacer"></div>

<% if seems_like_a_customer? %>
  
  <div class="+spacer"></div>

<% end %>

<%= render partial: "layouts/header/parts/messages" %>

<div class="+small-spacer"></div>

<!-- End of Category Menu -->
