<div class="row">
  <div class="col-md-10">
    <h2>Settings</h2>
    <hr>
  </div>
  <div class="col-md-2 details__action">
  </div>
</div>

<div class="row">
<div class="col-md-6 +white-box">
  <%= form_for admin_settings_path, html: {method: 'patch', :data => {:toggle => 'validator'}} do |f| %>
    <div class="form-group">
      <%= f.label :exchange_rate_to_yuan, I18n.t(:exchange_rate_to_yuan, scope: :edit_settings), :class => 'control-label' %>
      <%= f.text_field :exchange_rate_to_yuan, value: @settings.exchange_rate_to_yuan, :class => 'form-control', :required => true, :autocomplete => :off, :id => 'exchange_rate' %>
    </div>
    <div class="form-group">
      <%= f.label :exchange_rate_to_yuan_confirmation, I18n.t(:exchange_rate_to_yuan_confirmation, scope: :edit_settings), :class => 'control-label' %>
      <%= f.text_field :exchange_rate_to_yuan_confirmation, value: @settings.exchange_rate_to_yuan, :class => 'form-control', :required => true, :autocomplete => :off, 'data-match': '#exchange_rate' %>
    </div>
    <div class="form-group">
      <%= f.button I18n.t(:save, scope: :edit_settings), :type => 'submit', :class => 'btn btn-primary', name: :user_info_edit_part, value: :edit_settings %>
    </div>
  <% end %>
</div>
</div>

<div class="+small-spacer"></div>

<div class="row">
<div class="col-md-6 +white-box">
  <%= form_for admin_settings_path, html: {method: 'patch', :data => {:toggle => 'validator'}} do |f| %>
    <div class="form-group">
      <%= f.label :package_sets_title, "Package sets title" %>
      <%= f.text_field :package_sets_title, value: Settings.instance.package_sets_title, :autocomplete => :off %>
    </div>

    <div class="form-group">
      <%= f.label :package_sets_description, "Package sets description" %>
      <%= f.text_field :package_sets_description, value: Settings.instance.package_sets_description, :autocomplete => :off %>
    </div>

    <%= f.button "Update package set", :type => 'submit', :class => 'btn btn-primary', name: :user_info_edit_part, value: :edit_settings %>
  </div>
  <% end %>
</div>

<div class="+small-spacer"></div>

<div class="row">
<div class="col-md-6 +white-box">
  <%= form_for admin_settings_path, html: {method: 'patch', :data => {:toggle => 'validator'}} do |f| %>
    <div class="form-group">
      <%= f.label :alert, "Alert" %>
      <%= f.text_field :alert, value: Settings.instance.alert, :autocomplete => :off %>
    </div>
    <%= f.button "Update alert", :type => 'submit', :class => 'btn btn-primary', name: :user_info_edit_part, value: :edit_settings %>
  </div>
  <% end %>
</div>

</div>
