<% if address %>
<div class="address-box">
  <ul>
    <li>
      <%= "#{I18n.t('edit_address.street')} : #{ address.street } #{ address.number }" %>
    </li>
    <li>
      <%= "#{I18n.t('edit_address.additional')} : #{ address.additional }" %>
    </li>
    <li>
      <%= "#{I18n.t('edit_address.district')} : #{ address.district }" %>
    </li>
    <li>
      <%= "#{I18n.t('edit_address.city')} : #{ address.city }" %>
    </li>
    <li>
      <%= "#{I18n.t('edit_address.province')} : #{ address.province }" %>
    </li>
    <li>
      <%= "#{I18n.t('edit_address.country')} : #{ address.country_local_name }" %>
    </li>
    <li>
      <%= "#{I18n.t('edit_address.zip')} : #{ address.zip }" %>
    </li>
  </ul>
</div>
<% else %>
<h4>
  <%= "#{I18n.t('edit_order.destination_address_not_set')}" %>
</h4>
<% end %>
