<div class="row">
  <div class="col-md-10">
    <h2><%= I18n.t('edit_product_variant.variants') %></h2>
    <%= I18n.t('edit_product_variant.variant_usage').html_safe %>
    <hr>
  </div>
  <div class="col-md-2 details__action">
    <%= render partial: "shopkeeper/products/variants/form/action" %>
  </div>
</div>

<div class="row">

  <%= form_for [:admin, @product], :url => admin_shop_product_variants_path(@product.shop, @product), :method => :post, :html => {:data => {:toggle => 'validator'}} do |form| %>

    <div class="row details__block">
      <%= render partial: "admin/shops/products/variants/form", :locals => {:form => form} %>
    </div>

    <div class="row">
      <%= form.submit :class => 'btn btn-primary', :value =>  I18n.t('edit_product.update_basic') %>
    </div>

  <% end %>

</div>
