<div class="form-group">
  <%= f.label :current_password, I18n.t('edit_account.current_password'), :class => 'required' %>
  <%= f.password_field :current_password, :class => 'form-control', :autocomplete => :off, :required => true, :minLength => Rails.configuration.gitb[:min_password_length] %>
  <div class="help-block with-errors"></div>
</div>
<div class="form-group">
  <label for="user[password]" title="<%= I18n.t('edit_account.password_info') %>">
    <%= I18n.t('edit_account.password') %>
  </label>
  <%= f.password_field :password, :class => 'form-control', :autocomplete => :off, :minLength => Rails.configuration.gitb[:min_password_length], :id => 'inputPassword' %>
  <div class="help-block with-errors"></div>
</div>
<div class="form-group">
  <%= f.label :password_confirmation, I18n.t('edit_account.password_confirmation') %>
  <%= f.password_field :password_confirmation, :class => 'form-control', :autocomplete => :off, 'data-match': '#inputPassword', 'data-match-error': I18n.t('edit_account.password_match_error') %>
  <div class="help-block with-errors"></div>
</div>
