<%= form_for [:admin, @shop, @package_set], :html => {:data => {:toggle => 'validator'}} do |form| %>

  <div class="row details__block">

    <%= form.label :name %>
    <%= form.text_field :name %>

    <div class="+small-spacer"></div>

    <%= form.label :price %>
    <%= form.text_field :price %>

  </div>

  <div class="row details__block">

    <%= form.fields_for :package_skus do |field| %>

      <!-- Important for the selector -->
      <div>

        <div class="col-md-5">

          <%= field.label :product_id %>
          <%= field.select :product_id, options_from_collection_for_select(@shop.products, :id, :name), :prompt => '-' %>

        </div>

        <div class="col-md-5">

          <!-- JS memoization of the AJAX fetched data -->
          <div class="js-sku-id" data-sku-id="<%= field.object.sku_id %>"></div>
          <%= field.label :sku_id %>
          <%= field.select :sku_id, [], :prompt => '-' %>

        </div>

        <div class="col-md-2">

          <%= field.label :quantity %>
          <%= field.select :quantity, (1..10) %>

        </div>

        <div class="+small-spacer"></div>

      </div>
    <% end %>

  </div>

  <%= form.submit :class => 'btn btn-primary', :value =>  I18n.t(:update_basic, scope: :edit_product) %>

<% end %>
