<%= form_for [:admin, @shop, @package_set], :html => {:data => {:toggle => 'validator'}} do |form| %>

  <div class="row details__block">

    <%= form.label :price %>
    <%= form.text_field :price %>

  </div>

  <div class="row details__block">

    <%= fields_for :package_sku do |field| %>

        <%= field.label :product %>
        <%= field.select :product, options_from_collection_for_select(@shop.products, :id, :name), :prompt => '-' %>

        <%= field.label :sku_id %>
        <%= field.select :sku_id, [], :prompt => '-' %>

    <% end %>

  </div>

  <%= form.submit :class => 'btn btn-primary', :value =>  I18n.t(:update_basic, scope: :edit_product) %>

<% end %>
