<%= form_for [:admin, @shop, @package_set], :html => {:data => {:toggle => 'validator'}} do |form| %>

<div class="row details__block">

  <%= form.label :name %>
  <%= form.text_field :name, class: 'field__text' %>

  <div class="clearfix"></div>

  <%= form.label :desc %>
  <%= form.text_area :desc, rows: 10, cols: 80  %>

  <div class="clearfix"></div>

  <%= form.label :long_desc %>
  <%= form.text_area :long_desc, rows: 10, cols: 80 %>

  <div class="clearfix"></div>

  <%= form.label :category, "Category" %>
  <%= form.select :category, options_from_collection_for_select(Category.all, :id, :name, form.object.category&.id), { :include_blank => I18n.t(:non_selected_text, scope: :multiselect) }, :class => 'form-control' %>

  <div class="clearfix"></div>

  <%= form.label :referrer_rate %>
  <%= form.text_area :referrer_rate %>

  <div class="clearfix"></div>

  <%= form.label :casual_price %>
  <%= form.text_field :casual_price %>

  <div class="clearfix"></div>

  <%= form.label :shipping_cost %>
  <%= form.text_field :shipping_cost %>

  <div class="clearfix"></div>

  <%= form.label :cover, "Cover" %>
  <%= js_file_upload(form: form, field: :cover) %>

  <%= form.label :details_cover, "Details Cover" %>
  <%= js_file_upload(form: form, field: :details_cover) %>

  <div class="row">

  <%= form.fields_for :images do |field| %>
  <div class="col-md-3">
    <%= field.label :file, "Optional Image ##{solve_index}" %>
    <%= js_image_file_upload(form: field, assoc: form.object, field: :file) %>
  </div>
  <% end %>

  </div>

  <div class="clearfix"></div>
</div>

<div class="row details__block +overflow">

  <table class="white-table">
    <thead>
      <tr>
        <th>
          <label>
            Product
          </label>
        </th>
        <th>
          <label>
            Sku
          </label>
        </th>
        <th>
          <label>
            Price per Unit (EUR)
          </label>
        </th>
        <th>
          <label>
            Taxes per Unit (EUR)
          </label>
        </th>
        <th>
          <label>
            Quantity
          </label>
        </th>
      </tr>
    </thead>
    <tbody>

      <%= form.fields_for :package_skus do |field| %>

      <tr>
        <td>
          <%= field.select :product_id, options_from_collection_for_select(@shop.products, :id, :name, field.object.product_id), :include_blank => "-" %>
        </td>
        <td>
          <!-- JS memoization of the AJAX fetched data -->
          <div class="js-sku-id" data-sku-id="<%= field.object.sku_id %>"></div>
          <%= field.select :sku_id, [], :prompt => '-' %>
        </td>
        <td>
          <%= field.text_field :price %>
        </td>
        <td>
          <%= field.text_field :taxes_per_unit %>
        </td>
        <td>
          <%= field.select :quantity, (1..10) %>
        </td>
      </tr>

      <% end %>

    </tbody>
  </table>

  </div>

  <%= form.submit :class => 'btn btn-primary', :value =>  I18n.t(:update_basic, scope: :edit_product) %>

  <% end %>
