<%= form_for [:admin, @shop, @package_set], :html => {:data => {:toggle => 'validator'}, :multipart => true} do |form| %>

  <div class="row details__block">

    <%= form.label :price %>
    <%= form.text_field :price %>

  </div>

  <div class="row details__block">

    <%= form.fields_for :package_skus do |field| %>

      <!-- Important for the selector -->
      <div>
        <%= field.label :product_id %>
        <%= field.select :product_id, options_from_collection_for_select(@shop.products, :id, :name), :prompt => '-' %>

        <%= field.label :sku_id %>
        <%= field.select :sku_id, [], :prompt => '-' %>

        <div class="+small-spacer"></div>
      </div>
    <% end %>

  </div>

  <%= form.submit :class => 'btn btn-primary', :value =>  I18n.t(:update_basic, scope: :edit_product) %>

<% end %>
