<%= form_for [:admin, @shop, @package_set], :html => {:data => {:toggle => 'validator'}} do |form| %>

<div class="row details__block">

  <!-- Name -->
  <div class="row">
    <div class="col-md-2">
      <label>
        Name
      </label>
    </div>

      <div class="col-md-10 form-group">
        <%= form.text_field :name, :class => 'form-control', :required => true %>
        <div class="help-block with-errors"></div>
      </div>
  </div>

  <!-- Description -->
  <div class="row">
    <div class="col-md-2">
      <label>
        Description
      </label>
    </div>

      <div class="col-md-10 form-group">
        <%= form.text_area :desc, :class => 'form-control', :required => true %>
        <div class="help-block with-errors"></div>
      </div>
  </div>

  <!-- Long Description -->
  <div class="row">
    <div class="col-md-2">
      <label>
        Long Description
      </label>
    </div>

      <div class="col-md-10 form-group">
        <%= form.text_area :long_desc, :class => 'form-control', :required => true %>
        <div class="help-block with-errors"></div>
      </div>
  </div>

  <!-- Promotion Text -->
  <div class="row">
    <div class="col-md-2">
      <label>
        Promotion Text
      </label>
    </div>

      <div class="col-md-10 form-group">
        <%= form.text_field :promotion_text, :class => 'form-control' %>
        <div class="help-block with-errors"></div>
      </div>
  </div>

  <!-- Promotion Header -->
  <div class="row">
    <div class="col-md-2">
      <label>
        Promotion Header (QRCode)
      </label>
    </div>

      <div class="col-md-10 form-group">
        <%= form.text_field :promotion_header, :class => 'form-control' %>
        <div class="help-block with-errors"></div>
      </div>
  </div>

  <!-- Promotion Footer -->
  <div class="row">
    <div class="col-md-2">
      <label>
        Promotion Footer (QRCode)
      </label>
    </div>

      <div class="col-md-10 form-group">
        <%= form.text_field :promotion_footer, :class => 'form-control' %>
        <div class="help-block with-errors"></div>
      </div>
  </div>

  <!-- Category -->
  <div class="row">
    <div class="col-md-2">
      <label>
        Category
      </label>
    </div>

      <div class="col-md-10 form-group">
        <%= form.select :category, options_from_collection_for_select(Category.all, :id, :name, form.object.category&.id), { :include_blank => I18n.t('multiselect.non_selected_text') }, :class => 'form-control' %>

        <div class="help-block with-errors"></div>
      </div>
  </div>

  <!-- Referrer Rate -->
  <div class="row">
    <div class="col-md-2">
      <label>
        Referrer Rate
      </label>
    </div>

      <!-- Default -->
      <div class="col-md-3 form-group">
        <strong>Default</strong>
        <%= form.text_field :default_referrer_rate, :class => 'form-control', :required => true %>
        <div class="help-block with-errors"></div>
      </div>

      <!-- Junior -->
      <div class="col-md-3 form-group">
        <strong>Junior</strong>
        <%= form.text_field :junior_referrer_rate, :class => 'form-control', :required => true %>
        <div class="help-block with-errors"></div>
      </div>

      <!-- Senior -->
      <div class="col-md-3 form-group">
        <strong>Senior</strong>
        <%= form.text_field :senior_referrer_rate, :class => 'form-control', :required => true %>
        <div class="help-block with-errors"></div>
      </div>

  </div>

  <!-- Original Price -->
  <div class="row">
    <div class="col-md-2">
      <label>
        Original Price折前显示价
      </label>
    </div>

      <div class="col-md-10 form-group">
        <%= form.text_field :original_price, :class => 'form-control js-currency', :required => false %>
        <% if form.object.persisted? %>
        <br />
          <span class="badge badge-green">Casual price <%= form.object.decorate.casual_total_price %></span>
          <span class="badge badge-blue">Reseller price <%= form.object.decorate.reseller_total_price %></span>
        <% end %>
        <div class="help-block with-errors"></div>
      </div>
  </div>

  <!-- Shipping Cost -->
  <div class="row">
    <div class="col-md-2">
      <label>
        Shipping Cost
      </label>
    </div>

      <div class="col-md-10 form-group">
        <%= form.text_field :shipping_cost, :class => 'form-control js-currency', :required => true %>
        <div class="help-block with-errors"></div>
      </div>
  </div
  >
  <!-- Cover -->
  <div class="row">
    <div class="col-md-2">
      <label>
        Cover
      </label>
    </div>

      <div class="col-md-10 form-group">
        <%= js_file_upload(form: form, field: :cover) %>
        <div class="help-block with-errors"></div>
      </div>
  </div>

  <!-- Details Cover -->
  <div class="row">
    <div class="col-md-2">
      <label>
        Details Cover
      </label>
    </div>

      <div class="col-md-10 form-group">
          <%= js_file_upload(form: form, field: :details_cover) %>
        <div class="help-block with-errors"></div>
      </div>
  </div>

  <div class="row">

    <div class="col-md-2">
      <label>
        Optional Images
      </label>
    </div>

    <%= form.fields_for :images do |field| %>
      <div class="col-md-3">
        <%= field.label :file, "Optional Image ##{solve_index}" %>
        <%= js_image_file_upload(form: field, assoc: field.object, field: :file) %>
      </div>
    <% end %>

  </div>

</div>

<div class="row details__block">

  <div class="main-table">
  <table>
    <thead>
      <tr>
        <th>
          <label>
            Product
          </label>
        </th>
        <th>
          <label>
            Sku
          </label>
        </th>
        <th>
          <label>
            Price per Unit (EUR)
          </label>
        </th>
        <th>
          <label>
            Reseller Price per Unit (EUR)
          </label>
          <div class="row">
            <div class="col-md-4">
              Default
            </div>
            <div class="col-md-4">
              Junior
            </div>
            <div class="col-md-4">
              Senior
            </div>
          </div>
        </th>
        <th>
          <label>
            Taxes per Unit (EUR)
          </label>
        </th>
        <th>
          <label>
            Quantity
          </label>
        </th>
      </tr>
    </thead>
    <tbody>

      <%= form.fields_for :package_skus do |field| %>

      <tr>
        <td>
          <%= field.select :product_id, options_from_collection_for_select(@shop.products, :id, :name, field.object.product_id), :include_blank => "-" %>
        </td>
        <td>
          <!-- JS memoization of the AJAX fetched data -->
          <div class="js-sku-id" data-sku-id="<%= field.object.sku_id %>"></div>
          <%= field.select :sku_id, [], :prompt => '-' %>
        </td>
        <td>
          <%= field.text_field :casual_price, class: 'js-currency' %>
        </td>
        <td class="+three-split-fields">
          <%= field.text_field :default_reseller_price, class: 'js-currency' %>
          <%= field.text_field :junior_reseller_price, class: 'js-currency', value: (field.object.junior_reseller_price ? field.object.junior_reseller_price : field.object.default_reseller_price) %>
          <%= field.text_field :senior_reseller_price, class: 'js-currency', value: (field.object.senior_reseller_price ? field.object.senior_reseller_price : field.object.default_reseller_price) %>
          </div>
        </td>
        <td>
          <%= field.text_field :taxes_per_unit, class: 'js-currency' %>
        </td>
        <td>
          <%= field.select :quantity, (1..10) %>
        </td>
      </tr>

      <% end %>

    </tbody>
  </table>
</div>
</div>

<div class="row details__block">
  <%= form.submit :class => 'big-button --blue', :value =>  'Save' %>
</div>

  <% end %>
