<%= form_for [:admin, @shop, @package_set], :html => {:data => {:toggle => 'validator'}} do |form| %>

<div class="row details__block">

  <%= form.label :name %>
  <%= form.text_field :name %>

  <div class="clearfix"></div>

  <%= form.label :desc %>
  <%= form.text_field :desc %>

  <div class="clearfix"></div>

  <%= form.label :cover, "Cover" %>
  <%= js_file_upload(form: form, field: :cover) %>

</div>

<div class="row details__block">

  <table class="white-table">
    <thead>
      <tr>
        <th>
          <label>
            Product
          </label>
        </th>
        <th>
          <label>
            Sku
          </label>
        </th>
        <th>
          <label>
            Price (EUR)
          </label>
        </th>
        <th>
          <label>
            Taxes (EUR)
          </label>
        </th>
        <th>
          <label>
            Quantity
          </label>
        </th>
      </tr>
    </thead>
    <tbody>

      <%= form.fields_for :package_skus do |field| %>

      <tr>
        <td>
          <%= field.select :product_id, options_from_collection_for_select(@shop.products, :id, :name, field.object.product_id), :prompt => '-' %>
        </td>
        <td>
          <!-- JS memoization of the AJAX fetched data -->
          <div class="js-sku-id" data-sku-id="<%= field.object.sku_id %>"></div>
          <%= field.select :sku_id, [], :prompt => '-' %>
        </td>
        <td>
          <%= field.text_field :price %>
        </td>
        <td>
          <%= field.text_field :taxes %>
        </td>
        <td>
          <%= field.select :quantity, (1..10) %>
        </td>
      </tr>

      <% end %>

    </tbody>
  </table>

  </div>

  <%= form.submit :class => 'btn btn-primary', :value =>  I18n.t(:update_basic, scope: :edit_product) %>

  <% end %>
