%div.dropdown
  %a{ 'data-toggle' => 'dropdown', :href => "#{ edit_user_path current_user }", :title => "#{I18n.t(:user_profile, scope: :top_menu)}"}

    %span.main-header__account

    %div{class:"+avatar"}
      = image_tag (current_user.pic.url.nil? ? 'icons/default_user_pic.png' : current_user.pic.url)
      %span{class:"caret"}
    %div{class:"+spacer"}

  %ul.dropdown-menu
    %li
      %a{ :href => "#{ edit_account_user_path(current_user, :user_info_edit_part => :edit_account) }" }
        %i.fa.fa-key
        = I18n.t(:my_account, scope: :top_menu)
    %li
      %a{ :href => "#{ users_path(:user_info_edit_part => :edit_accounts) }" }
        %i.fa.fa-key
        = I18n.t(:accounts, scope: :edit_accounts)
    -#%li
    -#  %a{ :href => "#{ categories_path(:user_info_edit_part => :edit_categories) }" }
    -#    %i.fa.fa-bars
    -#    = I18n.t(:categories, scope: :top_menu)
    %li
      %a{ :href => "#{ shop_applications_path(:user_info_edit_part => :edit_shop_applications) }" }
        %i.fa.fa-thumbs-up
        = I18n.t(:shop_applications, scope: :top_menu)
    %li
      %a{ :href => "#{ shops_path(:user_info_edit_part => :edit_shops) }" }
        %i.fa.fa-shopping-cart
        = I18n.t(:shops, scope: :top_menu)
    %li
      %a{ :href => "#{ admin_payments_path(:user_info_edit_part => :admin_payments) }" }
        %i.fa.fa-bank
        = I18n.t(:payments, scope: :top_menu)
    %li
      %a{ :href => "#{ signout_path }", :'data-method' => :delete }
        %i.fa.fa-sign-out
        = I18n.t(:sign_out, scope: :top_menu)
