<div class="dropdown">
  <a class="dropdown-toggle" data-toggle="dropdown" href="#">
    
    <div class="+avatar">
      <%= image_tag (current_user.pic.url.nil? ? 'icons/default_user_pic.png' : current_user.pic.url) %>
      <span class="caret"></span>
    </div>

  </a>
  <ul class="dropdown-menu">
    <li>
      <a href="<%=  edit_account_user_path(current_user, :user_info_edit_part => :edit_account)  %>">
        <i class="fa fa-key"></i>
        <%= I18n.t(:my_account, scope: :top_menu) %>
      </a>
    </li>
    <li>
      <a href="<%=  edit_personal_user_path(current_user, :user_info_edit_part => :edit_personal)  %>">
        <i class="fa fa-user"></i>
        <%= I18n.t(:my_personal, scope: :top_menu) %>
      </a>
    </li>
    <li>
      <a href="<%=  show_addresses_user_path(current_user, :user_info_edit_part => :edit_address)  %>">
        <i class="fa fa-globe"></i>
        <%= I18n.t(:my_address, scope: :top_menu) %>
      </a>
    </li>
    <li>
      <a href="<%=  edit_bank_user_path(current_user, :user_info_edit_part => :edit_bank)  %>">
        <i class="fa fa-university"></i>
        <%= I18n.t(:my_bank, scope: :top_menu) %>
      </a>
    </li>
    <li>
      <a href="<%=  show_orders_user_path(current_user, :user_info_edit_part => :edit_order)  %>">
        <i class="fa fa-truck"></i>
        <%= I18n.t(:my_order, scope: :top_menu) %>
      </a>
    </li>
    <li>
      <a href="<%=  show_collections_user_path(current_user, :user_info_edit_part => :edit_collection)  %>">
        <i class="fa fa-eye"></i>
        <%= I18n.t(:my_collection, scope: :top_menu) %>
      </a>
    </li>
    <li>
      <a data-method="<%= :delete %>" href="<%=  signout_path  %>">
        <i class="fa fa-sign-out"></i>
        <%= I18n.t(:sign_out, scope: :top_menu) %>
      </a>
    </li>
  </ul>
</div>
