<% if products.size > 0 %>
<div class="main-table">
  <table>
    <thead>
      <tr>
        <th>
          Image
        </th>
        <% if show_shop %>
        <th>
          Shop
        </th>
        <% end %>
        <th>
          Name
        </th>
        <th>
          Brand
        </th>
        <th>
          Details
        </th>
        <th>
          Action
        </th>
      </tr>
    </thead>
    <tbody>
      <% products.each do |product| %>
        <tr>
          <td>
            <%= image_tag product.decorate.first_sku_image, :class => 'icon-img' %>
          </td>
          <% if show_shop %>
          <td>
            <%= product.shop.shopname %>
          </td>
          <% end %>
          <td>
            <%= product.name %>
          </td>
          <td>
            <%= product.brand %>
          </td>
          <td>
            <%= I18n.t(:quantity_info, scope: :edit_product, total_skus_quantities: product.total_skus_quantities, product_options_size: product.options.size) %>
            <div class="clearfix"></div>
            <%= I18n.t(:unlimited_info, scope: :edit_product, unlimited_skus: product.unlimited_skus) if product.unlimited_skus > 0 %>
          </td>
          <td align="left">
            <%= render partial: 'admin/products/table/action', :locals => { :product => product } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<% else %>
<div class="+white-box +centered">
  <h4>
   <%= I18n.t(:not_found, scope: :result) %>
 </h4>
</div>
<% end %>
