<div class="col-md-12">
  <div class="row">
    <h3>Address details</h3>
    <hr>
  </div>

  <div class="row">
    <div class="col-md-6">
      <h4>Customer details</h4>
      <% if @order.user %>
        Email : <%= @order.user.email %><br />
        <% if @order.shipping_address %>
          PID : <%= editable_field(@order.shipping_address, admin_order_address_path(@order, @order.shipping_address), :pid, :text_field) %><br />
        <% end %>
        Mobile : <%= @order.user.mobile %>
      <% else %>
        No customer attached
      <% end %>
    </div>

    <div class="col-md-6">
      <h4>Special instructions</h4>
      <% if @order.special_instructions %>
        <%= @order.special_instructions %>
      <% else %>
        -
      <% end %>
    </div>

  </div>

  <div class="row">

    <div class="col-md-6">
      <h4>Shipping Address</h4>
      <% if @order.shipping_address.nil? %>
      No shipping data
      <% else %>
      Name : <%= @order.shipping_address.decorate.full_name %><br />
      Address : <%= @order.shipping_address.decorate.full_address %><br />
      Mobile : <%= @order.billing_address.mobile %>
    <% end %>
    </div>

    <div class="col-md-6">
      <h4>Billing Address</h4>
      <% if @order.billing_address.nil? %>
      No billing data
      <% else %>
      Name : <%= @order.billing_address.decorate.full_name %><br />
      Address : <%= @order.billing_address.decorate.full_address %><br />
      Mobile : <%= @order.billing_address.mobile %>
      <% end %>
    </div>

  </div>

</div>
