  <div class="col-md-12">
    <div class="row">
        <h3>Finances</h3>
      <hr>
    </div>

    <div class="row">
      <div class="col-md-3">
        <h4>Bill ID</h4>
        <%= editable_field(@order, admin_order_path(@order), :bill_id, :text_field) %>
      </div>

      <div class="col-md-3">
        <h4>Total Paid</h4>
        <%= @order.total_paid_in_yuan %> (<%= @order.total_paid_in_euro %>)
      </div>

      <div class="col-md-3">
        <h4>Total Price</h4>
        <%= @order.total_price_with_extra_costs.in_euro.to_yuan(exchange_rate: @order.exchange_rate).display %> (<%= @order.total_price_with_extra_costs.in_euro.display %>)
      </div>

      <div class="col-md-3">
        <h4>Referrer</h4>
        <% if @order.referrer %>
          <a href="<%= admin_user_path(@order.referrer.user) %>"><%= @order.referrer.user.decorate.full_name %> <%= @order.referrer.reference_id %></a>
          <br />
          <%= editable_field(@order, admin_order_path(@order), :referrer_id, :select, [parent_referrers, {:selected => @order.referrer_id}]) %>
        <% else %>
          -
        <% end %>
      </div>

    </div>

    <div class="row">
      <div class="col-md-12">
        <h4>Payments</h4>
        <%= render partial: "admin/order_payments/table", :locals => { :order_payments => @order.order_payments.order(c_at: :desc) } %>
      </div>
      <div class="col-md-12">
        <h4>Referrer Provisions</h4>
        <% if @order.referrer_provision %>
          <%= render partial: "admin/referrers/provisions/table", :locals => { :provisions => [@order.referrer_provision] } %>
        <% end %>
      </div>
    </div>
  </div>
