  <div class="col-md-12">
    <div class="row">
        <h3>Finances</h3>
      <hr>
    </div>
    <div class="row">

      Bill ID : <%= editable_field(@order, admin_order_path(@order), :bill_id, :text_field) %>
      <br />

      Total Paid : <%= @order.total_paid_in_yuan %> (<%= @order.total_paid_in_euro %>)<br />
      Total Price : <%= @order.total_price_with_extra_costs.in_euro.to_yuan(exchange_rate: @order.exchange_rate).display %> (<%= @order.total_price_with_extra_costs.in_euro.display %>)<br />

      <%= render partial: "admin/order_payments/table", :locals => { :order_payments => @order.order_payments.order(c_at: :desc) } %>

    </div>
  </div>
