<div class="col-md-12">
  <div class="row">
    <div class="col-md-10 +nopadding">
      <h3>Shipping</h3>
      <em>You can fill in external tracking id and inform the customers by SMS. The SMS will be triggered only once.</em>
    </div>
    <div class="col-md-2 details__action">
    </div>
  </div>
  <hr>
  <div class="row">
    <%= form_for [:admin, order, order_tracking], :data => {:toggle => 'validator'} do |form| %>
      <%= form.text_field :unique_id, :placeholder => "Tracking ID" %>
      <%= form.submit "Update", :class => "btn btn-primary" %>
      <% if order.shippable? %>
        <a href="<%= admin_order_shipped_path(order) %>" data-method="patch" class="btn btn-info">Ship &amp; Send tracking SMS</a>
      <% end %>
    <% end %>
  </div>


  <div class="row">
    <div class="col-md-10 +nopadding">
      <h3>Tracking</h3>
      <em>Current tracking status and history of the package delivery.</em>
    </div>
    <div class="col-md-2 details__action">
    </div>
  </div>
  <hr>

  <div class="row">
    <div class="col-md-4">
      <h4>Unique ID</h4>
      <%= order_tracking.unique_id %>
    </div>

    <div class="col-md-4">
      <h4>State</h4>
      <%= order_tracking.state %>
    </div>

    <div class="col-md-4">
      <h4>Refreshed At</h4>
      <% if order_tracking.refreshed_at %>
        <%= order_tracking.refresh_at %>
      <% else %>
        -
      <% end %>
    </div>

  </div>

  <div class="row">
    <div class="col-md-12">
      <h4>History</h4>
      <%= render partial: "admin/orders/show/shipping/histories", :locals => { :order_tracking => order_tracking } %>
      <div class="+small-spacer"></div>
    </div>
  </div>

  <% if order.order_tracking %>
    <div class="row">
      <a data-method="patch" href="<%= admin_order_order_tracking_refresh_path(order, order.order_tracking) %>" class="btn btn-primary">Refresh tracking</a>
    </div>
  <% else %>
    No tracking yet.
  <% end %>

</div>
