<% if @notifications.size > 0 %>
<div class="main-table">
  <table>
    <thead>
      <tr>
        <th>
          <% I18n.t('title.title') %>
        </th>
        <th>
          <% I18n.t('title.description') %>
        </th>
        <th>
          <% I18n.t('title.date') %>
        </th>
      </tr>
    </thead>
    <tbody>
      <% @notifications.each do |notification| %>
        <tr class="<% unless notification.read? %>+unread <% notification.read! %><% end %>">
          <td>
            <strong><%= notification.title %></strong>
          </td>
          <td>
            <%= notification.desc %>
          </td>
          <td>
            <%= notification.c_at %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
  <%= will_paginate @notifications, renderer: BootstrapPagination::Rails %>
<% else %>
<div class="+centered">
  <h4>
    <%= I18n.t('edit_order.no_order') %>
  </h4>
</div>
<% end %>
