<% if @notifications.size > 0 %>
  <table class="main-table">
    <thead>
      <tr>
        <th>
          <% I18n.t(:title, scope: :title) %>
        </th>
        <th>
          <% I18n.t(:description, scope: :title) %>
        </th>
        <th>
          <% I18n.t(:date, scope: :title) %>
        </th>
      </tr>
    </thead>
    <tbody>
      <% @notifications.each do |notification| %>
        <tr class="<% unless notification.read? %>+unread <% notification.read! %><% end %>">
          <td>
            <strong><%= notification.title %></strong>
          </td>
          <td>
            <%= notification.desc %>
          </td>
          <td>
            <%= notification.c_at %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= will_paginate @notifications, renderer: BootstrapPagination::Rails %>
<% else %>
<div class="+white-box +centered">
  <h4>
    <%= I18n.t(:no_order, scope: :edit_order) %>
  </h4>
</div>
<% end %>
