<nav>
  <ul>

    <!-- Search -->
    <li class="col-md-5 +right">
      <% unless @freeze_header %>
        <%= render partial: "layouts/customer/header/shared/search" %>
        <a href="#" class="js-search-button search-bar__button header-desktop__menu --green"><i class="fa fa-search"></i></a>
      <% end %>
    </li>

    <!-- Profile -->
    <li class="col-md-2">

        <% if notifications? %>
          <a href="<%= shared_notifications_path %>">
            <div class="+notif-bubble"><%= current_user.notifications.global.unreads.count %></div>
            <span class="header-desktop__menu --green"><i class="fa fa-user"></i></span>
          </a>
        <% else %>
          <a href="<%= resolve_profile_path %>" class="header-desktop__menu --green"><i class="fa fa-user"></i></a>
        <% end %>

    </li>

    <!-- Favorites -->
    <li class="col-md-2">
      <a href="<%= customer_favorites_path %>" class="header-desktop__menu --pink"><i class="fa fa-heart"></i></a>
    </li>

    <!-- Cart -->
    <li class="col-md-2">
        <a id="cart" href="<%= customer_cart_path %>" class="header-desktop__menu --green">
          <i class="fa fa-shopping-cart"></i>
          <span class="js-total-products header-desktop__total-products +hidden">
            <%= cart_manager.products_number %>
          </span>
        </a>
    </li>

  </ul>

</nav>
