<nav>
  <ul>
    <% categories.each do |category| %>
      <% cache category do %>
      <li class="col-md-2 menu-dropdown +centered">
        <a href="<%= guest_category_path(category) %>" id="<%= category.slug_name %>"><%= category.name %></a>
        <ul class="menu-dropdown__content">

        <% category.can_buy_shops(10).each do |shop| %>
        <li>
            <a href="<%= guest_shop_path(shop, category_id: category.slug) %>">
            <h4><%= shop.shopname %></h4>
            </a>
        </li>
        <% end %>

        </ul>
      </li>
      <% end %>
    <% end %>

    <% Shop.highlighted.each do |shop| %>
      <li>
        <%= link_to shop&.shopname, guest_shop_path(shop) %>
      </li>
    <% end %>

  </ul>
</nav>
