<div class="package-set-block__content">
  <h2><%= package_set.name %></h2>
  <p><%= simple_format package_set.decorate.short_desc %></p>
  <div class="package-set-block__price"><%= package_set.end_price.in_euro.to_yuan.display %></div>
  <p style="margin-top: -1em;">( <%= I18n.t(:all_included, scope: :cart) %> )</p>
  <%= link_to I18n.t(:more_info, scope: :package_set), guest_package_set_path(package_set), class: "main-button__hollow" %>
</div>
