<div class="package-set-block__content">
  <div class="package-set-block__wrapper">
      <h2><%= package_set.name %></h2>

      <div class="+desktop">
        <%= simple_format package_set.decorate.short_desc %>
      </div>

      <% if package_set.casual_price? %>
        <div class="package-set-block__original-price"><%= package_set.casual_price.in_euro.to_yuan.display %></div>
      <% end %>

      <div class="package-set-block__price"><%= package_set.end_price.in_euro.to_yuan.display %></div>
      <p style="margin-top: -1em;">( <%= I18n.t(:all_included, scope: :cart) %> )</p>
      <%= link_to I18n.t(:more_info, scope: :package_set), guest_package_set_path(package_set), class: "main-button__hollow package-select" %>
  </div>
</div>
