<%= form_for(@post) do |f| %>
    <% if @post.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

          <ul>
            <% @post.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :image %><br>
      <%= f.text_field :image %>
    </div>
    <div class="field">
      <%= f.label :productId %><br>
      <%= f.text_field :productId %>
    </div>
    <div class="field">
      <%= f.label :collectionId %><br>
      <%= f.text_field :collectionId %>
    </div>
    <div class="field">
      <%= f.label :chatId %><br>
      <%= f.text_field :chatId %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
