<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @post.name %>
</p>

<p>
  <img src="<%= @post.image.url %>"/>
</p>

<p>
  <strong>Image:</strong>
  <%= @post.image_identifier %>
</p>

<p>
  <strong>Productid:</strong>
  <%= @post.productId %>
</p>

<p>
  <strong>Collectionid:</strong>
  <%= @post.collectionId %>
</p>

<p>
  <strong>Chatid:</strong>
  <%= @post.chatId %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
