<%= render 'layouts/customer/subheader/checkout_breadcrumb' %>
<div class="row">
  <div class="col-md-12">

    <!-- <a href="<%= @identity_remote_url %>" target="_blank">如果表单未能显示，请按这里重载</a> -->

    <% if Setting.instance.logistic_partner == :xipost %>

      <h1>去上传身份证</h1>
      <!-- Front redirection -->
      <script>
        setTimeout(function(){
          window.location.href = "<%= @identity_remote_url.html_safe %>";
        }, 2000);
      </script>

    <% elsif Setting.instance.logistic_partner == :mkpost %>

    <div>
      <h3>亲，感谢您使用来因盒！</h3>
      <h4>来因盒所有订单包裹都是阳光清关的哟！😊 按照中国海关法规要求，您下单时提供的<span class="+blue">收件人身份证号码</span>将用于自动通关。</h4>
      <a href="<%= identity_solver.origin_url %>" class="big-button --blue"><%= I18n.t(:continue_shopping) %></a>
    </div>

    <% elsif Setting.instance.logistic_partner == :manual %>

    <div>
      <h3>亲，感谢您使用来因盒！</h3>
      <h4>来因盒所有订单包裹都是阳光清关的哟！😊 按照中国海关法规要求，个别情况下如有需要我们的物流伙伴会<span class="+blue">手机短信通知您</span>，请按短信上提供的链接上传收件人<span class="+blue">身份证</span>的<span class="+blue">正反面照片</span></h4>
      <a href="<%= identity_solver.origin_url %>" class="big-button --blue"><%= I18n.t(:continue_shopping) %></a>
    </div>

    <% end %>

    <div class="+spacer"></div>

    <!-- NOTE : this is not working because no HTTPS is provided by Xipost -->
    <!-- <object data="<%= @identity_remote_url %>" width="700" height="620" type="text/html">
      <embed src="<%= @identity_remote_url %>" width="700" height="620" type="text/html" />
    </object> -->

  </div>
</div>
