<div class="col-md-12">

  <div class="row">
    <div class="col-md-8 +nopadding">
      <h3>Informations (German to Chinese)</h3>
      <hr>
    </div>
    <div class="col-md-4 +right">
      <span class="+red">*</span> <%= I18n.t('edit_shop.required_field_info') %>
      <hr>
    </div>
  </div>

  <!-- Name -->
  <div class="row">
    <div class="col-md-2">
      <label>
        Name <span class="+red">*</span>
      </label>
    </div>

    <%= translate_fields form, :name do |form_field| %>
      <div class="col-md-5 form-group">
        <%= form_field.text_field :class => 'form-control', :required => true %>
        <div class="help-block with-errors"></div>
      </div>
    <% end %>

  </div>

  <!-- Description -->
  <div class="row">
    <div class="col-md-2">
      <label>
        Description (HTML) <span class="+red">*</span>
      </label>
    </div>

    <%= translate_fields form, :html_desc do |form_field| %>
      <div class="col-md-5 form-group">
        <%= form_field.text_area :class => 'form-control', :required => false %>
        <div class="help-block with-errors"></div>
      </div>
    <% end %>

  </div>

  <!-- Cover -->
  <div class="row">
    <div class="col-md-2">
      <label>
        Cover
      </label>
    </div>

      <div class="col-md-10 form-group">
        <%= js_file_upload(form: form, field: :cover) %>
        <div class="help-block with-errors"></div>
      </div>
  </div>
  
  <!-- Used As Filter -->
  <div class="row">
    <div class="col-md-2">
      <label>
        Used As Filter <span class="+red">*</span>
      </label>
      <br />
      <em>Will it appear on the filters ?</em>
    </div>

    <div class="col-md-5 form-group">
      <%= form.select(:used_as_filter, boolean_select) %>
      <div class="help-block with-errors"></div>
    </div>

  </div>

</div>
