<!-- Variant that already existed from the model -->
<% if form.object.name %>

  <div class="variant-box">

    <!-- Variant Name -->
    <div class="row variant-box__variant-name">

      <% if options[:translation] %>

        <%= translate_fields form, :name do |form_field| %>
          <div class="col-md-4">
            <%= form_field.text_field :placeholder => 'Size' %>
          </div>
        <% end %>

      <% else %>

        <div class="col-md-8">
          <%= form.text_field :name, :placeholder => 'Size' %>
        </div>

      <% end %>

      <div class="col-md-4 +right">
        <% if current_user.shopkeeper? %>
        <%= link_to '', shopkeeper_product_variant_path(form.object.product, form.object), :class => 'tooltipster fa fa-times buttons buttons__delete', :title => "Remove variant", :method => :delete %>
        <% else %>
        <%= link_to '', admin_shop_product_variant_path(form.object.product.shop, form.object.product, form.object), :class => 'tooltipster fa fa-times buttons buttons__delete', :title => "Remove variant", :method => :delete %>
        <% end %>
      </div>
    </div>

    <%= form.fields_for :suboptions do |field_suboption| %>
      <!-- NOTE : `options` in this partial is not related to the model,
      it's linked to the actual partial options -->
      <%= render partial: 'shopkeeper/products/variants/form/options_fields', :locals => {:form => form, :field_suboption => field_suboption, :options => options} %>
    <% end %>

    <!-- Add option -->
    <div class="row">
      <%= render partial: 'shopkeeper/products/variants/form/add_option' %>
    </div>

  </div>

<!-- Variant that we build up -->
<% else %>

  <div class="variant-box js-temporary-variant hidden">

    <!-- Variant Name -->
    <div class="row variant-box__variant-name">
      <div class="col-md-8">
        <%= form.text_field :name, :placeholder => 'Size' %>
      </div>
      <div class="col-md-4 +right">
        <%= link_to '', '#', :class => 'tooltipster fa fa-times buttons buttons__delete js-remove-variant', :title => "Remove variant" %>
      </div>
    </div>

    <%= form.fields_for :suboptions do |field_suboption| %>
      <%= render partial: 'shopkeeper/products/variants/form/options_fields', :locals => {:form => form, :field_suboption => field_suboption} %>
    <% end %>

    <!-- Add option -->
    <div class="row">
      <%= render partial: 'shopkeeper/products/variants/form/add_option' %>
    </div>

  </div>

<% end %>
