<!-- This allow us to detect we are on the correct page -->
<%= content_tag(:div, nil, :id => "js-product-form", :data => {:product_id => @product.id.to_s }) %>

<div class="col-md-12">

  <div class="row">
    <div class="col-md-8 +nopadding">
      <h3><%= I18n.t('edit_product.basic_info') %></h3>
      <hr>
    </div>
    <div class="col-md-4 +right">
      <span class="+red">*</span> <%= I18n.t('edit_shop.required_field_info') %>
      <hr>
    </div>
  </div>

  <!-- Name -->
  <div class="row form-group">
    <div class="col-md-4">
      <label>
        <%= I18n.t('edit_product.name') %> <span class="+red">*</span>
      </label>
    </div>
    <div class="col-md-8">
      <%= form.text_field :name, :class => 'form-control', :required => true, :maxLength => Rails.configuration.gitb[:max_short_text_length] %>
      <div class="help-block with-errors"></div>
    </div>
  </div>

  <!-- Product Brand -->
  <div class="row form-group">
    <div class="col-md-4">
      <label>
        <%= I18n.t('edit_product.brand') %> <span class="+red">*</span>
      </label>
    </div>
    <div class="col-md-8">
      <%= form.text_field :brand, :class => 'form-control', :required => true, :maxLength => Rails.configuration.gitb[:max_short_text_length] %>
      <div class="help-block with-errors"></div>
    </div>
  </div>

  <!-- Product Description -->
  <div class="row form-group">
    <div class="col-md-4">
      <label>
        <%= I18n.t('edit_product.desc') %> <span class="+red">*</span>
        <%= js_tips(:id => :desc, :tip => I18n.t('edit_product.desc_info')) %>
      </label>
    </div>
    <div class="col-md-8">
        <%= form.text_area :desc, :class => 'form-control', rows: 2, :required => true, :maxLength => Rails.configuration.gitb[:max_long_text_length] %>
      <div class="help-block with-errors"></div>
    </div>
  </div>

</div>
