%p#notice= notice
%h1 Listing Brands
%table
  %thead
    %tr
      %th Name
      %th{:colspan => "3"}
  %tbody
    - @brands.each do |brand|
      %tr
        %td= brand.name
        %td= link_to 'Show', brand
        %td= link_to 'Edit', edit_brand_path(brand)
        %td= link_to 'Destroy', brand, method: :delete, data: {confirm: 'Are you sure?'}
%br
= link_to 'New Brand', new_brand_path
