<div class="+spacer"></div>

<div class="col-md-8 col-md-push-2 col-md-pull-2">

  <% if @featured_shop.nil? && @casual_shops.empty? %>

  <!-- There's no shop right now -->
  <div class="+white-box +centered">
    <h4>
     There's no shop available right now.
   </h4>
 </div>


  <% else %>

  <!-- Shop Blocks -->
  <div class="shop-blocks">

    <div class="row shop-blocks__main">

      <div class="col-md-5 shop-blocks__main --category +vertical-centered">

        <div class="col-md-6 +centered">
        <img src="/images/categories/<%= @category.slug %>.png">
        <h2><%= @category.name %></h2>
        </div>

        <div class="col-md-6">
        <%= @category.desc %>
        </div>

      </div>

      <!-- First Shop Display in Front -->
      <% unless @featured_shop.nil? %>

      <a href="<%= shop_path(@featured_shop) %>">
      <div class="col-md-7 shop-blocks__main --shop" style="background-image:url(https://pixabay.com/static/uploads/photo/2015/12/08/00/26/coffee-shop-1081713_960_720.jpg);">
        <div class="+overlay"></div>
        <div class="+onoverlay">

          <!-- Content -->
          <div class="shop-blocks__main --content">

            <div class="col-md-3">
              <img src="https://www.menashion.de/wp-content/uploads/2015/06/Cardi-Bob-2015sw-300x300.jpg">
            </div>

            <div class="col-md-9">
              
              <h3><%= @featured_shop.shopname %></h3>
              <div class="shop-blocks__main --author">by <%= @featured_shop.shopkeeper.decorate.full_name %></div>

              <div class="+small-spacer"></div>

              <%= @featured_shop.decorate.short_desc %>
            </div>

          </div>
          <!-- End of Content -->

        </div>
      </div>
      </a>

      <% end %>

    </div>

    <div class="row shop-blocks__secondary">

      <% @casual_shops.each do |shop| %>

      <a href="<%= shop_path(shop) %>">
      <div class="col-md-4 shop-blocks__secondary --shop" style="background-image:url(https://pixabay.com/static/uploads/photo/2015/12/08/00/26/coffee-shop-1081713_960_720.jpg);">
        <div class="+overlay"></div>
        
        <div class="+onoverlay">

          <!-- Content -->
          <div class="shop-blocks__secondary --content">

            <div class="col-md-4">
              <img src="https://www.menashion.de/wp-content/uploads/2015/06/Cardi-Bob-2015sw-300x300.jpg">
            </div>

            <div class="col-md-8">
              <h3><%= shop.shopname %></h3>
              <div class="shop-blocks__secondary --author">by <%= shop.shopkeeper.decorate.full_name %></div>

              <div class="+small-spacer"></div>

              <%= shop.decorate.short_desc %>
            </div>

          </div>
          <!-- End of Content -->

        </div>

      </div>
      </a>

      <% end %>

    </div>

  </div>
  <!-- End of Shop Blocks -->

  <% end %>

</div>

<div class="row +spacer"></div>