<p>
  <%= I18n.t(:hello, scope: :"mailers.password_recovery") %> <%= @resource.email %>!
</p>
<p><%= I18n.t(:someone_requested, scope: :"mailers.password_recovery") %></p>
<p>
  <%= link_to I18n.t(:change_password, scope: :"mailers.password_recovery"), edit_password_url(@resource, reset_password_token: @token) %>
</p>
<p><%= I18n.t(:did_not_request, scope: :"mailers.password_recovery") %></p>
<p><%= I18n.t(:password_will_not_change, scope: :"mailers.password_recovery") %></p>

<p>
<a href="<%= new_user_session_path %>"><%= I18n.t(:sign_in, scope: :"mailers.password_recovery") %></a>
</p>
