  <h3><%= I18n.t(:identity, scope: :address) %></h3>

  <div class="form-group">
    <div class="row">
      <div class="col-md-6">
        <%= form.text_field :lname, :value => address.lname ? address.lname : current_user.lname, :class => 'form-control', :required => false, :placeholder => I18n.t(:lname, scope: :edit_address), :data => {:error => I18n.t(:chinese_characters_only, scope: :validation)} %>
      </div>
      <%#= validation: #, :pattern => '[\u4e00-\u9fa5]+'  %>
      <div class="+mobile">
      <div class="+small-spacer"></div>
      </div>

      <div class="col-md-6">
        <%= form.text_field :fname, :value => address.fname ? address.fname : current_user.fname, :class => 'form-control', :required => true, :placeholder => I18n.t(:fname, scope: :edit_address), :data => {:error => I18n.t(:chinese_characters_only, scope: :validation)} %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="+left help-block with-errors"></div>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-md-12">
        <%= form.text_field :mobile, :value => address.mobile ? address.mobile : current_user.mobile, :class => 'form-control', :required => true, :placeholder => I18n.t(:mobile, scope: :edit_address), :pattern => I18n.t(:mobile, scope: :validation, locale: :'zh-CN'), :data => { :error => '请输入正确手机号' } %>
        <div class="help-block with-errors +left"></div>
        <p>请确认正确填写手机号码，该号码将作为短信通知发货和通关状态的备用方式。</p>
       </div>
     </div>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-md-12">
        <%= form.text_field :pid, :class => 'form-control', :required => true, :placeholder => I18n.t(:pid, scope: :edit_address), :pattern => '^(\\d{6})(19|20)(\\d{2})(1[0-2]|0[1-9])(0[1-9]|[1-2][0-9]|3[0-1])(\\d{3})(\\d|X|x)?$', :data => { :error => I18n.t(:chinese_id_number, scope: :validation) } %>
        <div class="help-block with-errors +left"></div>
      </div>
    </div>
  </div>

  <h3><%= I18n.t(:location, scope: :address) %></h3>

<% if address.province.nil? %>

  <div class="city-group">
    <div class="form-group">
      <%= form.select :province, options_for_select(china_city_ordered_list), {  include_blank: I18n.t(:province_blank, scope: :edit_address) }, { :autocomplete => :off, class: 'form-control city-select city-province', :required => true } %>
    </div>
    <div class="form-group">
      <%= form.select :city, [], { include_blank: I18n.t(:city_blank, scope: :edit_address) }, { :autocomplete => :off, class: 'form-control city-select city-city', :required => true } %>
    </div>
    <div class="form-group">
      <%= form.select :district, [], { include_blank: I18n.t(:district_blank, scope: :edit_address) }, { :autocomplete => :off, class: 'form-control city-select city-district' } %>
    </div>
  </div>

<% else %>

  <div class="city-group">
    <div class="form-group">
      <%= form.select :province, options_for_select(get_provinces, get_code_for_province(address.province)), {  include_blank: I18n.t(:province_blank, scope: :edit_address) }, { :autocomplete => :off, class: 'form-control city-select city-province', :required => true } %>
    </div>
    <div class="form-group">
      <%= form.select :city, options_for_select(get_cities_for_province(address.province), get_code_for_city(address.province, address.city)), { include_blank: I18n.t(:city_blank, scope: :edit_address) }, { :autocomplete => :off, class: 'form-control city-select city-city', :required => true } %>
    </div>
    <div class="form-group">
      <%= form.select :district, options_for_select(get_districts_for_city(address.province, address.city), get_code_for_district(address.province, address.city, address.district)), { include_blank: I18n.t(:district_blank, scope: :edit_address) }, { :autocomplete => :off, class: 'form-control city-select city-district' } %>
    </div>
  </div>

<% end %>


  <div class="form-group">
    <div class="row">
      <div class="col-md-12">
        <%= form.text_field :street, :class => 'form-control', :required => true, :placeholder => "欧洲区德国路莱茵巷5弄6号7栋8楼9室" %>
      </div>
    </div>

  </div>

  <div class="form-group">
    <%= form.text_field :country, :value => ISO3166::Country[:CN].local_name, :readonly => true, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= form.text_field :zip, :class => 'form-control', :placeholder => I18n.t(:zip, scope: :edit_address), :required => true, :pattern => '\d{6,6}' %>
  </div>
  <div class="form-group">
    <%= form.label :primary do %>
      <%= form.check_box :primary, {}, true, false %> <%=I18n.t(:set_primary, scope: :edit_address)%>
    <% end %>
  </div>

  <div class="form-group">
    <input class="big-button --green" type="submit" value="<%= I18n.t(:save_address, scope: :edit_address) %>"></input>
  </div>
