  <h3><%= I18n.t('address.identity') %></h3>

  <div class="form-group">
    <div class="row">
      <div class="col-md-6">
        <%= form.text_field :lname, :class => 'form-control', :required => false, :placeholder => I18n.t('edit_address.lname'), :data => {:error => I18n.t('validation.chinese_characters_only')} %>
      </div>
      <%#= validation: #, :pattern => '[\u4e00-\u9fa5]+'  %>
      <div class="+mobile">
      <div class="+small-spacer"></div>
      </div>

      <div class="col-md-6">
        <%= form.text_field :fname, :class => 'form-control', :required => false, :placeholder => I18n.t('edit_address.fname'), :data => {:error => I18n.t('validation.chinese_characters_only')} %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="+left help-block with-errors"></div>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-md-12">
        <%= form.text_field :mobile, :value => address.mobile ? address.mobile : current_user.mobile, :class => 'form-control', :required => true, :placeholder => I18n.t('edit_address.mobile'), :pattern => I18n.t('validation.mobile', locale: :'zh-CN'), :data => { :error => '请输入正确手机号' } %>
        <div class="help-block with-errors +left"></div>
        <p>请确认手机号码填写正确，该号码用于您的包裹发货，通关状态短信通知和送货联络。</p>
       </div>
     </div>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-md-12">
        <%= form.text_field :pid, :class => 'form-control', :required => true, :placeholder => I18n.t('edit_address.pid'), :pattern => '^(\\d{6})(19|20)(\\d{2})(1[0-2]|0[1-9])(0[1-9]|[1-2][0-9]|3[0-1])(\\d{3})(\\d|X|x)?$', :data => { :error => I18n.t('validation.chinese_id_number') } %>
        <div class="help-block with-errors +left"></div>
      </div>
    </div>
  </div>

  <h3><%= I18n.t('address.location') %></h3>

  <div class="form-group">
    <div class="row">
      <div class="col-md-12">
        <%= form.text_field :full_address, :class => 'form-control', :required => true, :placeholder => "地址示例: 天津天津和平区华江里21309室, 300222" %>
      </div>
    </div>

  </div>

  <div class="radio-group">
    <%= form.radio_button :country, 'china', :checked => (form.object&.country ? false : true) %>
    <%= form.label :country_china, 'China' %>
    <%= form.radio_button :country, 'europe' %>
    <%= form.label :country_europe, 'Europe' %>
  </div>

      <div class="+small-spacer"></div>

  <div class="form-group">
    <input class="big-button --green" type="submit" value="<%= I18n.t('edit_address.save_address') %>"></input>
  </div>
