<ul>
  <li>
    <%= "#{I18n.t('edit_address.name')} : #{ address.lname }#{ address.fname }" %>
  </li>
  <li>
    <%= "#{I18n.t('edit_address.pid')} : #{ address.pid }" %>
  </li>
  <li>
    <%= "#{I18n.t('edit_address.mobile')} : #{ address.mobile }" %>
  </li>
  <li>
    <%= "#{I18n.t('edit_address.street')} : #{ address.street } #{ address.number }" %>
  </li>
  <li>
    <%= "#{I18n.t('edit_address.additional')} : #{ address.additional }" %>
  </li>
  <li>
    <%= "#{I18n.t('edit_address.district')} : #{ address.district }" %>
  </li>
  <li>
    <%= "#{I18n.t('edit_address.city')} : #{ address.city }" %>
  </li>
  <li>
    <%= "#{I18n.t('edit_address.province')} : #{ address.province }" %>
  </li>
  <li>
    <%= "#{I18n.t('edit_address.country')} : #{ address.country_local_name }" %>
  </li>
  <li>
    <%= "#{I18n.t('edit_address.zip')} : #{ address.zip }" %>
  </li>
</ul>
