<% if @addresses.size > 0 %>
<div class="main-table +desktop">
  <table>
    <thead>
      <tr>
        <th>
          <%= I18n.t(:primary, scope: :edit_address) %>
        </th>
        <th>
          <%= I18n.t(:name, scope: :edit_address) %>
        </th>
        <th>
          <%= I18n.t(:pid, scope: :edit_address) %>
        </th>
        <th>
          <%= I18n.t(:mobile, scope: :edit_address) %>
        </th>
        <th>
          <%= I18n.t(:country, scope: :edit_address) %>
        </th>
        <th>
          <%= I18n.t(:province, scope: :edit_address) %>
        </th>
        <th>
          <%= I18n.t(:city, scope: :edit_address) %>
        </th>
        <th>
          <%= I18n.t(:district, scope: :edit_address) %>
        </th>
        <th>
          <%= I18n.t(:zip, scope: :edit_address) %>
        </th>
        <th>
          <%= I18n.t(:street, scope: :edit_address) %>
        </th>
        <th>
          <%= I18n.t(:operations, scope: :edit_order) %>
        </th>
      </tr>
    </thead>
    <tbody>
      <% @addresses.each do |address| %>
        <tr>
          <td>
            <%= boolean_icon(address.primary) %>
          </td>
          <td>
            <%= address.decorate.chinese_full_name %>
          </td>
          <td>
            <%= address.pid %>
          </td>
          <td>
            <%= address.mobile %>
          </td>
          <td>
            <%= address.country %>
          </td>
          <td>
            <%= address.province %>
          </td>
          <td>
            <%= address.city %>
          </td>
          <td>
            <%= address.district %>
          </td>
          <td>
            <%= address.zip %>
          </td>
          <td>
            <%= address.street %>
          </td>
          <td>
            <%= link_to '', edit_customer_address_path(address), :class => 'tooltipster fa fa-pencil buttons buttons__edit', :title => "Edit" %>
            <%= link_to '', customer_address_path(address), :method => :delete, data: { confirm: "Are you sure you want to destroy this address ?" }, :class => 'tooltipster fa fa-times buttons buttons__delete', :title => "Remove" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="main-table +mobile">
  <table>
    <thead>
      <tr>
        <th>
          <%= I18n.t(:primary, scope: :edit_address) %>
        </th>
        <th>
          <%= I18n.t(:full_address, scope: :edit_address) %>
        </th>
        <th>
          <%= I18n.t(:operations, scope: :edit_order) %>
        </th>
      </tr>
    </thead>
    <tbody>
      <% @addresses.each do |address| %>
        <tr>
          <td>
            <%= boolean_icon(address.primary) %>
          </td>
          <td>
            <%= address.decorate.chinese_full_name %><br/>
            <%= address.pid %><br/>
            <%= address.decorate.full_address %><br/>
            <%= address.mobile %>
          </td>
          <td>
            <%= link_to '', edit_customer_address_path(address), :class => 'tooltipster fa fa-pencil buttons buttons__edit', :title => "Edit" %>
            <div class="+small-spacer"></div>
            <%= link_to '', customer_address_path(address), :method => :delete, data: { confirm: "Are you sure you want to destroy this address ?" }, :class => 'tooltipster fa fa-times buttons buttons__delete', :title => "Remove" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<% else %>
<div class="+white-box +centered">
  <h4>
    <%= t 'address.no_address' %>
  </h4>
</div>
<% end %>
<div class="+centered">
  <div class="+small-spacer"></div>
  <a href="<%= new_customer_address_path %>" class="btn btn-primary btn-lg"><%= t 'address.new_adress' %></a>
</div>
