<% if @users.size > 0 %>
<div class="main-table">
  <table>
    <thead>
      <th>
        Email
      </th>
      <th>
        Role
      </th>
      <th>
        Tester
      </th>
      <th>
        Is Referrer
      </th>
      <th>
        Parent Referrer
      </th>
      <th>
        Precreated
      </th>
      <th>
        Sign In #
      </th>
      <th>
        Last Sign In
      </th>
      <th>
        Created At
      </th>
      <th>
        Action
      </th>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td>
            <%= user.email %>
          </td>
          <td>
            <%= user.role %>
          </td>
          <td>
            <%= boolean_icon(user.tester?) %>
          </td>
          <td>
            <%= boolean_icon(user.referrer?) %>
          </td>
          <td>
            <%= user.parent_referrer&.user&.decorate&.full_name %> (<%= user.parent_referrer&.reference_id %>)
          </td>
          <td>
            <%= boolean_icon(user.precreated) %>
          </td>
          <td>
            <%= user.sign_in_count %>
          </td>
          <td>
            <%= user.last_sign_in_at ? l(user.last_sign_in_at, :format => '%Y-%m-%d %H:%M:%S') : '' %>
          </td>
          <td>
            <%= user.c_at %>
          </td>
          <td>
            <a href="<%= admin_user_path(user) %>"><i class="fa fa-eye tooltipster buttons buttons__edit tooltipstered"></i></a>
            <%= link_to '', admin_user_force_login_path(user), :method => :post, data: { confirm: "Are you sure you want to log-in to this user ?" }, :class => 'tooltipster fa fa-sign-in buttons buttons__purple', :title => "Force Log-in" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<% else %>
  <div class="+white-box +centered">
    <h4>
      No user
    </h4>
  </div>
<% end %>
