<div class="details">

  <div class="row">
    <div class="col-md-10">
      <h2>User <%= @user.id %></h2>
    </div>
    <div class="col-md-2 details__action">
    </div>
  </div>

  <div class="+small-spacer"></div>

  <div class="row details__block">
    <%= render partial: "admin/users/show/basic_infos" %>
  </div>

  <div class="row details__block">
    <%= render partial: "admin/users/show/sign_in" %>
  </div>

  <div class="row details__block">
    <%= render partial: "admin/users/show/cart" %>
  </div>

  <div class="row details__block">
    <%= render partial: "admin/users/show/orders" %>
  </div>

  <div class="row details__block">
    <%= render partial: "admin/users/show/action", :locals => { user: @user } %>
  </div>

  <div class="row details__block +danger-zone">
    <%= render partial: "admin/users/show/danger_zone", :locals => { user: @user } %>
  </div>

</div>
