<!-- Modal introduction -->
<div class="remodal" data-remodal-options="hashTracking: false" data-remodal-id="package-set-introduction">

  <div class="package-set-introduction">
    <!-- Close Action -->
    <button data-remodal-action="close" class="remodal-close"></button>
    <h1><%= package_set.name %></h1>
    <p><%= simple_format package_set.long_desc %></p>
  </div>
</div>

<!-- Introduction -->
<div class="row">
  <div class="col-md-12">
    <div class="package-set-infos__introduction-header">
    </div>
    <div class="package-set-infos__introduction">
      <h1><%= package_set.name %></h1>
      <p><%= simple_format package_set.desc %></p>
    </div>
  </div>
  <% if package_set.long_desc.present? %>
    <div class="+centered">
      <a data-remodal-target="package-set-introduction" href="#"><%= I18n.t('button.read_more') %></a>
    </div>
  <% end %>
</div>
