<div class="remodal product-miniblock__remodal" data-remodal-options="hashTracking: false" data-remodal-id="package-sku-<%= package_sku.id %>">

  <div class="product-miniblock">

    <!-- Close Action -->
    <button data-remodal-action="close" class="remodal-close"></button>

    <!-- Image -->
    <div class="product-miniblock__image" style="background-image:url('<%= package_sku.sku.images&.first&.fullsize %>');">
    </div>

    <div class="clearfix"></div>

    <!-- Title + Description -->
    <div class="product-miniblock__content">
      <h3><%= package_sku.product.brand %></h3>
      <div class="product-miniblock__name"><%= package_sku.product.name %> - <%= package_sku.quantity %> 件</div>
      <div class="+spacer"></div>
      <div class="product-miniblock__desc"><%= simple_format package_sku.product.desc %></div>
    </div>

  </div>

</div>


<div class="product-miniblock">

  <a data-remodal-target="package-sku-<%= package_sku.id %>" href="#" >

  <!-- Image -->
  <div class="product-miniblock__image lazy" data-original="<%= package_sku.sku.images&.first&.file&.url %>" style="background-image:url('/images/grey.gif');">
    <div class="product-miniblock__zoom">
      <i class="fa fa-search"></i>
    </div>
  </div>

  <div class="clearfix"></div>

  <!-- Title + Description -->
  <div class="product-miniblock__content">
    <h3><%= package_sku.product.brand %></h3>
    <p><%= package_sku.product.name %></p>
    <div class="product-miniblock__extra">
      <%= package_sku.quantity %> x <%= package_sku.sku.display_option_names %>
    </div>
  </div>

</a>

</div>
