<div class="product-miniblock">

  <!-- Image -->
  <div class="product-miniblock__image lazy" data-original="<%= package_sku.sku.decorate.image_url(:img0, :fullsize) %>" style="background-image:url('/images/grey.gif');">
  </div>

  <div class="clearfix"></div>

  <!-- Title + Description -->
  <div class="product-miniblock__content">
    <h3><%= package_sku.product.name %></h3>
    <p><%= package_sku.product.decorate.short_desc(30) %></p>
    <div class="product-miniblock__extra">
      <%= package_sku.quantity %> x <%= package_sku.sku.decorate.readable_weight %>
    </div>
  </div>

</div>
