<div class="row">
  <div class="col-md-12">
    <div class="package-set-infos__actions">

      <hr />

      <!-- Prices -->
      <div class="row">
        <div class="+centered">
          <% if package_set.original_price? %>
            <div class="package-set-infos__original-price"><%= package_set.original_price.in_euro.to_yuan.display %></div>
          <% end %>
          <div class="package-set-infos__new-price"><%= package_set.end_price.in_euro.to_yuan.display %></div>
          <div class="package-set-infos__euro-price">( <%= I18n.t('cart.all_included') %> )</div>
          <div class="+spacer"></div>
        </div>
      </div>

      <!-- Button -->
      <div class="row">
        <div class="+centered">
          <%= link_to I18n.t('package_set.buy_it'), nil,
                      class: 'js-add-package-set main-button__solid --large', :data => { :package_set_id => package_set.id.to_s } %>
        </div>
      </div>

      <!-- QRCode -->
      <div class="row">
        <div class="package-set-infos__qrcode +desktop">
          <img src="<%= current_url_qrcode %>" />
          <p><%= I18n.t('package_set.please_scan_qrcode') %></p>
        </div>
      </div>

    </div>
  </div>
</div>
