<div class="+white-box +centered">
  <h1>Token</h1>
  <h2><strong><%= @referrer_token.token %></strong></h2>
  <p><strong><%= @referrer_token.referrer_url %></strong></p>
  <br />

  <div class="+left">
    <strong>Name:</strong> <%= @referrer_token.name %>
    <br />

    <strong>Description:</strong> <%= @referrer_token.desc %>
    <br />
    <br />
    <strong>Type:</strong> <%= @referrer_token.type %>
    <br />

    <strong>Group:</strong> <%= @referrer_token.group %>
    <br />
    <br />

    <strong>Coupon Discount:</strong> <%= @referrer_token.coupon_discount %>
    <br />

    <strong>Coupon Discount Extra:</strong> <%= @referrer_token.coupon_discount_extra %>
    <br />
    <br />

    <strong>Sales Provision:</strong> <%= @referrer_token.sales_provision %>
    <br />

    <strong>Sales Provision Extra:</strong> <%= @referrer_token.sales_provision_extra %>
    <br />
    <br />

    <strong>Redeem Discount:</strong> <%= @referrer_token.redeem_discount %>
    <br />
    <strong>Note:</strong> <%= @referrer_token.note %>
    <br />
    <br />
  </div>
</div>
