<div class="col-md-12">

  <div class="row">
    <div class="col-md-8 +nopadding">
      <h3>Categories</h3>
      <hr>
    </div>
    <div class="col-md-4 +right">
      <hr>
    </div>
  </div>

  <!-- Tax Rate -->
  <div class="row form-group">
    <div class="col-md-4">
      <label>
        Tax Rate
      </label>
    </div>

    <div class="col-md-8">
      <%= form.select :taxes_base, options_for_select({
        "Constant (11.9%) based on goods price" => :constant,
        "Special constant (26.63%) based on goods price" => :special_constant,
        "Duty Category (#{form.object.duty_category&.tax_rate}%) based on purchase price" => :duty_category}, form.object.taxes_base), :class => 'form-control' %>
    </div>

  </div>

  <!-- Customer Categories -->
  <div class="row form-group">
    <div class="col-md-4">
      <label>
        <%= I18n.t('edit_product.categories') %>
      </label>
    </div>

    <div class="col-md-8">
      <%= form.fields_for :categories do |form_field| %>

        <%= form_field.select '', options_from_collection_for_select(Category.all, :id, :name, form.object.categories.first&.id), { :include_blank => I18n.t('multiselect.non_selected_text') }, :class => 'form-control' %>

      <% end %>
    </div>

  </div>

  <!-- Duty Categories -->
  <div class="row form-group">
    <div class="col-md-4">
      <label>
        <%= I18n.t('edit_product.duty_category') %>
      </label>
    </div>

    <div class="col-md-8">

      <%= form.text_field :duty_category, :value => form.object.duty_category&.code, :id => 'duty-category', :class => 'form-control', :required => true, :placeholder => '27289' %>
      <div class="help-block with-errors"></div>
      <div class="js-duty-category"><strong>Note : if the duty category has no tax rate or is not in our database, this data won't persist.</strong></div>

    </div>

  </div>

</div>
