<!-- This allow us to detect we are on the correct page -->
<%= content_tag(:div, nil, :id => "js-product-form", :data => {:product_id => @product.id.to_s }) %>

<div class="col-md-12">

  <div class="row">
    <div class="col-md-8 +nopadding">
      <h3><%= I18n.t('edit_product.basic_info') %> (German to Chinese)</h3>
      <hr>
    </div>
    <div class="col-md-4 +right">
      <span class="+red">*</span> <%= I18n.t('edit_shop.required_field_info') %>
      <hr>
    </div>
  </div>

  <!-- Name -->
  <div class="row">
    <div class="col-md-2">
      <label>
        <%= I18n.t('edit_product.name') %> <span class="+red">*</span>
      </label>
    </div>

    <%= translate_fields form, :name do |form_field| %>
      <div class="col-md-5 form-group">
        <%= form_field.text_field :class => 'form-control', :required => true %>
        <div class="help-block with-errors"></div>
      </div>
    <% end %>

  </div>

  <!-- Product Brand -->
  <div class="row">
    <div class="col-md-2">
      <label>
        <%= I18n.t('edit_product.brand') %> <span class="+red">*</span>
      </label>
    </div>

    <div class="col-md-10">
      <%= form.collection_select :brand, Brand.all, :id, :name, prompt: true, selected: form.object.brand&.id %>
    </div>

  </div>

  <!-- Product Description -->
  <div class="row">
    <div class="col-md-2">
      <label>
        <%= I18n.t('edit_product.desc') %> <span class="+red">*</span>
      </label>
    </div>

    <%= translate_fields form, :desc do |form_field| %>
      <div class="col-md-5 form-group">
        <%= form_field.text_area :class => 'form-control', :required => true %>
        <div class="help-block with-errors"></div>
      </div>
    <% end %>

  </div>

  <!-- Product Below Description -->
  <div class="row">
    <div class="col-md-2">
      <label>
        <%= I18n.t('edit_product_detail.product_below_description') %>
      </label>
    </div>

    <%= translate_fields form, :desc_below do |form_field| %>
      <div class="col-md-5 form-group">
        <%= form_field.text_area :class => 'form-control' %>
        <div class="help-block with-errors"></div>
      </div>
    <% end %>

  </div>

</div>
