<a href="<%= guest_shop_path(featured_shop) %>">
  <div class="shop-blocks__featured-shop" style="background-image:url(<%= featured_shop.decorate.image_url(:banner, :detail) %>);">

    <div class="+overlay"></div>
    <div class="+onoverlay">

      <!-- Content -->
      <div class="row">

        <div class="col-md-3">
          <div class="shop-blocks__avatar --big" style="background-image:url('<%= featured_shop.decorate.image_url(:logo, :detail) %>');">
          </div>
        </div>

        <div class="col-md-8">
          <div class="shop-blocks__secondary --content-text">

            <h3><%= featured_shop.shopname %>
              <% if featured_shop.discount? %>
              <span id="product_discount" class="+discount"><%= I18n.t(:discount, scope: :discount) %></span>
              <% end %>
            </h3>
            <div class="shop-blocks__main --author">by <%= featured_shop.decorate.manager_full_name %></div>

            <div class="+small-spacer"></div>

            <%= featured_shop.decorate.short_desc %>
          </div>
        </div>

      </div>
      <!-- End of Content -->

    </div>
  </div>
</a>
