<!-- Start Product -->
  <div class="col-md-1 col-md-push-11 shop-page-product__purchase">


    <div class="row shop-page-product__purchase --like">

      <%= render partial: "products/show/like", :locals => { :product => product } %>

    </div>

  </div>

  <a href="<%= product_path(product) %>">

    <div class="col-md-12">

      <div class="shop-page-product__image +centered" style="background-image:url('<%= product.decorate.product_cover_url %>');">
      
        <div class="+small-spacer"></div>

      </div>

    </div>

    <div class="col-md-12 shop-page-product__description">

      <h2><%= product.name %></h2>
      <div class="shop-page-product__description --text">
        <%= product.decorate.short_desc %>
      </div>
      <div class="shop-page-product__description --prices">
        <span class="+price-yuan"><%= product.decorate.preview_price %></span> <span class="+price-euro"><%= product.decorate.preview_price_euro %></span>
      </div>

    </div>

  </a>
<!-- End Product -->