:javascript
  #{generate_validate_pdf_file_js}

  $(function() {
      $('select.sku-variants-options').multiselect({
        nonSelectedText: "#{I18n.t(:non_selected_text, scope: :multiselect)}",
        nSelectedText: "#{I18n.t(:n_selected_text, scope: :multiselect)}",
        numberDisplayed: 3,
        maxHeight: 400,
        onChange: function(option, checked) {
          v = $('.sku-variants-options')
          if ( v.val() ) {
            v.next().removeClass('invalidBorderClass')
          } else {
            v.next().addClass('invalidBorderClass')
          }
        }
      });

      $('#edit_product_detail_form_btn').click( function() {
        v = $('select.sku-variants-options');

        if ( v.val() == null ) {
          v.next().addClass('invalidBorderClass');
          return false;
        }

        if ( $('img.img-responsive[src=""]').length >= 4) {
          $('.fileUpload:first').addClass('invalidBorderClass');
          return false;
        }

        return true;
      });

      $('input.img-file-upload').click( function() {
        if ( $('img.img-responsive[src=""]').length > 0) {
          $('.fileUpload').removeClass('invalidBorderClass');
        }
      });
  });

= form_for @product, :html => {'data-toggle': 'validator', :id => 'product_detail_form'} do |f|
  = hidden_field_tag :part, :sku
  = f.fields_for :skus, @sku do |fs|
    .panel-group
      .panel.panel-info
        .panel-heading.text-center{:colspan => 8, :title => I18n.t(:images_info, scope: :edit_product_detail)}
          %i.fa.fa-info-circle{ :title => I18n.t(:images_info, scope: :edit_product_detail) }
          %label.required= I18n.t(:images, scope: :edit_product_detail)
        .panel-body
          .row.text-center
            .col-md-3
              = I18n.t(:img0, scope: :edit_product_detail)
            .col-md-3
              = I18n.t(:img1, scope: :edit_product_detail)
            .col-md-3
              = I18n.t(:img2, scope: :edit_product_detail)
            .col-md-3
              = I18n.t(:img3, scope: :edit_product_detail)
          .row.text-center
            .col-md-3
              = image_tag @sku.decorate.image_url(:img0, :thumb), :class => 'thumbnail-img', :id => "img_0_#{@sku.id}"
            .col-md-3
              = image_tag @sku.decorate.image_url(:img1, :thumb), :class => 'thumbnail-img', :id => "img_1_#{@sku.id}"
            .col-md-3
              = image_tag @sku.decorate.image_url(:img2, :thumb), :class => 'thumbnail-img', :id => "img_2_#{@sku.id}"
            .col-md-3
              = image_tag @sku.decorate.image_url(:img3, :thumb), :class => 'thumbnail-img', :id => "img_3_#{@sku.id}"
          .row.text-center
            .col-md-3
              .fileUpload.btn.btn-default
                %span
                  %i.fa.fa-cloud-upload
                  =I18n.t(:upload, scope: :image_upload)
                = fs.file_field :img0, :accept => "image/png, image/jpeg, image/jpg", :img_id => "#img_0_#{@sku.id}", :class => 'img-file-upload upload', :onchange =>"validateImgFile(this);"
            .col-md-3
              .fileUpload.btn.btn-default
                %span
                  %i.fa.fa-cloud-upload
                  =I18n.t(:upload, scope: :image_upload)
                = fs.file_field :img1, :accept => "image/png, image/jpeg, image/jpg", :img_id => "#img_1_#{@sku.id}", :class => 'img-file-upload upload', :onchange =>"validateImgFile(this);"
            .col-md-3
              .fileUpload.btn.btn-default
                %span
                  %i.fa.fa-cloud-upload
                  =I18n.t(:upload, scope: :image_upload)
                = fs.file_field :img2, :accept => "image/png, image/jpeg, image/jpg", :img_id => "#img_2_#{@sku.id}", :class => 'img-file-upload upload', :onchange =>"validateImgFile(this);"
            .col-md-3
              .fileUpload.btn.btn-default
                %span
                  %i.fa.fa-cloud-upload
                  =I18n.t(:upload, scope: :image_upload)
                = fs.file_field :img3, :accept => "image/png, image/jpeg, image/jpg", :img_id => "#img_3_#{@sku.id}", :class => 'img-file-upload upload', :onchange =>"validateImgFile(this);"

      -if @product.duty_category && @product.duty_category.code == 'L2-276'
        .panel.panel-info
          .panel-heading.text-center
            %label= I18n.t(:product_data, scope: :edit_product_detail, locale: locale)
          .panel-body
            .form-group
              .row
                .col-md-3{:title => I18n.t(:product_data_info, scope: :edit_product_detail, num: Rails.configuration.max_additional_text_length, locale: locale) }
                  %i.fa.fa-info-circle{ :title => I18n.t(:product_data_info, scope: :edit_product_detail, num: Rails.configuration.max_additional_text_length, locale: locale) }
                  %label.translation= I18n.t(:product_data, scope: :edit_product_detail, locale: locale)
                .col-md-9
                  = fs.text_area :data, :value => @sku.data_translations[locale], :class => 'form-control', rows: 8, :maxLength => Rails.configuration.max_additional_text_length
            .form-group
              .row
                .col-md-3{:title => I18n.t(:attachment_info, scope: :edit_product_detail, num: Rails.configuration.max_additional_text_length, locale: locale) }
                  %i.fa.fa-info-circle{ :title => I18n.t(:attachment_info, scope: :edit_product_detail, num: Rails.configuration.max_additional_text_length, locale: locale) }
                  %label.translation= I18n.t(:attachment, scope: :edit_product_detail, locale: locale)
                .col-md-9
                  = fs.file_field :attach0, :accept => "application/pdf", :attach_id => "#attach_0_#{@sku.id}", :class => 'upload', :onchange =>"validatePdfFile(this);"
                  - if @sku.attach0.file
                    = link_to  I18n.t(:open, scope: :edit_product_detail), @sku.attach0.url, :target => "_blank"

      .panel.panel-info
        .panel-heading.text-center
          %label= I18n.t(:sku_options, scope: :edit_product_detail)
        .panel-body
          .row
            .col-md-6{:title => I18n.t(:variants_info, scope: :edit_product_detail)}
              %i.fa.fa-info-circle{ :title => I18n.t(:variants_info, scope: :edit_product_detail) }
              %label.required= I18n.t(:sku_variants_options, scope: :edit_product_detail)
            .col-md-6
              %label.required= I18n.t(:quantity, scope: :edit_product_detail)
          .row
            .col-md-6
              .form-group
                = fs.select :option_ids, grouped_options_for_select(@product.decorate.grouped_variants_options, @sku.option_ids ), {}, {:multiple => 'multiple', :class => 'sku-variants-options', :required => true}
            .col-md-6
              - if @sku.unlimited
                .form-group
                  =fs.label :unlimited do
                    = fs.check_box :unlimited, {}, true
                    = I18n.t(:info, scope: 'edit_product_detail.unlimited')
              - else
                .row
                  .col-md-6
                    .input-group.form-group
                      = fs.text_field :quantity, :class => 'form-control', :pattern => I18n.t(:positive_integer, scope: :validation), :required => true
                      .input-group-addon
                        = I18n.t(:piece, scope: :edit_product_detail)
                  .col-md-6
                    .form-group
                      =fs.label :unlimited do
                        = fs.check_box :unlimited, {}, true
                        = I18n.t(:info, scope: 'edit_product_detail.unlimited')
          %br
          .row
            .col-md-6
              %label.required= I18n.t(:price, scope: :edit_product_detail)
            .col-md-6
              %label.required= I18n.t(:discount, scope: :edit_product_detail)
          .row
            .col-md-6
              .input-group.form-group
                = fs.text_field :price, value: number_with_precision(@sku.price, :precision => 2), :class => 'form-control', :required => true, :pattern => I18n.t(:positive_float, scope: :validation)
                %span.input-group-addon
                  = @product.shop.currency.code
            .col-md-6
              .input-group.form-group
                = fs.text_field :discount, :class => 'form-control', :pattern => I18n.t(:positive_integer_less_or_equal_than_100, scope: :validation), :required => true
                .input-group-addon
                  = '%'
          %br
          .row
            .col-md-6{ :title => I18n.t(:space_weight_info, scope: :edit_product_detail) }
              %i.fa.fa-info-circle{ :title => I18n.t(:space_weight_info, scope: :edit_product_detail) }
              %label.required= I18n.t(:space_weight, scope: :edit_product_detail)
            .col-md-6{ :title => I18n.t(:customizable_info, scope: :edit_product_detail) }
              .col-md-6.nopadding-lr
                %i.fa.fa-info-circle{ :title => I18n.t(:customizable_info, scope: :edit_product_detail) }
                %label= I18n.t('edit_product_detail.customizable.info')
              .col-md-6.nopadding-lr
                %label= I18n.t('edit_product_detail.status.info')
          .row
            .col-md-6
              .row-fluid
                .col-md-4.nopadding-lr
                  .form-group
                    .input-group.input-group-sm
                      = fs.text_field :space_length, value: number_with_precision(@sku.space_length, :precision => 2), :class => 'form-control input-sm', :required => true, :pattern => I18n.t(:positive_float, scope: :validation)
                      .input-group-addon
                        = I18n.t('cm', scope: :edit_product_detail)
                .col-md-4.nopadding-lr
                  .form-group
                    .input-group.input-group-sm
                      = fs.text_field :space_width, value: number_with_precision(@sku.space_width, :precision => 2), :class => 'form-control', :required => true, :pattern => I18n.t(:positive_float, scope: :validation)
                      .input-group-addon
                        = I18n.t('cm', scope: :edit_product_detail)
                .col-md-4.nopadding-lr
                  .form-group
                    .input-group.input-group-sm
                      = fs.text_field :space_height, value: number_with_precision(@sku.space_height, :precision => 2), :class => 'form-control', :required => true, :pattern => I18n.t(:positive_float, scope: :validation)
                      .input-group-addon
                        = I18n.t('cm', scope: :edit_product_detail)
              .row-fluid
                .col-md-12.nopadding-lr
                  .form-group
                    .input-group.input-group-sm
                      = fs.text_field :weight, value: number_with_precision(@sku.weight, :precision => 2), :class => 'form-control', :required => true, :pattern => I18n.t(:positive_float, scope: :validation)
                      .input-group-btn
                        = fs.select :unit, options_for_select(['kg'], @sku.unit), {}, { :class => 'form-control input-sm', :style => 'width:64px' }
            .col-md-6
              .col-md-6.nopadding-lr
                .form-group
                  =fs.label :customizable do
                    = fs.check_box :customizable, {}, true
                    = I18n.t(true, scope: 'edit_product_detail.customizable')
              .col-md-6.nopadding-lr
                .form-group
                  =fs.label :status do
                    = fs.check_box :status, {}, true
                    = I18n.t(true, scope: 'edit_product_detail.status')
      .panel.panel-info
        .panel-heading.text-center
          %label.required= I18n.t(:time, scope: :edit_product_detail)
        .panel-body
          %h5
            %strong= 'Einstellgebühr fällt zurzeit wegen Promotion nicht an.'
          .radio
            %label
              = fs.radio_button :time, 'terminated', :required => true
              = I18n.t(:timed_info, scope: :edit_product_detail)
          .radio
            %label
              = fs.radio_button :time, 'automatic', :required => true
              = I18n.t(:renew_info, scope: :edit_product_detail)

  = f.submit :class => 'btn btn-primary', :value => new ? I18n.t(:create_sku, scope: :edit_product_detail) : I18n.t(:update_sku, scope: :edit_product_detail), :part => :sku, :id => 'edit_product_detail_form_btn'
  = link_to I18n.t(:cancel, scope: :edit_product_detail), :back, :class => 'btn btn-primary'