- if current_user&.is_admin?
  %ul.nav.nav-pills
    - get_allowed_locales.each_with_index do |locale, i|
      %li{class: "#{ i == 0 ? 'active' : '' }"}
        %a{href: "##{locale}", 'data-toggle': 'tab'}=I18n.t(locale, scope: :locales)

  .tab-content
    - get_allowed_locales.each_with_index do |locale, i|
      .tab-pane.fade.in{ id: locale, class: "#{ i == 0 ? 'active' : '' }" }
        %br
        = render 'products/product_form', locale: locale
- else
  - get_allowed_locales.each_with_index do |locale, i|
    = render 'products/product_form', locale: locale