<div class="main large-12 columns">
  <ul id="og-grid" class="og-grid">
    <%= content_tag_for(:tr, @products) do |product| %>
        <li>
          <a href="#" data-reveal-id="firstModal" onclick="myFunction('<%= product.img %>','<%= product.desc %>','<%= product.price %>','<%= product.name %>','<%= product.id %>')" class="radius  ">
            <div class="imgetub">
              <img src=<%= product.img %> alt="img03"/>
            </div>
          </a>

          <div class="caption">
            <% if (product.owner == nil) %>
                <%= link_to profile_path('55d471b869702d64d700001d') do %>
                    <img src='/assets/icons/Slice1.png' class='piconf'>

                    <p class='pconf'>Achat</p>
                    </img>
                <% end %>
            <% else %>
                <%= link_to profile_path(product.owner) do %>
                    <img src=<%= product.owner_img %> class='piconf'>

                    <p class='pconf'><%= product.owner_name %></p>
                    </img>
                <% end %>
            <% end %>

            <% if current_user %>

          <%= link_to image_tag("icons/cart_a@3x.png", :class => 'seciconfooter'), product.deeplink %>

            <% if current_user.products.include?(product) %>
                <%= link_to image_tag("icons/heartf.png", :class => 'seciconfooter'), unsaveprod_path(:id => current_user.id, :prod_id => product.id), method: :post, remote: true %>
            <% else %>
                <%= link_to image_tag("icons/Slice2.png", :class => 'seciconfooter'), saveprod_path(:id => current_user.id, :prod_id => product.id), method: :post, remote: true %>
            <% end %>
                <% end %>
          </div>
        </li>

    <% end %>
  </ul>
    <!-- Reveal Modals begin -->
    <div id="firstModal" class="reveal-modal " data-reveal aria-labelledby="firstModalTitle" aria-hidden="true" role="dialog">
      <div class='row'>
        <div class='large-8  columns'>
          <img id='lgimg' class='prodlimg' src="https://cdn.artstation.com/p/assets/images/images/000/696/013/large/liu-haifan-hulkbuster1.jpg?1430977120">


        </div>
        <div class='large-4  columns'>

          <h5 id='name' class='proname'> koko</h5>
          <h6 id="price">Price : 88 $</h6>

          <p id="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vel tempor lorem. In nulla nibh,
            mollis in ligula ut, pulvinar tincidunt tortor. Donec non nibh dui. Proin congue mollis tortor nec
            ultricies. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam erat volutpat. Nunc maximus
            tristique dui ac scelerisque. Nullam sem nulla, vestibulum quis turpis eu, auctor placerat erat.</p>
          <ul class="small-block-grid-2 medium-block-grid-2 large-block-grid-2 similarprods">
            <li>
              <a href="#" id='a1' class="secondary button"><img id='sp1' src="http://www.sparkawards.com/wp-content/uploads/2011/05/Product_Lg_Type.jpg"></a>
            </li>
            <li>
              <a href="#" id='a2' class="secondary button"><img id="sp2" src="http://www.sparkawards.com/wp-content/uploads/2011/05/Product_Lg_Type.jpg"></a>
            </li>
            <li>
              <a href="#" id='a3' class="secondary button"><img id="sp3" src="http://www.sparkawards.com/wp-content/uploads/2011/05/Product_Lg_Type.jpg"></a>
            </li>
            <li>
              <a href="#" id='a4' class="secondary button"><img id="sp4" src="http://www.sparkawards.com/wp-content/uploads/2011/05/Product_Lg_Type.jpg"></a>
            </li>
            <li>
              <a href="#" id='a5' class="secondary button"><img id="sp5" src="http://www.sparkawards.com/wp-content/uploads/2011/05/Product_Lg_Type.jpg"></a>
            </li>
            <li>
              <a href="#" id='a6' class="secondary button"><img id="sp6" src="http://www.sparkawards.com/wp-content/uploads/2011/05/Product_Lg_Type.jpg"></a>
            </li>
          </ul>
        </div>
        <a class="close-reveal-modal" aria-label="Close">&#215;</a>
      </div>
    </div>
  </div>
    <script>


        function myFunction(img, desc, price, name, id) {
            var user_id = 'dcdcdcdc';
            document.getElementById("lgimg").src = img;


            document.getElementById("desc").innerHTML = desc;
            document.getElementById("name").innerHTML = name;

            document.getElementById("price").innerHTML = 'Price: ' + price + " €";


            theUrl = "http://52.28.36.20:3000/similarproductsi/" + id + "/6.json";
            theUrl = theUrl.replace(/ /g, '');
            var xmlHttp = new XMLHttpRequest();
            xmlHttp.open("GET", theUrl, false);
            xmlHttp.send(null);
            obj = JSON.parse(xmlHttp.responseText);


            foo = document.getElementById("sp1");
            foo.setAttribute("src", obj[0].img);
            document.getElementById("a1").setAttribute("onclick", "myFunction(obj[0].img,obj[0].desc,obj[0].price,obj[0].name,obj[0].id);");


            foo = document.getElementById("sp2");
            foo.setAttribute("src", obj[1].img);
            document.getElementById("a2").setAttribute("onclick", "myFunction(obj[1].img,obj[1].desc,obj[1].price,obj[1].name,obj[1].id);");


            foo = document.getElementById("sp3");
            foo.setAttribute("src", obj[2].img);
            document.getElementById("a3").setAttribute("onclick", "myFunction(obj[2].img,obj[2].desc,obj[2].price,obj[2].name,obj[2].id);");


            foo = document.getElementById("sp4");
            foo.setAttribute("src", obj[3].img);
            document.getElementById("a4").setAttribute("onclick", "myFunction(obj[3].img,obj[3].desc,obj[3].price,obj[3].name,obj[3].id);");


            foo = document.getElementById("sp5");
            foo.setAttribute("src", obj[4].img);
            document.getElementById("a5").setAttribute("onclick", "myFunction(obj[4].img,obj[4].desc,obj[4].price,obj[4].name,obj[4].id);");


            foo = document.getElementById("sp6");
            foo.setAttribute("src", obj[5].img);
            document.getElementById("a6").setAttribute("onclick", "myFunction(obj[5].img,obj[5].desc,obj[5].price,obj[5].name,obj[5].id);");


        }
        ;

    </script>