:javascript
  $(function () {
    $.widget( 'custom.catcomplete', $.ui.autocomplete, {
      _create: function() {
          this._super();
          this.widget().menu( 'option', 'items', '> :not(.ui-autocomplete-category)' );
      },
      _renderMenu: function( ul, items ) {
          var that = this,
              search_category = '';
          $.each( items, function( index, item ) {
              var li;
              if ( item.sc != search_category ) {
                  ul.append( "<li class='ui-autocomplete-category'>" + item.sc + '</li>' );
                  search_category = item.sc;
              }
              li = that._renderItemData( ul, item );
              if ( item.sc ) {
                  li.attr( 'aria-label', item.sc + ' : ' + item.label );
              }
          });
      }
    });

    $( '#products_search_keyword' ).catcomplete({
      delay: 1000,
      source: '/products/autocomplete_product_name',
      select: function (a, b) {
        $(this).val(b.item.value);
        $('#search_products_form').submit()
      }
    });

    $( 'select.variant-option' ).change(function () {
      product_id = $(this).attr('product_id');
      option_ids = [];

      $('ul.product-page-meta-info [id^="product_' + product_id + '_variant"]').each ( function(o) {
        option_ids.push($(this).val())
      });

      $.ajax({
        dataType: 'json',
        data: { option_ids: this.value.split(',') },
        url: '/products/' + product_id + '/get_sku_for_options',
        success: function(json){
          qc = $('#product_quantity_' + product_id).empty();

          for (i=1; i <= parseInt(json['quantity']); ++i) {
            qc.append('<option value="' + i + '">' + i + '</option>')
          }

          $('#product_price_' + product_id).text(json['price'] + ' ' +  json['currency']);
          $('#product_discount_' + product_id).text(json['discount'] + ' ' +  '%');
          $('#product_saving_' + product_id).text(parseFloat(json['price']) * parseInt(json['discount'])/100  + ' ' +  json['currency']);
          $('#product_inventory_' + product_id).text(json['quantity'])

          fotorama = $('#product_quick_view_dialog_' + product_id).find('.fotorama').fotorama().data('fotorama');
          fotorama.load([{img: json['img0_url']}, {img: json['img1_url']}, {img: json['img2_url']}, {img: json['img3_url']}])
        }
      });
    });
  });

-#- for_device_type :desktop do
-#  = content_for :search_area do
-#    = form_tag search_products_path, :method => :get, :id => 'search_products_form', :class => 'search-area' do
-#      .container
-#        .row
-#          .col-md-12.clearfix
-#            %label
-#              %i.fa.fa-search
-#              %span= I18n.t(:search_prompt, scope: :popular_products)
-#            .search-area-division.search-area-division-input
-#              =text_field_tag :products_search_keyword, params[:products_search_keyword], :placeholder => "#{ I18n.t(:search_placeholder, scope: :popular_products) }", :class => 'form-control', :required => true
.container-fluid
  - if @products.size == 0
    %h4 Products cannot be found.
  - else
    - for_device_type :mobile, :tablet do
      - @products.each do |p|
        .fotorama{'data-allowfullscreen' => '1', 'data-nav' => 'thumbs', 'data-thumbheight' => '96', "data-thumbwidth" => '96'}
          - p.decorate.get_mas.decorate.all_nonempty_img_fields.each do |f|
            = image_tag p.decorate.get_mas_img_url(f, :detail)
        .product-info.box
          -if p.shop
            %h4=link_to "Shop: #{p.shop.shopname}", p.shop
          %h4= p.name
          %p.text-smaller.text-muted= truncate(p.desc, :length => 64)
          %h5.product-info-price= "$#{p.decorate.get_mas.price}"
          .btn-toolbar
            .col-xs-4
              = form_tag add_product_to_orders_path, :method => :patch do
                = hidden_field_tag 'sku[product_id]', "#{p.id}"
                - if enough_inventory(p.decorate.get_mas, 1)
                  %button.btn.btn-primary.btn-small{ :type => 'submit', :title => "#{I18n.t(:add_to_cart, scope: :popular_products)}" }
                  %i.fa.fa-shopping-cart
                - else
                  %button.btn.btn-primary.btn-small{ :type => 'submit', :title => "#{I18n.t(:not_available, scope: :popular_products)}", :disabled => true }
                  %i.fa.fa-shopping-cart

            .col-xs-4
              - if user_signed_in?
                .dropdown
                  %a.btn.dropdown-toggle.btn-small{:id => "dropdown_toggle_#{p.id}", 'data-toggle' => 'dropdown', :type => 'button', :class => "#{in_user_collections?(p) ? 'btn-success' : 'btn-primary' }", :title => "#{I18n.t(:add_to_favorite, scope: :popular_products)}" }
                    %i.fa.fa-heart
                    %span.caret
                  %ul.dropdown-menu.scrollable-menu
                    - current_user.oCollections.each do |c|
                      %li
                        %label
                          = check_box_tag "collection_checkbox_#{c.id}", c.products.include?(p), c.products.include?(p), { :onclick => "#{generate_toggle_product_in_collection_js(c.id, p.id)}" }
                          %i{ :class => "#{c.public ? 'fa fa-users' : 'fa fa-user'}" }= c.name
              - else
                .dropdown
                  %a.btn.btn-default.btn-small{:href => '#', 'data-toggle' => 'dropdown', 'data-placement' => 'bottom', :title => "#{I18n.t(:add_to_favorite, scope: :popular_products)}" }
                    %i.fa.fa-heart
                    %span.caret
                  %btn.dropdown-menu
                    %li
                      .col-md-6
                        = link_to I18n.t(:sign_in, scope: :top_menu), user_session_path, :class => 'fa fa-sign-in', :style => 'color:black; text-decoration: underline'
                      .col-md-6
                        = link_to I18n.t(:sign_up, scope: :top_menu),  new_user_registration_path, :class => 'fa fa-edit', :style => 'color:black; text-decoration: underline'

            .col-xs-4
              - if user_signed_in?
                .dropdown
                  %a.btn.btn-primary.btn-small{ 'data-toggle' => 'dropdown', :id => "create_and_add_to_collection_dropdown_button_#{p.id}" , :title => "#{I18n.t(:create_and_add_to_favorite, scope: :popular_products)}" }
                    %i.fa.fa-share
                    %span.caret
                  %ul.dropdown-menu
                    %li
                      = form_tag '#', :style=>'min-width:300px;margin:4px', :id => "create_and_add_to_collection_form_#{p.id}" do
                        = text_field_tag 'collection[name]', nil, :placeholder => "#{I18n.t(:new_favorite, scope: :popular_products)}",  :id => "create_and_add_to_collection_form_input_name_#{p.id}", :autocomplete => :off
                        %label{ :style => 'margin:4px'}
                          = check_box_tag 'collection[public]'
                          %i.fa.fa-users{'data-toggle' => 'tooltip', 'data-placement' => 'bottom', :title => 'public' }
                        = hidden_field_tag :product_id, "#{p.id}"
                        =submit_tag I18n.t(:create_favorite, scope: :popular_products), :class => 'btn btn-primary', :onclick => "#{generate_create_and_add_to_collection_js(p.id)}"
              - else
                .dropdown
                  %a.btn.btn-default.btn-small{:href => '#', 'data-toggle' => 'dropdown', 'data-placement' => 'bottom', :title => "#{I18n.t(:create_and_add_to_favorite, scope: :popular_products)}" }
                    %i.fa.fa-share
                    %span.caret
                  %ul.dropdown-menu
                    %li{:style=>'min-width:250px'}
                      .col-md-6
                        = link_to I18n.t(:sign_in, scope: :top_menu), user_session_path, :class => 'fa fa-sign-in', :style => 'color:black; text-decoration: underline'
                      .col-md-6
                        = link_to  I18n.t(:sign_up, scope: :top_menu),  new_user_registration_path, :class => 'fa fa-edit', :style => 'color:black; text-decoration: underline'

    - for_device_type :desktop do
      - @products.each do |p|
        .mfp-with-anim.mfp-hide.mfp-dialog.mfp-dialog-big.clearfix{ :id => "product_quick_view_dialog_#{p.id}"}
          .row
            .col-md-7
              .fotorama{'data-allowfullscreen' => '1', 'data-nav' => 'thumbs', 'data-thumbheight' => '96', 'data-thumbwidth' => '96'}
                - p.decorate.get_mas.decorate.all_nonempty_img_fields.each do |f|
                  = image_tag p.decorate.get_mas_img_url(f, :detail)
            .col-md-5
              .product-page-meta
                -if p.shop
                  %h4=link_to "Shop: #{p.shop.shopname}", p.shop, :target => '_blank'
                %h4= p.name
                %p= truncate(p.desc, :length => 128)
                .gap
                = form_tag add_product_to_orders_path, :method => :patch do
                  = hidden_field_tag 'sku[product_id]', "#{p.id}"
                  - if p.decorate.get_mas
                    .form-inline
                      = select_tag 'sku[quantity]', options_for_select(1..[Rails.configuration.max_add_to_cart_each_time, p.decorate.get_mas.quantity].min, 1), :class => 'form-control input-lg', :style => 'width:72px', :id => "product_quantity_#{p.id}"
                      = submit_tag "#{I18n.t(:add_to_cart, scope: :popular_products)}", :class => 'btn btn-primary btn-lg', :disabled => (not enough_inventory(p.decorate.get_mas, 1))
                    %ul.list.product-page-meta-info
                      %ul.list.product-page-meta-price-list
                        %li
                          %span.product-page-meta-title= I18n.t(:variant_option, scope: :cart)
                          %span.product-page-meta-price= select_tag 'sku[option_ids]', options_for_select( get_options_for_select(p), p.decorate.get_mas.option_ids.join(',') ), :class => 'form-control variant-option', :id => 'option_ids', :product_id => p.id
                      - if p.decorate.get_mas
                        %li
                          %ul.list.product-page-meta-price-list
                            %li
                              %span.product-page-meta-title= I18n.t(:price, scope: :popular_products)
                              %span.product-page-meta-price{:id => "product_price_#{p.id}"}= "#{p.decorate.get_mas.price} #{p.shop.currency.code}"
                            %li
                              %span.product-page-meta-title= I18n.t(:discount, scope: :popular_products)
                              %span.product-page-meta-price{:id => "product_discount_#{p.id}"}= "#{p.decorate.get_mas.discount}%"
                            %li
                              %span.product-page-meta-title= I18n.t(:saving, scope: :popular_products)
                              %span.product-page-meta-price{:id => "product_saving_#{p.id}"}= "#{p.decorate.get_mas.price * p.decorate.get_mas.discount} #{p.shop.currency.code}"
                        %li
                          %ul.list.product-page-meta-price-list
                            %li
                              %span.product-page-meta-title= I18n.t(:inventory, scope: :popular_products)
                              %span.product-page-meta-price{:id => "product_inventory_#{p.id}"}= p.decorate.get_mas.limited ? p.decorate.get_mas.quantity : I18n.t(:unlimited, scope: :popular_products)
                  - else
                    = submit_tag "#{I18n.t(:not_available, scope: :popular_products)}", :class => 'btn btn-primary btn-lg', :disabled => true
          %hr
          .row
            .col-md-3
              - if user_signed_in?
                .dropdown
                  %button.btn.dropdown-toggle{:id => "dropdown_toggle_#{p.id}", 'data-toggle' => 'dropdown', :type => 'button', :class => "#{in_user_collections?(p) ? 'btn-success' : 'btn-primary' }"  }
                    %i.fa.fa-heart
                    = I18n.t(:add_to_favorite, scope: :popular_products)
                    %span.caret
                  %ul.dropdown-menu.scrollable-menu
                    - current_user.oCollections.each do |c|
                      %li
                        %label
                          = check_box_tag "collection_checkbox_#{c.id}", c.products.include?(p), c.products.include?(p), { :onclick => "#{generate_toggle_product_in_collection_js(c.id, p.id)}" }
                          %i{ :class => "#{c.public ? 'fa fa-users' : 'fa fa-user'}" }= c.name
              - else
                .dropdown
                  %a.btn.btn-default{:href => '#', 'data-toggle' => 'dropdown', 'data-placement' => 'bottom', :title => 'Yu haven\'t signed in' }
                    %i.fa.fa-heart
                    = I18n.t(:add_to_favorite, scope: :popular_products)
                    %span.caret
                  %ul.dropdown-menu
                    %li{:style=>'min-width:250px'}
                      .col-md-6
                        = link_to I18n.t(:sign_in, scope: :top_menu), user_session_path, :class => 'fa fa-sign-in', :style => 'color:black; text-decoration: underline'
                      .col-md-6
                        = link_to I18n.t(:sign_up, scope: :top_menu),  new_user_registration_path, :class => 'fa fa-edit', :style => 'color:black; text-decoration: underline'
            .col-md-3
              - if user_signed_in?
                .dropdown
                  %button.btn.btn-primary{ 'data-toggle' => 'dropdown', :id => "create_and_add_to_collection_dropdown_button_#{p.id}"  }
                    %i.fa.fa-share
                    = I18n.t(:create_and_add_to_favorite, scope: :popular_products)
                    %span.caret
                  %ul.dropdown-menu
                    %li
                      = form_tag '#', :style=>'min-width:300px;margin:4px', :id => "create_and_add_to_collection_form_#{p.id}" do
                        = text_field_tag 'collection[name]', nil, :placeholder => "#{I18n.t(:new_favorite, scope: :popular_products)}",  :id => "create_and_add_to_collection_form_input_name_#{p.id}", :autocomplete => :off
                        %label{ :style => 'margin:4px'}
                          = check_box_tag 'collection[public]', 'true', :checked => true
                          %i.fa.fa-users{'data-toggle' => 'tooltip', 'data-placement' => 'bottom', :title => 'public' }
                        = hidden_field_tag :product_id, "#{p.id}"
                        =submit_tag I18n.t(:create_favorite, scope: :popular_products), :class => 'btn btn-primary', :onclick => "#{generate_create_and_add_to_collection_js(p.id)}"
              - else
                .dropdown
                  %a.btn.btn-default{:href => '#', 'data-toggle' => 'dropdown', 'data-placement' => 'bottom', :title => 'You haven\'t signed in' }
                    %i.fa.fa-share
                    = I18n.t(:create_and_add_to_favorite, scope: :popular_products)
                    %span.caret
                  %ul.dropdown-menu
                    %li{:style=>'min-width:250px'}
                      .col-md-6
                        = link_to I18n.t(:sign_in, scope: :top_menu), user_session_path, :class => 'fa fa-sign-in', :style => 'color:black; text-decoration: underline'
                      .col-md-6
                        = link_to  I18n.t(:sign_up, scope: :top_menu),  new_user_registration_path, :class => 'fa fa-edit', :style => 'color:black; text-decoration: underline'
      .row
        %div{class: "+spacer"}
        %div{class: "col-md-10 col-md-push-1 col-md-pull-1"}
          .col-md-3
            %aside.sidebar-left
              %div#left_menu
                %ul
                  %li#left_menu_header{ :class => 'has-sub active'}
                    %a{:href => '#' }
                      = I18n.t(:categories, scope: :category)
                  - @categories_and_children.keys.each do |c|
                    %li{ :class => 'has-sub' }
                      %a{:href => "#{show_products_in_category_path(c.id)}" }
                        %i= ' ' + c.name
                        %span= @categories_and_counters[c]
                      %ul
                        - @categories_and_children[c].each do |cc|
                          %li
                            %a{:href => "#{show_products_in_category_path(cc.id)}" }
                              %i= cc.name
                              %span= @categories_and_counters[cc]
          .col-md-9
            = render partial: "pages/products_list", :locals => { :products => @products }
            -#.col-lg-12.col-md-12.col-sm-12
            -#  = will_paginate @products, renderer: BootstrapPagination::Rails