:javascript
  $( document ).ready( function () {
    $.widget( "custom.catcomplete", $.ui.autocomplete, {
      _create: function() {
          this._super();
          this.widget().menu( "option", "items", "> :not(.ui-autocomplete-category)" );
      },
      _renderMenu: function( ul, items ) {
          var that = this,
              search_category = "";
          $.each( items, function( index, item ) {
              var li;
              if ( item.sc != search_category ) {
                  ul.append( "<li class='ui-autocomplete-category'>" + item.sc + "</li>" );
                  search_category = item.sc;
              }
              li = that._renderItemData( ul, item );
              if ( item.sc ) {
                  li.attr( "aria-label", item.sc + " : " + item.label );
              }
          });
      }
    });

    $( "#products_search_area" ).catcomplete({
      delay: 1000,
      source: '/products/autocomplete_product_name',
      select: function (a, b) {
        $(this).val(b.item.value);
        $("#search_products_form").submit()
      }
    });
  });

=content_for :search_area do
  = form_tag search_products_path, :method => :post, :id => 'search_products_form', :class => 'search-area form-group' do
    .container
      .row
        .col-md-8.clearfix
          %label
            %i.fa.fa-search
            %span I am searching for
          .search-area-division.search-area-division-input
            =text_field_tag :products_search_area, params[:products_search_area], :placeholder => 'a product', :class => 'form-control'
        .col-md-3.clearfix
          %label
            %span= 'in the product criteria.'
        .col-md-1
          %button.btn.btn-block.btn-white.search-btn{:type => 'submit'}= 'Search'
.container
  - @products.each do |p|
    .mfp-with-anim.mfp-hide.mfp-dialog.mfp-dialog-big.clearfix{ :id => "product-quick-view-dialog-#{p.id}"}
      .row
        .col-md-8
          .fotorama{"data-allowfullscreen" => "1", "data-nav" => "thumbs", "data-thumbheight" => "100", "data-thumbwidth" => "100"}
            =image_tag p.imglg, :alt => "Image Alternative text",  :title => "waipio valley"
            =image_tag p.img, :alt => "Image Alternative text",  :title => "The Hidden Power of the Heart"
            =image_tag p.img, :alt => "Image Alternative text",  :title => "Tcascada"
            =image_tag p.img, :alt => "Image Alternative text",  :title => "the best mode of transport here in maldives"
            =image_tag p.img, :alt => "Image Alternative text",  :title => "a turn"
        .col-md-4
          .product-page-meta
            -if p.shop
              %h4=link_to "Shop: #{p.shop.name}", p.shop, :target => "_blank"
            %h4= p.name
            %p= p.desc
            = form_tag add_product_to_order_path(p) do
              =submit_tag "$#{p.price} Add to Basket", :class => "btn btn-primary btn-lg btn-block"
            %ul.list.product-page-meta-info
              %li
                %ul.list.product-page-meta-price-list
                  %li
                    %span.product-page-meta-title List Price
                    %span.product-page-meta-price $1000
                  %li
                    %span.product-page-meta-title Discount
                    %span.product-page-meta-price 77.5%
                  %li
                    %span.product-page-meta-title Savings
                    %span.product-page-meta-price $775
              %li
                %span.product-page-meta-title Time Left to Buy
                / COUNTDOWN
                .countdown.countdown-inline{"data-countdown" => "Aug 25, 2013 10:45:00"}
              %li
                %span.product-page-meta-title 5000+ bought
      %hr/
      %a.btn.btn-primary{:href => "#"} More Details
  .row
    .col-md-3
      %aside.sidebar-left
        %div#left_menu
          %ul
            %li{ :class => 'active'}
              %a{:href => "#" }
                %span= 'Categories'
            - get_all_first_level_categories_from_cache().each_with_index do |c, i|
              %li{ :class => i == 0 ? 'has-sub' : 'has-sub' }
                %a{:href => "#{show_products_in_category_path(c.id)}" }
                  %span{ :class => "fa #{c.cssc}" }= ' ' + c.name
                %ul
                  - get_second_level_categories_from_cache(c).each do |cc|
                    %li
                      %a{:href => "#{show_products_in_category_path(cc.id)}"}
                        %span= cc.name
    .col-md-9
      #masonry.row.row-wrap
        - @products.each do |p|
          %a.col-md-3.col-masonry.popup-text{"data-effect" => "mfp-move-from-top", :href => "#product-quick-view-dialog-#{p.id}",  :shop_link => "#{p.shop ? shop_path(p.shop) : ''}"}
            .product-thumb
              %header.product-header
                =image_tag  p.img, :alt => p.name, :title => p.name
                .product-quick-view
                  %span.fa.fa-eye
              .product-inner
                %h5.product-title= truncate(p.name, :length => 16)
                .product-desciption= truncate(p.desc, :length => 16)
                .product-meta
                  %span.product-time
                    %i.fa.fa-clock-o
                    8 days 47 h
                  %ul.product-price-list
                    %li
                      %span.product-price $102
                    %li
                      %span.product-old-price $188
                %p.product-location
                  %i.fa.fa-map-marker
                  Boston