<div class="+spacer"></div>

  <div class="row col-md-8 col-md-push-2 col-md-pull-2 product-page">

    <!-- Preview -->
    <div class="col-md-6">

      <%= render partial: "products/show/preview", :locals => {product: @product} %>

    </div>

    <!-- Shop + Product description -->
    <div class="col-md-6">

        <h2>
          <%= @product.name %> <%= render partial: "products/show/like", :locals => { :product => @product } %>
        </h2>

        <% if @product.decorate.get_mas %>

          <span class="+price-yuan"><%= @product.decorate.preview_price %></span> <span class="+price-euro"><%= @product.decorate.preview_price_euro %></span>

        <% end %>

        <% unless @product.decorate.get_mas.unlimited %>
          <% if @product.decorate.get_mas.quantity <= ::Rails.application.config.digpanda["products_warning"] %>
            | <span class="+red +up +bold"> Only <%= @product.decorate.get_mas.quantity %> left</span>
          <% end %>
        <% end %>

        <div class="+small-spacer"></div>

        <%= form_tag add_product_to_orders_path, :method => :patch do %>

            <%= hidden_field_tag 'sku[product_id]', "#{@product.id}" %>

            <% if @product.decorate.get_mas %>

                <%= render partial: "products/show/select_sku", :locals => {product: @product} %>

                <div class="+small-spacer"></div>

                <%= render partial: "products/show/select_quantity", :locals => {product: @product} %>

            <% else %>

                <%= submit_tag "#{I18n.t(:not_available, scope: :popular_products)}", :class => 'btn btn-primary btn-lg', :disabled => true %>

            <% end %>
        <% end %>

        <div class="+small-spacer"></div>

        <h3>Description</h3>

        <%= @product.desc %>

        <div class="+small-spacer"></div>
        
        <h3>Other things</h3>

        Nothing yet
        
    </div>

  </div>

  <div class="row">
    <div class="+spacer"></div>
  </div>