<div class="+spacer"></div>

  <div class="row col-md-8 col-md-push-2 col-md-pull-2 product-page">

    <!-- Preview -->
    <div class="col-md-6">

      <%= render partial: "products/show/preview", :locals => {product: @product} %>

    </div>

    <!-- Shop + Product description -->
    <div class="col-md-6">

        <%= render partial: "products/show/introduction", :locals => {product: @product} %>

        <div class="+small-spacer"></div>

        <% if @product.decorate.get_mas %>

        <%= render partial: "products/show/price_details", :locals => {product: @product} %>

        <% end %>

        <div class="+small-spacer"></div>

        <%= form_tag add_product_to_orders_path, :method => :patch do %>

            <%= hidden_field_tag 'sku[product_id]', "#{@product.id}" %>

            <% if @product.decorate.get_mas %>

                <%= render partial: "products/show/select_sku", :locals => {product: @product} %>

                <div class="+small-spacer"></div>

                <%= render partial: "products/show/select_quantity", :locals => {product: @product} %>

            <% else %>

                <%= submit_tag "#{I18n.t(:not_available, scope: :popular_products)}", :class => 'btn btn-primary btn-lg', :disabled => true %>

            <% end %>
        <% end %>

    </div>

  </div>
