<%= content_tag(:div, nil, :id => "js-show-skus", :data => {

  :translation_non_selected_text => I18n.t(:non_selected_text, scope: :multiselect),
  :translation_n_selected_text   => I18n.t(:n_selected_text, scope: :multiselect)

  })

%>

<a class="btn-lg btn btn-primary" href="<%= show_products_shop_path(@product.shop.id, :user_info_edit_part => :edit_product ) %>">
  <i class="fa fa-chevron-left"></i>
  <%= I18n.t(:return, scope: :edit_product_detail) %>
</a>
<a class="btn-lg btn btn-primary" href="<%= new_sku_product_path(@product.id, :user_info_edit_part => :edit_product_detail_new) %>">
  <i class="fa fa-plus-circle"></i>
  <%= I18n.t(:new_sku, scope: :edit_product_detail) %>
</a>
<br/>
<br/>


<% if @product.skus.size > 0 %>
  <table class="table cart-table">
    <thead>
      <tr>
        <th>
          <label>
            <%= I18n.t(:image, scope: :edit_product_detail) %>
          </label>
        </th>
        <th>
          <label>
            <i class="fa fa-info-circle" title="<%= I18n.t(:variants_info, scope: :edit_product_detail) %>"></i>
            <%= I18n.t(:sku_variants_options, scope: :edit_product_detail) %>
          </label>
        </th>
        <th>
          <label>
            <%= I18n.t(:price, scope: :edit_product_detail) %>
          </label>
        </th>
        <th>
          <label>
            <%= I18n.t(:discount, scope: :edit_product_detail) %>
          </label>
        </th>
        <th>
          <label>
            <%= I18n.t(:quantity, scope: :edit_product_detail) %>
          </label>
        </th>
        <th>
          <label>
            <%= I18n.t(:operations, scope: :edit_product) %>
          </label>
        </th>
      </tr>
    </thead>
    <tbody>
      <% @product.skus.each do |s| %>
        <tr>
          <td>
            <%= link_to image_tag(s.decorate.first_nonempty_img_url(:thumb), :style => 'max-width:48px;max-height:auto'), edit_sku_product_path(@product.id, :user_info_edit_part => :edit_product_detail_update, :sku_id => s.id) %>
          </td>
          <td>
            <%= select_tag :option_ids, grouped_options_for_select(@product.decorate.grouped_variants_options, s.option_ids ), :multiple => 'multiple', :class => 'sku-variants-options', :readonly=>true %>
          </td>
          <td>
            <%= number_with_precision(s.price ? s.price : 0, :precision => 2) + ' ' + @product.shop.currency.code %>
          </td>
          <td>
            <%= s.discount.to_s + '%' if s.discount != 0 %>
          </td>
          <td>
            <%= s.unlimited ? I18n.t(:info, scope: 'edit_product_detail.unlimited') : s.quantity %>
          </td>
          <td>
            <%= link_to '', edit_sku_product_path(@product.id, :user_info_edit_part => :edit_product_detail_update, :sku_id => s.id), :class => 'fa fa-edit btn', :title => I18n.t(:edit, scope: :edit_product_detail) %>
            <%= link_to '', clone_sku_product_path(@product.id, :user_info_edit_part => :edit_product_detail_clone, :sku_id => s.id), :class => 'fa fa-files-o btn', :title => I18n.t(:clone, scope: :edit_product_detail) %>
            <%= link_to '', remove_sku_product_path(@product.id, s.id), method: :delete, data: { confirm: "#{I18n.t(:delete_sku_message, scope: :edit_product_detail)}" }, :class => 'fa fa-times-circle btn', :title => I18n.t(:remove, scope: :edit_product_detail) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <h4>
    <%= I18n.t(:no_detail, scope: :edit_product_detail).html_safe %>
  </h4>
<% end %>
