= javascript_include_tag 'bootstrap-multiselect.js'
= stylesheet_link_tag 'bootstrap-multiselect.css'

:javascript
  $(document).ready(function() {
      $('select.product-categories').multiselect({
        nonSelectedText: "#{I18n.t(:non_selected_text, scope: :multiselect)}",
        nSelectedText: "#{I18n.t(:n_selected_text, scope: :multiselect)}",
        numberDisplayed: 1,
        maxHeight: 400
      }).multiselect('disable');
  });

%a.btn.btn-primary{ :class => "#{for_device_type :desktop do 'btn-lg' end}",  :href => edit_user_path(current_user, :user_info_edit_part => :edit_product_new) }
  %i.fa.fa-plus-circle
  = I18n.t(:new, scope: :edit_product)

%br
%br

- if current_user.shop.products.count > 0
  %table.table.cart-table
    %thead
      %tr
        %th
          %label= I18n.t(:name, scope: :edit_product)
        %th
          %label= I18n.t(:brand, scope: :edit_product)
        -#%th{ :title => I18n.t(:categories_info, scope: :edit_product) }
        -#  %i.fa.fa-info-circle{ :title => I18n.t(:categories_info, scope: :edit_product) }
        -#  %label= I18n.t(:categories, scope: :edit_product)
        %th
          %label= I18n.t(:quantity, scope: :edit_product_detail)
        %th
          %label= I18n.t(:operations, scope: :edit_product)
    %tbody
      - current_user.shop.products.each do |p|
        %tr
          %td= link_to p.get_locale_name, edit_user_path(current_user, :user_info_edit_part => :edit_product_update, :product_id => p.id)
          %td= p.brand
          -#%td= select_tag :categories, grouped_options_for_select(get_grouped_categories_options, p.categories.map { |c| c.id.to_s }), :prompt => I18n.t(:non_selected_text, scope: :multiselect), :include_blank => true, :class => 'form-control product-categories'
          %td= link_to I18n.t(:quantity_info, scope: :edit_product, num1: p.skus.inject(0) { |sum, s| sum += s.quantity }, num2: p.options.count), edit_user_path(current_user, :user_info_edit_part => :edit_product_detail, :product_id => p.id)
          %td{:align => "left"}
            = link_to '', product_path(p), :method => :delete, data: { confirm: I18n.t(:delete_product_message, scope: :edit_product) }, :class => 'fa fa-times-circle fa-2x', :title => I18n.t(:remove, scope: :edit_product)
- else
  %h4= I18n.t(:no_product, scope: :edit_product)