
<div class="+spacer"></div>

  <div class="row">

    <div class="col-md-1"></div>

    <!-- Preview -->
    <div class="col-md-5">

      <%= render partial: "products/popup/preview", :locals => {product: @product} %>

    </div>

    <!-- Shop + Product description -->
    <div class="col-md-5">

      <div class="product-page-meta">

        <%= render partial: "products/popup/introduction", :locals => {product: @product} %>
        TODO : remove see more etc.

        <div class="gap"></div>

        <%= form_tag add_product_to_orders_path, :method => :patch do %>

            <%= hidden_field_tag 'sku[product_id]', "#{@product.id}" %>

            <% if @product.decorate.get_mas %>

                <%= render partial: "products/popup/select_quantity", :locals => {product: @product} %>

                <ul class="list @product-page-meta-info">

                <%= render partial: "products/popup/select_sku", :locals => {product: @product} %>

                  <% if @product.decorate.get_mas %>

                      <%= render partial: "products/popup/price_details", :locals => {product: @product} %>

                  <% end %>

                </ul>

            <% else %>

                <%= submit_tag "#{I18n.t(:not_available, scope: :popular_products)}", :class => 'btn btn-primary btn-lg', :disabled => true %>

            <% end %>
        <% end %>
      </div>


    </div>

    <div class="col-md-1"></div>

  </div>

  <hr/>
