<p id="notice"><%= notice %></p>

<p>
  <strong>Zupid:</strong>
  <%= @product.Zupid %>
</p>

<p>
  <strong>Programid:</strong>
  <%= @product.ProgramId %>
</p>

<p>
  <strong>Merchantproductnumber:</strong>
  <%= @product.MerchantProductNumber %>
</p>

<p>
  <strong>Productname:</strong>
  <%= @product.ProductName %>
</p>

<p>
  <strong>Productprice:</strong>
  <%= @product.ProductPrice %>
</p>

<p>
  <strong>Productpriceold:</strong>
  <%= @product.ProductPriceOld %>
</p>

<p>
  <strong>Currencysymbolofprice:</strong>
  <%= @product.CurrencySymbolOfPrice %>
</p>

<p>
  <strong>Update date:</strong>
  <%= @product.Update_Date %>
</p>

<p>
  <strong>Validfromdate:</strong>
  <%= @product.ValidFromDate %>
</p>

<p>
  <strong>Validtodate:</strong>
  <%= @product.ValidToDate %>
</p>

<p>
  <strong>Productshortdescription:</strong>
  <%= @product.ProductShortDescription %>
</p>

<p>
  <strong>Productlongdescription:</strong>
  <%= @product.ProductLongDescription %>
</p>

<p>
  <strong>Merchantproductcategory:</strong>
  <%= @product.MerchantProductCategory %>
</p>

<p>
  <strong>Zanoxcategoryids:</strong>
  <%= @product.ZanoxCategoryIds %>
</p>

<p>

  <strong>Imagesmallurl:</strong>
  <img src=<%= @product.ImageSmallURL %> height="142" width="142">
</p>

<p>
  <strong>Imagemediumurl:</strong>
  <img src=<%= @product.ImageMediumURL %> height="242" width="242">


</p>

<p>
  <strong>Imagelargeurl:</strong>
  <img src=<%= @product.ImageLargeURL %> height="342" width="342">

</p>

<p>
  <strong>Productmanufacturerbrand:</strong>
  <%= @product.ProductManufacturerBrand %>
</p>

<p>
  <strong>Zanoxproductlink:</strong>
  <%= @product.ZanoxProductLink %>
</p>

<p>
  <strong>Merchantproductcategorynumber:</strong>
  <%= @product.MerchantProductCategoryNumber %>
</p>

<p>
  <strong>Deliverytime:</strong>
  <%= @product.DeliveryTime %>
</p>

<p>
  <strong>Termsofcontract:</strong>
  <%= @product.TermsOfContract %>
</p>

<p>
  <strong>Productean:</strong>
  <%= @product.ProductEAN %>
</p>

<p>
  <strong>Isbn:</strong>
  <%= @product.ISBN %>
</p>

<p>
  <strong>Shippingandhandling:</strong>
  <%= @product.ShippingAndHandling %>
</p>

<p>
  <strong>Shippingandhandlingcost:</strong>
  <%= @product.ShippingAndHandlingCost %>
</p>

<p>
  <strong>Extratextone:</strong>
  <%= @product.ExtraTextOne %>
</p>

<p>
  <strong>Extratexttwo:</strong>
  <%= @product.ExtraTextTwo %>
</p>

<p>
  <strong>Extratextthree:</strong>
  <%= @product.ExtraTextThree %>
</p>

<p>
  <strong>Baseprice:</strong>
  <%= @product.BasePrice %>
</p>

<p>
  <strong>Basepricetext:</strong>
  <%= @product.BasePriceText %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
