%p#notice= notice
= form_for(@product) do |f|
  - if @product.errors.any?
    #error_explanation
      %h2
        = pluralize(@product.errors.count, "error")
        prohibited this product from being saved:
      %ul
        - @product.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :network
    %br
    = f.text_field :network
  .field
    = f.label :shopname
    %br
    = f.text_field :shopname
  .field
    = f.label :prodid
    %br
    = f.text_field :prodid
  .field
    = f.label :deeplink
    %br
    = f.number_field :deeplink
  .field
    = f.label :name
    %br
    = f.number_field :name
  .field
    = f.label :brand
    %br
    = f.text_field :brand
  .field
    = f.label :category
    %br
    = f.number_field :category
  .field
    %img{:src => "#{@product.img}"}
    = f.text_field :img
  .field
    %img{:src => "#{@product.imglg}"}
    = f.text_field :imglg
  .field
    = f.label :price
    %br
    = f.number_field :price
  .field
    = f.label :priceold
    %br
    = f.number_field :priceold
  .field
    = f.label :sale
    %br
    = f.number_field :sale
  .field
    = f.label :currency
    %br
    = f.text_area :currency
  .field
    = f.label :update
    %br
    = f.text_area :update
  .field
    = f.label :status
    %br
    = f.text_field :status
  .field
    = f.label :owner
    %br
    = f.text_field :owner
= link_to 'Edit', edit_product_path(@product)
|
= link_to 'Back', products_path
