<nav id="mobile-menu" class="navmenu navmenu-default navmenu-fixed-left offcanvas" role="navigation">

  <ul>
    <li>
      <% if notifications? %>
        <a href="<%= shared_notifications_path %>">
          <span><%= I18n.t(:my_profile, scope: :menu) %></span> <div class="+notif-bubble-inline"><%= current_user.notifications.unreads.count %></div>
        </a>
      <% else %>
        <a href="<%= menu_customer_account_path %>"><%= I18n.t(:my_profile, scope: :menu) %></a>
      <% end %>
    </li>
    <li><a href="<%= customer_favorites_path %>"><%= I18n.t(:my_favorites, scope: :menu) %></a></li>
    <hr />
    <% unless @freeze_header %>
      <% unless identity_solver&.wechat_customer? %>
        <% categories.each do |category| %>
          <li>
            <h3><a href="<%= guest_category_path(category) %>" id="<%= category.slug %>"><%= category.name %></a></h3>
            <ul>
              <% category.can_buy_shops(10).each do |shop| %>
                <li>
                  <a href="<%= guest_shop_path(shop) %>">
                    <h4><%= shop.shopname %></h4>
                    <%= shop.decorate.short_desc(16) %>
                  </a>
                </li>
              <% end %>
            </ul>
          </li>
          <hr/>
        <% end %>
      <% end %>
    <% end %>

  </ul>

</nav>
