<nav id="categories-menu">
  <ul>

  <!-- Account side -->
  <li><a href="<%= manage_cart_orders_path %>"><%= I18n.t(:my_cart, scope: :menu) %></a></li>
  <li>

  <% if current_user.nil? %>
    <a href="<%= new_user_session_path %>"><%= I18n.t(:signin) %></a>
  <% else %>
    <a href="<%= edit_account_user_path(current_user, :user_info_edit_part => :edit_account) %>"><%= I18n.t(:my_account, scope: :menu) %></a>
  <% end %>

  </li>

  <% unless @categories.empty? %>
    <% @categories.each do |category| %>
    <li>
      <a href="<%= category_path(category) %>"><%= category.name %></a>
    </li>
    <% end %>
  <% end %>
  </ul>
</nav>
