<div class="col-md-12">
  <div class="row">
    <h3>Operations</h3>
    <hr>
  </div>
  <div class="row">

    <% if operations.size > 0 %>
    <div class="main-table">
    <table>
      <thead>
        <th>
          ID
        </th>
        <th>
          Amount
        </th>
        <th>
          Description
        </th>
        <th>
          Creation
        </th>
      </thead>
      <tbody>
        <% operations.each do |operation| %>
        <tr>
          <td>
            <%= operation.id %>
          </td>
          <td>
            <%= operation.amount.in_euro.display %>
          </td>
          <td>
            <%= operation.desc %>
          </td>
          <td>
            <%= operation.c_at %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
    <% else %>
    <div class="+white-box +centered">
      <h4>
        No operation yet.
      </h4>
    </div>
    <% end %>

    <div class="+spacer"></div>
    <div>
    <%= form_for :referrer_provision_operation, :data => {:toggle => 'validator'}, :url => admin_referrer_provision_operations_path(@referrer.id), :method => :post do |f| %>

    <div class="col-md-6">
      <div class="row">
        <div class="col-md-6">
      <h4>Amount</h4>
      <%= f.text_field :amount %> EUR
    </div>
    <div class="col-md-6">
      <h4>Description</h4>
      <%= f.text_area :desc %>
    </div>
    </div>
    </div>
    <div class="col-md-6">
      <%= f.button "Decrease amount from referrer account", :class => "text-button --delete", name: "amount_direction", value: 'decrease' %>
      <div class="+small-spacer"></div>
      <%= f.button "Increase amount to referrer account", :class => "text-button --blue", name: "amount_direction", value: "increase" %>
    <% end %>
    </div>
  </div>

  </div>
</div>
