<div class="col-md-12">
  <div class="row">
    <h3>Provisions</h3>
    <hr>
  </div>
  <div class="row">

    <% if provisions.size > 0 %>
    <div class="main-table">
    <table>
      <thead>
        <th>
          #
        </th>
        <th>
          Order
        </th>
        <th>
          Provision
        </th>
        <th>
          Creation
        </th>
        <th>
          Action
        </th>
      </thead>
      <tbody>
        <% provisions.each do |provision| %>
        <tr>
          <td>
            <%= provision.id %>
          </td>
          <td>
            <a href="<%= admin_order_path(provision.order) %>"><%= provision.order.id %></a>
          </td>
          <td>
            <%= provision.provision.in_euro.display %>
          </td>
          <td>
            <%= provision.c_at %>
          </td>
          <td>
              <a href="<%= admin_referrer_provision_refresh_path(referrer, provision) %>"><i class="fa fa-magic tooltipster buttons buttons__purple" title="Refresh provision"></i></a>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
    <% else %>
    <div class="+white-box +centered">
      <h4>
        No provision yet.
      </h4>
    </div>
    <% end %>

  </div>
</div>
