<div class="col-md-12">
  <div class="row">

    <% if provisions.size > 0 %>
    <div class="main-table">
    <table>
      <thead>
        <th>
          #
        </th>
        <th>
          Order
        </th>
        <th>
          Inquiry
        </th>
        <th>
          Provision
        </th>
        <th>
          Creation
        </th>
        <th>
          Action
        </th>
      </thead>
      <tbody>
        <% provisions.each do |provision| %>
        <tr>
          <td>
            <%= provision.id %>
          </td>
          <td>
            <% if provision.order %>
              <a href="<%= admin_order_path(provision.order) %>"><%= provision.order.id %></a>
            <% else %>
              -
            <% end %>
          </td>
          <td>
            <% if provision.inquiry %>
              <a href="<%= admin_inquiry_path(provision.inquiry) %>"><%= provision.inquiry.id %></a>
            <% else %>
              -
            <% end %>
          </td>
          <td>
            <%= provision.provision.in_euro.display %>
          </td>
          <td>
            <%= provision.c_at %>
          </td>
          <td>
            <a href="<%= admin_referrer_provision_path(provision.referrer, provision) %>"><i class="fa fa-eye tooltipster buttons buttons__edit"></i></a>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
    <% else %>
    <div class="+white-box +centered">
      <h4>
        No provision yet.
      </h4>
    </div>
    <% end %>

  </div>
</div>
