<%= form_for [:admin, coupon] do |form| %>

<div class="row details__transparent-block">

  <!-- Code -->
  <div class="row">
    <div class="col-md-2">
      <label>
        Code
      </label>
    </div>

      <div class="col-md-10 form-group">
        <%= form.text_field :code, :class => 'form-control' %>
        <div class="help-block with-errors"></div>
        <em>If left empty, it will generate a code by itself.</em>
      </div>
  </div>

  <!-- Discount -->
  <div class="row">
    <div class="col-md-2">
      <label>
        Discount
      </label>
    </div>

      <div class="col-md-10 form-group">
        <%= form.text_field :discount %><%= form.select(:unit, {'%' => :percent, 'EUR' => :value}) %>
        <div class="help-block with-errors"></div>
      </div>
  </div>

  <!-- Minimum Order -->
  <div class="row">
    <div class="col-md-2">
      <label>
        Minimum Order
      </label>
    </div>

      <div class="col-md-10 form-group">
        <%= form.text_field :minimum_order %> EUR
        <div class="help-block with-errors"></div>
      </div>
  </div>

  <!-- Promotion Text -->
  <div class="row">
    <div class="col-md-2">
      <label>
        Unique
      </label>
    </div>

    <div class="col-md-10 form-group">
      <%= form.select(:unique, boolean_select) %>
      <div class="help-block with-errors"></div>
    </div>

  </div>

  <!-- Description -->
  <div class="row">
    <div class="col-md-2">
      <label>
        Description
      </label>
    </div>

      <div class="col-md-10 form-group">
        <%= form.text_field :desc, :class => 'form-control' %>
        <div class="help-block with-errors"></div>
      </div>
  </div>

  <h4>Restrict to ...</h4>
  <hr />

  <!-- Shop -->
  <div class="row">
    <div class="col-md-2">
        <label>
          Shop
        </label>
    </div>

      <div class="col-md-10 form-group">
        <%= form.select :shop, options_from_collection_for_select(Shop.all, :id, :shopname, form.object.shop&.id), { :include_blank => true }, { class: 'form-control' } %>
        <div class="help-block with-errors"></div>
        <em>On which shop can we apply this coupon ?</em>
      </div>
  </div>

  <!-- Product -->
  <div class="row">
    <div class="col-md-2">
        <label>
          Product
          <span class="+red +bold">This system is still under development. Please do not restrict to any product as it will not work.</span>
        </label>
    </div>

      <div class="col-md-10 form-group">
        <%= form.select :product, options_from_collection_for_select(Product.all, :id, :name, form.object.product&.id), { :include_blank => true }, { class: 'form-control' } %>
        <div class="help-block with-errors"></div>
        <em>On which product can we apply this coupon ?</em>
      </div>
  </div>

  <!-- User -->
  <div class="row">
    <div class="col-md-2">
      <label>
        User
      </label>
    </div>

      <div class="col-md-10 form-group">
        <%= customer_select(form) %>
        <div class="help-block with-errors"></div>
        <em>Who can use this coupon ?</em>
      </div>
  </div>

  <h4>Bind to ...</h3>
  <hr />

  <!-- Referrer -->
  <div class="row">
    <div class="col-md-2">
      <label>
        Referrer
      </label>
    </div>

      <div class="col-md-10 form-group">
        <%= form.select :referrer, options_from_collection_for_select(Referrer.all, :id, :reference_id, form.object.referrer&.id), :include_blank => true %>
        <div class="help-block with-errors"></div>
        <em>This is binded to the provision system. It does not restrict the coupon to any customer. It will give the provision to the selected referrer.</em>
      </div>
  </div>


  <!-- Exclude China -->
  <!-- <div class="row">
    <div class="col-md-2">
      <label>
        Exclude China
      </label>
    </div>

      <div class="col-md-10 form-group">
        <%= form.select(:exclude_china, boolean_select) %>
        <div class="help-block with-errors"></div>
      </div>
  </div> -->

</div>

<%= form.submit :class => 'big-button --blue', :value =>  "Save" %>

<% end %>
