<div class="details">
  <div class="row details__block">
    <h3>Edit coupon <%= @coupon.code %></h3>
    <hr>

    <%= form_for @coupon, url: admin_coupon_path(@coupon), method: :patch do |f| %>

      Code <%= f.text_field :code %>
      <br />

      Discount <%= f.text_field :discount %><%= f.select(:unit, {'%' => :percent, 'CNY' => :value}) %>
      <br />
      <br />
      Minimum order <%= f.text_field :minimum_order %> CNY
      <br />

      Unique <%= f.select(:unique, {'Yes' => true, 'No' => false}) %>
      <br />
      <br />

      Description <%= f.text_field :desc %>
      <br />
      <br />

      <%= f.submit "Edit coupon", {:class => "btn btn-primary"} %>
    <% end %>

  </div>
</div>
