<%= translation_js(:menu, :button) %>

<div id="categories-menu-left-side" class="hidden">

  <!-- Left side content start -->
  <% if cart_manager.products_number > 0 && !checkout_path? %>
    <div class="col-md-6 mobile-category-menu__right">
      <a href="<%= customer_cart_path %>" class="mobile-category-menu__right --checkout"><%= I18n.t(:checkout, scope: :button) %> <i class="fa fa-check-circle"></i></a>
    </div>
  <% end %>
  <!-- End of left side content -->

</div>

<nav id="categories-menu">
  <ul>

    <!-- Account side -->
    <li><a href="<%= customer_cart_path %>"><%= I18n.t(:my_cart, scope: :menu) %></a></li>
    <li>

      <% if current_user.nil? %>
      <a href="<%= new_user_session_path %>"><%= I18n.t(:signin) %></a>
      <% else %>
      <a href="<%= Rails.application.routes.url_helpers.send("edit_#{current_user.role}_account_path") %>"><%= I18n.t(:my_account, scope: :menu) %></a>
      <% end %>

    </li>

    <% @categories.each do |category| %>
      <li>
        <a href="<%= guest_category_path(category) %>"><%= category.name %></a>
      </li>
    <% end %>

  </ul>
</nav>
