<table class="white-table">
  <thead>
    <tr>
      <th>
        <%= I18n.t(:item, scope: :cart) %>
      </th>
      <th>
        <%= I18n.t(:name, scope: :cart) %>
      </th>
      <th>
        <%= I18n.t(:variant_option, scope: :cart) %>
      </th>
      <th>
        <%= I18n.t(:quantity, scope: :cart) %>
      </th>
      <th>
        <%= I18n.t(:unit_price, scope: :cart) %>
      </th>
      <th>
        <%= I18n.t(:operations, scope: :cart) %>
      </th>
    </tr>
  </thead>
  <tbody>
    <% order.order_items.each do |order_item| %>
    <tr id="<%= "order-item-#{order_item.id}" %>">
      <td class="cart-item-image">
        <a href="<%= guest_product_path(order_item.product) %>">
          <img src="<%= order_item.sku.decorate.highlighted_image(:thumb) %>" class="icon-img"/>
        </a>
      </td>
      <td>
        <% if order_item.package_set %>
        <a href="<%= guest_package_set_path(order_item.package_set) %>">
          <%= order_item.product.name %> (<%= order_item.package_set.name %>)
       </a>
        <% else %>
        <a href="<%= guest_product_path(order_item.product) %>">
          <%= order_item.product.name %>
        </a>
        <% end %>
      </td>
      <td>
        <%= select_tag :option_ids, grouped_options_for_select(order_item.product.decorate.grouped_variants_options, order_item.option_ids), {:multiple => 'multiple', :class => 'sku-variants-options'} %>
      </td>
      <td class="white-table__quantity">

        <div class="row">
          <!-- Minus -->
          <div class="col-md-3">
            <% unless order_item.locked? || cart_manager.out?(order) %>
            <a href="#" class="js-set-quantity-minus" data-order-item-id="<%= order_item.id.to_s %>" data-order-shop-id="<%= order.shop.id %>">
              <i class="fa fa-minus buttons buttons__quantity"></i>
            </a>
            <% end %>
          </div>

          <div class="col-md-3">
            <%= text_field_tag "", order_item.quantity, :id => "order-item-quantity-#{order_item.id.to_s}", :type => 'text', :value => "#{order_item.quantity}", :disabled => "disabled", :data => { :order_item_id => order_item.id.to_s } %>
          </div>

          <!-- Plus -->
          <div class="col-md-3">
            <% unless order_item.locked? || cart_manager.out?(order) %>
            <a href="#" class="js-set-quantity-plus" data-order-item-id="<%= order_item.id.to_s %>" data-order-shop-id="<%= order.shop.id %>">
              <i class="fa fa-plus buttons buttons__quantity"></i>
            </a>
            <% end %>
          </div>

        </div>

        </div>

      </td>
      <td>
        <%= order_item.sku.decorate.price_after_discount_in_yuan %>
        <% if order_item.sku.discount > 0 %>
        <span class="+discount"><%= order_item.sku.decorate.discount_with_percent %></span>
        <% end %>
      </td>
      <% unless order_item.locked? || cart_manager.out?(order) %>
        <td>
          <%= link_to '', '#', class: 'fa fa-times buttons buttons__delete delete-order-item',
                      data: { id: order_item.id.to_s, order_id: order_item.order.id.to_s, order_shop_id: order_item.order.shop.id.to_s, mesage: I18n.t(:delete_sku_msg, scope: :cart) } %>
        </td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>
