  <div id="order-<%= order.id %>" class="row">
    <div class="col-xs-12">
      <div class="cart">

        <!-- Shop Name -->
        <div class="cart__order-title">
          <%= link_to order.shop.shopname, guest_shop_path(order.shop) %>
        </div>

        <!-- Order Item -->
        <%= render partial: 'customer/cart/show/order_items', :locals => { :order => order, :action => action } %>

        <div class="row cart__total">
          <div class="col-xs-12">

          <!-- Goods Price -->
          <div class="row">
            <div class="cart__total-goods">
              <div class="col-xs-6">
                <%= I18n.t(:goodsprice, scope: :cart) %>
              </div>
              <div class="col-xs-6">
                <div class="cart__total-goods-price">
                  <% if order.discount? %>
                    <span id="order-total-price-with-taxes-<%= order.shop.id %>" class="cart__total-goods-price --crossed">
                      <%= order.total_price_with_taxes.in_euro.to_yuan.display %>
                    </span>
                  <% else %>
                    <span id="order-total-price-with-taxes-<%= order.shop.id %>">
                      <%= order.total_price_with_taxes.in_euro.to_yuan.display %>
                    </span>
                    <% end %>
                </div>
              </div>
            </div>
          </div>

          <!-- With Coupon Price -->
          <% if order.discount? %>
            <div class="row">
              <div class="cart__total-discount">
                <div class="col-xs-6">
                  <%= I18n.t(:new_price, scope: :coupon) %>
                  <%= link_to '<i class="digpanda-remove"></i>'.html_safe, customer_order_coupons_path(order), :method => :delete, :class => 'tooltipster', :title => I18n.t(:remove_coupon, scope: :coupon) %>

                </div>
                <div class="col-xs-6">
                  <div class="cart__total-discount-price">
                    <span id="order-total-price-with-discount-<%= order.shop.id %>">
                      <%= order.total_price_with_discount.in_euro.to_yuan.display %>
                    </span> (<span id="order-discount-display-<%= order.shop.id %>"><%= order.coupon.decorate.discount_display %></span>)
                  </div>
                </div>
              </div>
            </div>
          <% end %>

          <!-- Shipping Cost -->
          <div class="row">
            <div class="cart__total-shipping">
              <div class="col-xs-6">
                <%= I18n.t(:shipping_cost, scope: :cart) %>
              </div>
              <div class="col-xs-6">
                <div class="cart__total-shipping-cost">
                  <span id="order-shipping-cost-<%= order.shop.id %>">
                    <%= order.shipping_cost.in_euro.to_yuan.display %>
                  </span>
                </div>
              </div>
            </div>
          </div>

          <!-- End Price -->
          <div class="row">
            <div class="cart__total-end">
              <div class="col-xs-6">
                <%= I18n.t(:total_price_with_currency_yuan, scope: :cart) %>
              </div>
              <div class="col-xs-6">
                <div class="cart__total-end-price">
                  <span id="order-end-price-<%= order.shop.id %>">
                    <%= order.decorate.end_price.in_euro.to_yuan.display %>
                  </span>
                </div>
              </div>
            </div>
          </div>

          <% unless order.discount? %>
            <% if action %>
              <%= form_for :coupon, url: customer_order_coupons_path(order), method: :post do |f| %>

              <!-- Coupon Form -->
              <div class="row">
                <div class="cart__total-coupon">
                  <div class="col-xs-6">
                    <%= f.text_field :code, :class => 'coupon__field', :placeholder => guess_coupon_label, :autocomplete => 'off' %>
                  </div>
                  <div class="col-xs-6">
                    <div class="cart__total-coupon-button">
                      <input type="submit" value="<%= I18n.t(:apply, scope: :coupon) %>">
                    </div>
                  </div>
                </div>
              </div>

              <% end %>
            <% end %>
          <% end %>

          </div>
        </div>

        <% if action %>
          <div class="row">
            <div class="col-xs-12">
              <div class="+small-spacer"></div>
              <a id="#checkout-button" href="<%= customer_order_customer_path(order) %>" class="big-button --blue"><%= I18n.t(:checkout, scope: :cart) %></a>
              <div class="+small-spacer"></div>
            </div>
          </div>
        <% end %>

      </div>

    </div>
  </div>
