  <div id="order-<%= order.id %>" class="row">
    <div class="col-xs-12">
      <div class="cart">

        <!-- Shop Name -->
        <div class="cart__order-title">
          <%= link_to order.shop.shopname, guest_shop_path(order.shop) %>
        </div>

        <!-- Order Item -->
        <%= render partial: 'customer/cart/show/order_items', :locals => { :order => order } %>

        <div class="row cart__total">
          <div class="col-xs-12">

          <!-- Goods Price -->
          <div class="row">
            <div class="cart__total-goods">
              <div class="col-xs-6">
                <%= I18n.t(:subtotal, scope: :cart) %>
              </div>
              <div class="col-xs-6">
                <div class="cart__total-goods-price">
                  <!-- TODO : stylize the discount -->
                  <% if order.discount? %>
                  <span id="order-total-price-with-taxes-<%= order.shop.id %>" class="total__end-price --cross">
                    <%= order.total_price_with_taxes.in_euro.to_yuan.display %>
                  </span>
                  <% else %>
                  <span id="order-total-price-with-taxes-<%= order.shop.id %>">
                    <%= order.total_price_with_taxes.in_euro.to_yuan.display %>
                  </span>
                    <% end %>
                </div>
              </div>
            </div>
          </div>

          <!-- With Coupon Price -->
          <!-- TODO : this is not stylized yet, please use the same than the old one -->
          <% if order.discount? %>
            <div class="row">
              <div class="cart__total-discount">
                <div class="col-xs-6">
                  <%= I18n.t(:new_price, scope: :coupon) %>
                </div>
                <div class="col-xs-6">
                  <div class="cart__total-discount-price">
                    <span id="order-total-price-with-discount-<%= order.shop.id %>">
                      <%= order.total_price_with_discount.in_euro.to_yuan.display %>
                    </span> (<span id="order-discount-display-<%= order.shop.id %>"><%= order.coupon.decorate.discount_display %></span>)
                  </div>
                </div>
              </div>
            </div>
          <% end %>

          <!-- Shipping Cost -->
          <div class="row">
            <div class="cart__total-shipping">
              <div class="col-xs-6">
                <%= I18n.t(:shipping_cost, scope: :cart) %>
              </div>
              <div class="col-xs-6">
                <div class="cart__total-shipping-cost">
                  <span id="order-shipping-cost-<%= order.shop.id %>">
                    <%= order.shipping_cost.in_euro.to_yuan.display %>
                  </span>
                </div>
              </div>
            </div>
          </div>

          <!-- End Price -->
          <div class="row">
            <div class="cart__total-end">
              <div class="col-xs-6">
                <%= I18n.t(:total_price_with_currency_yuan, scope: :cart) %>
              </div>
              <div class="col-xs-6">
                <div class="cart__total-end-price">
                  <span id="order-end-price-<%= order.shop.id %>">
                    <%= order.decorate.end_price.in_euro.to_yuan.display %>
                  </span>
                </div>
              </div>
            </div>
          </div>

          <!-- Coupon Form -->
          <div class="row">
            <div class="cart__total-coupon">
              <div class="col-xs-6">
                <input type="text" placeholder="折扣码">
              </div>
              <div class="col-xs-6">
                <div class="cart__total-coupon-button">
                  <input type="submit" value="使用">
                </div>
              </div>
            </div>
          </div>

          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <div class="+small-spacer"></div>
            <a href="#" class="btn-large +checkout-button"><%= I18n.t(:checkout, scope: :cart) %></a>
            <div class="+small-spacer"></div>
          </div>
        </div>

      </div>

    </div>
  </div>
