<% if order_items.count > 0 %>
  <% order_items.pluck(:package_set_id).uniq.each do |package_set_id| %>
    <% package_set = PackageSet.find(package_set_id) %>
    <% package_sets_number = order_items.where(package_set_id: package_set_id).count / package_set.package_skus.count %>
    <div id="package-set-<%= package_set.id %>">
      <div class="row">
        <div class="col-md-12">
          <h4>
            <%= package_set.name %>
          </h4>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <table class="white-table">
            <thead>
            <tr>
              <th>
                <!-- PACKAGE COVER -->
              </th>
              <th>
                <!-- IMAGES WITH QUANTITY -->
              </th>
              <th>
                <!-- PRICE PER UNIT -->
              </th>
              <th>
              </th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>
                <img src="<%= package_set.cover %>" class="icon-img">
              </td>
              <td>
                <% order_items.where(package_set_id: package_set_id).each do |order_item| %>
                  <img src="<%= order_item.sku.decorate.highlighted_image %>" class="icon-img"/>
                <% end %>
              </td>
              <td style="text-align:right">
                <%= package_set.end_price.in_euro.to_yuan.display %>
                <strong><%= "x #{package_sets_number}" if package_sets_number > 1 %></strong>
              </td>
              <td style="text-align:center">
                <%= link_to '', '#', class: 'fa fa-times buttons buttons__delete delete-package-set',
                            data: { package_set_id: package_set.id.to_s,
                                    order_id: order_items.first.order.id.to_s,
                                    order_shop_id: order_items.first.order.shop.id.to_s} %>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  <% end %>
<% end %>

