<% if order_items.count > 0 %>
  <% order_items.pluck(:package_set_id).uniq.each do |package_set_id| %>
    <% package_set = PackageSet.find(package_set_id) %>
    <% package_sets_number = order_items.where(package_set_id: package_set_id).count / package_set.package_skus.count %>
    <div id="package-set-<%= package_set.id %>">
      <div class="row">
        <div class="col-md-12">
          <h4>
            <%= package_set.name %>
          </h4>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <table class="white-table">
            <thead>
            <tr>
              <th>
                <!-- PACKAGE COVER -->
              </th>
              <th>
                <!-- IMAGES WITH QUANTITY -->
              </th>
              <th>
                <!-- PRICE PER UNIT -->
              </th>
              <th>
              </th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>
                <img src="<%= package_set.cover %>" class="icon-img">
              </td>
              <td class="white-table__quantity">
                <div class="row">
                  <!-- Minus -->
                  <div class="col-md-3">
                    <% if action %>
                    <a href="#" class="js-set-package-quantity-minus" data-package-set-id="<%= package_set.id.to_s %>"
                       data-order-shop-id="<%= package_set.shop.id %>">
                      <i class="fa fa-minus buttons buttons__quantity"></i>
                    </a>
                    <% end %>
                  </div>

                  <div class="col-md-3">
                    <%= text_field_tag "", package_sets_number, :id => "package-quantity-#{package_set.id.to_s}",
                                       :type => 'text', :value => "#{package_sets_number}", :disabled => "disabled",
                                       :data => {:order_item_id => package_set.id.to_s} %>
                  </div>

                  <!-- Plus -->
                  <div class="col-md-3">
                    <% if action %>
                    <a href="#" class="js-set-package-quantity-plus" data-package-set-id="<%= package_set.id.to_s %>"
                       data-order-shop-id="<%= package_set.shop.id %>">
                      <i class="fa fa-plus buttons buttons__quantity"></i>
                    </a>
                    <% end %>
                  </div>
                </div>

        <!-- NOTE : this was removed temporarily -->
        <!-- <%# order_items.where(package_set_id: package_set_id).limit(6).each do |order_item| %>
                  <img src="<%#= order_item.sku.decorate.highlighted_image %>" class="icon-img"/>
                <%# end %> -->
              </td>
              <td style="text-align:right">
                <%= package_set.end_price.in_euro.to_yuan.display %>
                <p style="font-size: 8px;">( <%= I18n.t(:all_included, scope: :cart) %> )</p>

              </td>
              <td style="text-align:center">
                <% if action %>
                  <%= link_to '', '#', class: 'fa fa-times buttons buttons__delete delete-package-set',
                            data: { package_set_id: package_set.id.to_s,
                                    order_id: order_items.first.order.id.to_s,
                                    order_shop_id: order_items.first.order.shop.id.to_s} %>
                <% end %>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
