<div class="row">
  <div class="col-md-8 col-md-push-2">

    <!-- Subheader -->
    <%= render partial: 'customer/referrer/subheader', :locals => { back:  customer_referrer_path } %>

    <% unless @children_users.count == 0 %>
    <div class="referrer__orders">

      <!-- ORDERS LIST -->
      <div class="referrer__title">
        <%= I18n.t('referrer.children_insight') %>
      </div>

      <div class="referrer__list">
        <table>
          <thead>
            <th>
              #
            </th>
            <th>
              <%= I18n.t('referrer.insight_nickname') %>
            </th>
            <th>
              <%= I18n.t('referrer.insight_full_name') %>
            </th>
            <th>
              <%= I18n.t('referrer.user_total_bought') %>
            </th>
          </thead>
          <tbody>

            <% @children_users.each_with_index do |user, index| %>
                <tr>
                  <td>
                    <%= (index+1) %>
                  </td>
                  <td>
                    <%= user.nickname %>
                  </td>
                  <td>
                    <%= user.decorate.full_name %>
                  </td>
                  <td>
                    <%= user.orders.bought.map(&:end_price)&.reduce(&:+)&.in_euro&.display || (0.0.in_euro.display)%>
                  </td>
                </tr>
            <% end %>

          </tbody>
        </table>
      </div>

    </div>

    <div class="+spacer"></div>

    <% end %>

  </div>
</div>
