<div class="row">
  <div class="col-md-8 col-md-push-2">

    <!-- SUBHEADER (BACK BUTTON + REFERRER ID) -->
    <%= render partial: 'customer/referrer/subheader', :locals => { back: edit_customer_account_path } %>

    <div class="+small-spacer"></div>

    <!-- MENU -->
    <a href="<%= provision_customer_referrer_path %>" class="big-button --blue"><%= I18n.t('referrer.provision_insight') %></a>
    <div class="+small-spacer"></div>
    <a href="<%= qrcode_customer_referrer_path %>" class="big-button --green"><%= I18n.t('referrer.qrcode') %></a>
    <div class="+big-spacer"></div>
    <!--a href="<%= coupons_customer_referrer_path %>" class="big-button --grey"><%= I18n.t('referrer.your_coupons') %></a-->
    <div class="+white-box +centered">
      <%= I18n.t('referrer.your_coupons') %>:
      <span class="+green +bold">
        <% if @referrer.coupons.count >0 %>
          <%= @referrer.coupons.first.code %>
        <% end %>
       </span>
    </div>
    <div class="+small-spacer"></div>
    <div class="+white-box +centered">
      您的补贴折扣码(导游自用):
      <span class="+blue +bold">201707</span>
    </div>
    <div class="+big-spacer"></div>

  </div>
</div>
