<div class="row">
  <div class="col-md-8 col-md-push-2">

    <!-- SUBHEADER (BACK BUTTON + REFERRER ID) -->
    <%= render partial: 'customer/referrer/subheader', :locals => { back: edit_customer_account_path } %>

    <div class="+small-spacer"></div>

    <!-- MENU -->
    <a href="<%= provision_customer_referrer_path %>" class="big-button --green-hollow"><%= I18n.t('referrer.provision_insight') %></a>
    <div class="+small-spacer"></div>
    <a href="<%= qrcode_customer_referrer_path %>" class="big-button --green-hollow"><%= I18n.t('referrer.qrcode') %></a>

    <% if current_user.tester? %>
      <div class="+small-spacer"></div>
      <a href="<%= customer_referrer_links_path %>" class="big-button --green-hollow"><%= I18n.t('referrer.links') %></a>
    <% end %>

  </div>
</div>


<div class="row">
  <div class="col-md-8 col-md-push-2">
    <%= render partial: 'customer/referrer/show/coupons_details', :locals => {  :referrer => @referrer } %>
  </div>
</div>
