<div class="row">
  <div class="col-md-8 col-md-push-2">

    <!-- SUBHEADER (BACK BUTTON + REFERRER ID) -->
    <%= render partial: 'customer/referrer/subheader', :locals => { back: edit_customer_account_path } %>

    <div class="+small-spacer"></div>

    <!-- MENU -->
    <% if @referrer.group_leader %>
    <a href="<%= group_insight_customer_referrer_path %>" class="big-button --blue-hollow"><%= I18n.t('referrer.group_insight') %></a>
    <div class="+small-spacer"></div>
    <% end %>
    <% if current_user&.alphatester? %>
    <a href="<%= customer_referrer_customization_path %>" class="big-button --blue-hollow"><%= I18n.t('referrer.customize_site') %></a>
    <div class="+small-spacer"></div>
    <% end %>

    <a href="<%= provision_customer_referrer_path %>" class="big-button --blue"><%= I18n.t('referrer.provision_insight') %></a>
    <div class="+small-spacer"></div>
    <a href="<%= qrcode_customer_referrer_path %>" class="big-button --blue-hollow"><%= I18n.t('referrer.qrcode') %> <i class="fa fa-share-alt" aria-hidden="true"></i></a>
    <div class="+small-spacer"></div>

    <% if @referrer.newly_published_links.count > 0 %>
      <a href="<%= customer_referrer_links_path(cache: false) %>" class="big-button --blue-hollow"><%= I18n.t('referrer.links') %> <i class="fa fa-share-alt" aria-hidden="true"></i> <span class="notification__red"><%= @referrer.newly_published_links.count %></span></a>
    <% else %>
      <a href="<%= customer_referrer_links_path(cache: false) %>" class="big-button --blue-hollow"><%= I18n.t('referrer.links') %> <i class="fa fa-share-alt" aria-hidden="true"></i></a>
    <% end %>

  </div>
</div>


<div class="row">
  <div class="col-md-8 col-md-push-2">
    <%= render partial: 'customer/referrer/show/coupons_details', :locals => {  :referrer => @referrer } %>
  </div>
</div>
