<div class="row">
  <div class="col-md-8 col-md-push-2">

    <!-- SUBHEADER (BACK BUTTON + REFERRER ID) -->
    <%= render partial: 'customer/referrer/subheader', :locals => { back: edit_customer_account_path } %>

    <div class="+small-spacer"></div>

    <!-- MENU -->
    <a href="<%= provision_customer_referrer_path %>" class="big-button --blue"><%= I18n.t('referrer.provision_insight') %></a>
    <div class="+small-spacer"></div>
    <a href="<%= coupons_customer_referrer_path %>" class="big-button --green"><%= I18n.t('referrer.your_coupons') %></a>

    <div class="+big-spacer"></div>
  </div>
</div>
