<div class="col-md-12">

  <div class="row">
    <div class="col-md-8 +nopadding">
      <h3>About</h3>
      <hr>
    </div>
    <div class="col-md-4 +right">
      <span class="+red">*</span> <%= I18n.t(:required_field_info, scope: :edit_shop) %>
      <hr>
    </div>
  </div>

  <!-- Description -->
  <div class="row form-group">
    <div class="col-md-4">
      <label>
        <%= I18n.t(:desc, scope: :edit_shop) %> <span class="+red">*</span>
      </label>
    </div>
    <div class="col-md-8">
      <%= form.text_area :desc, :class => 'form-control', :required => true, :maxLength => Rails.configuration.max_medium_text_length %>
      <div class="help-block with-errors"></div>
    </div>
  </div>

  <!-- Philosophie -->
  <div class="row form-group">
    <div class="col-md-4">
      <label>
        <%= I18n.t(:philosophy, scope: :edit_shop) %> <span class="+red">*</span>
      </label>
    </div>
    <div class="col-md-8">
      <%= form.text_area :philosophy, :class => 'form-control', :required => true, :maxLength => Rails.configuration.max_medium_text_length %>
      <div class="help-block with-errors"></div>
    </div>
  </div>

  <!-- Stories -->
  <div class="row form-group">
    <div class="col-md-4">
      <label>
        <%= I18n.t(:stories, scope: :edit_shop) %> <span class="+red">*</span>
        <%= js_tips(:id => :stories, :tip => I18n.t(:stories_info, scope: :edit_shop)) %>
      </label>
    </div>
    <div class="col-md-8">
      <%= form.text_area :stories, :class => 'form-control', :required => true, :maxLength => Rails.configuration.max_medium_text_length %>
      <div class="help-block with-errors"></div>
    </div>
  </div>

  <!-- Uniqueness -->
  <div class="row form-group">
    <div class="col-md-4">
      <label>
        <%= I18n.t(:uniqueness, scope: :edit_shop) %>
        <%= js_tips(:id => :uniqueness, :tip => I18n.t(:uniqueness_info, scope: :edit_shop)) %>
      </label>
    </div>
    <div class="col-md-8">
      <%= form.text_area :uniqueness, :class => 'form-control', :maxLength => Rails.configuration.max_medium_text_length %>
      <div class="help-block with-errors"></div>
    </div>
  </div>

  <!-- German Essence -->
  <div class="row form-group">
    <div class="col-md-4">
      <label>
        <%= I18n.t(:german_essence, scope: :edit_shop) %>
        <%= js_tips(:id => :german_essence, :tip => I18n.t(:german_essence_info, scope: :edit_shop)) %>
      </label>
    </div>
    <div class="col-md-8">
      <%= form.text_area :german_essence, :class => 'form-control', :maxLength => Rails.configuration.max_medium_text_length %>
      <div class="help-block with-errors"></div>
    </div>
  </div>

</div>
