<div class="col-md-12">

  <div class="row">
    <div class="col-md-8 +nopadding">
      <h3>About</h3>
      <hr>
    </div>
    <div class="col-md-4 +right">
      <span class="+red">*</span> <%= I18n.t('edit_shop.required_field_info') %>
      <hr>
    </div>
  </div>

  <!-- Description -->
  <div class="row form-group">
    <div class="col-md-4">
      <label>
        <%= I18n.t('edit_shop.desc') %> <span class="+red">*</span>
      </label>
    </div>
    <div class="col-md-8">
      <%= form.text_area :desc, :class => 'form-control', :required => true, :maxLength => Rails.configuration.gitb[:max_medium_text_length] %>
      <div class="help-block with-errors"></div>
    </div>
  </div>

  <!-- Philosophie -->
  <div class="row form-group">
    <div class="col-md-4">
      <label>
        <%= I18n.t('edit_shop.philosophy') %> <span class="+red">*</span>
      </label>
    </div>
    <div class="col-md-8">
      <%= form.text_area :philosophy, :class => 'form-control', :required => true, :maxLength => Rails.configuration.gitb[:max_medium_text_length] %>
      <div class="help-block with-errors"></div>
    </div>
  </div>

  <!-- Stories -->
  <div class="row form-group">
    <div class="col-md-4">
      <label>
        <%= I18n.t('edit_shop.stories') %> <span class="+red">*</span>
        <%= js_tips(:id => :stories, :tip => I18n.t('edit_shop.stories_info')) %>
      </label>
    </div>
    <div class="col-md-8">
      <%= form.text_area :stories, :class => 'form-control', :required => true, :maxLength => Rails.configuration.gitb[:max_medium_text_length] %>
      <div class="help-block with-errors"></div>
    </div>
  </div>

  <!-- Uniqueness -->
  <div class="row form-group">
    <div class="col-md-4">
      <label>
        <%= I18n.t('edit_shop.uniqueness') %>
        <%= js_tips(:id => :uniqueness, :tip => I18n.t('edit_shop.uniqueness_info')) %>
      </label>
    </div>
    <div class="col-md-8">
      <%= form.text_area :uniqueness, :class => 'form-control', :maxLength => Rails.configuration.gitb[:max_medium_text_length] %>
      <div class="help-block with-errors"></div>
    </div>
  </div>

  <!-- German Essence -->
  <div class="row form-group">
    <div class="col-md-4">
      <label>
        <%= I18n.t('edit_shop.german_essence') %>
        <%= js_tips(:id => :german_essence, :tip => I18n.t('edit_shop.german_essence_info')) %>
      </label>
    </div>
    <div class="col-md-8">
      <%= form.text_area :german_essence, :class => 'form-control', :maxLength => Rails.configuration.gitb[:max_medium_text_length] %>
      <div class="help-block with-errors"></div>
    </div>
  </div>

</div>
