
<div class="col-md-12">

  <div class="row">
    <div class="col-md-8 +nopadding">
      <h3>Public informations</h3>
      <hr>
    </div>
    <div class="col-md-4 +right">
      <span class="+red">*</span> <%= I18n.t('edit_shop.required_field_info') %>
      <hr>
    </div>
  </div>

  <!-- Shopname + Website -->
  <div class="row">
    <div class="col-md-6 form-group">
      <%= form.label :shopname, I18n.t('edit_shop.shopname'), :class => 'required' %>
      <%= form.text_field :shopname, :class => 'form-control', :required => true, :maxLength => Rails.configuration.gitb[:max_short_text_length] %>
      <div class="help-block with-errors"></div>
    </div>
    <div class="col-md-6 form-group">
      <%= I18n.t('edit_shop.website') %>
      <%= form.text_field :website, :class => 'form-control', :maxLength => Rails.configuration.gitb[:max_short_text_length], :placeholder => 'www.mydomain.com' %>
      <div class="help-block with-errors"></div>
    </div>
  </div>

  <!-- Firstname + Lastname -->
  <div class="row">
    <div class="col-md-6 form-group">
      <%= form.label :fname, I18n.t('edit_shop_application.contact_fname'), :class => 'required' %>
      <%= form.text_field :fname, :class => 'form-control', :maxLength => Rails.configuration.gitb[:max_tiny_text_length], :required => true %>
      <div class="help-block with-errors"></div>
    </div>
    <div class="col-md-6 form-group">
      <%= form.label :lname, I18n.t('edit_shop_application.contact_lname'), :class => 'required' %>
      <%= form.text_field :lname, :class => 'form-control', :maxLength => Rails.configuration.gitb[:max_tiny_text_length], :required => true %>
      <div class="help-block with-errors"></div>
    </div>
  </div>

  <!-- Position + Email -->
  <div class="row">
    <div class="col-md-6 form-group">
      <%= form.label :mail, I18n.t('edit_shop_application.contact_email'), :class => 'required' %>
      <%= form.email_field :mail, :class => 'form-control', :maxLength => Rails.configuration.gitb[:max_short_text_length], :placeholder => 'example@google.com', :required => true %>
      <div class="help-block with-errors"></div>
    </div>
  </div>
</div>
