<%= translation_js(:max_exceeded_message, :image_upload) %>
<%= translation_js(:ext_error_message, :image_upload) %>

<%= form_for @user, :data => {:toggle => 'validator'}, :url => customer_account_path, :method => :patch do |f| %>

<div class="row">
  <div class="col-md-11 +centered +white-box">
    <div class="form-group">
      <div class="row">
        <%= f.label :pic, I18n.t('account.profile_picture'), :class => 'control-label' %>
        <i class="fa fa-info-circle" title="<%= I18n.t('account.profile_picture') %>"></i>
      </div>

      <div class="row">
        <%= image_tag (current_user.pic.url.nil? ? "/images/icons/default_user_pic.png" : current_user.pic.url), :class => 'logo-img-large', :id => "pic_#{current_user.id}" %>
      </div>
    </div>

    <div class="form-group">
      <div class="fileUpload btn btn-default">
        <span>
          <i class="fa fa-cloud-upload"></i>
          <%= I18n.t('image_upload.upload') %>
        </span>
        <%= f.file_field :pic, :accept => "image/png, image/jpeg, image/jpg", :class => 'img-file-upload upload', :img_id => "#pic_#{current_user.id}" %>
      </div>
    </div>
  </div>
</div>

<div class="+spacer"></div>

<div class="row">

  <div class="col-md-5 +white-box">

    <div class="form-group">
      <div class="pull-right required-info">
        <strong>
          <%= I18n.t(:required_field_info, scope: :edit_shop).html_safe %>
        </strong>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :email, I18n.t(:email, scope: :edit_account) %>
      <%= f.text_field :email, :class => 'form-control', :type => 'email' %>
    </div>

    <% unless @user.wechat? %>
      <%= render partial: "shared/user/partials/edit_password", :locals => { :f => f } %>
    <% end %>

  </div>

  <%= content_tag(:div, nil, :id => "js-show-datepicker", :data => { :language => I18n.locale }) %>

  <div class="col-md-5 col-md-push-1 +white-box">
    <%= render partial: "shared/user/partials/user_details", :locals => { :f => f } %>
  </div>

</div>

<div class="+small-spacer"></div>
<div class="row">
  <div class="col-md-11 +centered +white-box">
      <%= f.button I18n.t(:save, scope: :edit_account), :type => 'submit', :class => 'btn btn-primary' %>
  </div>
</div>

<% end %>
