<%= form_for @user, :data => {:toggle => 'validator'}, :url => customer_account_path, :method => :patch do |f| %>

<div class="row">

  <div class="col-md-5 col-md-push-6">
    <%= render partial: "shared/user/partials/user_details", :locals => { :f => f } %>
    <hr />
  </div>

  <div class="col-md-5 col-md-pull-5">

    <div class="form-group">
      <%= f.text_field :email, :class => 'form-control', :type => 'email', placeholder: I18n.t('edit_account.email') %>
    </div>

    <% unless @user.wechat? %>
      <%= render partial: "shared/user/partials/edit_password", :locals => { :f => f } %>
    <% end %>

    <hr />
  </div>

</div>

<div class="+small-spacer"></div>
<div class="row">
  <div class="col-md-11 +centeredx">
      <%= f.button I18n.t('edit_account.save'), :type => 'submit', :class => 'big-button --green' %>
  </div>
</div>

<% end %>
