%footer.main
  .footer-top-area
    .container
      .row.row-wrap
        .col-xs-6.col-sm-2.col-md-2
          - if !current_user && I18n.locale == :'zh-CN'
            %a{:href => '#'}
              = image_tag  'icons/Logo_laiyinn_g.png'
            %h5{ :style => 'padding-top:25px; color:#565a5c' }=I18n.t(:contact_us, scope: :footer)
            %h5=link_to 'customer@laiyinn.com', 'mailto:customer@laiyinn.com', :style => 'color:#49d2be'
          - elsif I18n.locale == :de
            %a{:href => '#'}
              = image_tag  'icons/Logo_RM_g.png'
            %h5{ :style => 'padding-top:25px; color:#565a5c' }=I18n.t(:contact_us, scope: :footer)
            %h5=link_to 'shop@rhein-manufaktur.eu', 'mailto:shop@rhein-manufaktur.eu', :style => 'color:#49d2be'

        .col-xs-6.col-sm-4.col-md-4
          %h4= I18n.t(:recent_news, scope: :footer)
          %ul.thumb-list
            %li
              .thumb-list-item-caption
                %p.thumb-list-item-meta 13-01-2016
                %h5.thumb-list-item-title
                  %a{:href => '#'}= I18n.t(:news_ihk_titel, scope: :footer)
                %p.thumb-list-item-desciption= I18n.t(:news_ihk, scope: :footer).html_safe

        .col-xs-6.col-sm-4.col-md-2.col-md-offset-1
          %h4= I18n.t(:rheinmanufaktur, scope: :footer)
          - if !current_user && I18n.locale == :'zh-CN'
            %h5=link_to I18n.t(:vouchers, scope: :footer), '#'
          - elsif !current_user &&  I18n.locale == :de
            %h5=link_to I18n.t(:privarcy_statement, scope: :footer), privacy_page_path, :target => 'blank'
            %h5=link_to I18n.t(:imprint, scope: :footer), imprint_page_path, :target => 'blank'

        .col-xs-6.col-sm-4.col-md-2.col-md-offset-1
          - if !current_user && I18n.locale == :'zh-CN'
            %h4= I18n.t(:buying, scope: :footer)
            %h5=link_to I18n.t(:buyer_faq, scope: :footer), '#'
            %h5=link_to I18n.t(:buyer_in_3_steps, scope: :footer), '#'
          - elsif !current_user && I18n.locale == :de
            %h4= I18n.t(:selling, scope: :footer)
            %h5=link_to I18n.t(:shop_application, scope: :edit_shop_application), new_shop_application_path
            %h5=link_to I18n.t(:sell_on_rm, scope: :footer), saleguide_page_path, :target => 'blank'

  .footer-copyright
    .container
      .row
        .col-md-4
          %p= I18n.t(:copyright, scope: :footer)
        .col-md-6.col-md-offset-2
