<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  <title><%= content_for?(:title) ? yield(:title) : "Achat" %></title>

  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "vendor/modernizr" %>
  <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <link rel="stylesheet" href="/assets/foundation.css"/>
  <meta name="description" content="Thumbnail Grid with Expanding Preview"/>
  <meta name="keywords" content="thumbnails, grid, preview, google image search, jquery, image grid, expanding, preview, portfolio"/>
  <meta name="author" content="Codrops"/>
  <link rel="shortcut icon" href="../favicon.ico">

  <link rel="stylesheet" type="text/css" href="/assets/default.css"/>

  <link rel="stylesheet" type="text/css" href="/assets/component.css"/>

  <script src="/assets/vendor/modernizr.js"></script>

  <script src="/assets/modernizr.custom.js"></script>

</head>

<body>
<div class="contain-to-grid sticky">




  <nav class="top-bar" data-topbar role="navigation" data-options="sticky_on: large">
    <ul class="title-area">
      <li class="name">
        <h1><a href="/"><%= image_tag("aChatLogo@1x.png", class: 'logo') %> Achat</a></h1>
      </li>

      <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>
    <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul class="navbar-right right">
        <li class="search-bar">
          <%= form_tag(gsearch_path, method: 'get', class: "search-form") do %>
              <%= select_tag 'search_topic', options_for_select([["Products", "2"], ["collections", "3"], ["People", "4"]]) %>
              <%= text_field_tag(:q, nil, class: 'search-bar') %>
              <%= submit_tag "Search", name: nil, class: 'alert button expand' %>
          <% end %>

       

        </li>
       

          <% if current_user %>

            <section class="top-bar-section">
              <ul class="left">
                <li class="active " style="position: absolute;right: 115px;display: inline-flex;">


                  <%= link_to image_tag(current_user.pic , class: 'currentuserpic'),  profile_path(current_user) %>

                  <%= current_user.username %>
                </li>

</ul>




                <ul class="right">

                  <li class="active" style="right: 0;position: absolute;">
                    <%= link_to('Logout', destroy_user_session_path, :method => :delete )%>


                  </li>

                </ul>

            </section>





  <% else %>
             <li class="active">

      <%= link_to image_tag("webicon-facebook-s.png"), user_omniauth_authorize_path(:facebook) %>


          </li>
           <li class="active">

  <%= link_to('Sign in', user_session_path) %> 


          </li>
  
  <% end %>




</li>
      </ul>
      <!-- Left Nav Section -->
    </section>
  </nav>
</div>

<%= yield %>

</body>


</html>
