!!!
%html
  %head
    - if I18n.locale == :'zh-CN' or (current_user && current_user.role == :customer)
      %title 莱茵工场
    - else
      %title Rhein-Manufaktur

    %meta{:content => 'text/html; charset=utf-8', 'http-equiv' => 'Content-Type'}
    %meta{:content => '莱茵工场', :name => 'keywords'}
    %meta{:content => '莱茵工场', :name => 'description'}
    %meta{:content => 'Y. Liu', :name => 'author'}
    %meta{:content => 'width=device-width, initial-scale=1.0', :name => 'viewport'}

    - # Brunch integration
    - #= javascript_include_tag "vendor"
    - #= javascript_include_tag "app"
    -#:javascript
    -#  require('initialize')
    - # End of Brunch integration

    = javascript_include_tag "application"
    = javascript_include_tag "views/#{params[:controller]}.js" if ::Rails.application.assets.find_asset("views/#{params[:controller]}.js")
    = javascript_include_tag "views/#{params[:controller]}/#{params[:action]}" if ::Rails.application.assets.find_asset("views/#{params[:controller]}/#{params[:action]}.js")
    = stylesheet_link_tag "application", :media => "all"

    = csrf_meta_tag

    - if session[:login_advice_counter].present?
      = hidden_field_tag :login_advice_counter, "#{session[:login_advice_counter]}"

    - if session[:signup_advice_counter].present?
      = hidden_field_tag :signup_advice_counter, "#{session[:signup_advice_counter]}"

    :javascript
      #{generate_validate_img_file_js}
      #{generate_set_datepicker_lang_js}

  %body
    = render "layouts/header/#{!current_user ? 'default' : current_user.role.to_s}"

    .gap

    - for_device_type :desktop, :tablet do
      .row{ :style => 'height:74px;margin-top:6px' }
        .col-md-4.pull-right
          - if flash[:error]
            .alert.alert-danger.fade.in{:role => 'alert'}
              %a.close{'aria-label' => 'close', 'data-dismiss' => 'alert', :href => '#'} &times;
              = flash[:error]
          - elsif flash[:info]
            .alert.alert-info.fade.in{:role => 'alert'}
              %a.close{'aria-label' => 'close', 'data-dismiss' => 'alert', :href => '#'} &times;
              = flash[:info]
          - elsif flash[:warning]
            .alert.alert-warning.fade.in{:role => 'alert'}
              %a.close{'aria-label' => 'close', 'data-dismiss' => 'alert', :href => '#'} &times;
              = flash[:warning]
          - elsif flash[:success]
            .alert.alert-success.fade.in{:role => 'alert'}
              %a.close{'aria-label' => 'close', 'data-dismiss' => 'alert', :href => '#'} &times;
              = flash[:success]

    .container{:style => 'height:80%'}
      = yield

    .gap

    = render "layouts/footer/#{!current_user ? 'default' : current_user.role.to_s}"


