<!DOCTYPE html>
<html lang="<%= I18n.locale %>">

<head>
  <%= render "layouts/application/meta" %>
  <%= render "layouts/application/head" %>
  <%= render "layouts/application/weixin" %>
  <%= render "layouts/application/stylesheets" %>
  <%= render "layouts/application/javascripts" %>

</head>

<body id="csstyle">

  <!-- Safe selector for the site -->
  <div id="germany-in-the-box"></div>

  <!-- Base container -->
  <div class="canvas"> <!-- Mobile menu related -->
    <div class="overlay"></div> <!-- Mobile menu related -->

    <div class="container-fluid">

      <%= render "layouts/#{solve_section}/header" %>
      <%= render "layouts/#{solve_section}/subheader" %>
      <div class="content content-<%= solve_section %>">
        <%= yield %>
      </div>
      <%= render "layouts/#{solve_section}/footer" %>

    </div>

  </div>

  <!-- Services -->
  <%= render "layouts/application/hidden_fields" %>
  <%= render "layouts/application/google_analytics" %>

  <!-- We don't use this service for now because it slows down users from China -->
  <!-- <%= render "layouts/application/hotjar" %> -->
</body>
</html>
