!!!
%html
  %head
    %title RheinManufaktur
    %meta{:content => 'text/html; charset=utf-8', 'http-equiv' => 'Content-Type'}
    %meta{:content => 'RheinManufaktur', :name => 'keywords'}
    %meta{:content => 'RheinManufaktur', :name => 'description'}
    %meta{:content => 'Y. Liu', :name => 'author'}
    %meta{:content => 'width=device-width, initial-scale=1.0', :name => 'viewport'}
    %link{:href => 'http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300', :rel => 'stylesheet', :type => 'text/css'}
    %link{:href => 'http://fonts.googleapis.com/css?family=Roboto:400,100,300', :rel => 'stylesheet', :type => 'text/css'}

    = csrf_meta_tag

    = javascript_include_tag 'jquery.js'
    = javascript_include_tag 'jquery_ujs.js'
    = javascript_include_tag 'jquery-ui/widget.js'
    = javascript_include_tag 'jquery-ui/autocomplete.js'

    = javascript_include_tag 'leftmenu/script.js'

    = javascript_include_tag 'bootstrap-datepicker/core.js'
    = javascript_include_tag 'bootstrap-datepicker/locales/bootstrap-datepicker.zh-CN.js'
    = javascript_include_tag 'bootstrap-datepicker/locales/bootstrap-datepicker.de.js'

    = stylesheet_link_tag 'couponia/css/boostrap.css'
    = stylesheet_link_tag 'couponia/css/font_awesome.css'
    = stylesheet_link_tag 'couponia/css/styles.css'

    = stylesheet_link_tag 'couponia/css/mystyles.css'

    = stylesheet_link_tag 'leftmenu/style.css'

    = stylesheet_link_tag 'achat.css'

    = stylesheet_link_tag 'bootstrap-datepicker.css'


    - if session[:login_advice_counter].present?
      = hidden_field_tag :login_advice_counter, "#{session[:login_advice_counter]}"

    - if session[:signup_advice_counter].present?
      = hidden_field_tag :signup_advice_counter, "#{session[:signup_advice_counter]}"

    :javascript
      $( document ).ready( function () {
        $.magnificPopup.instance.close = function () {
          var t = this.st.el[0]

          if (t.id == 'sign_in_link') {
            $.ajax({dataType: 'json', url: '/cancel_login'})
          }

          if (t.id == 'sign_up_link') {
            $.ajax({dataType: 'json', url: '/cancel_signup'})
          }

          $.magnificPopup.proto.close.call(this);
        };

        if ($('#login_advice_counter').length) {
          $('#sign_in_link').click();
        }

        if ($('#signup_advice_counter').length) {
          $('#sign_up_link').click();
        }
      });

      #{generate_set_datepicker_lang_js}

  %body
    %nav{:class => "#{for_device_type :desktop do 'navbar-fixed-top' end}" }
      .container
        %a.shared_header_logo{:href => "#{home_path}"}
          - for_device_type :desktop do
            = image_tag  'icons/RMlogo_orig.png', :style => 'width:150px;height:42px'
      %header.main
        .container
          .row
            .col-md-6
              #flexnav-menu-button.flexnav-menu-button
                - for_device_type :tablet, :mobile do
                  = image_tag  'icons/RMlogo_orig.png', :style => 'width:150px;height:42px'
              %ul#flexnav.nav.nav-pills.flexnav{'data-breakpoint' => '800'}
                %li{:class => params[:top_menu_active_part] ? (params[:top_menu_active_part] == :home ? 'active' : '') : 'active'}
                  %a{:href => "#{home_path}"}= I18n.t(:start, scope: :top_menu)
                - get_root_level_categories_from_cache().each do |rc|
                  %li{:class => params[:top_menu_active_part] == :fashion ? 'active' : ''}
                    %a{:href => '#'}= rc.name_locales[I18n.locale]
                    %ul
                      - get_first_level_categories_from_cache(rc).each do |fc|
                        %li
                          - if get_second_level_categories_from_cache(fc).count > 0
                            %a{:href => '#'}= fc.name
                            %ul
                              - get_second_level_categories_from_cache(fc).each do |sc|
                                %li
                                  %a{:href => "#{show_products_in_category_path(sc.id)}"}= sc.name
                          - else
                            %a{:href => "#{show_products_in_category_path(fc.id)}" }= fc.name
                %li{:class => params[:top_menu_active_part] == :product ? 'active' : ''}
                  =link_to I18n.t(:popular_product, scope: :top_menu), popular_products_path
                - for_device_type :table, :mobile do
                  %li
                    = form_tag search_products_path, :method => :post, :id => 'search_products_form', :class => 'form-group' do
                      %label
                        %i.fa.fa-search
                        %span= I18n.t(:search_prompt, scope: :popular_products)
                      =text_field_tag :products_search_keyword, params[:products_search_keyword], :placeholder => "#{ I18n.t(:search_placeholder, scope: :popular_products) }", :class => 'form-control'

            .col-md-6
              %ul.login-register
                %li.shopping-cart
                  %a{:href => "#{manage_cart_path}", :title => "#{I18n.t(:my_cart, scope: :top_menu)}"}
                    %i.fa.fa-shopping-cart
                    = for_device_type :desktop do I18n.t(:my_cart, scope: :top_menu) end
                    %span.numberCircle= current_order.total_amount
                  .shopping-cart-box
                    -if current_order.order_items.count > 0
                      %ul.shopping-cart-items
                        - current_order.order_items.each do |i|
                          %li
                            %a{:href => "#{manage_cart_path}" }
                              = image_tag i.product.img
                              %h5= i.product.name
                              %span.shopping-cart-item-price= "Subtotal: $#{i.product.price * i.quantity}"
                      %ul.list-inline.text-center
                        %li
                          %a{:href => "#{manage_cart_path}"}
                            %i.fa.fa-shopping-cart= I18n.t(:view_cart, scope: :top_menu)
                        %li
                          %a{:href => "#{manage_cart_path}"}
                            %i.fa.fa-check-square= I18n.t(:checkout, scope: :top_menu)
                    -else
                      %ul.list-inline.text-center
                        %li
                          %a{:href => "#{manage_cart_path}"}
                            %i
                            = I18n.t(:empty_cart, scope: :top_menu)
                - unless current_user
                  %li
                    %a.popup-text{ :id => 'sign_in_link', 'data-effect' => 'mfp-move-from-top', :href => '#login-dialog', :title => "#{I18n.t(:sign_in, scope: :top_menu)}"}
                      %i.fa.fa-sign-in
                      = for_device_type :desktop do I18n.t(:sign_in, scope: :top_menu) end
                  %li
                    %a.popup-text{:id => 'sign_up_link', 'data-effect' => 'mfp-move-from-top', :href => '#register-dialog', :title => "#{I18n.t(:sign_up, scope: :top_menu)}"}
                      %i.fa.fa-edit
                      = for_device_type :desktop do I18n.t(:sign_up, scope: :top_menu) end
                - else
                  %li
                    %a{:href => "#{edit_user_path(current_user, :user_info_edit_part => :edit_collection)}",  :title => "#{I18n.t(:my_collection, scope: :top_menu)}"}
                      %i.fa.fa-heart
                      = for_device_type :desktop do I18n.t(:my_collection, scope: :top_menu) end
                - if current_user
                  %li.dropdown
                    %a{ 'data-toggle' => 'dropdown', :href => "#{ edit_user_path current_user }", :title => "#{I18n.t(:user_profile, scope: :top_menu)}"}
                      = image_tag (current_user.pic.url.nil? ? 'icons/default_user_pic.png' : current_user.pic.url) , :style => 'width:24px;height:24px'
                      %span.caret
                    %ul.dropdown-menu{:style => 'background-color:#333'}
                      %li
                        %a{ :href => "#{ edit_user_path(current_user, :user_info_edit_part => :edit_account) }" }
                          %i.fa.fa-key
                          = I18n.t(:my_account, scope: :top_menu)
                      %li
                        %a{ :href => "#{ edit_user_path(current_user, :user_info_edit_part => :edit_personal) }" }
                          %i.fa.fa-user
                          = I18n.t(:my_personal, scope: :top_menu)
                      %li
                        %a{ :href => "#{ edit_user_path(current_user, :user_info_edit_part => :edit_address) }" }
                          %i.fa.fa-globe
                          = I18n.t(:my_address, scope: :top_menu)
                      %li
                        %a{ :href => "#{ edit_user_path(current_user, :user_info_edit_part => :edit_bank) }" }
                          %i.fa.fa-university
                          = I18n.t(:my_bank, scope: :top_menu)
                      %li
                        %a{ :href => "#{ edit_user_path(current_user, :user_info_edit_part => :edit_order) }" }
                          %i.fa.fa-truck
                          = I18n.t(:my_order, scope: :top_menu)
                      %li
                        %a{ :href => "#{ edit_user_path(current_user, :user_info_edit_part => :edit_collection) }" }
                          %i.fa.fa-eye
                          = I18n.t(:my_collection, scope: :top_menu)
                      %li
                        %a{ :href => "#{ signout_path }", :'data-method' => :delete }
                          %i.fa.fa-sign-out
                          = I18n.t(:sign_out, scope: :top_menu)
                %li.dropdown
                  %a{:href => '#', 'data-toggle' => 'dropdown',  :title => "#{I18n.t(:language, scope: :top_menu)}" }
                    %i.fa.fa-language
                    = for_device_type :desktop do I18n.t(:language, scope: :top_menu) end
                    %span.caret
                  %ul.dropdown-menu{:style => 'background-color:#333'}
                    %li
                      = link_to I18n.t(:chinese, scope: :top_menu), set_session_locale_path(:'zh-CN')
                    %li
                      = link_to I18n.t(:german, scope: :top_menu),  set_session_locale_path(:de)

      #login-dialog.mfp-with-anim.mfp-hide.mfp-dialog.clearfix.open-popup-link
        %i.fa.fa-sign-in.dialog-icon
        - if session[:login_advice_counter] and flash[:error].present?
          %h5{ :style => 'color:red' }= flash[:error]
        - elsif session[:login_advice_counter] and flash[:info].present?
          %h5{ :style => 'color:blue' }= flash[:info]
        - else
          %h3= I18n.t(:header, scope: :sign_in_dialog)
          %h5= I18n.t(:title, scope: :sign_in_dialog)
        = form_tag user_session_path, :method => :post, :class => 'dialog-form'  do
          .form-group
            %label= I18n.t(:email, scope: :sign_in_dialog)
            = email_field_tag 'user[email]',  nil, :class => 'form-control', :placeholder => 'email@domain.com'
          .form-group
            %label= I18n.t(:password, scope: :sign_in_dialog)
            = password_field_tag 'user[password]', nil, :class => 'form-control', :placeholder => 'My secret password'
          - if session[:login_advice_counter].present? and session[:login_advice_counter] >= Rails.configuration.login_failure_limit
            .form-inline
              .form-group
                = text_field_tag :captcha, '', :autocomplete => :off,  placeholder: I18n.t(:captcha, scope: :sign_up_dialog)
              .form-group
                = captcha_tag
          .checkbox
            %label
              %input{:type => 'checkbox'}
              = I18n.t(:remember_me, scope: :sign_in_dialog)
          = submit_tag I18n.t(:sign_in, scope: :sign_in_dialog), :class => 'btn btn-primary'
        %ul.dialog-alt-links
          %li
            %a.popup-text{'data-effect' => 'mfp-zoom-out', :href => '#register-dialog'}= I18n.t(:not_member_yet, scope: :sign_in_dialog)
          %li
            %a.popup-text{'data-effect' => 'mfp-zoom-out', :href => '#password-recover-dialog'}= I18n.t(:forgot_password, scope: :sign_in_dialog)
      #register-dialog.mfp-with-anim.mfp-hide.mfp-dialog.clearfix
        %i.fa.fa-edit.dialog-icon
        - if session[:signup_advice_counter] and flash[:error].present?
          %h5{ :style => 'color:red' }= flash[:error]
        - elsif session[:signup_advice_counter] and flash[:info].present?
          %h5{ :style => 'color:blue' }= flash[:info]
        - else
          - for_device_type :desktop do
            %h3= I18n.t(:header, scope: :sign_up_dialog)
            %h5= I18n.t(:title, scope: :sign_up_dialog)
          - for_device_type :mobile, :tablet do
            %h4= I18n.t(:header, scope: :sign_up_dialog)
        = form_tag user_registration_path, :method => :post, :class => 'dialog-form' do
          - for_device_type :desktop do
            .form-group
              = text_field_tag 'user[username]', nil, :class => 'form-control', :placeholder => I18n.t(:username, scope: :sign_up_dialog)
            .form-group
              = email_field_tag 'user[email]', nil, :class => 'form-control', :placeholder => I18n.t(:email, scope: :sign_up_dialog)
            .form-group
              = password_field_tag 'user[password]', nil, :class => 'form-control', :placeholder => I18n.t(:password, scope: :sign_up_dialog)
            .form-group
              = password_field_tag 'user[password_confirmation]', nil, :class => 'form-control', :placeholder => I18n.t(:password_confirmation, scope: :sign_up_dialog)
            .form-inline
              .form-group
                = text_field_tag 'user[birth]', nil, :class => 'form-control date-picker', placeholder: I18n.t(:birthday, scope: :edit_personal), 'data-provide': 'datepicker', 'data-date-format': 'yyyy-mm-dd'
              .form-group.col-md-offset-1
                %label.radio-inline
                  = radio_button_tag 'user[gender]', 'm'
                  = I18n.t(:'genderize.name.masculine')
                %label.radio-inline
                  = radio_button_tag 'user[gender]', 'f', :checked => true
                  = I18n.t(:'genderize.name.feminine')
            .form-inline
              .form-group
                = text_field_tag :captcha, nil, :autocomplete => :off, placeholder: I18n.t(:captcha, scope: :sign_up_dialog), :class => 'form-control', :style => 'margin-right:14px'
              .form-group
                = captcha_tag
            = submit_tag I18n.t(:sign_up, scope: :sign_up_dialog), :class => 'btn btn-primary'
          - for_device_type :mobile, :tablet do
            = text_field_tag 'user[username]', nil, :class => 'form-control', :placeholder => I18n.t(:username, scope: :sign_up_dialog)
            = email_field_tag 'user[email]', nil, :class => 'form-control', :placeholder => I18n.t(:email, scope: :sign_up_dialog)
            = password_field_tag 'user[password]', nil, :class => 'form-control', :placeholder => I18n.t(:password, scope: :sign_up_dialog)
            = password_field_tag 'user[password_confirmation]', nil, :class => 'form-control', :placeholder => I18n.t(:password_confirmation, scope: :sign_up_dialog)
            .input-group
              = text_field_tag 'user[birth]', nil, :class => 'form-control date-picker', placeholder: I18n.t(:birthday, scope: :edit_personal), 'data-provide': 'datepicker', 'data-date-format': 'yyyy-mm-dd', :style => 'width:120px;margin-right:8px'
              %label.radio-inline
                = radio_button_tag 'user[gender]', 'm'
                = I18n.t(:'genderize.name.masculine')
              %label.radio-inline
                = radio_button_tag 'user[gender]', 'f', :checked => true
                = I18n.t(:'genderize.name.feminine')
            .input-group
              = captcha_tag
              = text_field_tag :captcha, '', :autocomplete => :off, :placeholder => I18n.t(:captcha, scope: :sign_up_dialog), :class => 'form-control'
            = submit_tag I18n.t(:sign_up, scope: :sign_up_dialog), :class => 'btn btn-primary'
        %ul.dialog-alt-links
          %li
            %a.popup-text{'data-effect' => 'mfp-zoom-out', :href => '#login-dialog'}= I18n.t(:already_member, scope: :sign_up_dialog)
      #password-recover-dialog.mfp-with-anim.mfp-hide.mfp-dialog.clearfix
        %i.icon-retweet.dialog-icon
        %h3= I18n.t(:header, scope: :password_recovery_dialog)
        %h5= I18n.t(:title, scope: :password_recovery_dialog)
        %form.dialog-form
          %label= I18n.t(:email, scope: :password_recovery_dialog)
          %input.span12{:placeholder => 'email@domain.com', :type => 'text'}
          %input.btn.btn-primary{:type => 'submit', :value => I18n.t(:ok, scope: :password_recovery_dialog)}
      - if @show_search_area.present? and @show_search_area
        =yield :search_area

    - for_device_type :desktop do
      - if @show_search_area.present? and @show_search_area
        .row{ :style => 'height: 140px' }
      - else
        .row{ :style => 'height: 80px' }

    - for_device_type :tablet, :mobile do
      .row{ :style => 'height: 30px' }

    - for_device_type :desktop, :tablet do
      .row
        .col-md-3.pull-right
          - if flash[:error]
            .alert.alert-danger.fade.in{:role => 'alert'}
              %a.close{'aria-label' => 'close', 'data-dismiss' => 'alert', :href => '#'} &times;
              = flash[:error]
          - elsif flash[:info]
            .alert.alert-info.fade.in{:role => 'alert'}
              %a.close{'aria-label' => 'close', 'data-dismiss' => 'alert', :href => '#'} &times;
              = flash[:info]
          - elsif flash[:warning]
            .alert.alert-warning.fade.in{:role => 'alert'}
              %a.close{'aria-label' => 'close', 'data-dismiss' => 'alert', :href => '#'} &times;
              = flash[:warning]
          - elsif flash[:success]
            .alert.alert-success.fade.in{:role => 'alert'}
              %a.close{'aria-label' => 'close', 'data-dismiss' => 'alert', :href => '#'} &times;
              = flash[:success]

    .container
      = yield

    .gap

    %footer.main
      .footer-top-area
        .container
          .row.row-wrap
            .col-md-3
              %a{:href => '#'}
                = image_tag  'icons/RMlogo_orig.png'
              %h4{ :style => 'margin-top: 12px'}= I18n.t(:recent_news, scope: :footer)
              %ul.thumb-list
                %li
                  %a{:href => '#'}
                    =image_tag 'couponia/70x70.png' , :alt => 'Image Alternative text', :title => 'Urbex Esch/Lux with Laney and Laaaaag'
                  .thumb-list-item-caption
                    %p.thumb-list-item-meta Jul 18, 2014
                    %h5.thumb-list-item-title
                      %a{:href => '#'} Cubilia enim
                    %p.thumb-list-item-desciption Sem ullamcorper iaculis convallis imperdiet
                %li
                  %a{:href => '#'}
                    =image_tag 'couponia/70x70.png', :alt => 'Image Alternative text',  :title => 'AMaze'
                  .thumb-list-item-caption
                    %p.thumb-list-item-meta Jul 18, 2014
                    %h5.thumb-list-item-title
                      %a{:href => '#'} Blandit suscipit
                    %p.thumb-list-item-desciption Aptent accumsan curabitur aptent condimentum

            .col-md-2.col-md-offset-2
              %h4= I18n.t(:rheinmanufaktur, scope: :footer)
              %h5=link_to I18n.t(:imprint, scope: :footer), '#', :style => 'color: gray; text-decoration: underline'
              %h5=link_to I18n.t(:terms_conditions, scope: :footer), '#', :style => 'color: gray; text-decoration: underline'
              %h5=link_to I18n.t(:privarcy_statement, scope: :footer), '#', :style => 'color: gray; text-decoration: underline'
              %h5=link_to I18n.t(:guidelines, scope: :footer), '#', :style => 'color: gray; text-decoration: underline'
              %h5=link_to I18n.t(:press_portal, scope: :footer), '#', :style => 'color: gray; text-decoration: underline'
              %h5=link_to I18n.t(:status, scope: :footer), '#', :style => 'color: gray; text-decoration: underline'
              %h5=link_to I18n.t(:career, scope: :footer), '#', :style => 'color: gray; text-decoration: underline'
            .col-md-2
              %h4= I18n.t(:selling, scope: :footer)
              %h5=link_to I18n.t(:seller_portal, scope: :footer), '#', :style => 'color: gray; text-decoration: underline'
              %h5=link_to I18n.t(:seller_faq, scope: :footer), '#', :style => 'color: gray; text-decoration: underline'
              %h5=link_to I18n.t(:selling_in_3_steps, scope: :footer), '#', :style => 'color: gray; text-decoration: underline'
              %h5=link_to I18n.t(:fees_invoices, scope: :footer), '#', :style => 'color: gray; text-decoration: underline'
            .col-md-2
              %h4= I18n.t(:buying, scope: :footer)
              %h5=link_to I18n.t(:buyer_faq, scope: :footer), '#', :style => 'color: gray; text-decoration: underline'
              %h5=link_to I18n.t(:buyer_in_3_steps, scope: :footer), '#', :style => 'color: gray; text-decoration: underline'
              %h5=link_to I18n.t(:vouchers, scope: :footer), '#', :style => 'color: gray; text-decoration: underline'

      .footer-copyright
        .container
          .row
            .col-md-4
              %p= I18n.t(:copyright, scope: :footer)
            .col-md-6.col-md-offset-2

    = javascript_include_tag 'couponia/boostrap.min.js'
    = javascript_include_tag 'couponia/countdown.min.js'
    = javascript_include_tag 'couponia/flexnav.min.js'
    = javascript_include_tag 'couponia/magnific.js'
    = javascript_include_tag 'couponia/tweet.min.js'
    %script{:src => 'https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false'}
    = javascript_include_tag 'couponia/fitvids.min.js'
    = javascript_include_tag 'couponia/mail.min.js'
    = javascript_include_tag 'couponia/ionrangeslider.js'
    = javascript_include_tag 'couponia/icheck.js'
    = javascript_include_tag 'couponia/fotorama.js'
    = javascript_include_tag 'couponia/card-payment.js'
    = javascript_include_tag 'couponia/owl-carousel.js'
    = javascript_include_tag 'couponia/masonry.js'
    = javascript_include_tag 'couponia/nicescroll.js'
    = javascript_include_tag 'couponia/custom.js'
